﻿
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/Master.cshtml";
}
<div class="container-fluid">
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h2><span class="badge badge-titulo">Commercial / Shipping Instruction</span></h2>

	</div>
	<div class="row">

		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="card shadow mb-4">
				<div class="card-header py-2">
					<div class="form-group row">

						<div class="col-md-3 col-sm-3 col-xl-10">

							<a href="#" class="btn btn-primary btn-sm btn-icon-split " onclick="openModal(0)" data-toggle="modal" data-target=".bd-example-modal-xl" id="btnNew">
								<span class="icon text-white-50">
									<i class="fas fa-plus-circle fa-sm"></i>
								</span>
								<span class="text">New Shipping Instruction</span>
							</a>

							@*<button type="button" onclick="openModal(0)" class="btn btn-sm text-white" style=" background-color: #13213d;" data-toggle="modal" data-target=".bd-example-modal-xl" id="btnNew">New Shipping Instruction <span class="icon text-white"><i class="fas fa-plus-circle"></i></span></button>*@
						</div>
						<div class="col-md-9 col-sm-9 col-xl-2">

						</div>

						<!--<div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">-->
						@*<h6 class="m-0 font-weight-bold bgcolor='#13213d'">LIST OF RECORDS</h6>*@
						<!--</div>
						<div class="col-xl-2 col-lg-3 col-md-3 col-sm-7">

						</div>-->
					</div>
				</div>
				<div class="card-body">
					<div class="table-responsive" id="divList">
						<table id="tblList" class="table table-hover table-hover table-bordered table-striped">
							<thead class="thead-agrocom">
								<tr class="table-tr-agrocom">
									<td class="text-white" style="max-width:70px; min-width:70px; text-align:center">Edit</td>
									<td class="text-white" style="display:none">ID:</td>
									<td class="text-white" style="max-width:150px; min-width:150px">Customer</td>
									<td class="text-white" style="max-width:150px; min-width:150px">Destination</td>
									<td class="text-white" style="max-width:150px; min-width:150px">Consignee</td>
									<td class="text-white" style="max-width:150px; min-width:150px">Notify</td>
									<td class="text-white" style="max-width:100px; min-width:100px" data-toggle="tooltip" data-placement="top" title="User Modify">Modify by</td>
									<td class="text-white" style="max-width:75px; min-width:75px" data-toggle="tooltip" data-placement="top" title="Last Modify">Last Update</td>

								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<br />

<!-- Extra large modal -->
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl">Extra large modal</button>*@

<div class="modal fade bd-example-modal-xl" id="myModal" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<form id="frmWow">
				<div class="modal-header modal-head-agrocom">
					<label class="modal-titulo text-white">ID: </label>
					<label class="modal-titulo text-white" id="lblWowID"> 0</label>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true" class="text-white">&times;</span>
					</button>
				</div>
				<div class="modal-body modal-body-agrocom">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="form-group row">
								<div class="card-body card-body-agrocom">
									<div class="form-row form-sm">
										<div class="form-group col-md-3">
											<label for="selectCustomer" class="label-modal-agrocom">Customer</label>
											<select id="selectCustomer" name="selectCustomer" class="form-control form-control-sm selectpicker" data-live-search="true" required>
											</select>
										</div>
										<div class="form-group col-md-3">
											<label for="selectMarket" class="label-modal-agrocom">Market</label>
											<select id="selectMarket" class="form-control form-control-sm selectpicker" data-live-search="true" required>
											</select>
										</div>
										<div class="form-group col-md-3">
											<label for="selectDestination" class="label-modal-agrocom">Destination</label>
											<select id="selectDestination" class="form-control form-control-sm selectpicker" data-live-search="true" required>
											</select>
										</div>
										<div class="form-group col-md-3">
											<label for="selectCertification" class="label-modal-agrocom">Certification</label>
											<select id="selectCertification" class="form-control form-control-sm selectpicker" multiple data-live-search="true">
											</select>
										</div>
									</div>
									<div class="form-group col-md-3 " style="display:none">
										<label for="selectConsignee" class="label-modal-agrocom">Consignee</label>
										<select id="selectConsignee" name="selectConsignee" class="form-control form-control-sm selectpicker" data-live-search="true">
											<option>Dalian</option>
										</select>
									</div>

								</div>
							</div>
							<div class="form-group row">
								<div class="container border border-info p-4" style="background-color: #F4F4F4">

									@*style="BORDER-STYLE: solid;padding-left:inherit;padding-right:inherit"*@
									<label><strong>Documents:</strong></label>
									<div class="container border border-dark p-4" style="background-color: #C5CCD1">
										<div class="form-row">
											<div class="col-7 my-1">
												<div class="custom-control custom-checkbox mr-sm-2">
													<input type="checkbox" class="custom-control-input" id="chkDirectInvoice">
													<label class="custom-control-label" for="chkDirectInvoice" style="color: #2A3F54!important"><strong>Original Commercial Invoice send directly to: </strong>OZ BLU MARKETING LLC.</label>
												</div>
											</div>




											<div class="col-5 my-1">
												<label style="color: #2A3F54!important"><strong>Additional information </strong></label>
												<textarea class="form-control" id="txtDirectInvoiceMoreInfo" rows="3"></textarea>

											</div>
										</div>

									</div>
									<div class="container border border-dark p-4" style="background-color: #BDCEEF">
										<div class="form-row">

											<div class="form-group col-md-3">
												<label for="selectMarket" style="color: #2A3F54!important"><strong>BL/AWB</strong></label>
												<div class="card border-primary mb-3" style="max-width: 15rem;">
													<div class="card-header text-white" style="background-color : #13213d"><strong>SEA</strong></div>
													<div class="card-body text-primary">
														<select id="selectDocumentsSea" class="form-control form-control-sm selectpicker">
															<option>A</option>
															<option>B</option>
														</select>
													</div>
												</div>

											</div>
											<div class="form-group col-md-3">
												<label for="selectMarket">&nbsp;</label>
												<div class="card border-primary mb-3" style="max-width: 15rem;">
													<div class="card-header text-white" style="background-color : #13213d;color: white!important"><strong>Air</strong></div>
													<div class="card-body text-primary">
														<select id="selectDocumentsAir" class="form-control form-control-sm selectpicker">
															<option>A</option>
														</select>
													</div>
												</div>
											</div>

											<div class="form-group col-md-1">


											</div>
											<div class="form-group col-md-5">

												<div class="custom-control custom-checkbox mr-sm-2">
													<input type="checkbox" class="custom-control-input" id="chkDocumentsMoreInfo">
													<label class="custom-control-label" for="chkDocumentsMoreInfo" style="color: #2A3F54!important"><strong>Do you need to add any additional information?</strong></label>
												</div>
												<textarea class="form-control" id="txtDocumentsInfo" rows="3"></textarea>


											</div>
										</div>
									</div>
								</div>
								<div class="container border border-dark p-4" style="background-color: #C5CCD1">
									<div class="form-row align-items-center">
										<div class="form-group col-md-2">
											<div class="custom-control custom-checkbox mr-sm-2">
												<input type="checkbox" class="custom-control-input" id="chkPackingList">
												<label class="custom-control-label" for="chkPackingList" style="color: #2A3F54!important"><strong>Packing List</strong></label>
											</div>
										</div>

										<div class="form-group col-md-2">
											<label class="mr-sm-2 sr-only" for="inlineFormCustomSelect" style="color: #2A3F54!important"><strong>Preference</strong></label>
											<select class="form-control form-control-sm selectpicker" data-live-search="true" id="selectPackingList">
												<option selected>Choose...</option>
												<option value="1">One</option>
												<option value="2">Two</option>
												<option value="3">Three</option>
											</select>
										</div>
										<div class="form-group col-md-3">


										</div>
										<div class="form-group col-md-5">

											<label style="color: #2A3F54!important"><strong>Additional information </strong></label>

											<textarea class="form-control" id="txtPLMoreInfo" rows="3"></textarea>


										</div>
									</div>
								</div>
								<div class="container border border-dark p-4" style=" background-color: #BDCEEF">
									<div class="form-row">
										<div class="col-auto my-1">
											<div class="custom-control custom-checkbox mr-sm-2">
												<input type="checkbox" class="custom-control-input" id="chkInsuranceCertificate">
												<label class="custom-control-label" for="chkInsuranceCertificate" style="color: #2A3F54!important"><strong>Insurance Certificate</strong></label>
											</div>
										</div>
									</div>
								</div>
								<div class="container border border-dark p-4" style="background-color: #C5CCD1">
									<div class="form-row">
										<div class="col-auto my-1">
											<div class="custom-control custom-checkbox mr-sm-2">
												<input type="checkbox" class="custom-control-input" id="chkPhytosanitary">
												<label class="custom-control-label" for="chkPhytosanitary" style="color: #2A3F54!important"><strong>Phytosanitary</strong></label>
											</div>
										</div>
										<div class="form-group col-md-12">
											<div class="col-auto my-1">
												<div class="custom-control custom-checkbox mr-sm-2">
													<input type="checkbox" class="custom-control-input" id="chkPhytosanitaryMoreInfo">
													<label class="custom-control-label" for="chkPhytosanitaryMoreInfo" style="color: #2A3F54!important"><strong>Do you need to add any additional information?</strong></label>
												</div>
											</div>
											<div class="col-12 my-1">
												<div class="form-group">
													<textarea class="form-control" id="txtPhytosanitaryInfo" rows="3"></textarea>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="container border border-dark p-4" style=" background-color: #BDCEEF">
									<div class="form-row">
										<div class="col-auto my-1">
											<div class="custom-control custom-checkbox mr-sm-2">
												<input type="checkbox" class="custom-control-input" id="chkCertificateOrigin">
												<label class="custom-control-label" for="chkCertificateOrigin" style="color: #2A3F54!important"><strong>Certificate of Origin - Original</strong></label>
											</div>
										</div>
										<div class="form-group col-md-12">
											<div class="col-auto my-1">
												<div class="custom-control custom-checkbox mr-sm-2">
													<input type="checkbox" class="custom-control-input" id="chkCertificateOriginMoreInfo">
													<label class="custom-control-label" for="chkCertificateOriginMoreInfo" style="color: #2A3F54!important"><strong>Do you need to add any additional information?</strong></label>
												</div>
											</div>
											<div class="col-12 my-1">
												<div class="form-group">
													<textarea class="form-control" id="txtCertificateOriginInfo" rows="3"></textarea>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="container border border-dark p-4" style="background-color: #C5CCD1">
									<div class="form-row">
										<div class="form-group col-md-2">
											<label style="color: #2A3F54!important"><strong>More Documents</strong></label>
										</div>

										<div class="form-group col-md-12">
											<div class="form-group">
												<textarea class="form-control" id="txtMoreDocuments" rows="3"></textarea>
											</div>
										</div>
									</div>
								</div>

								<div class="container border border-info p-4" style="background-color: #F4F4F4">
									<div class="form-row">
										<div class="form-group col-md-2">
											<label style="color: #2A3F54!important"><strong>Consignee Details</strong></label>
										</div>
										<div class="form-group col-md-3">
											<select id="selectConsignee2" class="form-control form-control-sm selectpicker" data-live-search="true" required>
												<option>A</option>
												<option>B</option>
											</select>
										</div>
										<div class="form-group col-md-1"></div>
										<div class="form-group col-md-6">
											<div class="form-group row">
												<label for="txtConsigneeAddress" class="col-sm-3 col-form-label col-form-label-sm" style="color: #2A3F54!important"><span class="icon text-primary"><i class="fas fa-address-book"></i></span> Address</label>
												<div class="col-sm-9">
													<input type="text" class="form-control form-control-sm" id="txtConsigneeAddress" readonly>
												</div>
											</div>
											<div class="form-group row">
												<label for="txtConsigneeContact" class="col-sm-3 col-form-label col-form-label-sm" style="color: #2A3F54!important"><span class="icon text-primary"><i class="fas fa-user"></i></span> Contact</label>
												<div class="col-sm-9">
													<input type="text" class="form-control form-control-sm" id="txtConsigneeContact" readonly>
												</div>
											</div>
											<div class="form-group row">
												<label for="txtConsigneePhone" class="col-sm-3 col-form-label col-form-label-sm" style="color: #2A3F54!important"><span class="icon text-primary"><i class="fas fa-phone"></i></span> Phone</label>
												<div class="col-sm-9">
													<input type="text" class="form-control form-control-sm" id="txtConsigneePhone" readonly>
												</div>
											</div>
											<div class="form-group row">
												<label for="txtConsigneeOther" class="col-sm-3 col-form-label col-form-label-sm" style="color: #2A3F54!important"><span class="icon text-primary"><i class="fas fa-plus"></i></span> Other</label>
												<div class="col-sm-9">
													<textarea class="form-control" id="txtConsigneeOther" rows="3" readonly></textarea>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="container border border-info p-4" style="background-color: #F4F4F4">
									<div class="form-row">
										<div class="form-group col-md-2">
											<label style="color: #2A3F54!important"><strong>Notify Details</strong></label>
										</div>
										<div class="form-group col-md-3">
											<select id="selectNotify1" class="form-control form-control-sm selectpicker" data-live-search="true" required>
												<option>A</option>
												<option>B</option>
											</select>
										</div>
										<div class="form-group col-md-1"></div>
										<div class="form-group col-md-6">
											<div class="form-group row">
												<label for="txtNotify1Address" style="color: #2A3F54!important" class="col-sm-3 col-form-label col-form-label-sm"><span class="icon text-primary"><i class="fas fa-address-book"></i></span> Address</label>
												<div class="col-sm-9">
													<input type="text" class="form-control form-control-sm" id="txtNotify1Address" readonly>
												</div>
											</div>
											<div class="form-group row">
												<label for="txtNotify1Contact" style="color: #2A3F54!important" class="col-sm-3 col-form-label col-form-label-sm"><span class="icon text-primary"><i class="fas fa-user"></i></span> Contact</label>
												<div class="col-sm-9">
													<input type="text" class="form-control form-control-sm" id="txtNotify1Contact" readonly>
												</div>
											</div>
											<div class="form-group row">
												<label for="txtNotify1Phone" style="color: #2A3F54!important" class="col-sm-3 col-form-label col-form-label-sm"><span class="icon text-primary"><i class="fas fa-phone"></i></span> Phone</label>
												<div class="col-sm-9">
													<input type="text" class="form-control form-control-sm" id="txtNotify1Phone" readonly>
												</div>
											</div>
											<div class="form-group row">
												<label for="txtNotify1Other" style="color: #2A3F54!important" class="col-sm-3 col-form-label col-form-label-sm"><span class="icon text-primary"><i class="fas fa-plus"></i></span> Other</label>
												<div class="col-sm-9">
													<textarea class="form-control" id="txtNotify1Other" rows="3" readonly></textarea>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="container border border-info p-4" style="background-color: #F4F4F4">
									<div class="form-row">
										<div class="form-group col-md-2">
											<label style="color: #2A3F54!important"><strong> ALSO - Notify Party all ports of final destination</strong></label>
										</div>
										<div class="form-group col-md-3">
											<select id="selectNotify2" class="form-control form-control-sm selectpicker" data-live-search="true">
												<option>A</option>
												<option>B</option>
											</select>
										</div>
										<div class="form-group col-md-1"></div>
										<div class="form-group col-md-6">
											<div class="form-group row">
												<label for="txtNotify2Address" style="color: #2A3F54!important" class="col-sm-3 col-form-label col-form-label-sm"><span class="icon text-primary"><i class="fas fa-address-book"></i></span> Address</label>
												<div class="col-sm-9">
													<input type="text" class="form-control form-control-sm" id="txtNotify2Address" readonly>
												</div>
											</div>
											<div class="form-group row">
												<label for="txtNotify2Contact" style="color: #2A3F54!important" class="col-sm-3 col-form-label col-form-label-sm"><span class="icon text-primary"><i class="fas fa-user"></i></span> Contact</label>
												<div class="col-sm-9">
													<input type="text" class="form-control form-control-sm" id="txtNotify2Contact" readonly>
												</div>
											</div>
											<div class="form-group row">
												<label for="colFormLabelSm" style="color: #2A3F54!important" class="col-sm-3 col-form-label col-form-label-sm"><span class="icon text-primary"><i class="fas fa-phone"></i></span> Phone</label>
												<div class="col-sm-9">
													<input type="text" class="form-control form-control-sm" id="txtNotify2Phone" readonly>
												</div>
											</div>
											<div class="form-group row">
												<label for="txtNotify2Other" style="color: #2A3F54!important" class="col-sm-3 col-form-label col-form-label-sm"><span class="icon text-primary"><i class="fas fa-plus"></i></span> Other</label>
												<div class="col-sm-9">
													<textarea class="form-control" id="txtNotify2Other" rows="3" readonly></textarea>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="container border border-info p-4" style="background-color: #F4F4F4">
									<div class="form-row">
										<div class="form-group col-md-2">
											<label style="color: #2A3F54!important"><strong>Docs copy email to:</strong></label>
										</div>
										<div class="form-group col-md-12">
											<textarea class="form-control" id="txtDocsCopyEmailInfo" rows="3"></textarea>
										</div>
									</div>
								</div>
								<div class="container border border-info p-4" style="background-color: #F4F4F4">
									<div class="form-row">
										<div class="form-group col-md-2">
											<label style="color: #2A3F54!important"><strong>  Sending documents in original to destination :</strong></label>
										</div>
										<div class="form-group col-md-3">
											<select id="selectNotify3" class="form-control form-control-sm selectpicker" data-live-search="true">
												<option>A</option>
												<option>B</option>
											</select>
										</div>
										<div class="form-group col-md-1"></div>
										<div class="form-group col-md-6">
											<div class="form-group row">
												<label style="color: #2A3F54!important" for="txtNotify3Address" class="col-sm-3 col-form-label col-form-label-sm"><span class="icon text-primary"><i class="fas fa-address-book"></i></span> Address</label>
												<div class="col-sm-9">
													<input type="text" class="form-control form-control-sm" id="txtNotify3Address" readonly>
												</div>
											</div>
											<div class="form-group row">
												<label style="color: #2A3F54!important" for="txt Notify3Contact" class="col-sm-3 col-form-label col-form-label-sm"><span class="icon text-primary"><i class="fas fa-user"></i></span> Contact</label>
												<div class="col-sm-9">
													<input type="text" class="form-control form-control-sm" id="txtNotify3Contact" readonly>
												</div>
											</div>
											<div class="form-group row">
												<label style="color: #2A3F54!important" for="txtNotify3Phone" class="col-sm-3 col-form-label col-form-label-sm"><span class="icon text-primary"><i class="fas fa-phone"></i></span> Phone</label>
												<div class="col-sm-9">
													<input type="text" class="form-control form-control-sm" id="txtNotify3Phone" readonly>
												</div>
											</div>
											<div class="form-group row">
												<label style="color: #2A3F54!important" for="txtNotify3Other" class="col-sm-3 col-form-label col-form-label-sm"><span class="icon text-primary"><i class="fas fa-plus"></i></span> Other</label>
												<div class="col-sm-9">
													<textarea class="form-control" id="txtNotify3Other" rows="3" readonly></textarea>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="container border border-info p-4" style="background-color: #F4F4F4">
									<div class="form-row">
										<div class="form-group col-md-2">
											<label style="color: #2A3F54!important"><strong>Noted</strong></label>
										</div>
										<div class="form-group col-md-12">
											<textarea class="form-control" id="txtNoted" rows="3"></textarea>
										</div>
									</div>
								</div>
							</div>



						</div>
					</div>
				</div>
				<div class="modal-footer modal-footer-agrocom ">
					<a href="#" class="btn btn-success btn-sm btn-icon-split pull-right" id="submitSave">
						<span class="icon text-white-50">
							<i class="fas fa-save fa-sm"></i>
						</span>
						<span class="text">Save</span>
					</a>


					@*<button class="btn btn-success btn-sm pull-right" type="button" id="submitSave">Save <span class="icon text-white"><i class="fas fa-save"></i></span></button>*@
				</div>
			</form>
			@*<div class="modal-footer">
								<button id="btnSave" type="submit" class="btn btn-success">Save</button>

								<button id="btnCacncel" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
								<span id="spanObligatory" class="badge badge-danger"></span>
				</div>*@
		</div>
	</div>
</div>


<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/View/PO/pdf.js"></script>
<script src="~/Scripts/View/Wow/Index.js"></script>
<script src="~/Scripts/Services/Wow/WowServices.js"></script>