﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--font-ini-->
    <link href='//fonts.googleapis.com/css?family=Muli:400,300,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Comfortaa:400,300,700' rel='stylesheet' type='text/css'>
    <!--font - fin-->
    <!--styles - ini-->    
    <link href="~/Content/bootstrap4.4.1/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Login/animate-custom.css" rel="stylesheet" />
    <link href="~/Content/Login/style.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <!--styles - fin-->
    <!--js - ini-->
    <script src="~/Content/js/jquery-3.4.1.js"></script>
    <link rel="shortcut icon" href="~/images/LogoAgromigiva16x16.ico" type="image/x-icon" />
    <!--js - fin-->
    <title></title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
