﻿@using Common.Entities
@{Common.Entities.Users user = (Users)Session["User"]; }
@{string username = user.firstName;}
@{string userID = user.userID.ToString();}

<!DOCTYPE html>
<html lang="en" class="htmlpagina">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="AGROCOM-TI">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<link rel="shortcut icon" href="~/images/LogoAgromigiva16x16.ico" type="image/x-icon" />
	<meta http-equiv='cache-control' content='no-cache'>
	<meta http-equiv='expires' content='0'>
	<meta http-equiv='pragma' content='no-cache'>
	<title>Agrocom</title>

	<!--styles - ini-->
	<link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">
	<link href="~/Content/css/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet">
	<link href="~/Content/css/bootstrap-datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet">
	<link href="~/Content/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
	<link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="~/content/css/font-awesome.min.css" rel="stylesheet" />
	<link href="~/Content/bootstrap4.4.1/bootstrap.min.css" rel="stylesheet">
	<link href="~/Content/css/bootstrap-select.min.css" rel="stylesheet" />
	<link href="~/Content/bootstrap-validator/css/bootstrapvalidator.min.css" rel="stylesheet" />
	<link href="~/Content/css/buttons.dataTables.min.css" rel="stylesheet" />
	<link href="~/Content/css/EstilosAgrocom.css" rel="stylesheet" />
	<link href="~/Content/css/custom.min.css" rel="stylesheet" />
	<link href="~/Content/css/myStyle.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" rel="stylesheet">
	<link href="https://cdn.datatables.net/rowreorder/1.2.7/css/rowReorder.dataTables.min.css" rel="stylesheet" type="text/css" />
	<!--group datatable*-->
	<link href="https://nightly.datatables.net/rowgroup/css/rowGroup.dataTables.css?_=3e699ecdea049f48929183b769d7c71d.css" rel="stylesheet" type="text/css" />
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
	<!--styles - fin-->
	<!--js - ini-->
	<script src="~/Content/vendor/jquery/jquery.min.js"></script>
	<script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="~/Content/js/popper.min.js"></script>
	<script src="~/Content/vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="~/Content/vendor/datatables/dataTables.bootstrap4.min.js"></script>
	<script src="~/Content/bootstrap-validator/js/bootstrapvalidator.min.js"></script>
	<script src="~/Content/js/config.js"></script>
	<script src="~/Content/js/xlsx.full.min.js"></script>
	<script src="~/Content/js/jquery-ui-1.12.1.min.js"></script>
	<script src="~/Content/js/azure-storage.file.js"></script>
	<script src="~/Content/js/azure-storage.file.min.js"></script>
	<script src="~/Content/js/excelexportjs.js"></script>
	<script src="~/Content/js/sweetalert2/sweetalert.min.js"></script>
	<script src="~/Content/js/sweetalert2/sweetalert2@9.js"></script>
	<script src="~/Content/js/bootstrap-datetimepicker/jquery.datetimepicker.js"></script>
	<script src="~/Content/js/bootstrap-datepicker/bootstrap-datepicker.js"></script>
	<script src="~/Scripts/View/Shared/master.js"></script>
	<script language="javascript" type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
	<script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script language="javascript" type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
	<script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
	<script language="javascript" type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
	<script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
	<script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/TableDnD/1.0.5/jquery.tablednd.min.js" integrity="sha512-uzT009qnQ625C6M8eTX9pvhFJDn/YTYChW+YTOs9bZrcLN70Nhj82/by6yS9HG5TvjVnZ8yx/GTD+qUKyQ9wwQ==" crossorigin="anonymous"></script>
	<script language="javascript" type="text/javascript" src="https://cdn.datatables.net/rowreorder/1.2.7/js/dataTables.rowReorder.min.js"></script>
	<script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
	<script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.0/jspdf.debug.js"></script>
	<script language="javascript" type="text/javascript" src="https://rawgit.com/sphilee/jsPDF-CustomFonts-support/master/dist/jspdf.customfonts.debug.js"></script>
	<script language="javascript" type="text/javascript" src="https://rawgit.com/sphilee/jsPDF-CustomFonts-support/master/dist/default_vfs.js"></script>
	<script language="javascript" type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.colVis.min.js"></script>
	<script src="~/Content/js/bootstrap-select.min.js"></script>
	<!--chart-->
	<script src="https://cdn.jsdelivr.net/npm/echarts@5.1.2/dist/echarts.min.js" integrity="sha256-TI0rIaxop+pDlHNVI6kDCFvmpxNYUnVH/SMjknZ/W0Y=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.23.0/pivot.min.js"></script>
	<!--group datatable*-->
	<script src="https://nightly.datatables.net/rowgroup/js/dataTables.rowGroup.js?_=3e699ecdea049f48929183b769d7c71d"></script>
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
	<!--js - fin-->
	<!--cuztomise styles-->
	<style type="text/css">



		::-webkit-scrollbar {
			width: 20px !important; /*Tamaño del scroll en vertical */
			height: 20px !important; /*Tamaño del scroll en horizontal */
			/*	display: none;*/ /*Ocultar scroll */
		}

		::-webkit-scrollbar {
			width: 20px !important; /*Tamaño del scroll en vertical */
			height: 20px !important; /*Tamaño del scroll en horizontal */
			/*	display: none;*/ /*Ocultar scroll */
		}



		/*		 Ponemos un color de fondo y redondeamos las esquinas del thumb */
		::-webkit-scrollbar-thumb {
			background: #949B65;
			/*background: #5ea20c;*/
			/*			background: #ffc107;*/
			/*			background: #6B8C9D;*/
			/*			height: 10px !important;*/
			border-radius: 4px;
			/*border: 1px solid #000;*/
			/*			background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent)*/
		}

			/*			 Cambiamos el fondo y agregamos una sombra cuando esté en hover */
			::-webkit-scrollbar-thumb:hover {
				background: #b3b3b3;
				box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
				/*				background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent)*/
			}

			/*			 Cambiamos el fondo cuando esté en active */
			::-webkit-scrollbar-thumb:active {
				/*	background-color: #999999;*/
				/*				background-color: #338E85;*/
				background-color: #97948A;
			}
		/*		 Ponemos un color de fondo y redondeamos las esquinas del track */
		::-webkit-scrollbar-track {
			background: #e1e1e1;
			border-radius: 4px;
		}

			/*			 Cambiamos el fondo cuando esté en active o hover */
			::-webkit-scrollbar-track:hover,
			::-webkit-scrollbar-track:active {
				background: #d4d4d4;
			}

		.modal-backdrop {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 1040;
			width: 2000vh;
			height: 2000vh;
			background-color: #000;
		}


		.sidebar-dark #sidebarToggle::after {
			color: #0B0B20 !important
		}
		/*	.swal2-popup {
												width: auto!important;
								}*/

		.notification_count {
			padding: 0.5px 5px 0.5px 5px;
			background: #cc0000;
			color: #ffffff;
			font-weight: bold;
			margin-left: -10px;
			/*		margin-right: 200px;*/
			border-radius: 9px;
			-moz-border-radius: 9px;
			-webkit-border-radius: 9px;
			position: absolute;
			margin-top: -11px;
			font-size: 11px;
		}

		.body_ozblu {
			background: url(../../images/back.jpg);
			background-attachment: fixed !important;
			background-repeat: no-repeat; /* Do not repeat the image */
			background-position: center !important;
			background-repeat: repeat !important;
			background-size: cover !important;
		}

		.body_andrea {
			background: url(../../images/uva10.jpg);
			background-position: center !important;
			background-repeat: repeat !important;
			background-size: cover !important;
			background-attachment: fixed !important;
		}

		.body_citrico {
			background: url(../../images/imgCitricos1280x853_02.jpeg);
			background-position: center !important;
			background-repeat: repeat !important;
			background-size: cover !important;
			background-attachment: fixed !important;
		}

		.menu_ozblu {
			background-color: #13213d !important;
			background-repeat: no-repeat;
			background-position: top right;
		}

		.menu_aga {
			background-color: #13213d !important;
		}

		.linea_logo {
			border-color: #28a745 !important;
		}
		/*Color Hover Menu*/
		.collapse-item:hover {
			background-color: #babfcc80 !important
		}

		.colorfooter_aga {
			background-color: #0B0B20 !important
		}

		.colorfooter_ozblu {
			background-color: #0B0B20 !important
		}

		#modBarraProgreso {
			width: auto;
			height: auto;
			display: none;
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
		}

		.tooltip {
			position: relative;
			display: inline-block;
		}

			.tooltip .tooltiptext {
				visibility: hidden;
				width: 140px;
				background-color: #555;
				color: #fff;
				text-align: center;
				border-radius: 6px;
				padding: 5px;
				position: absolute;
				z-index: 1;
				bottom: 150%;
				left: 50%;
				margin-left: -75px;
				opacity: 0;
				transition: opacity 0.3s;
			}

				.tooltip .tooltiptext::after {
					content: "";
					position: absolute;
					top: 100%;
					left: 50%;
					margin-left: -5px;
					border-width: 5px;
					border-style: solid;
					border-color: #555 transparent transparent transparent;
				}

			.tooltip:hover .tooltiptext {
				visibility: visible;
				opacity: 1;
			}
	</style>

	<!--cuztomise js-->
	<script type="text/javascript">
		$(document).ready(function () {
			sweet_alert_progressbar();
			DisableBackButtonBrowser();
		});
		function DisableBackButtonBrowser() {
			window.history.forward();
			window.history.pushState(null, "", window.location.href);
			window.onpopstate = function () {
				window.history.pushState(null, "", window.location.href);
			};
		}
	</script>
</head>

<body id="page-top">

	<!-- Page Wrapper -->
    <div id="wrapper">

        <input type="hidden" value="@ViewBag.Token" id="hToken" />
        <input type="hidden" value="@ViewBag.UsrType" id="hUsrType" />
        <input type="hidden" value="@ViewBag.CreateSONoneProgram" id="hSOwithoutProgram" />
        <input type="hidden" value="@ViewBag.CustomerToSelectSONoneProgram" id="hCustomerToSelectSOwithoutProgram" />
        <input type="hidden" value="@ViewBag.ConsigneeToSelectSONoneProgram" id="hConsigneeToSelectSOwithoutProgram" />
        <input type="hidden" value="@ViewBag.Option" id="hOption" />
        <label id="lblSessionUserID" style="display:none">@userID</label>
        <!-- Sidebar - Brand -->
        <ul class="navbar-nav sidebar sidebar-dark accordion @ViewBag.imgfondo" id="accordionSidebar">
            <a href="/home" class="info-card">
                <img class="nav-link collapsed" id="logo" src="@ViewBag.logo" style="margin-left: 20px;">
            </a>
            <hr class="sidebar-divider my-0 @ViewBag.linealogo" id="linealogo">

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            @if (Session["Menu"] != null)
            {
                foreach (var parent in (IEnumerable<Menu>)Session["Menu"])
                {
                    <li class="nav-item ">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages-@parent.menuID"
                           aria-expanded="true" aria-controls="collapsePages-@parent.menuID">
                            <i class="text-white @parent.icon"></i>
                            <span><font style="text-transform: uppercase;">@parent.description</font></span>
                        </a>
                        <div id="collapsePages-@parent.menuID" class="collapse" aria-labelledby="headingUtilities"
                             data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                @foreach (var children in parent.menusChildren)
                                {

                                    <a class="collapse-item" href="@Url.Action(children.action, children.controller)">@children.description</a>
                                }
                            </div>
                        </div>
                    </li>

                }
            }

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle" style="background-color:white; "></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column  @ViewBag.contentwrapper">

            <!-- Main Content -->
            <div id="content" class="alturaP">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow" id="navTopSystem">
                    <b><span>Current Week:&nbsp;</span><text id="txtCurrentWeek"></text></b>
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3" style="color:#13213d">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">

                            <a class="nav-link dropdown-toggle" href="#" id="cropDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                                <i class="fas fa-seedling fa-md" style="color:#13213d;"></i>
                                <!-- Counter - Alerts -->
                                <span class="mr-2 d-none d-lg-inline " style="color:#13213d; font-size:15px;font-variant-numeric: tabular-nums; text-align: center; text-transform: capitalize;">&nbsp;<text id="txtCropCampaign"></text></span>

                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="cropDropdown" style="background-color:#eee">

                                <a class="dropdown-item d-flex align-items-center" href="#" data-toggle="modal" data-target="#changeCropModal">
                                    <div class="mr-3">
                                        <div class="icon-circle " style="background-color:#13213d;">
                                            <i class="fas fa-exchange-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>

                                        <span class="font-weight-bold">Change Crop</span>
                                    </div>
                                </a>

                            </div>
                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                                <i class="fas fa-user fa-md" style="color:#13213d"></i>
                                <!-- Counter - Messages -->
                                <span class="mr-2 d-none d-lg-inline " style="color:#13213d; font-size:15px;font-variant-numeric: tabular-nums; text-align: center; text-transform: capitalize;">&nbsp;&nbsp; @username</span>

                            </a>
                            <!-- Dropdown - Messages -->
                            @*<div class="dropdown-menu dropdown-menu-xl-left shadow animated--grow-in" aria-labelledby="userDropdown" style="background-color:#eee">*@
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown" style="right: 0; left: auto;height:auto;">


                            <a class="dropdown-item d-flex align-items-center" href="#" data-toggle="modal" data-target="#logoutModal">
                                <div class="mr-3">
                                    <div class="icon-circle" style="background-color:#13213d;">
                                        <i class="fas fa-sign-out-alt text-white"></i>
                                    </div>
                                </div>
                                <div>

                                    <span class="font-weight-bold">Logout</span>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#" onclick="ClearCache()">
                                <div class="mr-3">
                                    <div class="icon-circle" style="background-color:#13213d;">
                                        <i class="fas fa-trash-alt text-white"></i>
                                    </div>
                                </div>
                                <div>

                                    <span class="font-weight-bold">Clear Cache</span>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" id="SyncNetsuiteCP">
                                <div class="mr-3">
                                    <div class="icon-circle" style="background-color:#13213d;">
                                        <i class="text-white fas fa-globe-americas"></i>

                                    </div>
                                </div>
                                <div>
                                    <span class="font-weight-bold">Sync CP</span>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" id="SyncNetsuiteSO">
                                <div class="mr-3">
                                    <div class="icon-circle" style="background-color:#13213d;">
                                        <i class="text-white fas fa-warehouse"></i>

                                    </div>
                                </div>
                                <div>
                                    <span class="font-weight-bold">Sync SO</span>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" id="SyncNetsuiteSI">
                                <div class="mr-3">
                                    <div class="icon-circle" style="background-color:#13213d;">
                                        <i class="text-white fas fa-ship"></i>

                                    </div>
                                </div>
                                <div>
                                    <span class="font-weight-bold">Sync SI</span>
                                </div>
                            </a>
                        </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>



                    </ul>


                </nav>

                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer blue @ViewBag.colorFooter" id="colorFooter">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <p id="info_foot" style="color:#fff">@ViewBag.infofoot</p>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
	<!-- End of Page Wrapper -->
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header" style="background-color:#080829; color:white">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cancel <span class="icon fa fa-times"></span></button>
					<button class="btn btn-primary btn-sm" type="button" onclick="logout()">Logout <span class="icon fa fa-sign-out "></span></button>
				</div>
			</div>
		</div>
	</div>
	<!-- change Modal-->
	<div class="modal fade" id="changeCropModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header" style="background-color:#080829">
					<h5 class="modal-title" id="exampleModalLabel" style="color:white">Change Crop- Campaign</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close" value="@ViewBag.User">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body" style="font-size:medium !important">
					<select id="selectCampaignCrop" class="form-control selectpicker form-control-sm">
					</select>
				</div>
				<div class="modal-footer">
					<button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cancel <span class="icon fa fa-times"></span></button>
					<button class="btn btn-primary btn-sm" type="button" id="btnChangeCrop">Change <span class="icon fa fa-exchange"></span></button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="modalSyncNetsuite" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-agrocom-xl" role="document">
			<div class="modal-content">
				<div class="modal-header justify-content-center">
					<h4 class="modal-title card border-info text-info">
						@*<img src="~/images/AgricolaAndrea71x64.png" width="130" />*@
						<label id="lblTitleSyncNetsuite" />
					</h4>
				</div>
				<div class="modal-body panel-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-12" id="resultSummary"></div>
						</div>
						<br />
						<br />
						<div class="row">
							<div class="col-lg-12">
								<label id="lblsubTitleResultSuccess" />
							</div>
							<br />
							<div class="col-lg-12" id="resultSuccess"></div>
							<div class="row">
								<div class="col-lg-12">
									<button type="button" class="btn btn-warning btn-sm transact pull-right btnExportDataJsonSync" style="font-size:14px">
										<span class="icon text-white-50">
											<i class="fas fa-file-code fa-sm"></i>
										</span>
										<span class="mr-2 d-none d-lg-inline text">Export sent data in Json</span>
									</button>
								</div>
							</div>
						</div>
						<br />
						<br />
						<div class="row">
							<div class="col-lg-12">
								<label id="lblSubTitleResultFail" />
							</div>
							<br />
							<div class="col-lg-12" id="resultFail"></div>
							<div class="row">
								<div class="col-lg-12">
									<button class="btn btn-warning btn-sm transact pull-right btnExportDataJsonNoSync" style="font-size:14px">
										<span class="icon text-white-50">
											<i class="fas fa-file-code fa-sm"></i>
										</span>
										<span class="mr-2 d-none d-lg-inline text">Export sent data in Json</span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="~/Content/js/sb-admin-2.js"></script>
</body>
</html>