﻿@{
	ViewBag.Title = "Client";
	Layout = "~/Views/Shared/Master.cshtml";
}

<style>

		fieldset.scheduler-border {
			border: 1px groove #ddd !important;
			padding: 0 1px 1px 1px !important;
			margin: 0 0 1.5em 0 !important;
			-webkit-box-shadow: 0px 0px 0px 0px #000;
			box-shadow: 0px 0px 0px 0px #000;
		}

		legend.scheduler-border {
			font-size: 13px !important;
			text-align: left !important;
			width: auto;
			padding: 0 10px;
			border-bottom: none;
		}

</style>

<div class="container-fluid">
	<!-- Page Heading -->

	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h2><span class="badge badge-titulo">Client</span></h2>

	</div>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="card  mb-4">
				<div class="card-header pt-1 card-header-title-filter" >
					<div class="form-group row">
						<div class="col-xl-2 col-lg-3 col-md-3 col-sm-7">
							<label><strong>Filters Bar</strong></label>
						</div>
						<div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">
							@*<button id="" onclick="CargaModal(0)" class="btn btn-primary btn-sm pull-right" type="button" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">New Client <span class="icon text-white"><i class='fas fa-edit fa-sm'></i></span></button>*@
						
							<a href="#" class="btn btn-primary btn-sm btn-icon-split transact pull-right" onclick="CargaModal(0)" data-toggle="modal" data-target="#myModal">
								<span class="icon text-white-50">
									<i class="fas fa-plus-circle fa-sm"></i>
								</span>
								<span class="text">New Client</span>
							</a>
						</div>
					</div>
				</div>

				<div class="card-body card-body-agrocom">
					<div class="table-responsive" id="divClient">

						<table id='divList' class='table table-hover table-bordered table-striped table-white'>
							<thead class="thead-agrocom">
								<tr class="table-tr-agrocom">
									<th style='max-width: 50px; min-width:50px; text-align:center' class='text-white'>Edit</th>
									<th style='max-width: 80px; min-width:80px; display:none' class='text-white'>StatusID</th>
									<th style='max-width: 80px; min-width:80px; display:none' class='text-white'>CustomerID</th>
									<th style='max-width: 300px; min-width:300px' class='text-white'>Name</th>
									<th style='max-width: 150px; min-width:150px' class='text-white'>Abbreviation</th>
									<th style='max-width: 300px; min-width:300px' class='text-white'>Addres</th>
									<th style='max-width: 150px; min-width:150px' class='text-white'>Contact</th>
									<th style='max-width: 150px; min-width:150px' class='text-white'>Phone</th>
									<th style='max-width: 270px; min-width:270px' class='text-white'>Email</th>
									<th style='max-width: 150px; min-width:150px' class='text-white'>Origin</th>

								</tr>
							</thead>
							<tbody >
							</tbody>
						</table>

					</div>

				</div>


			</div>
		</div>
	</div>

</div>

<div class="modal fade bd-example-modal-xl" id="myModal" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" style="overflow-y: scroll;">

	<div class="modal-dialog modal-xl" role="document">

		<div class="modal-content">

			<div class="modal-header modal-head-agrocom">
				<label><font color="white" class="modal-titulo">New Client</font></label>
				<button type="button" class="close text-white" data-dismiss="modal">&times;</button>
			</div>

			<div class="modal-body modal-body-agrocom">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<form id="Formulario" class="needs-validation" novalidate>

							<div class="row ">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="card shadow mb-4">
										<div class="card-header py-2">
											<label class="m-0"><strong>Section general</strong></label>
										</div>
										<div class="card-body mb-2 card-body-agrocom">
											@*-------PRIMERA COLUMNA---------*@
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label-modal-agrocom" for="txtBussinesName">Bussine Name </label>
                                                    <input type="text" id="txtBussinesName" class="form-control form-control-sm" placeholder="" required />
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="label-modal-agrocom" for="txtAbbreviation">Abbreviation </label>
                                                    <input type="text" id="txtAbbreviation" class="form-control form-control-sm" placeholder="" @*required*@ />
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="label-modal-agrocom" for="txtAddres">Addres </label>
                                                    <input type="text" id="txtAddres" class="form-control form-control-sm" placeholder="" @*required*@ />
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="label-modal-agrocom" for="txtInformation">TAX or USCI</label>
                                                    <input type="text" id="txtInformation" class="form-control form-control-sm" placeholder="" @*required*@ />
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="label-modal-agrocom" for="txtRUC">RUC</label>
                                                    <input type="number" id="txtRUC" class="form-control form-control-sm" placeholder="" @*required*@ />
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="label-modal-agrocom" for="SelectSubsidiary">Subsidiary:</label>
                                                    <select id="SelectSubsidiary" class="form-control form-control-sm selectpicker obligatory" multiple data-live-search="true" required>                                                        
                                                    </select>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>                                                    
                                                </div>
                                            </div>
											@*-------SEGUNDA COLUMNA---------*@
											<div class="col-md-6">

												<div class="form-group">
													<label class="label-modal-agrocom" for="SelectOrigin">Origin:</label>
													<div class="dropdown bootstrap-select form-control form-control-sm obligatory">
														<select id="SelectOrigin" class="form-control selectpicker form-control-sm obligatory" data-live-search="true" tabindex="-98" required>
															<option value="">--Choose--</option>
															<option value="">--EEUU--</option>
															<option value="">--China--</option>
															<option value="">--Japan--</option>
														</select>
														<div class="valid-feedback">
															Looks good!
														</div>
													</div>
												</div>
                                                <div class="form-group">
                                                    <label class="label-modal-agrocom" for="txtContact">Contact </label>
                                                    <input type="text" id="txtContact" class="form-control form-control-sm" placeholder="" @*required*@ />
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="label-modal-agrocom" for="txtEmail">E-mail </label>
                                                    <input type="email" id="txtemail" class="form-control form-control-sm" placeholder="" @*required*@ />
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="label-modal-agrocom" for="txtPhone">Phone </label>
                                                    <input type="text" id="txtPhone" class="form-control form-control-sm" placeholder="" @*required*@ />
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                </div>
												<fieldset class="scheduler-border">
													<legend class="scheduler-border" style="font-size:13px!important; color:black">Role</legend>
													<div class="form-group row">
														<div class="form-check">
															<div class="col-md-3" style="padding-left:30px;">
																<input type="checkbox" class="form-check-input" id="checkCustomer">
															</div>
															<div class="col-md-1">
																<label class="form-check-label" style="font-size:13px!important; color:black" for="checkCustomer">Customer</label>
															</div>
														</div>
														<div class="form-check">
															<div class="col-md-3">
																<input type="checkbox" class="form-check-input" id="checkConsignee">
															</div>
															<div class="col-md-1">
																<label class="form-check-label" for="checkConsignee" style="font-size:13px!important; color:black">Consignee</label>
															</div>
														</div>
														<div class="form-check">
															<div class="col-md-3">
																<input type="checkbox" class="form-check-input" id="checkNotify">
															</div>
															<div class="col-md-1">
																<label class="form-check-label" for="checkNotify" style="font-size:13px!important; color:black">Notify</label>
															</div>
														</div>
													</div>
												</fieldset>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="card shadow mb-4">
										<div class="card-header py-2">
											<label class="m-0"><strong>Section Destination</strong></label>

										</div>
										<div class="card-body mb-2 card-body-agrocom">
											<div class="row">
												<div class="col-md-12 col-sm-12 col-xs-1">
													<div class="form-group row">
														<div class="col-md-2 col-sm-2 col-xs-2">
															<label class="label-modal-agrocom" for="txtSaleRequest">Destination:</label>
														</div>
														<div class="col-md-4 col-sm-4 col-xs-4">
															<div class="dropdown bootstrap-select form-control form-control-sm obligatory">
																<select id="selectDestination" class="form-control selectpicker form-control-sm obligatory" data-live-search="true" tabindex="-98">
																	<option value="">--Choose--</option>
																</select>
															</div>
														</div>
														<div class="col-md-1">
															<button class="btn btn-success btn-sm pull-right" type="button" id="btnAddDestination">
																Add <span class=""><i class="fas fa-plus-circle fa-sm"></i></span>
															</button>
															<span id="spanObligatory" class="badge badge-danger"></span>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<table id="tblDestination" class="table table-hover table-bordered table-sm" width="80%">
													<thead class="thead-agrocom">
														<tr class="table-tr-agrocom">
															<td style='min-width:80px;max-width:80px;'>destinationID</td>
															<td style='min-width:80px;max-width:80px;'>Destination	</td>
															<td style='min-width:80px;max-width:80px;' hidden>Brix	</td>
															<td style='min-width:80px;max-width:80px;' hidden>Acidity	</td>
															<td style='min-width:80px;max-width:80px;' hidden>Bloom	</td>
															<td style='min-width:80px;max-width:80px;' hidden>Traceability	</td>
															<td style='min-width:80px;max-width:80px;' hidden>Comments	</td>
															<td style='min-width:80px;max-width:80px;' hidden>Additional	</td>
															<td style='min-width:20px;max-width:20px;'>Operation</td>
														</tr>
													</thead>
													<tbody style="background-color:#fff">
														
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="row" hidden>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="card shadow mb-4">

							<div class="card-body mb-2" style="background-color: #afd7d8">

								<details>
									<summary style="font-size: 14px!important;color:#2A3F54">Section Crop/ Specification</summary>
									<hr />
									<div class="container-fluid">
										<ul class="nav nav-tabs" style="text-align: left;">
											<li class="active" style="background-color:#ffffff;border-color: black!important">
												<a href="#menu1" data-toggle="tab" id="first_tab" style="background-color:#ffffff; border-color: #2A3F54!important"><i class="fas fa-seedling fa-md" style="color:#13213d"></i>Blueberry</a>
											</li>
											<li style="background-color:#ffffff;border-color: black!important">
												<a href="#menu2" data-toggle="tab" id="second_tab"><i class="fas fa-seedling fa-md" style="color:#13213d"></i>Grapes</a>
											</li>
											<li style="background-color:#ffffff;border-color: black!important">
												<a href="#menu3" data-toggle="tab" id="third_tab"><i class="fas fa-seedling fa-md" style="color:#13213d"></i>Citrus</a>
											</li>
										</ul>
										<div class="tab-content">
											<div id="menu1" class="tab-pane fade in active" style="background-color:#ffffff!important; padding-left:10px!important;padding-right:10px!important; padding-bottom:10px!important">
												<div class=" table-responsive">
													<div class="col-md-12" style="padding-top:25px; padding-bottom:25px">
														<div class="col-md-10">
															<div class="form-group col-md-2">
																<label class="label-modal-agrocom" for="selectConsignee_blu">Consignee:</label>
															</div>
															<div class="form-group col-md-3">
																<div class="dropdown bootstrap-select form-control form-control-sm obligatory">
																	<select id="selectConsignee_blu" class="form-control selectpicker form-control-sm obligatory" data-live-search="true" tabindex="-98">
																		<option value="">--Choose--</option>
																		<option value="">Consignee 1</option>
																		<option value="">Consignee 2</option>
																		<option value="">Consignee 3</option>
																	</select>
																</div>
															</div>
															<div class="form-group col-md-2">
																<label class="label-modal-agrocom" for="selectDestination2">Destination:</label>
															</div>
															<div class="form-group col-md-3">
																<div class="dropdown bootstrap-select form-control form-control-sm obligatory">
																	<select id="selectDestination2" class="form-control selectpicker form-control-sm obligatory" data-live-search="true" tabindex="-98">
																		<option value="">--Choose--</option>
																		<option value="">Destination 1</option>
																		<option value="">Destination 2</option>
																		<option value="">Destination 3</option>
																	</select>
																</div>
															</div>
														</div>
														<div class="col-md-2">
															<button onclick="AddConsigneeDestination(0)" type="button" class="btn btn-sm text-white transact pull-right" style=" background-color: #13213d; height: 30px;">Add <i class="fa fa-plus-circle fa-sm"></i></button>
														</div>
													</div>
													<table id="table_ozblu" class="table table-striped table-bordered dataTable no-footer" style="width: 100%;" role="grid" aria-describedby="datatable_info">
														<thead class="thead-agrocom">
															<tr class="table-tr-agrocom">
																<th style='max-width:100px ; min-width:100px' hidden>CustomerID</th>
																<th style='max-width:100px ; min-width:100px'>Customer</th>
																<th style='max-width:100px ; min-width:100px' hidden>CropID</th>
																<th style='max-width:100px ; min-width:100px' hidden>ConsigneeID</th>
																<th style='max-width:100px ; min-width:100px'>Consignee</th>
																<th style='max-width:100px ; min-width:100px' hidden>DestinationID</th>
																<th style='max-width:100px ; min-width:100px'>Destination</th>
																<th style='max-width:100px ; min-width:100px' hidden>ConsigneeDestinationID</th>
																<th style='max-width:30px ; min-width:30px'>Operation</th>
															</tr>
														</thead>
														<tbody style="background-color:#fff; font-size:13px">
															
														</tbody>
													</table>
												</div>
											</div>

											<div id="menu2" class="tab-pane fade in active" style="background-color:#ffffff!important; padding-left:10px!important;padding-right:10px!important; padding-bottom:10px!important">

												<div class=" table-responsive">
													<div class="col-md-12" style="padding-top:25px; padding-bottom:25px">
														<div class="col-md-10">

															<div class="form-group col-md-2">
																<label class="label-modal-agrocom" for="selectConsignee_aga">Consignee:</label>
															</div>
															<div class="form-group col-md-3">
																<div class="dropdown bootstrap-select form-control form-control-sm obligatory">
																	<select id="selectConsignee_aga" class="form-control selectpicker form-control-sm obligatory" data-live-search="true" tabindex="-98">
																		<option value="">--Choose--</option>
																		<option value="">Consignee 1</option>
																		<option value="">Consignee 2</option>
																		<option value="">Consignee 3</option>
																	</select>
																</div>
															</div>

															<div class="form-group col-md-2">
																<label class="label-modal-agrocom" for="selectDestination1">Destination:</label>
															</div>
															<div class="form-group col-md-3">
																<div class="dropdown bootstrap-select form-control form-control-sm obligatory">
																	<select id="selectDestination1" class="form-control selectpicker form-control-sm obligatory" data-live-search="true" tabindex="-98">
																		<option value="">--Choose--</option>
																		<option value="">Destination 1</option>
																		<option value="">Destination 2</option>
																		<option value="">Destination 3</option>
																	</select>
																</div>
															</div>
														</div>

														<div class="col-md-2">
															@*<button id="" onclick="CargaModalCrop(0,0)" data-toggle="modal" data-target="#myModalSection" data-backdrop="static" data-keyboard="false" class="btn btn-sm text-white transact pull-right" style=" background-color: #13213d; height: 30px;">Add New Specification <span class="icon text-white"><i class="fas fa-plus-circle fa-sm"></i></span></button>*@
															<button onclick="	AddConsigneeDestination(1)" data-toggle="modal" data-target="#" data-backdrop="static" data-keyboard="false" class="btn btn-sm text-white transact pull-right" style=" background-color: #28a745; height: 30px;">Add <i class="fas fa-plus-circle fa-sm"></i></button>
														</div>
													</div>

													<table id="table_aga" class="table table-striped table-bordered dataTable no-footer" style="width: 100%;" role="grid" aria-describedby="datatable_info">
														<thead class="thead-agrocom">
															<tr class="table-tr-agrocom">
																<th style=' max-width:100px ; min-width:100px' hidden>CustomerID</th>
																<th style=' max-width:100px ; min-width:100px'>Customer</th>
																<th style=' max-width:100px ; min-width:100px' hidden>CropID</th>
																<th style=' max-width:100px ; min-width:100px' hidden>ConsigneeID</th>
																<th style=' max-width:100px ; min-width:100px'>Consignee</th>
																<th style=' max-width:100px ; min-width:100px' hidden>DestinationID</th>
																<th style=' max-width:100px ; min-width:100px'>Destination</th>
																<th style=' max-width:100px ; min-width:100px' hidden>ConsigneeDestinationID</th>
																<th style=' max-width:30px ; min-width:30px'>Operation</th>
															</tr>
														</thead>
														<tbody style="background-color:#fff; font-size:13px">
														</tbody>
													</table>

												</div>

											</div>

										</div>


										<div class="col-md-12" style="padding-top:25px">
											<a href="#" class="btn btn-success btn-sm btn-icon-split transact pull-right" id="btnSaveConsigneeDestination" onclick="javascipt:return false;">
												<span class="icon text-white-50"><i class="fas fa-save"></i>	</span>
												<span class="text">Save</span>
											</a>

											<a href="#" class="btn btn-danger btn-sm btn-icon-split transact pull-right" data-dismiss="modal" id="btnReject" onclick="javascipt:return false;">
												<span class="icon text-white-50">
													<i class="fas fa-times fa-sm"></i>
												</span>
												<span class="text">Cancel</span>
											</a>
											<span id="spanObligatory" class="badge badge-danger"></span>

										</div>

									</div>

								</details>

							</div>

						</div>
					</div>
				</div>


			</div>
			<div class="modal-footer modal-footer-agrocom">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<a href="#" class="btn btn-success btn-sm btn-icon-split transact pull-right" id="btnSaveClient" onclick="javascipt:return false;">
						<span class="icon text-white-50"><i class="fas fa-save"></i>	</span>
						<span class="text">Save</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="myModalSpecs" class="modal fade bd-example-modal-xl" tabindex="-1" aria-labelledby="myLargeModalLabel" style="background-color:rgba(0, 0, 10 , 0.7)">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header modal-head-agrocom">
                <label class="modal-titulo">Additional Specifications</label>
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body" >
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="card-body card-body-agrocom">

                            <div class="form-row">
                                <div class="col-md-1">
                                    <label class="label-modal-agrocom" for="txtCust">Customer:</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" id="txtCust" class="form-control form-control-sm obligatory" disabled>
                                </div>
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-1">
                                    <label class="label-modal-agrocom" for="txtDest">Destination:</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" id="txtDest" class="form-control form-control-sm obligatory" disabled>
                                </div>
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-1">
                                    <button type="button" id="btnAddSpecs" class="btn btn-sm text-white transact pull-right" style=" background-color: #007bff; height: 30px;">Save <span class=""><i class="fas fa-plus-circle fa-sm"></i></span></button>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group" hidden>
                                    <label class="label-modal-agrocom" for="txtcustID">customerID:</label>
                                    <input type="text" id="txtcustID" class="form-control form-control-sm obligatory" disabled>
                                </div>
                                <div class="form-group" hidden>
                                    <label class="label-modal-agrocom" for="txtdestID">destinationID:</label>
                                    <input type="text" id="txtdestID" class="form-control form-control-sm obligatory" disabled>
                                </div>
                            </div>
                        </div>

                  <br />
                       <div class="card-body mb-2 card-body-agrocom pt-2" style="padding-bottom:15px!important">
                           <label><font color="black">Details</font></label>
                           <hr />

                           <div class="form-group row">
                               <div class="col-md-1">
                                   <label class="label-modal-agrocom" for="txtBrix">Brix</label>
                               </div>
                               <div class="col-md-5">
                                   <textarea id="txtBrix" rows="1" class="form-control form-control-sm"> </textarea>
                               </div>
                               <div class="col-md-1">
                                   <label class="label-modal-agrocom" for="txtAcidity">Acidity</label>
                               </div>
                               <div class="col-md-5">
                                   <textarea id="txtAcidity" rows="1" class="form-control form-control-sm"> </textarea>
                               </div>                                        
                           </div>
                           <div class="form-group row">
                               <div class="col-md-1">
                                   <label class="label-modal-agrocom" for="txtBloom">Bloom</label>
                               </div>
                               <div class="col-md-5">
                                   <textarea id="txtBloom" rows="1" class="form-control form-control-sm"> </textarea>
                               </div>
                               <div class="col-md-1">
                                   <label class="label-modal-agrocom" for="txtTraceability">Traceability</label>
                               </div>
                               <div class="col-md-5">
                                   <textarea id="txtTraceability" rows="1" class="form-control form-control-sm"> </textarea>
                               </div>
                           </div>
                           <div class="form-group row">
                               <div class="col-md-1">
                                   <label class="label-modal-agrocom" for="txtComments">Comments</label>
                               </div>
                               <div class="col-md-5">
                                   <textarea id="txtComments" rows="5" class="form-control form-control-sm"> </textarea>
                               </div>
                               <div class="col-md-1">
                                   <label class="label-modal-agrocom" for="txtAdditional">Additional</label>
                               </div>
                               <div class="col-md-5">
                                   <textarea id="txtAdditional" rows="5" class="form-control form-control-sm"> </textarea>
                               </div>
                           </div>
                           
                        </div>
                               
                    </div>
                </div>

            </div>
            @*<div class="modal-footer">
                <button id="btnSaveSpecs" onclick="javascipt:return false;" class="btn btn-primary btn-sm pull-right" type="button">Save <span class="icon text-white"><i class="fas fa-save"></i></span></button>
                <button id="btnCacncel" type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancel <span class="icon text-white"><i class="fas fa-times"></i></span></button>
            </div>*@
        </div>
    </div>
</div>

<div id="myModalSection" class="modal fade bd-example-modal-xl" tabindex="-1" aria-labelledby="myLargeModalLabel" style="background-color:#214b71">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header" style="background-color : #13213d">
				<label><font color="white">New Specification</font></label>
				<button type="button" class="close text-white" data-dismiss="modal">&times;</button>
			</div>

			<div class="modal-body" style="background-color: #f2f2f2">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">

						<div class="card-body" style="background-color:#DCE8FF">

							<div class="form-row">

								<div class="form-group col-md-4">
									<label class="label-modal-agrocom" for="txtCustomer">Customer:</label>
									<input type="text" id="txtCustomer" class="form-control form-control-sm obligatory" disabled>
								</div>

								<div class="form-group col-md-4">
									<label class="label-modal-agrocom" for="txtConsignee">Consignee:</label>
									<input type="text" id="txtConsignee" class="form-control form-control-sm obligatory" disabled>
								</div>

								<div class="form-group col-md-2">
									<label class="label-modal-agrocom" for="txtDestination">Destination:</label>
									<input type="text" id="txtDestination" class="form-control form-control-sm obligatory" disabled>
								</div>

								<div class="form-group col-md-2">
									<label class="label-modal-agrocom" for="txtCrop">Crop:</label>
									<input type="text" id="txtCrop" class="form-control form-control-sm obligatory" disabled>
								</div>


							</div>

							<div class="form-row">

								<div class="form-group" hidden>
									<label class="label-modal-agrocom" for="txtcustomerID">customerID:</label>
									<input type="text" id="txtcustomerID" class="form-control form-control-sm obligatory" disabled>
								</div>

								<div class="form-group" hidden>
									<label class="label-modal-agrocom" for="txtconsigneeID">consigneeID:</label>
									<input type="text" id="txtconsigneeID" class="form-control form-control-sm obligatory" disabled>
								</div>

								<div class="form-group" hidden>
									<label class="label-modal-agrocom" for="txtdestinationID">destinationID:</label>
									<input type="text" id="txtdestinationID" class="form-control form-control-sm obligatory" disabled>
								</div>

								<div class="form-group" hidden>
									<label class="label-modal-agrocom" for="txtConsgineeDestinationID">consigneeDestinationID:</label>
									<input type="text" id="txtConsgineeDestinationID" class="form-control form-control-sm obligatory" disabled>
								</div>

							</div>

						</div>

						<div class="row" style="padding-top:15px!important">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="card-body mb-2" style="background-color: #9BBFC4">
									<details>
										<summary style="color:black">Details</summary>
										<hr />
										<div class="form-group row">

											<div class="col-md-1">
												<label class="label-modal-agrocom" for="selectVariety">Variety</label>
											</div>
											<div class="col-md-2">
												<select id="selectVariety" onclick="createCodePack()" class="form-control form-control-sm selectpicker" data-live-search="true">
												</select>
											</div>

											<div class=" col-md-1">
												<label class="label-modal-agrocom" for="selectFormat">Format</label>
											</div>
											<div class="col-md-2">
												<select id="selectFormat" onblur="createCodePack()" class="form-control form-control-sm selectpicker">
												</select>
											</div>

											<div class="col-md-1">
												<label class="label-modal-agrocom" for="selectTypeBox">Type Box</label>
											</div>
											<div class="col-md-2">
												<select id="selectTypeBox" onblur="createCodePack()" class="form-control form-control-sm selectpicker" data-live-search="true">
												</select>
											</div>

											<div class="form-check">
												<div class="col-md-3" style="padding-left:30px">
													<input type="checkbox" class="form-check-input" onblur="createCodePack()" id="checkGenericBox">
												</div>
											</div>
											<div class="col-md-2" style="padding-left:50px">
												<label class="form-check-label label-agrocom" for="checkGenericBox">Generic Box</label>
											</div>

										</div>

										<div class="form-group row">

											<div class="col-md-1">
												<label class="label-modal-agrocom" for="selectCategory">Category</label>
											</div>
											<div class="col-md-2">
												<select id="selectCategory" onblur="createCodePack()" class="form-control form-control-sm selectpicker" data-live-search="true">
												</select>
											</div>

											<div class="col-md-1">
												<label class="label-modal-agrocom" for="selectBrand">Brand</label>
											</div>
											<div class="col-md-2">
												<select id="selectBrand" onblur="createCodePack()" class="form-control form-control-sm selectpicker" data-live-search="true">
												</select>
											</div>

											<div class="col-md-1">
												<label class="label-modal-agrocom" for="selectPresentation">Presentation</label>
											</div>
											<div class="col-md-2">
												<select id="selectPresentation" onblur="createCodePack()" class="form-control form-control-sm selectpicker" data-live-search="true">
												</select>
											</div>

											<div class="col-1">
												<label class="label-modal-agrocom" for="selectSize">Size</label>
											</div>
											<div class="col-md-2">
												<select id="selectSize" class="form-control form-control-sm selectpicker" multiple data-live-search="true">
												</select>
											</div>

										</div>

										<div class="form-group row">

											<div class="col-md-1">
												<label class="label-modal-agrocom" for="txtPrice">Price USD / Box</label>
											</div>
											<div class="col-md-2">
												<input id="txtPrice" type="number" min="0" class="form-control form-control-sm" />
											</div>
											<div class="col-md-1">
												<label class="label-modal-agrocom" for="txtCodePack">CodePack</label>
											</div>
											<div class="col-md-2">
												<input id="txtCodePack" onblur="createCodePack()" type="text" class="form-control form-control-sm" required>
											</div>
											@*<div class=" col-md-1">
											<label class="label-modal-agrocom" for="SelectCodePack">CodePack</label>
										</div>
										<div class="col-md-2">
											<select id="SelectCodePack" class="form-control form-control-sm obligatoryRowM selectpicker">
											</select>
										</div>*@
											<div class="col-md-1">
												<label class="label-modal-agrocom" for="txtVariety">Search:</label>
											</div>
											<div class="col-md-4">
												<div class="form-group ">
													<div class="custom-file">
														<input type="file" class="custom-file-input form-control form-control-sm" id="customFile">
														<label class="custom-file-label" for="customFile" style="font-size:13px">Choose file</label>
													</div>
												</div>
											</div>
										</div>

										<div class="form-group row">
											<div class="form-check">
												<div class="col-md-2" style="padding-left:20px">
													<input type="checkbox" class="form-check-input" id="checkPrincipal">
												</div>
												<div class="col-md-1" style="padding-left:35px;padding-right:43px;">
													<label class="form-check-label label-agrocom" for="checkPrincipal">Principal</label>
												</div>
											</div>
											<div class="form-check">
												<div class="col-md-2" style="padding-left:30px">
													<input type="checkbox" class="form-check-input" id="checkActive">
												</div>
												<div class="col-md-1" style="padding-left:35px;padding-right:43px;">
													<label class="form-check-label label-agrocom" for="checkActive">Active</label>
												</div>
											</div>

											<div class="col-md-1">
												<label style="font-size: 13px!important" for="txtNotes">Notes </label>
											</div>
											<div class="col-md-6">
												<textarea id="txtNotes" rows="1" class="form-control form-control-sm"> </textarea>
											</div>

											<div class="col-md-1">
												<button type="button" id="btnAddSpecification" class="btn btn-sm text-white transact pull-right" style=" background-color: #007bff; height: 30px;">Add <span class=""><i class="fas fa-plus-circle fa-sm"></i></span></button>
											</div>

										</div>

									</details>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="card-body mb-2" style="		background-color: #fff">
									<div id="tblCatVar" class="table-responsive">
										<table id="tblSpecification" class="table table-hover table-bordered table-striped ">
											<thead class="thead-agrocom text-white">
												<tr class="table-tr-agrocom">
													<td style="max-width:100px; min-width:100px;"> Options</td>
													<td style="max-width:300px; min-width:300px;" data-toggle="tooltip" data-placement="left" title="customerConsigneeDestinationSpecsID" hidden> CnsigneeDestinSpecsID</td>
													<td style="max-width:300px; min-width:300px;" data-toggle="tooltip" data-placement="left" title="consigneeDestinationID" hidden> consigDestID</td>
													<td style="max-width:100px; min-width:100px;" hidden> VarietyID</td>
													<td style="max-width:120px; min-width:120px;"> Variety</td>
													<td style="max-width:100px; min-width:100px;" hidden> FormatID</td>
													<td style="max-width:50px; min-width:50px;"> Format</td>
													<td style="max-width:100px; min-width:100px;" hidden> Type BoxID</td>
													<td style="max-width:80px; min-width:80px;"> Type Box</td>
													<td style="max-width:100px; min-width:100px;" hidden> Generic Box</td>
													<td style="max-width:100px; min-width:100px;" hidden> CategoryID</td>
													<td style="max-width:80px; min-width:80px;"> Category</td>
													<td style="max-width:100px; min-width:100px;" hidden> BrandID</td>
													<td style="max-width:90px; min-width:90px;"> Brand</td>
													<td style="max-width:100px; min-width:100px;" hidden> PresentationID</td>
													<td style="max-width:90px; min-width:90px;"> Presentation</td>
													<td style="max-width:100px; min-width:100px;" hidden> SizesID</td>
													<td style="max-width:100px; min-width:100px;"> Sizes</td>
													<td style="max-width:50px; min-width:50px;"> Price</td>
													<td style="max-width:100px; min-width:100px;"> CodePack</td>
													<td style="max-width:100px; min-width:100px;"> File</td>
													<td style="max-width:100px; min-width:100px;" hidden> Principal</td>
													<td style="max-width:100px; min-width:100px;" hidden> Active</td>
													<td style="max-width:150px; min-width:150px;"> Notes</td>
												</tr>
											</thead>
											<tbody>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button id="btnSaveCrop" onclick="javascipt:return false;" class="btn btn-primary btn-sm pull-right" type="button">Save <span class="icon text-white"><i class="fas fa-save"></i></span></button>
				<button id="btnCacncel" type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancel <span class="icon text-white"><i class="fas fa-times"></i></span></button>
			</div>
		</div>
	</div>
</div>

<script src="~/Scripts/View/Maintenance/Client.js"></script>
