﻿@{
    ViewBag.Title = "Codepack";
    Layout = "~/Views/Shared/Master.cshtml";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .modal {
        position: fixed;
        top: 2%;
        left: 20%;
    }

    .padre {
        display: flex;
        justify-content: flex-start;
    }

    .label {
        color: white;
    }

    .hijo {
        padding: 10px;
        margin: 2px;
        background-color: transparent;
    }
</style>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>*@
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel tile ">

            <div class="x_title">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h2>MAINTENANCE CODEPACK</h2>
                </div>

                <div class="clearfix"></div>


            </div>
            @*<div class="x_content">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <b>SEASON</b>
                        <select id="cboSeason" onchange="loadCombosWeek()" class="select2_group form-control"></select>

                    </div>
                </div>*@
            <div class="x_content">
                @*<div class="col-md-4 col-sm-6 col-xs-6">
                    <b>CROPs</b>
                    <select id="cboCrop" name="cboCrop" class="select2_group form-control"></select>
                </div>*@
            </div>
            <div class="x_content">
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <b>VIAs</b>
                    <select id="cboVia" name="cboVia" class="select2_group form-control"></select>
                </div>
                <br />
                <div class="col-md-8 col-sm-6 col-xs-6">
                    <button id="btnNew" class="btn btn-success" style='position: relative; float:right' type="button" data-toggle='modal' data-target='#openModal' data-backdrop='static' data-keyboard='false'>NEW CODEPACK</button>
                </div>
            </div>

            <div class="x_content">
                <div id="listTable" class="table-responsive">

                </div>
            </div>




        </div>
    </div>
</div>



<div id="openModal" class="modal">

    <div class="col-md-8 col-sm-6 col-xs-6">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel  tile fixed_height_50">
                    <div class="padre" id="EditCodePack">
                        <div class='x_content'>
                            <b>NEW REGISTER</b>
                            <br />
                            <div class='padre'>
                                <div style='width: 50%; align-items: center; background-color: aliceblue;'>

                                    <div style='position: relative; width: 90%; align-items: center; float:left'>
                                        <label style='position: relative; width: 35%; float:left'>Description</label>
                                        <input id="description" style='position: relative; width: 65%; float:left;vertical-align:top;' type='text' placeholder='Description' />
                                        <br /><br />
                                    </div>
                                    <div style='position: relative; width: 90%; align-items: center; float:left'>
                                        <label style='position: relative; width: 35%; float:left'>Weight</label>
                                        <input id="weight" style='position: relative; width: 65%; float:left;vertical-align:top;' type="number" step="any" placeholder='Weight' />
                                        <br /><br />
                                    </div>


                                    <div style='position: relative; width: 90%; align-items: center; float:left'>
                                        <label style='position: relative; width: 35%; align-self:center; float:left'>ClamShell Per Box</label>
                                        <input id="clamshellPerBox" style='position: relative; width: 65%; float:left' type="number" placeholder='ClamShellPerBox' />
                                        <br /><br />
                                    </div>
                                    <div style='position: relative; width: 90%; align-items: center; float:left'>
                                        <label style='position: relative; width: 35%; align-self:center; float:left'>Boxes Per Pallet</label>
                                        <input id="boxesPerPallet" style='position: relative; width: 65%; float:left' type="number" placeholder='BoxesPerPallet' />
                                        <br /><br />
                                    </div>
                                    <div style='position:relative; width:90%; align-items:center; float:left'>
                                        <label style='position: relative; width: 35%; align-self:center; float:left'>Layers Per Pallet</label>
                                        <input id="layersPerPallet" style='position: relative; width: 65%; float:left' type='text' placeholder='LayersPerPallet' />
                                        <br /><br />
                                    </div>

                                    <div style='position: relative; width: 90%; align-items: center; float:left' hidden>
                                        <label style='position: relative; width: 35%; align-self:center; float:left'>Crop</label>
                                        <select id="CROP" name="cboCrop" style="width:65%">
                                        </select>
                                        <br /><br />
                                    </div>
                                </div>
                                <div style='width: 50%; align-items: center; background-color: whitesmoke;'>
                                    
                                    <div style='position: relative; width: 90%; align-items: center; float:right'>
                                        <label style='position: relative; width: 40%; align-self:center; float:left'>Clamshell Per Container</label>
                                        <input id="clamshellPerContainer" style='position: relative; width: 60%; float:left' type="number" placeholder='ClamshellPerContainer' />
                                        <br /><br />
                                    </div>
                                    <div style='position: relative; width: 90%; align-items: center; float:right'>
                                        <label style='position: relative; width: 40%; align-self:center; float:left'>Boxes Per Container</label>
                                        <input id="boxPerContainer" style='position: relative; width: 60%; float:left' type="number" placeholder='BoxesPerContainer' />
                                        <br /><br />
                                    </div>
                                    <div style='position: relative; width: 90%; align-items: center; float:right'>
                                        <label style='position: relative; width: 40%; align-self:center; float:left'>Net Weight Container</label>
                                        <input id="netWeightContainer" style='position: relative; width: 60%; float:left' type="number" step="any" placeholder='NetWeightContainer' />
                                        <br /><br />
                                    </div>
                                    <div style='position: relative; width: 90%; align-items: center; float:right'>
                                        <label style='position: relative; width: 40%; float:left'>Via</label>
                                        <select id="viaID" name="cboSeason" style="width:60%;">
                                            <option>SeaFreight</option>
                                            <option>Air</option>
                                        </select>
                                        <br /><br />
                                    </div>
                                    <div style='position: relative; width: 90%; align-items: center; float:right; display:normal;'>
                                        <label style='position: relative; width: 40%; align-self:center; float:left'>Status</label>
                                        <select id="statusID" name="cboSeason" style="width:60%">
                                            <option value="1">Enable</option>
                                            <option value="0">Disable</option>
                                        </select>
                                        <br /><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="padre">

                        </div>
                    </div>
                    <div class="padre" style="background-color:whitesmoke">
                        <div style='position: relative; width: 50%; align-items: center; float:left'>
                            <button id="btnSaveModal" type="button" class="btn btn-success" style="float:left">SAVE</button>
                            @*<button id="btnCalcModal" type="button" class="btn btn-success" style="float:right" data-toggle='modal' data-target='#openModal1' data-backdrop='static' data-keyboard='false'>CALCULATION</button>*@
                            @*<button class="btn btn-danger alignright" data-dismiss="modal" type="button">CLOSE</button>*@
                        </div>
                        <div style='position: relative; align-items:center; width: 50%;float:right'>
                            <button class="btn btn-danger alignright" data-dismiss="modal" type="button">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<div id="createCodePack" class="modal">

    <div class="col-md-8 col-sm-6 col-xs-6">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel  tile fixed_height_50">
                    <div class="padre" id="CreateCodePack">

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

<script src="~/Scripts/View/Maintenance/Codepack.js"></script>
