﻿@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/Master.cshtml";
}


<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
    .modal {
        position: fixed;
        top: 2%;
        left: 20%;
    }

    .padre {
        display: flex;
        justify-content: flex-start;
    }

    .label {
        color: white;
    }

    .hijo {
        padding: 10px;
        margin: 2px;
        background-color: transparent;
    }
</style>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>*@
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel tile ">

            <div class="x_title">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h2>MAINTENANCE CUSTOMER</h2>
                </div>

                <div class="clearfix"></div>


            </div>

            <div class="x_content">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div><b>Search</b></div>
                    <div class="padre" style='position: relative; width: 100%; '>
                        <input id="searchName" style='position: relative; width: 80%; float:left;vertical-align:top;' type='text' placeholder='Search Name' />
                        <button id="btnSearch" class="btn btn-success" style='width:20%; relative; float:right' type="button">SEARCH</button>

                    </div>
                </div>
                <div class="col-md-12 col-sm-6 col-xs-6">
                    <button id="btnNew" class="btn btn-success" style='position: relative; float:right' type="button" data-toggle='modal' data-target='#openModal' data-backdrop='static' data-keyboard='false'>NEW CUSTOMER</button>
                </div>
            </div>


            <div class="x_content">
                <div id="listTable" class="table-responsive">

                </div>
            </div>




        </div>
    </div>
</div>

<div id="openModal" class="modal">

    <div class="col-md-8 col-sm-6 col-xs-6">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel  tile fixed_height_50">
                    <div class="padre" id="EditCodePack">
                        <div class='x_content'>
                            <b>EDIT CUSTOMER</b>
                            <br />
                            <div class='padre'>
                                <div style='width: 50%; align-items: center; background-color: aliceblue;'>

                                    <div style='position: relative; width: 90%; align-items: center; float:right'>
                                        <label style='position: relative; width: 30%; float:left'>Bussines Name</label>
                                        <br />
                                        <input id="NameBussines" style='position: relative; width: 100%; float:left;vertical-align:top;' type='text' placeholder='' />
                                        <br /><br />
                                    </div>
                                    <div style='position: relative; width: 90%; align-items: center; float:right'>
                                        <label style='position: relative; width: 30%; align-self:center; float:left'>Abbreviation</label>
                                        <br />
                                        <input id="Abbreviation" style='position: relative; width: 100%; float:left' type='text' placeholder='' />
                                        <br /><br />
                                    </div>
                                    <div style='position: relative; width: 90%; align-items: center; float:right'>
                                        <label style='position: relative; width: 30%; float:left'>Address</label>
                                        <br />
                                        <input id="Address" style='position: relative; width: 100%; float:left;vertical-align:top;' type='text' placeholder='' />
                                        <br /><br />
                                    </div>
                                    <div style='position: relative; width: 90%; align-items: center; float:right'>
                                        <label style='position: relative; width: 30%; align-self:center; float:left'>Telephone</label>
                                        <br />
                                        <input id="Telephone" style='position: relative; width: 100%; float:left' type='text' placeholder='' />
                                        <br /><br />
                                    </div>
                                    @*<div style='position: relative; width: 90%; align-items: center; float:right; background-color:whitesmoke'>
                                            <label style='position: relative; width: 80%; align-self:center; float:left'>ASSIGN DESTINATION</label>
                                            <br />
                                            <div class="padre" style='position: relative; width: 100%; align-self:center; float:left'>
                                                <select id="cboDest" name="cboDest" class="select2_group form-control">
                                                </select>
                                                <button id="btnAddDest" class="btn btn-success" style='position: relative; float:right' type="button">Add</button>

                                            </div>
                                        </div>*@
                                </div>
                                <div style='width: 50%; align-items: center; background-color: aliceblue;'>
                                    <div style='position: relative; width: 90%; align-items: center; float:right'>
                                        <label style='position: relative; width: 30%; align-self:center; float:left'>Origin</label>

                                        <select id="cbOrigin" class="select2_group form-control"></select>
                                        @*<br /><br />*@
                                    </div>

                                    <div style='position: relative; width: 90%; align-items: center; float:right'>
                                        <label style='position: relative; width: 30%; float:left'>Contact</label>
                                        <br />
                                        <input id="Contact" style='position: relative; width: 100%; float:left;vertical-align:top;' type='text' placeholder='e.g. ' />
                                        <br /><br />
                                    </div>
                                    <div style='position: relative; width: 90%; align-items: center; float:right'>
                                        <label style='position: relative; width: 30%; align-self:center; float:left'>Email</label>
                                        <br />
                                        <input id="Email" style='position: relative; width: 100%; float:left' type='text' placeholder='e.g. example@migiva.com' />
                                        <br /><br />
                                    </div>
                                </div>
                                <br />
                            </div><br />
                            @*<div class="padre">*@
                            <div style='width: 100%; align-items: center; background-color: aliceblue;'>
                                <div style='position: relative; width: 100%; align-items: center; float:left; background-color:whitesmoke'>
                                    <div>
                                        <label style='position: relative; width: 50%; align-self:center; float:left'>ASSIGN DESTINATION</label>
                                    </div><br />
                                    <div class="padre" style='position: relative; width: 60%;  '>
                                        <select id="cboDest" name="cboDest" class="select2_group form-control">
                                        </select>
                                        <button id="btnAddDest" class="btn btn-success" style='position: relative; float:left' type="button">Add</button>

                                    </div>
                                </div>
                            </div>
                            @*</div>*@
                        </div>

                    </div>
                    <div id="tblDestination" class="padre">

                    </div>
                    <div class="padre" style="background-color:whitesmoke">
                        <div style='position: relative; width: 50%; align-items: center; float:left'>
                            <button id="btnSaveModal" type="button" class="btn btn-success" style="float:left">SAVE</button>
                        </div>
                        <div style='position: relative; align-items:center; width: 50%;float:right'>
                            <button class="btn btn-danger alignright" data-dismiss="modal" type="button">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<script src="~/Scripts/View/Maintenance/Customer.js"></script>