﻿@{
    ViewBag.Title = "Destination";
    Layout = "~/Views/Shared/Master.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

    </div>
</body>
</html>
