﻿@{
    ViewBag.Title = "Market";
    Layout = "~/Views/Shared/Master.cshtml";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .modal {
        position: fixed;
        top: 2%;
        left: 20%;
    }

    .padre {
        display: flex;
        justify-content: flex-start;
    }

    .label {
        color: white;
    }

    .hijo {
        padding: 10px;
        margin: 2px;
        background-color: transparent;
    }
</style>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>*@
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel tile ">

            <div class="x_title">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h2>MAINTENANCE MARKET</h2>
                </div>

                <div class="clearfix"></div>


            </div>

            <div class="x_content">
                <div class="col-md-4 col-sm-6 col-xs-6">
                    @*<b>Order By</b>
                    <select id="cboCrop" name="cboReg" class="select2_group form-control">
                        <option>Name</option>
                        <option>Abbreviation</option>
                        <option>Percentage</option>
                        <option>Status</option>
                    </select>*@
                </div>
            </div>


            <div class="x_content">
                <div id="listTable" class="table-responsive">

                </div>
            </div>




        </div>
    </div>
</div>

<div id="openModal" class="modal">

    <div class="col-md-8 col-sm-6 col-xs-6">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel  tile fixed_height_50">
                    <div class="padre" id="EditCodePack">
                        <div class='x_content'>
                            <b>EDIT MARKET</b>
                            <br />
                            <div class='padre'>
                                <div style='width: 90%; align-items: center; background-color: aliceblue;'>

                                    <div style='position: relative; width: 99%; align-items: center; float:right'>
                                        <input id="marketID" type="hidden"/>
                                        <label style='position: relative; width: 30%; float:left'>Name</label>
                                        <input id="NameMarket" style='position: relative; width: 70%; float:left;vertical-align:top;' type='text' placeholder='e.g. Europe' />
                                        <br /><br />
                                    </div>
                                    <div style='position: relative; width: 99%; align-items: center; float:right'>
                                        <label style='position: relative; width: 30%; float:left'>Abbreviation</label>
                                        <input id="Abbreviation" style='position: relative; width: 70%; float:left;vertical-align:top;' type='text' placeholder='e.g. EU' disabled/>
                                        <br /><br />
                                    </div>
                                    <div style='position: relative; width: 99%; align-items: center; float:right'>
                                        <label style='position: relative; width: 30%; align-self:center; float:left'>Status</label>
                                        <select id="MstatusID" style="width:50%">
                                            <option value="1">Enabled</option>
                                            <option value="0">Disabled</option>
                                        </select>
                                        <br /><br />
                                    </div>
                                    <div style='position: relative; width: 99%; align-items: center; float:right'>
                                        <label style='position: relative; width: 30%; align-self:center; float:left'>Active CodePacks</label>
                                        <div id="CodePackList">
                                            <div class='padre'>
                                                <div style='width: 34%; align-items: center; background-color: aliceblue;'>
                                                    <label>Seafreight</label>
                                                    <br />
                                                    <div id="sea">

                                                    </div>
                                                </div>
                                                <div style='width: 33%; align-items: center; background-color: whitesmoke;'>
                                                    <label >Air</label>
                                                    <br />
                                                    <div id="air">

                                                    </div>
                                                </div>
                                                <div style='width: 33%; align-items: center; background-color: aliceblue;'>
                                                    <label>Land</label>
                                                    <br />
                                                    <div id="land">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br /><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="padre">

                        </div>*@
                    </div>
                    <div class="padre" style="background-color:whitesmoke">
                        <div style='position: relative; width: 50%; align-items: center; float:left'>
                            <button id="btnSaveModal" type="button" class="btn btn-success" style="float:left">SAVE</button>
                        </div>
                        <div style='position: relative; align-items:center; width: 50%;float:right'>
                            <button class="btn btn-danger alignright" data-dismiss="modal" type="button">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<div id="createCodePack" class="modal">

    <div class="col-md-8 col-sm-6 col-xs-6">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel  tile fixed_height_50">
                    <div class="padre" id="CreateCodePack">

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

<script src="~/Scripts/View/Maintenance/Market.js"></script>