﻿
@{
    ViewBag.Title = "UnauthorizedOperation";
    Layout = "~/Views/Shared/Master.cshtml";
}
<style>
    .BlockBackground {
        background-color: #000;
        opacity: 0.5;
    }
</style>
<script type="text/javascript">
    $(function () {
        $('#wrapper').addClass('BlockBackground');
        $('#divWrongPage').center();
        sweet_alert_error('Inconvenient', 'In a few seconds you will be redirected to the login page');
        setTimeout(Redirigir, 5000);
    })

    $.fn.center = function () {
        this.css("position", "absolute");
        this.css("top", ($(window).height() - this.height()) / 2 + "px");
        this.css("left", ($(window).width() - this.width()) / 2 + "px");
    }

    function Redirigir() {
        window.location.replace('/Login');
        $('#wrapper').addClass('BlockBackground');
    }


</script>
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container">
        <div id="divWrongPage" style="color: white;">
            <h1>
                A system problem has occurred.
            </h1>
        </div>
    </div>
</section>
<!-- Main content -->
@*<section class="content">
        <div class="error-page">
            <h2 class="headline text-red">Error</h2>
            <div class="error-content">
                <h3><i class="fa fa-warning text-red"></i>Sin autorización</h3>
                @if (ViewBag.operacion != "")
                {
                    <p>Operación @ViewBag.operacion </p>
                }
                @if (ViewBag.modulo != "")
                {
                    <p>Modulo @ViewBag.modulo</p>
                }
                @if (ViewBag.msjeErrorExcepcion != "")
                {
                    <p>@ViewBag.msjeErrorExcepcion</p>
                }
            </div>
        </div>
    </section>*@

