﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Aqui voy a listar todas las PO por ingresar liquidaciones</h2>

<script src="~/Scripts/View/Invoice/Index.js"></script>