﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-white">PO / Packing List</h1>
    </div>
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card shadow mb-4">
                <div class="card-header py-2">
                    <div class="form-group row">
                        <div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">
                            <h6 class="m-0 font-weight-bold bgcolor='#13213d'">LIST OF RECORDS</h6>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive" id="divList">
                        <table id="tableList" class="table table-bordered table-hover table-striped">
                            <thead style="background-color : #13213d">
															<tr>
																<td class="text-white" style="display:none">Order Production ID</td>
																<td class="text-white" style="display:none">PackingListID ID</td>
																<td class="text-white" style="display:none">Via ID</td>
																<td class="text-white">Order Production</td>
																<td class="text-white">PackingList</td>
																<td class="text-white">Grower</td>
																<td class="text-white">Customer</td>
																<td class="text-white">Destination Port</td>
																<td class="text-white">Total Boxes</td>
																<td class="text-white">ETD</td>
																<td class="text-white">[Edit]</td>

															</tr>
                            </thead>
                            <tbody>
                            </tbody>


                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<br />





<div id="myModal" class="modal " tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">

	<div class="modal-content">
	
			<div class="col-md-12 col-sm-12 col-xs-12">

				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="card shadow mb-4">
							<div class="card-header text-white" style="background-color: #13213d">
								<h6 class="m-0 font-weight-bold bgcolor='#1c0b2a'">
									<label>Packing List</label>
								</h6>
								<button type="button" class="close " data-dismiss="modal">&times;</button>
							</div>
							<div class="card-body">

								@*<div id="TableCabecera"  >

									class="was-validated" novalidate=""

		</div>*@	<form id="Formulario">
									<div class="card p-3" style="background-color: #DCE8FF">
										<div class="form-group row">
											<div class="col-1">
												<label for="txtPackingList" style="font-size: 13px"><strong>Packing List</strong></label>
											</div>
											<div class="col-8">
												<input id="txtPackingList" style="font-size: 20px; text-align: center;  font-weight: bold;" class='PackingList form-control form-control-sm' type="text" required />
												<input id="txtPackingListID" style="font-size: 20px; text-align: center;  font-weight: bold;display:none" class='PackingList form-control form-control-sm' type="text" />
												<div class="invalid-feedback">
													Required field.
												</div>
											</div>
											<div class="col-1">
												<label for="txtOrderProduction" style="font-size: 13px"><strong>Production Order</strong></label>
											</div>
											<div class="col-2">
												<input id="txtOrderProduction" style="font-size: 20px; text-align: center;  font-weight: bold;" class='form-control form-control-sm' type="text" disabled/>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-1">
												<label for="txtExported" style="font-size: 13px"><strong>Exported</strong></label>
											</div>
											<div class="col-2">
												<input id="txtExported" style="font-size: 13px" class='Exported form-control form-control-sm' type="text" required />
												<div class="invalid-feedback">
													Required field.
												</div>
											</div>
											<div class="col-1">
												<label for="txtCustomer" style="font-size: 13px"><strong>Customer</strong></label>
											</div>
											<div class="col-2">
												<input id="txtCustomer" style="font-size: 13px" class="form-control form-control-sm Customer" required>
												<div class="invalid-feedback">
													Required field.
												</div>
											</div>
											<div class="col-1">
												<label for="txtGrower" style="font-size: 13px"><strong>Grower</strong></label>
											</div>
											<div class="col-2">
												<input id="txtGrower" style="font-size: 13px" type="text" class="form-control form-control-sm Grower" />
												<input id="txtGrowerID" style="font-size: 13px;display:none" type="text" class="form-control form-control-sm Grower" />
												<div class="invalid-feedback">
													Required field.
												</div>
											</div>
											<div class="col-1">
												<label for="txtTotalCases" style="font-size: 13px"><strong>Total Cases</strong></label>
											</div>
											<div class="col-1">
												<input id='TotalCabecera' style="font-size: 13px" value='" + dataHeader[i][' totalBoxes']+"' class='form-control form-control-sm' min='0' pattern='[0 - 9]{ 10 }' onkeypress='return event.charCode >= 48 && event.charCode <= 57' type='number' />
												<div class="invalid-feedback">
													Required field.
												</div>
											</div>
										</div>
										<div class="form-group row">

											<div class="col-1">
												<label for="txtInvoiceNo" style="font-size: 13px"><strong>Invoice No</strong></label>
											</div>
											<div class="col-2">
												<input id="txtInvoiceNo" style="font-size: 13px" class='Invoice form-control form-control-sm' type="text" required />
												<div class="invalid-feedback">
													Required field.
												</div>
											</div>
											<div class="col-1">
												<label for="txtPackingLoadingDate" style="font-size: 13px" data-toggle="tooltip" data-placement="top" title="Packing Loading Date"><strong>Packing Date</strong></label>
											</div>
											<div class="col-2">

												<div class='input-group date' data-provide='datepicker'>
													<input type='text' value='' class='form-control form-control-sm' id='FechaPLD' data-date-format='dd/mm/yyyy' required>
													<div class='input-group-addon input-group-sm'>
														<span class='form-control input-group-text input-group-sm form-control-sm'>
															<i class='fa fa-calendar-o fa-sm'></i>
														</span>
													</div>
												</div>
												<div class="invalid-feedback">
													Required field.
												</div>

											</div>
											<div class="col-1">
												<label for="txtGuideNo" style="font-size: 13px"><strong>Guide No</strong></label>
											</div>
											<div class="col-2">
												<input id="txtGuideNo" style="font-size: 13px" type="text" class="form-control form-control-sm Guide" required />
												<div class="invalid-feedback">
													Required field.
												</div>
											</div>
											<div class="col-1">
												<label for="txtVessel" style="font-size: 13px"><strong>Vessel</strong></label>
											</div>
											<div class="col-2">
												<input id="txtVessel" style="font-size: 13px" class='Vessel form-control form-control-sm' type="text" required />
												<div class="invalid-feedback">
													Required field.
												</div>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-1">
												<label for="txtSenasaSealNo" style="font-size: 13px"><strong>Senasa Seal No</strong></label>
											</div>
											<div class="col-2">
												<input id="txtSenasaSealNo" style="font-size: 13px" class='SenasaSeal form-control form-control-sm' type="text"  />
												<div class="invalid-feedback">
													Required field.
												</div>
											</div>
											<div class="col-1">
												<label for="txtContainerNo" style="font-size: 13px"><strong>Container No</strong></label>
											</div>
											<div class="col-2">
												<input id="txtContainerNo" style="font-size: 13px" class='Container form-control form-control-sm' type="text" required />
												<div class="invalid-feedback">
													Required field.
												</div>
											</div>
											<div class="col-1">
												<label for="txtCustomSealNo" style="font-size: 13px" data-toggle="tooltip" data-placement="top" title="Custom Seal No"><strong>Custom Seal</strong></label>
											</div>
											<div class="col-2">
												<input id="txtCustomSealNo" style="font-size: 13px" class="form-control form-control-sm Custom" >
												<div class="invalid-feedback">
													Required field.
												</div>
											</div>
											<div class="col-1">
												<label for="txtShippingSealNo" style="font-size: 13px" data-toggle="tooltip" data-placement="top" title="Shipping Seal No"><strong>Shipping Seal</strong></label>
											</div>
											<div class="col-2">
												<input id="txtShippingSealNo" style="font-size: 13px" type="text" class="form-control form-control-sm Shipping" />
												<div class="invalid-feedback">
													Required field.
												</div>
											</div>

										</div>
										<div class="form-group row">
											<div class="col-1">
												<label for="txtThermogregistersNo" style="font-size: 13px" data-toggle="tooltip" data-placement="top" title="Thermogregisters No"><strong>Thermogregisters</strong></label>
											</div>
											<div class="col-2">
												<input id="txtThermogregistersNo" style="font-size: 13px" class="form-control form-control-sm Thermogregisters" >
												<div class="invalid-feedback">
													Required field.
												</div>
											</div>
											<div class="col-1">
												<label for="txtOriginPort" style="font-size: 13px"><strong>Origin Port</strong></label>
											</div>
											<div class="col-2">
												<input id="txtOriginPort" style="font-size: 13px" class='Origin form-control form-control-sm' type="text" required />
												<div class="invalid-feedback">
													Required field.
												</div>
											</div>
											<div class="col-1">
												<label for="txtThermogregistersLocation" style="font-size: 13px" data-toggle="tooltip" data-placement="top" title="Thermogregisters Location"><strong>Therm. Loc.</strong></label>
											</div>
											<div class="col-2">
												<input id="txtThermogregistersLocation" style="font-size: 13px" class="form-control form-control-sm ThermogregistersLocation" >
												<div class="invalid-feedback">
													Required field.
												</div>
											</div>
											<div class="col-1">
												<label for="txtDestinationPort" style="font-size: 13px" data-toggle="tooltip" data-placement="top" title="Destination Port"><strong>Destination P.</strong></label>
											</div>
											<div class="col-2">
												<input id="txtDestinationPort" style="font-size: 13px" type="text" class="form-control form-control-sm Destination" />
												<div class="invalid-feedback">
													Required field.
												</div>
											</div>

										</div>
										<div class="form-group row">
											<div class="col-1">
												<label for="txtSensors" style="font-size: 13px"><strong>Sensors</strong></label>
											</div>
											<div class="col-2">
												<input id="txtSensors" style="font-size: 13px" class="form-control form-control-sm Sensors" >
												<div class="invalid-feedback">
													Required field.
												</div>
											</div>
											<div class="col-1">
												<label for="txtETA" style="font-size: 13px"><strong>ETA (Arribo)</strong></label>
											</div>
											<div class="col-2">
												<div class='input-group date' data-provide='datepicker'>
													<input type='text' value='' class='form-control form-control-sm' id='FechaETA' data-date-format='dd/mm/yyyy' required>
													<div class='input-group-addon input-group-sm'>
														<span class='form-control input-group-text input-group-sm form-control-sm'>
															<i class='fa fa-calendar-o fa-sm'></i>
														</span>
													</div>
												</div>
												<div class="invalid-feedback">
													Required field.
												</div>
											</div>
											<div class="col-1">
												<label for="txtSensorsLocation" style="font-size: 13px" data-toggle="tooltip" data-placement="top" title="Sensors Location"><strong>Sensors L.</strong></label>
											</div>
											<div class="col-2">
												<input id="txtSensorsLocation" style="font-size: 13px" class="form-control form-control-sm SensorsLocation" >
												<div class="invalid-feedback">
													Required field.
												</div>
											</div>
											<div class="col-1">
												<label for="txtETD" style="font-size: 13px"><strong>ETD (Zarpe).</strong></label>
											</div>
											<div class="col-2">
												<div class='input-group date' data-provide='datepicker'>
													<input type='text' value='' class='form-control form-control-sm' id='FechaETD' data-date-format='dd/mm/yyyy' required>
													<div class='input-group-addon input-group-sm'>
														<span class='form-control input-group-text input-group-sm form-control-sm'>
															<i class='fa fa-calendar-o fa-sm'></i>
														</span>
													</div>
													<div class="invalid-feedback">
														Required field.
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
								<hr />

								<div class="card p-3" style="background-color: #DCE8FF">
									<div class="form-group row">
										<div class="col-1">
											<label style="font-size: 13px" for="txtPallet"><strong>No Pallet</strong></label>
										</div>
										<div class="col-1">
											<input id="txtPallet" type="text" class="form-control form-control-sm" />
										</div>
										<div class="col-1">
											<label style="font-size: 13px" for="selectCode"><strong>Farm</strong></label>
										</div>
										<div class="col-2">
											<select id="selectFarm" class="form-control form-control-sm selectpicker" data-live-search="true" required>
											</select>
										</div>
										<div class="col-1">
											<label for="selectVariety" style="font-size: 13px"><strong>Variety</strong></label>
										</div>
										<div class="col-1">
											<select id="selectVariety" class="form-control form-control-sm selectpicker" data-live-search="true" required>
											</select>
										</div>
										<div class="col-1">
											<label for="selectCode" style="font-size: 13px"><strong>Code Pack</strong></label>
										</div>
										<div class="col-1">
											<select id="selectCode" class="form-control form-control-sm selectpicker" data-live-search="true" required>
											</select>
										</div>
										<div class="col-1">
											<label for="selectLabel"><strong>Label</strong></label>
										</div>
										<div class="col-1">
											<select id="selectLabel" class="form-control form-control-sm selectpicker" data-live-search="true" required>
											</select>
										</div>
										<div class="col-1">
											<button id="btnAdd" type="button" class="btn btn-primary btn-sm btn-block text-white pull-right">Add  <span class="icon text-white"><i class="fas fa-plus-circle fa-sm"></i></span></button>
										</div>
									</div>
								
								</div>
								
								
									<hr />
									<div class="card p-1" style="background-color: #DCE8FF">
										<div class="card shadow mb-4">
											<div id="tblPL" class="table-responsive">


											</div>

										</div>
										<hr />
										<div class="card shadow mb-4">
											<div class="form-group row">

												<div class="col-6">
													<div class="card p-1">
														<h6 style="text-align:center " class="text-gray-800">Summary of Container</h6>
														<hr />

														<div class="table-responsive">
															<table id="tblSummary" class="table table-hover table-bordered table-striped">
																<thead style="background-color: #13213d">
																	<tr>
																		<td style="font-size: 13px" class="text-white">CAT </td>
																		<td style="font-size: 13px" class="text-white">VARIETY</td>
																		<td style="font-size: 13px" class="text-white">PACKING</td>
																		<td style="font-size: 13px" class="text-white">SIZE</td>
																		<td style="font-size: 13px" class="text-white">TOTAL BOXES</td>
																		<td style='display:none'><strong>CODE</strong></td>
																	</tr>
																</thead>
																<tbody>
																</tbody>
															</table>
														</div>
													</div>
												</div>

												<div class="col-6">
													<div class="card p-1">
														<h6 style="text-align:center " class=" text-gray-800">Pallets Distribution</h6>
														<hr />
														<div class="table-responsive">
															<table id="tblPallets" class="table table-hover table-bordered table-striped">
																<thead class="thead-agrocom" style="background-color: #13213d">
																	<tr>
																		<td style="text-align:center ;font-size:13px;" colspan="3" class="text-white">PALLETS DISTRIBUTION</td>
																	</tr>
																</thead>
																<tbody>
																</tbody>
																<tfoot>
																	<tr style="font-size: 13px">
																		<td>
																		</td>
																		<td class="paleta">
																		</td>
																		<td>
																		</td>
																	</tr>
																</tfoot>
															</table>
														</div>
													</div>
												</div>
											</div>


										</div>


									</div>

									<div class="modal-footer">
										<table style="width: 95%; margin: auto">
											<tr>
												<td style="width: 100%"></td>
												<td style="width: 10%">
													<button type="button" class="btn btn-success" id="btnConfirm">Save <span class="icon text-white"><i class="fas fa-check-circle"></i></span></button>
												</td>
												@*<td style="width: 10%">
													<button id="btnCancel" type="button" class="btn btn-danger" data-toggle="modal" data-target="#staticBackdrop">
														Cancel
														<span class="icon text-white"><i class="fas fa-times"></i></span>
													</button>
												</td>*@


											</tr>
										</table>
									</div>


								</div>

							</div>
					</div>
				</div>
			</div>
	
	</div>


</div>
  </div>
</div>

@*<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Enter reason</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnDeclinePO">Confirm decline</button>
            </div>
        </div>
    </div>
</div>*@
<script>
	$("#btnConfirm").click(function (event) {
		var form = $("#Formulario")
		validar();
		if (form[0].checkValidity() === false) {
			event.preventDefault()
			event.stopPropagation()

		}
		form.addClass('was-validated')

	})

</script>
<script src="~/Scripts/View/PackingList/PackingList.js"></script>
<script src="~/Scripts/View/PO/pdf.js"></script>
