﻿
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/Master.cshtml";
}
<style>
	.table-cebra {
		border: #ccc 1px solid;
		border-spacing: 0;
	}

		.table-cebra thead th {
			background: #13213d;
			color: white;
		}

		.table-cebra th,
		.table-cebra td {
			border-right: 1px solid #ccc;
			min-width: 100px;
			padding: 0.5rem;
			text-align: left;
			font-size: 13px;
		}

			.table-cebra th:last-child,
			.table-cebra td:last-child {
				border-right: 1px;
			}

		.table-cebra td {
			/*            border: 1px solid #ccc;*/
			border-bottom: 1px solid #ccc;
		}

		.table-cebra tbody tr {
			background: white;
		}

			.table-cebra tbody tr:nth-child(2n) {
				background: #f2f2f2
			}

	.table-container {
		max-width: 100%;
		overflow-x: scroll;
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
	}

	.table-cebra .sticky {
		position: sticky;
		left: 0;
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
		border-style: hidden;
	}

	.table-cebra .sticky2 {
		position: sticky;
		left: 120px;
		border-style: hidden;
	}

	.table-cebra .sticky3 {
		position: sticky;
		left: 200px;
		border-style: hidden;
	}

	.table-cebra .sticky4 {
		position: sticky;
		left: 300px;
		border-style: hidden;
	}

	.table-cebra .sticky5 {
		position: sticky;
		left: 350px;
		border-style: hidden;
	}

	.table-cebra .sticky6 {
		position: sticky;
		left: 500px;
		border-style: hidden;
	}

    .table-cebra .sticky7 {
        position: sticky;
        left: 550px;
		border-style: hidden;
    }

    .table-cebra .hidden {
        display: none;
    }

	.table-cebra thead th .sticky {
		background: #13213d;
		color: white;
		max-width: 600px;
    min-width: 628px;
	}

    .table-cebra tbody tr .sticky {
        background: white;
    }

	.table-cebra tbody tr:nth-child(2n) .sticky {
		background: #f2f2f2;
	}


	.table-cebra thead th .sticky2 {
		background: #13213d;
		color: white;
	}

	.table-cebra tbody tr .sticky2 {
		background: white;
	}

	.table-cebra tbody tr:nth-child(2n) .sticky2 {
		background: #f2f2f2
	}


	.table-cebra thead th .sticky3 {
		background: #13213d;
		color: white;
	}

	.table-cebra tbody tr .sticky3 {
		background: white;
	}

	.table-cebra tbody tr:nth-child(2n) .sticky3 {
		background: #f2f2f2
	}


	.table-cebra thead th .sticky4 {
		background: #13213d;
		color: white;
	}

	.table-cebra tbody tr .sticky4 {
		background: white;
	}

	.table-cebra tbody tr:nth-child(2n) .sticky4 {
		background: #f2f2f2
	}

	.table-cebra thead th .sticky5 {
		background: #13213d;
		color: white;
	}

	.table-cebra tbody tr .sticky5 {
		background: white;
	}

	.table-cebra tbody tr:nth-child(2n) .sticky5 {
		background: #f2f2f2
	}

	.table-cebra thead th .sticky6 {
		background: #13213d;
		color: white;
	}

	.table-cebra tbody tr .sticky6 {
		background: white;
	}

	.table-cebra tbody tr:nth-child(2n) .sticky6 {
		background: #f2f2f2
	}

	.table-cebra thead th .sticky7 {
		background: #13213d;
		color: white;
	}

	.table-cebra tbody tr .sticky7 {
		background: white;
	}

	.table-cebra tbody tr:nth-child(2n) .sticky7 {
		background: #f2f2f2
	}

	.table-cebra thead th .sticky8 {
		background: #13213d;
		color: white;
	}

	.table-cebra tbody tr .sticky8 {
		background: white;
	}

	.table-cebra tbody tr:nth-child(2n) .sticky8 {
		background: #f2f2f2
	}


	.table-cebra .sticky-row {
		position: sticky;
		/*			position: -webkit-sticky;*/
		left: 0px;
		top: 23px;
		background: #000;
		color: white;
		padding: 4px;
		/*			z-index: 3;*/
	}


	#contextMenu {
		position: absolute;
		display: none;
	}
</style>
<div class="container-fluid">
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-white">PO / Quality</h1>
	</div>
	<div class="row">

		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="card shadow mb-4">
				<div class="card-header py-2">
					<div class="form-group row">
						<div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">
							<h6 class="m-0 font-weight-bold bgcolor='#13213d'">LIST OF RECORDS</h6>
						</div>

					</div>
				</div>
				<div class="card-body">
					<div class="table-responsive" id="divList">
						<table id="tableList" class="table table-bordered table-hover table-striped">
							<thead style="background-color : #13213d">
								<tr>
									<td class="text-white" style="display:none">Order Production ID</td>
									<td class="text-white" style="display:none">PackingListID ID</td>
									<td class="text-white">Order Production</td>
									<td class="text-white">PackingList</td>
									<td class="text-white">Grower</td>
									<td class="text-white">Customer</td>
									<td class="text-white">Total Boxes</td>
									<td class="text-white">Via</td>
									<td class="text-white">Destination Port</td>

									<td class="text-white">With PL</td>
									<td class="text-white">Week ETD</td>
									<td class="text-white">ETD</td>


									<td class="text-white">QC Origin</td>
									<td class="text-white">QC Destination</td>
									<td class="text-white">QC Customer</td>
									<td class="text-white">[Edit]</td>

								</tr>
							</thead>
							<tbody>
							</tbody>


						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<br />





<div id="myModal" class="modal " tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">

	<div class="modal-content">

		<div class="col-md-12 col-sm-12 col-xs-12">

			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="card shadow mb-4">
						<div class="card-header text-white" style="background-color: #13213d">
							<h6 class="m-0 font-weight-bold bgcolor='#1c0b2a'">
								<label>Packing List</label>
							</h6>
							<button type="button" class="close " data-dismiss="modal">&times;</button>
						</div>
						<div class="card-body">

							@*<div id="TableCabecera"  >

															class="was-validated" novalidate=""

								</div>*@	<form id="Formulario">
								<div class="card p-3" style="background-color: #DCE8FF">
									<div class="form-group row">
										<div class="col-1">
											<label for="txtPackingList" style="font-size: 13px"><strong>Packing List</strong></label>
										</div>
										<div class="col-6">
											<input id="txtPackingList" style="font-size: 20px; text-align: center;  font-weight: bold;" class='PackingList form-control form-control-sm' type="text" readonly />
											<div class="invalid-feedback">
												Required field.
											</div>
											<input id="txtPackingListID" style="font-size: 20px; text-align: center;  font-weight: bold;display:none" class='PackingList form-control form-control-sm' type="text" />
										</div>
										<div class="col-1"></div>
										<div class="col-1">
											<label for="txtOrderProduction" style="font-size: 13px"><strong>Production Order</strong></label>
										</div>
										<div class="col-2">
											<input id="txtOrderProduction" style="font-size: 20px; text-align: center;  font-weight: bold;" class='form-control form-control-sm' type="text" disabled />
										</div>
									</div>
									<div class="form-group row">
										<div class="col-1">
											<label for="txtCustomer" style="font-size: 13px"><strong>Customer</strong></label>
										</div>
										<div class="col-2">
											<input id="txtCustomer" style="font-size: 13px" class="form-control form-control-sm Customer" readonly>
											<div class="invalid-feedback">
												Required field.
											</div>
										</div>
										<div class="col-1"></div>
										<div class="col-1">
											<label for="txtGrower" style="font-size: 13px"><strong>Grower</strong></label>
										</div>
										<div class="col-2">
											<input id="txtGrower" style="font-size: 13px" type="text" class="form-control form-control-sm Grower" readonly />
											<div class="invalid-feedback">
												Required field.
											</div>
										</div>
										<div class="col-1"></div>
										<div class="col-1">
											<label for="TotalCabecera" style="font-size: 13px"><strong>Total Boxes</strong></label>
										</div>
										<div class="col-2">
											<input id='TotalCabecera' style="font-size: 13px" type='text' class="form-control form-control-sm TotalCabecera" readonly />

										</div>
									</div>
									<div class="form-group row">

										<div class="col-1">
											<label for="txtVessel" style="font-size: 13px"><strong>Vessel</strong></label>
										</div>
										<div class="col-2">
											<input id="txtVessel" style="font-size: 13px" class='Vessel form-control form-control-sm' type="text" readonly />
										</div>
										<div class="col-1"></div>
										<div class="col-1">
											<label for="txtContainerNo" style="font-size: 13px"><strong>Container No</strong></label>
										</div>
										<div class="col-2">
											<input id="txtContainerNo" style="font-size: 13px" class='Container form-control form-control-sm' type="text" readonly />
										</div>
										<div class="col-1"></div>
										<div class="col-1">
											<label for="txtVia" style="font-size: 13px"><strong>Via</strong></label>
										</div>
										<div class="col-2">
											<input id="txtVia" style="font-size: 13px" class='Container form-control form-control-sm' type="text" readonly />
										</div>

									</div>

									<div class="form-group row">
										<div class="col-1">
											<label for="txtPackingLoadingDate" style="font-size: 13px" data-toggle="tooltip" data-placement="top" title="Packing Loading Date"><strong>Packing Date</strong></label>
										</div>
										<div class="col-2">

											<div class='input-group date' data-provide='datepicker'>
												<input type='text' value='' class='form-control form-control-sm' id='FechaPLD' data-date-format='dd/mm/yyyy' disabled>
												<div class='input-group-addon input-group-sm'>
													<span class='form-control input-group-text input-group-sm form-control-sm'>
														<i class='fa fa-calendar-o fa-sm'></i>
													</span>
												</div>
											</div>
											<div class="invalid-feedback">
												Required field.
											</div>

										</div>
										<div class="col-1"></div>
										<div class="col-1">
											<label for="txtETA" style="font-size: 13px"><strong>ETA (Arribo)</strong></label>
										</div>
										<div class="col-2">
											<div class='input-group date' data-provide='datepicker'>
												<input type='text' value='' class='form-control form-control-sm' id='FechaETA' data-date-format='dd/mm/yyyy' disabled>
												<div class='input-group-addon input-group-sm'>
													<span class='form-control input-group-text input-group-sm form-control-sm'>
														<i class='fa fa-calendar-o fa-sm'></i>
													</span>
												</div>
											</div>
											<div class="invalid-feedback">
												Required field.
											</div>
										</div>
										<div class="col-1"></div>
										<div class="col-1">
											<label for="txtETD" style="font-size: 13px"><strong>ETD (Zarpe).</strong></label>
										</div>
										<div class="col-2">
											<div class='input-group date' data-provide='datepicker'>
												<input type='text' value='' class='form-control form-control-sm' id='FechaETD' data-date-format='dd/mm/yyyy' disabled>
												<div class='input-group-addon input-group-sm'>
													<span class='form-control input-group-text input-group-sm form-control-sm'>
														<i class='fa fa-calendar-o fa-sm'></i>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-1">
											<label for="weekEtd" style="font-size: 13px"><strong>Week ETD</strong></label>
										</div>
										<div class="col-2">
											<input id="weekEtd" style="font-size: 13px" class='Container form-control form-control-sm' type="text" readonly />
										</div>
										<div class="col-1"></div>
										<div class="col-1">
											<label for="txtOriginPort" style="font-size: 13px"><strong>Origin Port</strong></label>
										</div>
										<div class="col-2">
											<input id="txtOriginPort" style="font-size: 13px" class='Origin form-control form-control-sm' type="text" readonly />
										</div>
										<div class="col-1"></div>
										@*<div class="col-1">
												<label for="txtDestinationPort" style="font-size: 13px" data-toggle="tooltip" data-placement="top" title="Destination Port"><strong>Destination P.</strong></label>
											</div>
											<div class="col-2">
												<input id="txtDestinationPort" style="font-size: 13px" type="text" class="form-control form-control-sm Destination" readonly />
											</div>*@

									</div>
								</div>
							</form>
							<hr />
							<div class="card p-3" style="background-color: #DCE8FF">

								<div class="form-group row">
									<div class="col-4 overflow-auto" style="max-height:350px">
										<strong>QC Origen</strong>
										<input type="checkbox" id="checkQCOrigen" name="checkQCOrigen" @*onchange="Onchange_checkQCOrigen(this)"*@ />
										<br />	<br />
										<div id="QCOrigen" class="container py-2 px-2 pt-3 border border-secondary" style="		background-color: #F8F8FF">
											<div class="form-group row">
												<div class="col-3">
													<label for="txtInspectedByQCO" style="font-size: 13px"><strong>Inspected By:</strong></label>
												</div>
												<div class="col-9">
													<input id="txtInspectedByQCO" style="font-size: 13px" class="form-control form-control-sm" disabled>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-3">
													<label for="txtInspectedDateQCO" style="font-size: 13px"><strong>Inspected Date:</strong></label>
												</div>
												<div class="col-4">
													<div class='input-group date' data-provide='datepicker'>
														<input type='text' value='' class='form-control form-control-sm' id='txtInspectedDateQCO' data-date-format='dd/mm/yyyy' disabled>
														<div class='input-group-addon input-group-sm'>
															<span class='form-control input-group-text input-group-sm form-control-sm'>
																<i class='fa fa-calendar-o fa-sm'></i>
															</span>
														</div>
														<div class="invalid-feedback">
															Required field.
														</div>
													</div>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-3">

													<label for="txtQCReportQCO" style="font-size: 13px"><strong>QC Report:</strong></label>
												</div>
												<div class="col-9">
													<input id="txtQCReportQCO" style="font-size: 13px" class="form-control form-control-sm" disabled>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-3">

													<label for="txtNotesQCO" style="font-size: 13px"><strong>Notes:</strong></label>
												</div>
												<div class="col-9">
													<textarea style="font-size: 14px" class="form-control form-control-sm" id="txtNotesQCO" rows="2" disabled></textarea>
												</div>
											</div>
										</div>
										<div id="QCOrigen" class="container py-2 px-2 pt-3 border border-secondary" style="		background-color: #F8F8FF">
											<div class="form-group row">
												<div class="col-3">
													<label style="font-size: 13px"><strong>Report 2</strong></label>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-3">
													<label for="txtInspectedByQCO2" style="font-size: 13px"><strong>Inspected By:</strong></label>
												</div>
												<div class="col-9">
													<input id="txtInspectedByQCO2" style="font-size: 13px" class="form-control form-control-sm" disabled>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-3">
													<label for="txtInspectedDateQCO2" style="font-size: 13px"><strong>Inspected Date:</strong></label>
												</div>
												<div class="col-4">
													<div class='input-group date' data-provide='datepicker'>
														<input type='text' value='' class='form-control form-control-sm' id='txtInspectedDateQCO2' data-date-format='dd/mm/yyyy' disabled>
														<div class='input-group-addon input-group-sm'>
															<span class='form-control input-group-text input-group-sm form-control-sm'>
																<i class='fa fa-calendar-o fa-sm'></i>
															</span>
														</div>
														<div class="invalid-feedback">
															Required field.
														</div>
													</div>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-3">

													<label for="txtQCReportQCO2" style="font-size: 13px"><strong>QC Report:</strong></label>
												</div>
												<div class="col-9">
													<input id="txtQCReportQCO2" style="font-size: 13px" class="form-control form-control-sm" disabled>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-3">

													<label for="txtNotesQCO2" style="font-size: 13px"><strong>Notes:</strong></label>
												</div>
												<div class="col-9">
													<textarea style="font-size: 14px" class="form-control form-control-sm" id="txtNotesQCO2" rows="2" disabled></textarea>
												</div>
											</div>
										</div>
										<div id="QCOrigen" class="container py-2 px-2 pt-3 border border-secondary" style="		background-color: #F8F8FF">
											<div class="form-group row">
												<div class="col-3">
													<label style="font-size: 13px"><strong>Report 3</strong></label>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-3">
													<label for="txtInspectedByQCO3" style="font-size: 13px"><strong>Inspected By:</strong></label>
												</div>
												<div class="col-9">
													<input id="txtInspectedByQCO3" style="font-size: 13px" class="form-control form-control-sm" disabled>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-3">
													<label for="txtInspectedDateQCO3" style="font-size: 13px"><strong>Inspected Date:</strong></label>
												</div>
												<div class="col-4">
													<div class='input-group date' data-provide='datepicker'>
														<input type='text' value='' class='form-control form-control-sm' id='txtInspectedDateQCO3' data-date-format='dd/mm/yyyy' disabled>
														<div class='input-group-addon input-group-sm'>
															<span class='form-control input-group-text input-group-sm form-control-sm'>
																<i class='fa fa-calendar-o fa-sm'></i>
															</span>
														</div>
														<div class="invalid-feedback">
															Required field.
														</div>
													</div>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-3">

													<label for="txtQCReportQCO3" style="font-size: 13px"><strong>QC Report:</strong></label>
												</div>
												<div class="col-9">
													<input id="txtQCReportQCO3" style="font-size: 13px" class="form-control form-control-sm" disabled>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-3">

													<label for="txtNotesQCO3" style="font-size: 13px"><strong>Notes:</strong></label>
												</div>
												<div class="col-9">
													<textarea style="font-size: 14px" class="form-control form-control-sm" id="txtNotesQCO3" rows="2" disabled></textarea>
												</div>
											</div>
										</div>
										<div id="QCOrigen" class="container py-2 px-2 pt-3 border border-secondary" style="		background-color: #F8F8FF">
											<div class="form-group row">
												<div class="col-3">
													<label for="txtInspectedByQCO4" style="font-size: 13px"><strong>Report 4</strong></label>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-3">
													<label for="txtInspectedByQCO4" style="font-size: 13px"><strong>Inspected By:</strong></label>
												</div>
												<div class="col-9">
													<input id="txtInspectedByQCO4" style="font-size: 13px" class="form-control form-control-sm" disabled>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-3">
													<label for="txtInspectedDateQCO4" style="font-size: 13px"><strong>Inspected Date:</strong></label>
												</div>
												<div class="col-4">
													<div class='input-group date' data-provide='datepicker'>
														<input type='text' value='' class='form-control form-control-sm' id='txtInspectedDateQCO4' data-date-format='dd/mm/yyyy' disabled>
														<div class='input-group-addon input-group-sm'>
															<span class='form-control input-group-text input-group-sm form-control-sm'>
																<i class='fa fa-calendar-o fa-sm'></i>
															</span>
														</div>
														<div class="invalid-feedback">
															Required field.
														</div>
													</div>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-3">

													<label for="txtQCReportQCO4" style="font-size: 13px"><strong>QC Report:</strong></label>
												</div>
												<div class="col-9">
													<input id="txtQCReportQCO4" style="font-size: 13px" class="form-control form-control-sm" disabled>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-3">

													<label for="txtNotesQCO4" style="font-size: 13px"><strong>Notes:</strong></label>
												</div>
												<div class="col-9">
													<textarea style="font-size: 14px" class="form-control form-control-sm" id="txtNotesQCO4" rows="2" disabled></textarea>
												</div>
											</div>
										</div>
									</div>
									<div class="col-4">
										<strong>QC Destination</strong>
										<input type="checkbox" id="checkQCDestination" name="checkQCDestination" @*onchange="Onchange_checkQCDestination(this)"*@ />
										<br />	<br />
										<div id="QCDestination" class="container py-2 px-2 pt-3 border border-secondary" style="background-color:  #F8F8FF">
											<div class="form-group row">
												<div class="col-3">
													<label for="txtInspectedByQCD" style="font-size: 13px"><strong>Inspected By:</strong></label>
												</div>
												<div class="col-9">
													<input id="txtInspectedByQCD" style="font-size: 13px" class="form-control form-control-sm" disabled>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-3">
													<label for="txtInspectedDateQCD" style="font-size: 13px"><strong>Inspected Date:</strong></label>
												</div>
												<div class="col-4">

													<div class='input-group date' data-provide='datepicker'>
														<input type='text' value='' class='form-control form-control-sm' id='txtInspectedDateQCD' data-date-format='dd/mm/yyyy' disabled>
														<div class='input-group-addon input-group-sm'>
															<span class='form-control input-group-text input-group-sm form-control-sm'>
																<i class='fa fa-calendar-o fa-sm'></i>
															</span>
														</div>
														<div class="invalid-feedback">
															Required field.
														</div>
													</div>
												</div>

											</div>
											<div class="form-group row">
												<div class="col-3">

													<label for="txtQCReportQCD" style="font-size: 13px"><strong>QC Report:</strong></label>
												</div>
												<div class="col-9">
													<input id="txtQCReportQCD" style="font-size: 13px" class="form-control form-control-sm" disabled>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-3">

													<label for="txtNotesQCD" style="font-size: 13px"><strong>Notes:</strong></label>
												</div>
												<div class="col-9">
													<textarea style="font-size: 14px" class="form-control form-control-sm" id="txtNotesQCD" rows="2" disabled></textarea>
												</div>
											</div>
										</div>
									</div>
									<div class="col-4">
										<strong>Customer-Destination</strong>
										<input type="checkbox" id="checkCustomerDestination" name="checkCustomerDestination" @*onchange="Onchange_checkCustomerDestination(this)"*@ />
										<br />	<br />
										<div id="CustomerDestination" class="container py-2 px-2 pt-3 border border-secondary" style="background-color:  #F8F8FF">
											<div class="form-group row">
												<div class="col-3">
													<label for="txtInspectedByQCCD" style="font-size: 13px"><strong>Inspected By:</strong></label>
												</div>
												<div class="col-9">
													<input id="txtInspectedByQCCD" style="font-size: 13px" class="form-control form-control-sm" disabled>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-3">
													<label for="txtInspectedDateQCCD" style="font-size: 13px"><strong>Inspected Date:</strong></label>
												</div>
												<div class="col-4">

													<div class='input-group date' data-provide='datepicker'>
														<input type='text' value='' class='form-control form-control-sm' id='txtInspectedDateQCCD' data-date-format='dd/mm/yyyy' disabled>
														<div class='input-group-addon input-group-sm'>
															<span class='form-control input-group-text input-group-sm form-control-sm'>
																<i class='fa fa-calendar-o fa-sm'></i>
															</span>
														</div>
														<div class="invalid-feedback">
															Required field.
														</div>
													</div>
												</div>

											</div>
											<div class="form-group row">
												<div class="col-3">

													<label for="txtQCReportQCCD" style="font-size: 13px"><strong>QC Report:</strong></label>
												</div>
												<div class="col-9">
													<input id="txtQCReportQCCD" style="font-size: 13px" class="form-control form-control-sm" disabled>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-3">

													<label for="txtNotesQCCD" style="font-size: 13px"><strong>Notes:</strong></label>
												</div>
												<div class="col-9">
													<textarea style="font-size: 14px" class="form-control form-control-sm" id="txtNotesQCCD" rows="2" disabled></textarea>
												</div>
											</div>
										</div>
									</div>

								</div>



							</div>


							<hr />
							<div class="card p-1" style="background-color: #DCE8FF">
								<div class="card shadow mb-4">
									<div id="tblPL" class="table-responsive">
										<table id='tablas1' class='table table-cebra table-responsive table-hover table-bordered ' width='100%'>
											<thead style='background-color: #13213d'>
												<tr>
													<td colspan='6' style='background-color: #000; text-align: right' class='sticky'> </td>
													<td style="font-size: 13px;display: none; text-align: center" class="QCOrigen" colspan="5" align="center" bgcolor="666666"><font color="#FFFFFF">Qima Origin</td>
													<td style="font-size: 13px;display: none;text-align: center" colspan="5" class="QCDestination" align="center" bgcolor="666666"><font color="#FFFFFF">Qima Destination</td>
													<td style="font-size: 13px;display: none;text-align: center" class="CustomerDestination" colspan="6" align="center" bgcolor="666666"><font color="#FFFFFF">Customer Destination</td>
												</tr>
												<tr style='font-size: 13px'>
													<td style='max-width: 100px;min-width: 100px; border-color:#000; background-color:#000; color:white; ' class='text-white hidden'></td>
													<td style='max-width: 120px;min-width: 120px;border-color:#000; background-color:#000; color:white;' class='text-white sticky'>Nº of Pallet</td>
													<td style='max-width: 100px;min-width: 100px;border-color:#000; background-color:#000; color:white;' class='text-white sticky2'>Label</td>
													<td style='max-width: 120px;min-width: 120px;border-color:#000; background-color:#000; color:white;' class='text-white sticky3'>Variety</td>
													<td style='max-width: 60px;min-width: 60px;border-color:#000; background-color:#000; color:white;' class='text-white sticky4'>Size</td>
													<td style='max-width: 150px;min-width: 150px;border-color:#000; background-color:#000; color:white;' class='text-white sticky5'>Pack</td>
													<td style='max-width: 50px;min-width: 100px;border-color:#000; background-color:#000; color:white;' class='text-white sticky6' data-toggle='tooltip' data-placement='top' title='Total Boxes'>T. Boxes</td>

													<td style='max-width:100px; min-width:100px;display: none' class='text-white QCOrigen' data-toggle='tooltip' data-placement='top' title='Total Shipping'>Sample Boxes</td>
													<td style='max-width:100px; min-width:100px;display: none;background-color:#3e8020' class='text-white QCOrigen'>Aprobe (%)</td>
													<td style='max-width:100px; min-width:100px;display: none;background-color:#ddfa18;color:black !important' class='text-white QCOrigen'>Out Specs (%)</td>
													<td style='max-width:100px; min-width:100px;display: none;background-color:#b20000' class='text-white QCOrigen'>Rejected (%)</td>
													<td style='max-width:100px; min-width:100px;display: none' class='text-white QCOrigen' data-toggle='tooltip' data-placement='top' title='Adittional Notes'>Adittional N.</td>

													<td style='max-width:100px; min-width:100px;display: none' class='text-white QCDestination' data-toggle='tooltip' data-placement='top' title='Sample Boxes'>Sample Boxes</td>
													<td style='max-width:100px; min-width:100px;display: none;background-color:#3e8020' class='text-white QCDestination'>Aprobe (%)</td>
													<td style='max-width:100px; min-width:100px;display: none;background-color:#ddfa18;color:black !important' class='text-white QCDestination'>Out Specs (%)</td>
													<td style='max-width:100px; min-width:100px;display: none;background-color:#b20000' class='text-white QCDestination'>Rejected (%)</td>
													<td style='max-width:100px; min-width:100px;display: none' class='text-white QCDestination' data-toggle='tooltip' data-placement='top' title='Adittional Notes'>Adittional N.</td>

													<td style='max-width:100px; min-width:100px;display: none' class='text-white CustomerDestination' data-toggle='tooltip' data-placement='top' title='Sample Boxes'>Sample Boxes.</td>
													<td style='max-width:100px; min-width:100px;display: none;background-color:#3e8020' class='text-white CustomerDestination'>Aprobe (%)</td>
													<td style='max-width:100px; min-width:100px;display: none;background-color:#ddfa18;color:black !important' class='text-white CustomerDestination'>Out Specs (%)</td>
													<td style='max-width:100px; min-width:100px;display: none;background-color:#b20000' class='text-white CustomerDestination'>Rejected (%)</td>
													<td style='max-width:100px; min-width:100px;display: none' class='text-white CustomerDestination' data-toggle='tooltip' data-placement='top' title='Adittional Notes'>Adittional N.</td>

												</tr>
											</thead>
											<tbody>
											</tbody>
											<tfoot>
												<tr>
													<td colspan='6' style='background-color: #B6B8C5; text-align: right' class='sticky'> Total</td>
													<td style='min-width: 80px;max-width: 80px; text-align: right' class='sticky7' id='TotalAbajo' class=''>0</td>
												</tr>
											</tfoot>
										</table>
									</div>

								</div>
								<hr />
							</div>

							<div class="modal-footer">
								<table style="width: 95%; margin: auto">
									<tr>
										<td style="width: 100%"></td>
										<td style="width: 10%">
											<button type="button" class="btn btn-success" id="btnConfirm">Save <span class="icon text-white"><i class="fas fa-check-circle"></i></span></button>
										</td>
										<td style="width: 10%">
											<button id="btnCancel" type="button" class="btn btn-danger" data-toggle="modal" data-target="#staticBackdrop">
												Cancel
												<span class="icon text-white"><i class="fas fa-times"></i></span>
											</button>
										</td>


									</tr>
								</table>
							</div>


						</div>

					</div>
				</div>
			</div>
		</div>

	</div>


</div>
  </div>
</div>

<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Enter reason</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<textarea class="form-control" rows="5" id="comment"></textarea>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" id="btnDeclinePO">Confirm decline</button>
			</div>
		</div>
	</div>
</div>
<script>
	$("#btnConfirm").click(function (event) {
		var form = $("#Formulario")
		validar();
		//validarBoxes();
		if (form[0].checkValidity() === false) {
			event.preventDefault()
			event.stopPropagation()

		}
		form.addClass('was-validated')

	})

</script>
<script src="~/Scripts/View/PackingList/Quality.js"></script>
<script src="~/Scripts/View/PO/pdf.js"></script>
