﻿
@{
    ViewBag.Title = "InstruccionEmbarque";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2><span class="badge badge-titulo">Loading Instruction</span></h2>

<style type="text/css">

    /* Style buttons */
    .buttonload {
        border: none;
        padding: 12px 16px;
        font-size: 16px;
        position: fixed;
        top: 50% !important;
        left: 50% !important;
        margin-top: -32px;
        margin-left: -32px;
        border-radius: 50%;
        z-index: 2;
    }

    .etiquetaload {
        border: none;
        padding: 12px 16px;
        font-size: 16px;
        position: fixed;
        top: 60% !important;
        left: 51% !important;
        margin-top: -32px;
        margin-left: -32px;
        border-radius: 50%;
        z-index: 2;
    }

    .form-control[disabled], fieldset[disabled] .form-control {
        cursor: not-allowed;
        background-color: #E0DEE2 !important;
        opacity: 1;
    }

    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        background-color: #F6F6F8 !important;
        opacity: 1;
    }

    .table-cebra {
        border-spacing: 0;
    }

        .table-cebra thead th {
            background: white;
        }

        .table-cebra tbody th {
            background: white;
        }

        .table-cebra th,
        .table-cebra td {
            min-width: 100px;
            padding: 0.5rem;
            text-align: left;
            font-size: 13px;
        }

            .table-cebra th:last-child,
            .table-cebra td:last-child {
                border-right: 0px;
            }

        .table-cebra tbody tr {
            background: white;
        }

            .table-cebra tbody tr:nth-child(2n) {
                background: #f2f2f2
            }

    .table-container {
        max-width: 100%;
        overflow-x: scroll;
    }

    .table-cebra .stickya {
        position: sticky;
        left: 0;
        background-color: #A5AD88;
        color: black;
    }

    .table-cebra .stickyb {
        position: sticky;
        left: 5px;
        background-color: #A5AD88;
        color: black;
    }

    .table-cebra thead th .sticky {
        background: white;
    }

    .table-cebra tbody tr .sticky {
        background: white;
    }

    /************************estilo switch************************/

    .onoffswitch {
        position: relative;
        width: 53px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    .onoffswitch-checkbox {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    .onoffswitch-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid #999999;
        border-radius: 18px;
    }

    .onoffswitch-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }

        .onoffswitch-inner:before, .onoffswitch-inner:after {
            display: block;
            float: left;
            width: 50%;
            height: 20px;
            padding: 0;
            line-height: 20px;
            font-size: 10px;
            color: white;
            font-family: Trebuchet, Arial, sans-serif;
            font-weight: bold;
            box-sizing: border-box;
        }

        .onoffswitch-inner:before {
            content: "ON";
            padding-left: 5px;
            background-color: #19BF48;
            color: #FFFFFF;
        }

        .onoffswitch-inner:after {
            content: "OFF";
            padding-right: 5px;
            background-color: #E31212;
            color: #EDDFDF;
            text-align: right;
        }

    .onoffswitch-switch {
        display: block;
        width: 18px;
        margin: 1px;
        background: #FFFFFF;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 29px;
        border: 2px solid #999999;
        border-radius: 18px;
        transition: all 0.3s ease-in 0s;
    }

    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }

    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px;
    }
</style>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card  mb-4">
                <div class="card-header card-header-title-filter">
                    <div class="form-group row">
                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-7">
                            <label><strong>Filters Bar</strong></label>
                        </div>
                        <div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">
                        </div>
                    </div>
                </div>
                <div class="card-body pt-1 card-body-agrocom">
                    <div class="form-group row">
                        <div class="col-xl-3 col-md-3 ">
                            <div class="form-group row">
                                <div class="col-xl-3 col-md-3">
                                    <label for="selectStatus" class="label-agrocom">Status:</label>
                                </div>
                                <div class="col-xl-9 col-md-9 ">
                                    <select id="selectStatus" name="selectStatus" class="selectpicker form-control form-control-sm" data-live-search="true">
                                        <option value="0">With IE</option>
                                        <option value="1">Without IE</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 ">
                            <div class="form-group row">
                                <div class="col-xl-4 col-md-4">
                                    <label for="cboSemanaIni" class="label-agrocom">Departure Week</label>
                                </div>
                                <div class="col-xl-8 col-md-8">
                                    <select id="selectWeek" name="selectWeek" class="form-control selectpicker form-control-sm" data-live-search="true">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-1 col-md-1 ">
                        </div>
                        <div class="col-xl-1 col-md-1">
                            <div class="form-group row">
                                <div class="col-xl-4 col-md-4 ">
                                    <a href="#" class="btn btn-success btn-sm btn-icon-split " id="btnSearch" onclick="javascipt:return false;">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-search fa-sm"></i>
                                        </span>
                                        <span class="text">Search</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-1 col-md-1 ">
                        </div>
                        @*<div class="col-xl-2 col-md-2">
                            <div class="form-group row">
                                <div class="col-xl-8 col-md-8 ">
                                    <a href="#" class="btn btn-primary btn-sm btn-icon-split " id="btnSync" onclick="javascipt:return false;">
                                        <span class="icon text-white-50">
                                            <i class="fab fa-cloudversify fa-sm"></i>
                                        </span>
                                        <span class="text">Sync NetSuite</span>
                                    </a>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card shadow mb-4">
                <div class="card-header py-2 card-header-title-filter">
                    <div class="form-group row">
                        <div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">
                            <label><strong>List of Records</strong></label>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="background-color:#D0DAF1">
                    <div class="table-responsive" id="divClient">
                        <table id="divList" class="table table-bordered table-hover no-footer dataTable" style="font-size: 14px !important;" role="grid" aria-describedby="tableList_info">
                            <thead class="thead-agrocom">
                                <tr class="table-tr-agrocom">
                                    <th style='max-width:65px;min-width:65px;text-align:center' class='text-white'>Edit</th>
                                    <th style='max-width:65px;min-width:65px;text-align:center' class='text-white' data-toggle="tooltip" data-placement="top" title="PDF Shipping Instruction">PDF L.I</th>
                                    <th style='max-width:65px;min-width:65px;text-align:center' class='text-white' data-toggle="tooltip" data-placement="top" title="PDF Comex">PDF C. </th>
                                    <th style='max-width:100px;min-width:100px;display:none;' class='text-white'>OrderProductionID</th>
                                    <th style='max-width:100px;min-width:100px;text-align:center;' class='text-white'>Order Production</th>
                                    <th style='max-width:150px;min-width:150px;text-align:center;' class='text-white'>Nro Packing List</th>
                                    <th style='max-width:60px;min-width:60px;text-align:center;' class='text-white'>Status</th>
                                    <th style='max-width:80px;min-width:80px;text-align:center;' class='text-white'>Departure Week</th>
                                    <th style='max-width:200px;min-width:200px;text-align:center;' class='text-white'>Customer</th>
                                    <th style='max-width:200px;min-width:200px;text-align:center;' class='text-white'>Consignee</th>
                                    <th style='max-width:200px;min-width:200px;text-align:center;' class='text-white' hidden>Notify</th>
                                    <th style='max-width:150px;min-width:150px;text-align:center;' class='text-white'>Destination</th>
                                    <th style='max-width:60px;min-width:60px;text-align:center;' class='text-white'>Boxes</th>
                                </tr>
                            </thead>
                            <tbody style="background-color:#fff; font-size:13px">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-xl" id="modalCreateUpdateIE" overflow-y: scroll;" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true"  style="overflow-y: scroll;">
    <div class="modal-dialog modal-xl" role="document" style="max-width:1400px!important;">
        <div class="modal-content">
            <div class="modal-header modal-head-agrocom">
                <label class="modal-titulo"><font color="white">Loading Instruction</font></label>
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="background-color: #f2f2f2">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="card-body mb-2">
                            <div class="form-group row">
								<div class="col-md-9 col-sm-9 col-xs-9" style=" border: 1px solid">
                                                         <div class="row" style="background-color:#d3e1fd;padding-top:10px!important">
                                                             <div class="col-md-2" style="display:none">
                                                                 <label for="txtShippingLoading" class="label-modal-agrocom">ShippingLoading:</label>
                                                                 <input type="text" class="form-control form-control-sm" readonly name="txtShippingLoading" id="txtShippingLoading" value="" disabled>
                                                             </div>
                                                             <div class="col-md-2" style="display:none">
                                                                 <label for="txtOrderProduction" class="label-modal-agrocom">OrderProduction:</label>
                                                                 <input type="text" class="form-control form-control-sm" readonly name="txtOrderProduction" id="txtOrderProduction" value="" disabled>
                                                             </div>
                                                             <div class="col-md-1" id="divVia" style="display:block;">
                                                                 <label for="selectVia" class="label-modal-agrocom">Via</label>
                                                                 <select id="selectVia" class="form-control form-control-sm selectpicker" data-live-search="false">
                                                                 </select>
                                                             </div>
                                                             <div class="col-md-2">
                                                                 <div class="form-group">
                                                                     <label for="createDate" class="label-modal-agrocom">Date:</label>
                                                                     <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy ">
                                                                         <input type="text" class="form-control form-control-sm" id="createDate" data-date-format="dd/mm/yyyy" required disabled>
                                                                         <div class="input-group-addon input-group-sm">
                                                                             <span class="form-control input-group-text input-group-sm form-control-sm"><i class="fa fa-calendar-o"></i></span>
                                                                         </div>
                                                                     </div>
                                                                 </div>
                                                             </div>
                                                             <div class="col-md-2">
                                                                 <label for="selectCharge" class="label-modal-agrocom">Person in charge:</label>
                                                                 <select id="selectCharge" class="form-control form-control-sm selectpicker" data-live-search="true" required>
                                                                 </select>
                                                             </div>
                                                             <div class="col-md-3">
                                                                 <label for="selectOperator" class="label-modal-agrocom"><text id="txtOperator">Logistic Operator:</text></label>
                                                                 <select id="selectOperator" class="form-control form-control-sm selectpicker" data-live-search="true" required>
                                                                 </select>
                                                             </div>
                                                             <div class="col-md-2">
                                                                 <label for="selectPackingList" class="label-modal-agrocom" data-toggle="tooltip" data-placement="top" title="Packing List Abbreviation">Abbr. PackingList:</label>
                                                                 <select id="selectPackingList" class="form-control form-control-sm selectpicker" data-live-search="true" required>
                                                                 </select>
                                                             </div>
                                                             <div class="col-md-2">
                                                                 <label for="txtNPackingList" class="label-modal-agrocom">N° PackingList:</label>
                                                                 <input type="text" class="form-control form-control-sm" name="txtNPackingList" id="txtNPackingList" value="" required readonly>
                                                             </div>
                                                         </div>
									@*<div class="form-group row" style="background-color:#d3e1fd;padding-bottom:10px!important;padding-top:10px!important">
										
										

									</div>*@
									<div class="form-group row" style="background-color: #d3e1fd;padding-top:10px!important; padding-bottom:13px !important">
										<div class="col-md-3">
											<label for="txtContact" class="label-modal-agrocom">Contact details:</label>
											<input type="text" class="form-control form-control-sm" name="txtContact" id="txtContact" value="" required>
										</div>
										<div class="col-md-3">
											<label for="selectEntrance" class="label-modal-agrocom"><text id="txtTerminal">Entrance to terminal:</text></label>
											<select id="selectEntrance" class="form-control form-control-sm selectpicker" data-live-search="true" required>
											</select>
										</div>
										<div class="col-md-2">
											<label for="selectShippingLine" class="label-modal-agrocom"><text id="txtLine">Shipping Line:</text></label>
											<select id="selectShippingLine" class="form-control form-control-sm selectpicker" data-live-search="true" required>
											</select>
										</div>
										<div class="col-md-2">
											<label for="txtReference" class="label-modal-agrocom">SO NUMBER:</label>
											<input type="text" class="form-control form-control-sm" readonly name="txtReference" id="txtReference" required="" value="">
										</div>
										<div class="col-md-2">
											<label for="txtBooking" class="label-modal-agrocom">N° Booking:</label>
											<input type="text" class="form-control form-control-sm" name="txtBooking" id="txtBooking" required="" value="">
										</div>
									</div>
									<div class="form-group row" style="height: 250px!important; background-color: #d3e1fd; padding-top: 10px; padding-bottom: 0 !important">
										<div class="col-md-12 col-sm-12 col-xs-12" style="height: 240px!important; padding-bottom: 10px; padding-top: 5px; background-color: #d2eaee">
                                            <div class="col-md-6 col-sm-6 col-xs-6" style="height: 220px!important; padding-bottom: 52px; padding-top: 10px; background-color: #CDDCCC!important; border: 1px solid #eee !important">
                                                <div class="form-group row">
                                                    <div class="col-md-6">
                                                        <label for="txtVessel" class="label-modal-agrocom"><text id="txtName">Vessel:</text></label>
                                                        <input type="text" class="form-control form-control-sm" name="txtTravelingS" id="txtVessel" value="" required>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="selectFreight" class="label-modal-agrocom">Freight Condition:</label>
                                                        <select id="selectFreight" class="form-control form-control-sm selectpicker" data-live-search="true" required>
                                                            <option value="COLLECT">COLLECT</option>
                                                            <option value="PREPAID">PREPAID</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-md-6">
                                                        <label for="selectRegimen" class="label-modal-agrocom">Regimen:</label>
                                                        <select id="selectRegimen" class="form-control form-control-sm selectpicker" data-live-search="true" required>
                                                            <option value="DRAWBACK" selected>DRAWBACK</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="selectTariff" class="label-modal-agrocom">HTS:</label>
                                                        <select id="selectTariff" class="form-control form-control-sm selectpicker" multiple data-live-search="true" required >
                                                        </select>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="form-group row">
                                                    <div class="col-md-6">
                                                        <label for="selectBL" class="label-modal-agrocom">BL or AWB:</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <select id="selectBL" class="form-control form-control-sm selectpicker" data-live-search="false" required>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

											<div class="col-md-6 col-sm-6 col-xs-6" style="height: 220px!important; padding-bottom: 52px; padding-top: 10px; background-color: #CDDCCC!important; border: 1px solid #eee !important">

												<div class="form-group row">
													<div class="col-md-6">
														<label for="selectPort" class="label-modal-agrocom">Shipping Port:</label>
														<select id="selectPort" class="form-control form-control-sm selectpicker" data-live-search="true" required>
														</select>
													</div>
													<div class="col-md-6">
														<label for="selectDestinationPort" class="label-modal-agrocom">Destination Port:</label>
														<select id="selectDestinationPort" class="form-control form-control-sm selectpicker" data-live-search="true" required>
														</select>
													</div>
												</div>
												<div class="form-group row">
													<div class="col-md-6">
														<label for="dateETD2" class="label-modal-agrocom">E.T.D:</label>
														<div class="input-group input-group-sm">
															<input type="text" class="form-control" value="" id="dateETD2" data-date-format="H:i:s">
															<span class="input-group-prepend">
																<span class="input-group-text fas fa-calendar"></span>
															</span>
														</div>
													</div>
													<div class="col-md-6">
														<label for="dateETA2" class="label-modal-agrocom">E.T.A:</label>
														<div class="input-group input-group-sm">
															<input type="text" class="form-control" value="" id="dateETA2" data-date-format="H:i:s">
															<span class="input-group-prepend">
																<span class="input-group-text fas fa-calendar"></span>
															</span>
														</div>
													</div>
												</div>
												<div class="form-group row">
													<div class="form-check" style="padding-left:35px">
														<input type="checkbox" class="form-check-input" id="checkFitosanitario">
														<label class="form-check-label" for="checkFitosanitario" style="color:black">Phytosanitary Certificates</label>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
                                <div class="col-md-3 col-sm-3 col-xs-3" style="background-color: #A7C2B1;border:1px solid">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group row">
                                            <label for="selectShipper" class="label-modal-agrocom">Shipper:</label>
                                            <select id="selectShipper" class="form-control form-control-sm selectpicker" data-live-search="true" required>
                                            </select>
																						<button type="button" class="btn btn-sm btn-block btn-info" data-toggle="modal" data-target="#modalShipperInvoiceConsigneeNotify" data-whatever="Shipper">Details <i class="fa fa-search-plus"> </i></button>
                                        </div>
                                        <div class="form-group row">
                                            <label for="selectInvoice" class="label-modal-agrocom">Invoice to:</label>
                                            <select id="selectInvoice" class="form-control form-control-sm selectpicker" data-live-search="true" required>
                                            </select>
																						<button type="button" class="btn btn-sm btn-block btn-info" data-toggle="modal" data-target="#modalShipperInvoiceConsigneeNotify" data-whatever="Invoice">Invoice <i class="fa fa-search-plus"> </i></button>
                                        </div>
                                        <div class="form-group row">
                                            <label for="selectConsignee" class="label-modal-agrocom">Consignee:</label>
                                            <select id="selectConsignee" class="form-control form-control-sm selectpicker" data-live-search="true" required>
                                            </select>
																						<button type="button" class="btn btn-sm btn-block btn-info" data-toggle="modal" data-target="#modalShipperInvoiceConsigneeNotify" data-whatever="Consignee">Consignee<i class="fa fa-search-plus"> </i></button>
                                        </div>
                                        <div class="form-group row">
                                            <label for="selectNotify" class="label-modal-agrocom">Notify:</label>
                                            <select id="selectNotify" class="form-control form-control-sm selectpicker" data-live-search="true" required>
                                            </select>
																						<button type="button" class="btn btn-sm btn-block btn-info" data-toggle="modal" data-target="#modalShipperInvoiceConsigneeNotify" data-whatever="Notify">Notify <i class="fa fa-search-plus">  </i> </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="card-body mb-2" style="background-color: #9BBFC4">
                                    <details>
                                        <summary style="font-size: 13px!important;color:black">Details</summary>
                                        <hr />
                                        <div class="col-md-4 col-sm-4 col-xs-4" style="height:460px!important;padding-top:25px; padding-bottom:25px; background-color:#CDDCCC; border: 1px solid #eee">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="form-group row" style="padding-top:10px; padding-bottom:0px;">
                                                    <div class="col-md-6"><label for="Description" class="label-modal-agrocom">	 Description of the load</label></div>
                                                   
                                                    <div class="col-md-6">
                                                        <button class="btn btn-sm btn-block btn-primary" onclick="openModalTabla(0)">
                                                            <i class="fa fa-plus-circle"></i><span>
                                                                Add Detail
                                                                <script>localStorage.cropID</script>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="table-responsive">
                                                    <table id="tblCodePack" class="table table-bordered table-hover no-footer dataTable table-light table-striped" >
                                                        <thead class="thead-agrocom">
                                                            <tr>
                                                                <th style="max-width:50px; min-width:50px; padding-top:10px; padding-bottom:10px;">Options</th>
                                                                <th style="max-width:200px; min-width:200px;display:none">shippingLoadingDetailID</th>
                                                                <th style="max-width:200px; min-width:200px;display:none">shippingLoadingID</th>
                                                                <th style="max-width:150px; min-width:150px;display:none">categoryID</th>
                                                                <th style="max-width:200px; min-width:200px;display:none">category</th>
                                                                <th style="max-width:100px; min-width:100px;display:none">varietyID</th>
                                                                <th style="max-width:150px; min-width:95px;">Variety</th>
                                                                <th style="max-width:100px; min-width:100px;display:none">brandID</th>
                                                                <th style="max-width:100px; min-width:70px;">Brand</th>
                                                                <th style="max-width:100px; min-width:100px;display:none">formatID</th>
                                                                <th style="max-width:100px; min-width:100px;display:none">format</th>
                                                                <th style="max-width:100px; min-width:100px;display:none">packageProductID</th>
                                                                <th style="max-width:100px; min-width:100px;display:none">packageProduct</th>
                                                                <th style="max-width:100px; min-width:100px;display:none">presentationID</th>
                                                                <th style="max-width:100px; min-width:100px;display:none">presentation</th>
                                                                <th style="max-width:100px; min-width:100px;display:none">labelID</th>
                                                                <th style="max-width:100px; min-width:100px;display:none">label</th>
                                                                <th style="max-width:100px; min-width:100px;display:none">codePackID</th>
                                                                <th style="max-width:100px; min-width:100px;display:none">codePack</th>
                                                                <th style="max-width:100px; min-width:100px;display:none">sizeID</th>
                                                                <th style="max-width:100px; min-width:100px;display:none">size</th>
                                                                <th style="max-width:180px; min-width:150px;">Code Packing</th>
                                                                <th style="max-width:60px; min-width:50px; text-align:right;">Quantity</th>
                                                                <th style="max-width:100px; min-width:100px;display:none">statusID</th>
                                                                <th style="max-width:100px; min-width:100px;display:none">pallets</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
										<div class="col-md-4 col-sm-4 col-xs-4" style="height:460px!important;padding-top:25px; padding-bottom:25px; background-color:#CDDCCC; border: 1px solid #eee">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<label for="PlantFD" class="label-modal-agrocom">Plant Filling Direction</label>
												<hr>
												<div style="padding-top:15px;padding-bottom:5px;padding-left:15px; padding-right:15px; background-color:#f6f9fe">
													<div class="form-group row">
														<div class="col-md-5">
															<label for="selectPlant" class="label-modal-agrocom">Plant:</label>
														</div>
														<div class="col-md-7">
															<select id="selectPlant" class="form-control form-control-sm selectpicker" data-live-search="true" required>
															</select>
														</div>
													</div>
													<div class="form-group row">
														<div class="col-md-6">
															<label for="txtVGM" class="label-modal-agrocom">VGM:</label>
														</div>
														<div class="col-md-6">
															<input id="txtVGM" type="number" min="0" style="text-align:right" class="form-control form-control-sm " required />
														</div>
													</div>
												</div>
												<br>
												<div style="padding-top:15px;padding-bottom:15px;padding-left:15px; padding-right:15px; background-color:#f6f9fe">
													<div class="form-group row">
														<div class="col-md-8">
															<label for="txtVGM" class="label-modal-agrocom">Parameters:</label>
														</div>
														<div class="col-md-4">
															<div class="form-group row">
																<input type="checkbox" class="form-check-input" id="coldTret">
																<label class="form-check-label label-modal-agrocom" for="coldTret">Cold Treatment</label>
															</div>
															<div class="form-group row">
																<input type="checkbox" class="form-check-input" id="controlAtmosphere">
																<label class="form-check-label label-agrocom" for="controlAt">Controlled Atmosphere</label>
															</div>
														</div>
													</div>
												</div>
												<hr>
												<div class="form-group row">
													<div class="col-md-3">
														<label class="form-check-label label-agrocom" for="txtTemperature">Temperature</label>
														<input type="number" min="0" class="form-control form-control-sm" name="txtTemperature" id="txtTemperature" value="" required>
													</div>
													<div class="col-md-3">
														<label class="form-check-label label-agrocom" for="txtVentilation">Ventilation</label>
														<input type="text" class="form-control form-control-sm" name="txtVentilation" id="txtVentilation" value="" required>
													</div>
													<div class="col-md-3">
														<label class="form-check-label label-agrocom" for="txtHumedity">Humedity</label>
														<div class="onoffswitch">
															<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="checkHumedity" tabindex="0" checked>
															<label class="onoffswitch-label" for="checkHumedity">
																<span class="onoffswitch-inner"></span>
																<span class="onoffswitch-switch"></span>
															</label>
														</div>
													</div>
													<div class="col-md-3">
														<label class="form-check-label label-agrocom" for="checkQuest">Quest</label>
														<div class="onoffswitch">
															<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="checkQuest" tabindex="0" checked>
															<label class="onoffswitch-label" for="checkQuest">
																<span class="onoffswitch-inner"></span>
																<span class="onoffswitch-switch"></span>
															</label>
														</div>
													</div>

												</div>
											</div>
										</div>
										<div class="col-md-4 col-sm-4 col-xs-4" style="height:460px!important;padding-top:25px; padding-bottom:25px; background-color:#CDDCCC; border: 1px solid #eee">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<label for="dispatchDate" class="label-modal-agrocom">Dispatch Date</label>
												<hr>
												<div class="form-group row">
													<div class="col-md-6">
														<label for="dateArrivel2" class="label-modal-agrocom">Arrival Date to Plant:</label>
														<div class="input-group input-group-sm">
															<input type="text" class="form-control" value="" id="dateArrivel2" data-date-format="H:i:s">
															<span class="input-group-prepend">
																<span class="input-group-text fas fa-calendar"></span>
															</span>
														</div>
													</div>
													<div class="col-md-6">
														<label for="dateDeparture2" class="label-modal-agrocom">Departure Date:</label>
														<div class="input-group input-group-sm">
															<input type="text" class="form-control" value="" id="dateDeparture2" data-date-format="H:i:s">
															<span class="input-group-prepend">
																<span class="input-group-text fas fa-calendar"></span>
															</span>
														</div>
													</div>
												</div>
												<div class="form-group row">
													<div class="col-md-6">
														<label for="arrivalTime2" class="label-modal-agrocom">Arrival Time:</label>
														<div class="input-group input-group-sm">
															<input type="text" class="form-control" value="" id="arrivalTime2">
															<span class="input-group-prepend">
																<span class="input-group-text fas fa-clock"></span>
															</span>
														</div>
													</div>
													<div class="col-md-6">
														<label for="dateTerminal2" class="label-modal-agrocom">Terminal Entry Date:</label>
														<div class="input-group input-group-sm">
															<input type="text" class="form-control" value="" id="dateTerminal2">
															<span class="input-group-prepend">
																<span class="input-group-text fas fa-calendar"></span>
															</span>
														</div>
													</div>
												</div>
												<div class="form-group row">
													<div class="col-md-12">
														<label for="selectOperator" class="label-modal-agrocom">Note:</label>
														<textarea id="noteShipping" class="form-control form-control-sm" rows="7"> </textarea>
													</div>
												</div>
												<div class="form-group row">
													<div class="col-md-12">
														<div class="col-md-6" style="display:none;">
															<button type="button" class="btn btn-block btn-sm btn-primary">Print Instruction</button>
														</div>
														<div class="col-md-6" style="display:none;">
															<button type="button" class="btn btn-block btn-sm btn-primary">Print Cover</button>
														</div>
													</div>
												</div>
											</div>
										</div>
                                    </details>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="modal-footer" style="background-color:lightgray">
                <a href="#" class="btn btn-success btn-sm btn-icon-split " id="btnSave">
                    <span class="icon text-white-50">
                        <i class="fas fa-save fa-sm"></i>
                    </span>
                    <span class="text">Save</span>
                </a>
                <a href="#" class="btn btn-danger btn-sm btn-icon-split " data-dismiss="modal">
                    <span class="icon text-white-50">
                        <i class="fas fa-times fa-sm"></i>
                    </span>
                    <span class="text">Close</span>
                </a>


            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalShipperInvoiceConsigneeNotify" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-head-agrocom">
                <h5 class="modal-title" id="exampleModalLabel" style="color:#fff">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="label-modal-agrocom">Recipient:</label>
                        <input type="text" class="form-control form-control-sm" id="recipient-name" disabled>
                    </div>
                    <div class="form-group">
                        <label for="txtCustomer" class="label-modal-agrocom">Customer:</label>
                        <input type="text" class="form-control form-control-sm" id="txtCustomer" disabled>
                    </div>
                    <div class="form-group">
                        <label for="txtAddress" class="label-modal-agrocom">Address:</label>
                        <input type="text" class="form-control form-control-sm" id="txtAddress" disabled>
                    </div>
                    <div class="form-group">
                        <label for="txtContact1" class="label-modal-agrocom">Contact:</label>
                        <input type="text" class="form-control form-control-sm" id="txtContact1" disabled>
                    </div>
                    <div class="form-group">
                        <label for="txtPhone" class="label-modal-agrocom">Phone:</label>
                        <input type="text" class="form-control form-control-sm" id="txtPhone" disabled>
                    </div>
                    <div class="form-group">
                        <label for="txtEmail" class="label-modal-agrocom">E-mail:</label>
                        <input type="text" class="form-control form-control-sm" id="txtEmail" disabled>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Central Modal Fluid -->
<div id="modalCodepack" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="background-color:rgba(0, 0, 30, 0.5)">
    <div class="modal-dialog modal-xl">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header modal-head-agrocom">
                <label class="modal-titulo w-10" id="myModalLabel">Sales Order Detail</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body" style="background-color: #9BBFC4">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="card-body mb-2 card-body-padding">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <label class="label-modal-agrocom" for="selectVariety">Variety</label>
                                    <select id="selectVariety" class="form-control form-control-sm selectpicker" data-live-search="true" required>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label class="label-modal-agrocom" for="selectCategory">Category</label>
                                    <select id="selectCategory" class="form-control form-control-sm obligatoryRowM selectpicker" data-live-search="true" required>
                                    </select>
                                </div>
                                <div class=" col-md-3">
                                    <label class="label-modal-agrocom" for="selectFormat">Net Weight Box</label>
                                    <select id="selectNetWeight" class="form-control form-control-sm selectpicker" required>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label class="label-modal-agrocom" for="selectTypeBox">Type Box</label>
                                    <select id="selectTypeBox" class="form-control form-control-sm selectpicker" data-live-search="true" required>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <label class="label-modal-agrocom" for="selectBrand">Box Brand </label>
                                    <select id="selectBrand" class="form-control form-control-sm selectpicker" data-live-search="true" required>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label class="label-modal-agrocom" for="selectPresentation">Internal Package </label>
                                    <select id="selectPresentation" class="form-control form-control-sm selectpicker" data-live-search="true" required>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label class="label-modal-agrocom" for="selectLabel">Label</label>
                                    <select id="selectLabel" class="form-control form-control-sm selectpicker" data-live-search="true" required>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label class="label-modal-agrocom" for="SelectSizeBox">Size Box</label>
                                    <select id="SelectSizeBox" class="form-control form-control-sm selectpicker" data-live-search="true" required>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <label class="label-modal-agrocom" for="txtBoxPallet">Box x Pallet</label>
                                    <input id="txtBoxPallet" disabled="disabled" type="number" class="form-control form-control-sm " />
                                </div>
                                <div class="col-md-3">
                                    <label class="label-modal-agrocom" for="txtBoxes">Boxes</label>
                                    <input id="txtBoxes" type="number" min="0" step="100" style="text-align:right" class="form-control form-control-sm " required />
                                </div>
                                <div class="col-md-3" hidden>
                                    <label class="label-modal-agrocom" for="txtNet">Net Kilos</label>
                                    <input id="txtNet" disabled="disabled" type="number" class="form-control form-control-sm" required>
                                </div>
                                <div class="col-md-3" hidden>
                                    <label class="label-modal-agrocom" for="txtPallets">Pallets</label>
                                    <input id="txtPallets" disabled="disabled" type="number" min="0" class="form-control form-control-sm " required>
                                </div>
                                <div class="col-md-3">
                                    <label class="label-modal-agrocom" for="txtCodePack">CodePack</label>
                                    <input id="txtCodePack" onblur="createCodePack()" type="text" class="form-control form-control-sm" required disabled>
                                </div>
                                <div class="col-md-1" style="padding-top:20px">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="chkpadlock">
                                        <label class="form-check-label" style="color:black" for="chkpadlock">Padlock</label>
                                    </div>
                                </div>
                                <div class="col-md-2" style="padding-top:20px">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="chkplu">
                                        <label class="form-check-label" style="color:black" for="chkplu">With PLU</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">                               
                                
                                <div class="col-md-3" style="display:none">
                                    <label class="label-modal-agrocom" for="txtShippingLoadingDetailID">shippingLoadingDetailID</label>
                                    <input id="txtShippingLoadingDetailID" type="text" class="form-control form-control-sm" required disabled>
                                </div>
                                <div class="col-md-3" style="display:none">
                                    <label class="label-modal-agrocom" for="txtShippingLoadingID">shippingLoadingID</label>
                                    <input id="txtShippingLoadingID" type="text" class="form-control form-control-sm" required disabled>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="form-group-sm col-2" style="display:none">
                                    <label for="txtStatus" class="label-modal-agrocom">Status</label>
                                    <input id="txtStatus" class="form-control form-control-sm" type="text" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close <span class="icon fa fa-times"></span></button>
                <button type="button" class="btn btn-success btn-sm" id="addCodePack">Save changes <span class="icon fa fa-save"></span></button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>

<div id="modalBluCodepack" class="modal" tabindex="-1" role="dialog" style="background-color:rgba(0, 0, 30, 0.5)">
	<div class ="modal-dialog modal-lg" >
	<div class="modal-content">
		<div class="modal-header modal-head-agrocom">
			<label class="modal-titulo">Codepack</label>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body modal-body-agrocom-cp">
			<form>
				<div class="form-group row">
					<div class="form-group-sm col-3">
						<label for="_selectCategory">Brand</label>
						<select class="form-control selectpicker form-control-sm" id="_selectCategory" data-live-search="false">
						</select>
					</div>
					<div class="form-group-sm col-3">
						<label for="_selectVariety">Variety</label>
						<select class="custom-select  mr-sm-2" id="_selectVariety" multiple="multiple">
						</select>
					</div>
					<div class="form-group-sm col-3">
						<label for="_selectCodePack">Format</label>
						<select class="form-control selectpicker form-control-sm" id="_selectCodePack" data-live-search="false">
						</select>
					</div>
					<div class="form-group-sm col-3">
						<label for="_selectTypeBox">Type Box</label>
						<select class="form-control selectpicker form-control-sm" id="_selectTypeBox" data-live-search="false">
						</select>
					</div>
				</div>
                <div class="form-group row">
                    <div class="form-group-sm col-2">
                        <label for="_selectPresentation">Pack</label>
                        <select class="form-control selectpicker form-control-sm" id="_selectPresentation" data-live-search="false">
                        </select>
                    </div>
                    <div class="form-group-sm col-2">
                        <label for="_selectSize">Sizes</label>
                        <select class="form-control selectpicker form-control-sm" id="_selectSize" data-live-search="false">
                        </select>
                    </div>
                    <div class="form-group-sm col-4">
                        <label for="_txtCodePack">Codepack</label>
                        <input id="_txtCodePack" class="form-control" type="text" value="0" disabled />
                        @*<textarea id="_txtCodePack" class="form-control" readonly></textarea>*@
                    </div>
                    <div class="form-group-sm col-2">
                        <label for="_txtBoxPerPallet">Box/Pallet</label>
                        <input id="_txtBoxPerPallet" class="form-control" type="text" value="0" disabled />
                    </div>
                    <div class="form-group-sm col-2">
                        <label for="_txtBoxPerPerContainer">Boxes</label>
                        <input id="_txtBoxPerPerContainer" class="form-control" type="number" value="0" min="" max="" step="" />
                    </div>
                    <div class="form-group-sm col-3" hidden>
                        <label for="_txtPallets">Pallets</label>
                        <input id="_txtPallets" class="form-control" type="number" value="0" />
                    </div>
                </div>
				<div class="form-row">
					<div class="form-group-sm col-2">

					</div>
					<div class="form-group-sm col-1">

					</div>
					<div class="form-group-sm col-1">

					</div>
					<div class="form-group-sm col-1">

					</div>
					<div class="form-group-sm col-3">

					</div>
					<div class="form-group-sm col-1">

					</div>
					<div class="form-group-sm col-3" style="padding-top:28px">
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-danger btn-sm  mb-1 btnCancelClient" data-dismiss="modal" id="btnCloseModalBluCodepack" onclick="javascipt:$(modalBluCodepack).modal('hide');">Close <span class="text-white"><i class="fas fa-times fa-sm"></i></span></button>
			<button type="button" class="btn btn-primary btn-sm  mb-1 btnAddClient" id="btnAddBluCodePack">Add <span class="text-white"><i class="fas fa-plus-circle"></i></span></button>
			<button type="button" class="btn btn-primary btn-sm  mb-1 btnEditClient" id="btnUpdateBluCodepack">Update <span class="text-white"><i class="fas fa-plus-circle"></i></span></button>

		</div>
	</div>
</div>
</div>


<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="" aria-hidden="true"  >
    <div class="modal-dialog modal-xl" style="max-width: 1400px !important;">
        <div class="modal-content">
            <div class="card-body">
                <div class="card">
                    <div class="card-header">
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/Scripts/View/Comex/LoadingInstruction.js"></script>
<script src="~/Scripts/View/Comex/IEpdf.js"></script>

