﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Login.cshtml";
}
<style>
    .abs-center {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 80vh;
    }

    .form {
        width: 350px;
        height: auto;
    }
</style>

<script src="~/Content/js/query2.js"></script>
<script type="text/javascript">
    $(function () {
        var imagenes = [
            "../images/bgg11.jpg"
            , "../images/uva3.jpg"
            , "../images/bgg9.jpg"

        ];
        $(imagenes).each(function () {
            $("<img/>")[0].src = this;
        });
        var index = 0;
        $.backstretch(imagenes[index], { speed: 2000 });

        setInterval(function () {
            index = (index >= imagenes.length - 1) ? 0 : index + 1;
            $.backstretch(imagenes[index]);
        }, 9500);

        DisableBackButtonBrowser();

        document.getElementById("spanYear").innerHTML = new Date().getFullYear();
    });
    function DisableBackButtonBrowser() {
        window.history.forward();
        window.history.pushState(null, "", window.location.href);
        window.onpopstate = function () {
            window.history.pushState(null, "", window.location.href);
        };
    }
    function Login() {
        localStorage.clear();
        sessionStorage.clear();
    }
</script>
<div class="clearfix"></div>
<div id="wrapper">
    <div class="container">
        <div class="abs-center">
            <form action="@Url.Content("~/Login/Login")" method="post" autocomplete="on">
                <div id="login" class="animate form">
                    <p>
                        <div class="border p-3 form ">
                            <div class="form-row">
                                <div style="text-align: center; width: 100%;">
                                    <img src="~/images/agromigiva.png" width="130" />
                                </div>
                            </div>
                            <h2 style="font-size:40px!important">AGROCOM</h2>
                            <div class="form-group">
                                <center>
                                    <label for="username">Username</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-white"><i class="fa fa-user"></i></span>
                                        </div>
                                        <input id="username" name="Name" required="required" type="text" placeholder="[user name]" value="@ViewBag.User" class="form-control form-control-sm" />
                                    </div>
                                </center>
                            </div>
                            <div class="form-group">
                                <center>
                                    <label for="password">Password</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-white"><i class="fa fa-lock"></i></span>
                                        </div>
                                        <input type="password" name="password" id="password" required="required" class="form-control form-control-sm" placeholder="[user password]">

                                    </div>
                                </center>
                            </div>
                            <br />
                            <center>
                                <button type="submit" value="Login" class="btn btn-block btn-sm" style="background-color: #5ea20c; color:aliceblue" Onclick="Login()">Login</button>
                            </center>

                        </div>
                    </p>
                </div>
            </form>


        </div>
    </div>
</div>
<p class="agileits">© <span id="spanYear"></span> Copyright Login Form. All Rights Reserved </p>  h2>
