﻿@{
	ViewBag.Title = "Crop";
	Layout = "~/Views/Shared/Master.cshtml";
}

<div class="container-fluid">
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h2><span class="badge badge-titulo">Forecast / Update Forecast</span></h2>

	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="card  mb-4">

				<div class="card-header pt-1 card-header-title-filter">
					<div class="form-group row">
						<div class="col-xl-2 col-lg-3 col-md-3 col-sm-7">
							<label><strong>Filters Bar</strong></label>
						</div>
						<div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">
						</div>
					</div>
				</div>
				<div class="card-body pt-1 card-body-agrocom">

					<div class="form-group row">
						<div class="col-md-3">
							<label for="cboSeason" class="label-agrocom">Week Starting: </label>
							<select id="cboSemanaIni" name="cboSemanaIni" class="form-control form-control-sm" data-live-search="true" data-style="warning">
							</select>
						</div>
						<div class="col-md-3">
							<label for="cboSemanaFin" class="label-agrocom">Week Ending:</label>
							<select id="cboSemanaFin" name="cboSemanaFin" class="form-control form-control-sm" data-live-search="true" data-style="warning">
							</select>
						</div>
						<div class="col-md-3">
							<label for="farmF" class="label-agrocom">Farm:</label>
							<select id="farmF" name="farmF" class="form-control form-control-sm" data-live-search="true" data-style="warning">
							</select>
						</div>
						<div class="col-md-2">
							<label for="updateDate" @*class=" col-form-label-sm"*@ class="label-agrocom">Last Update:</label>
							<div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy ">
								<input type="text" class="form-control form-control-sm" id="updateDate" data-date-format="dd/mm/yyyy" required disabled>
								<div class="input-group-addon input-group-sm">
									<span class="form-control input-group-text input-group-sm form-control-sm"><i class="fa fa-calendar-o"></i></span>
								</div>
							</div>
						</div>
						<div class="col-md-2 custom-control custom-checkbox small" style="font-size: 13px; padding-top:30px!important;visibility:hidden">
							<input type="checkbox" checked="checked" @*onchange="onChkBtn()"*@ id="chkweekly" name="WEEKLY" />
							<b>Summary Detail</b>
						</div>
					</div>

					<div class="form-group row">

						<div class="col-md-12 col-sm-12">
							<div class="form-group ">
								<a href="#" class="btn btn-warning btn-sm btn-icon-split transact pull-right" id="btnShowMassiveUpdate" data-toggle="modal" data-target="#modalMassiveUpdate" data-backdrop="static" data-keyboard="false">
									<span class="icon text-white-50">
										<i class="fas fa-check-circle fa-sm"></i>
									</span>
									<span class="mr-2 d-none d-lg-inline text">Massive Update</span>
								</a>
								<a href="#" class="btn btn-primary btn-sm btn-icon-split transact pull-right" id="btnUploadForeCast" data-toggle="modal" data-target="#openModal" data-backdrop="static" data-keyboard="false">
									<span class="icon text-white-50">
										<i class="fas fa-upload fa-sm"></i>
									</span>
									<span class="mr-2 d-none d-lg-inline text">Upload</span>
								</a>
								<a href="#" class="btn btn-success btn-sm btn-icon-split transact pull-right" id="btnSearch" onclick="ListData()">
									<span class="icon text-white-50">
										<i class="fas fa-search fa-sm"></i>
									</span>
									<span class="mr-2 d-none d-lg-inline text">Search</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="card  mb-4">
				<div class="card-header pt-1 card-header-title-filter">
					<div class="form-group row">
						<div class="col-xl-2 col-lg-3 col-md-3 col-sm-7">
							<label><strong>List of Records</strong></label>
						</div>
						<div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="form-group row">
						<div id="" class="table-responsive ">
							<table id="TblForecastRecords" class="table table-hover table-bordered ">
								<thead class="thead-agrocom">
									<tr>
										<th style="text-align: center; width: 200px;" class="sorting_asc" tabindex="0" aria-controls="TblForecastRecords" rowspan="1" colspan="1">Grower</th>
										<th style="text-align: center; width: 200px;" class="sorting" tabindex="0" aria-controls="TblForecastRecords" rowspan="1" colspan="1">Farm</th>
										<th style="text-align: center; width: 200px;" class="sorting" tabindex="0" aria-controls="TblForecastRecords" rowspan="1" colspan="1">Week</th>
										<th style="text-align: center; width: 200px;" class="sorting" tabindex="0" aria-controls="TblForecastRecords" rowspan="1" colspan="1">Variety</th>
										<th style="text-align: center; width: 200px;" class="sorting" tabindex="0" aria-controls="TblForecastRecords" rowspan="1" colspan="1">Category</th>
										<th style="text-align: center; width: 200px;" class="sorting" tabindex="0" aria-controls="TblForecastRecords" rowspan="1" colspan="1">Size</th>
										<th style="text-align: center; width: 200px;" class="sorting" tabindex="0" aria-controls="TblForecastRecords" rowspan="1" colspan="1">Quantity</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
								<tfoot>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="openModal" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl" role="document">
			<div class="modal-content">
				<div class="modal-header modal-head-agrocom">
					<label><text id="txtTitleModal" class="modal-titulo">Register Only Exportable Kilos</text></label>
				</div>
				<div class="modal-body modal-body-agrocom">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="card-body mb-2 card-body-agrocom">
							<div class="form-group row">

								<div class="col-md-1 col-sm-12 col-xs-12">
									<label class="label-modal-agrocom">Grower</label>
								</div>
								<div class="col-md-2 col-sm-12 col-xs-12">
									<select id="cboGROWER" class="form-control form-control-sm"></select>
									<br />
								</div>
								<div class="col-md-1 col-sm-12 col-xs-12">

									<label class="label-modal-agrocom">Farm</label>
								</div>
								<div class="col-md-2 col-sm-12 col-xs-12">
									<select id="cboFarm" class="form-control form-control-sm"></select>
									<br />
								</div>
								<div class="col-md-1 col-sm-12 col-xs-12">
									<label class="label-modal-agrocom">Stage</label>
								</div>
								<div class="col-md-2 col-sm-12 col-xs-12">
									<select id="cboStage" class="form-control form-control-sm"></select>
									<br />
								</div>
								<div class="col-md-1 col-sm-12 col-xs-12">

									<label class="label-modal-agrocom">Variety</label>
								</div>
								<div class="col-md-2 col-sm-12 col-xs-12">
									<select id="cboLot" class="form-control form-control-sm selectpicker" data-live-search="true"></select>
									<br />
								</div>
							</div>

							<div class="form-group row">
								<div class="col-md-1 col-sm-12 col-xs-12">
									<label class="label-modal-agrocom">Week</label>
								</div>
								<div class="col-md-3 col-sm-12 col-xs-12">

									<select id="CboNext" class="form-control form-control-sm"></select>
									<br />
								</div>
								<div class="col-md-1 col-sm-12 col-xs-12">
									<label class="label-modal-agrocom"><text id="textTotalKg">Total KG</text></label>
								</div>
								<div class="col-md-3 col-sm-12 col-xs-12">

									<input id="inputKG" type="number" class="form-control form-control-sm" min="0" placeholder="Enter Kg." />
									<br />
								</div>
								<div class="col-md-1 col-sm-12 col-xs-12">
									<label class="label-modal-agrocom">Comment</label>
								</div>
								<div class="col-md-3 col-sm-12 col-xs-12">

									<input type="text" id="inputCmnt" class="form-control form-control-sm" placeholder="Enter comment." />
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div id="loadModalTable" class="col-md-12 col-sm-12 col-xs-12">
								<div id="listWeekLote" class="table-responsive">
									<table id="TblForecastUpdate" class='table table-hover table-bordered table-bordered tblSalesRequest table-white'>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer modal-footer-agrocom">
					<a href="#" class="btn btn-success btn-sm btn-icon-split " id="btnSaveForecast">
						<span class="icon text-white-50">
							<i class="fas fa-save fa-sm"></i>
						</span>
						<span class="text">Save</span>
					</a>
					<a href="#" class="btn btn-danger btn-sm btn-icon-split " data-dismiss="modal">
						<span class="icon text-white-50">
							<i class="fas fa-times fa-sm"></i>
						</span>
						<span class="text">Close</span>
					</a>

				</div>
			</div>
		</div>
	</div>
</div>
<div id="modalMassiveUpdate" class="modal fade bd-example-modal-xl" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" style="overflow-y: scroll;">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header modal-head-agrocom">
				<label><font class="modal-titulo">Import Massive Forecast</font></label>
				<button type="button" class="close text-white" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body modal-body-agrocom">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="card-body card-body-agrocom">
							<div class="form-group row">
								<div class="col-md-3 col-sm-3 col-xs-3">
									<asp:Label ID="Label2" runat="server" Text="">
										<label class="label-modal-agrocom">Grower</label><br />
										<select id="cboGROWER2" onchange="getGlobalGrower()" class="form-control form-control-sm"></select>
										<br />
								</div>
								<div class="col-md-2 col-sm-2 col-xs-2">
									<label class="label-modal-agrocom">Farm</label><br />
									<select id="SelectFarm" onchange="" class="form-control form-control-sm"></select>
									<br />
								</div>
								<div class="col-md-5 col-sm-5 col-xs-5">
									<label class="label-modal-agrocom">Massive Upload</label>
									<div class="btn-group" style="width:100%!important">
										<label id="lblfile" class="form-control form-control-sm lblFile " style="width:100%" hidden>File xxxx</label>
										<input type='file' id='fileExcel' accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" style="font-size:14px;width:100%" class="form-control inputFile inputFile" value="" readonly />
										<button class="btn btn-sm input-group-text btnUpload btn-light" id="btnUpload" style="height:30px" hidden> <span class="icon text-primary"><i class="fas fa-check-circle fa-sm"></i></span></button>
										<button id="btnDeleteFile" class="btn btnDelete input-group-text btn-sm btn-light" style="height:30px" value="1" hidden> <span class="icon text-danger"><i class="fas fa-trash fa-sm"></i></span></button>
									</div>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-2">
									<label class="label-modal-agrocom">Get Template</label>

									<div class="btn-group">


										<a href="#" class="btn btn-primary btn-sm btn-icon-split " id="download" onclick="DownloadTemplate()">
											<span class="icon text-white-50">
												<i class="fas fa-download fa-sm"></i>
											</span>
											<span class="mr-2 d-none d-lg-inline text">Download</span>
										</a>

									</div>
								</div>
								<br />
							</div>
							<div class="form-group row">
								<div id="loadModalTableMassiveUploader" class="col-md-12 col-sm-12 col-xs-12 table-responsive" style="background-color:white;padding-top:10px;padding-top:10px">
									<table class="table table-hover table-bordered table-striped dataTable" id="tblExcel">
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer modal-footer-agrocom">

				<a href="#" class="btn btn-success btn-sm btn-icon-split " id="btnSaveMassiveUpdate" disabled>
					<span class="icon text-white-50">
						<i class="fas fa-save fa-sm"></i>
					</span>
					<span class="text">Save</span>
				</a>
				<asp:Label ID="Label5" runat="server" Font-Bold="True" ForeColor="Red"></asp:Label>
				<a href="#" class="btn btn-danger btn-sm btn-icon-split " data-dismiss="modal">
					<span class="icon text-white-50">
						<i class="fas fa-times fa-sm"></i>
					</span>
					<span class="text">Close</span>
				</a>
				<span id="spanObligatory2" style="text-align:left" class="badge badge-danger"></span>

			</div>
		</div>
	</div>
</div>

@*Referencias que faltaban para usar el datatable*@
<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.7/css/fixedHeader.dataTables.min.css">
<script language="javascript" type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>
<script language="javascript" type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.flash.min.js"></script>
<script language="javascript" type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js"></script>
@*Referencias que faltaban para usar el datatable*@
<script src="~/Scripts/View/Forecast/ForecastCrop.js"></script>
<script src="~/Scripts/View/Forecast/MassiveUpdater.js"></script>
<script src="~/Scripts/Services/ForeCast/ForeCastService.js"></script>

