﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-black">Forecast / Update Forecast</h1>
    </div>


    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card  mb-4">
                <div class="card-header pt-1 card-header-title-filter">
                    <div class="form-group row">
                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-7">
                            <label><strong>FILTERS BAR</strong></label>
                        </div>
                        <div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">
                        </div>

                    </div>

                </div>
                <div class="card-body pt-1 " style="background-color:#D0DAF1;padding: 30px 5px 0px 60px!important;">
                    <div class="form-group row">

                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-6 col-xs-12">
                            <label for="cboSeason"><strong>Season: </strong></label>

                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-xs-12">

                            <select id="cboSeason" name="cboSeason" class="select2_group form-control form-control-sm" data-live-search="true" data-style="warning">
                            </select>

                        </div>
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-6 col-xs-12">
                            <label for="cboSeason" ><strong>Week Star: </strong></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <select id="cboSemanaIni" name="cboSemanaIni" class="select2_group form-control form-control-sm" data-live-search="true" data-style="warning">
                            </select>

                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-xs-12 ">
                            <div class="custom-control custom-checkbox small">
                                <input type="checkbox" checked="checked" @*onchange="onChkBtn()"*@ id="chkweekly" name="WEEKLY" />
                                <b>SUMMARY DETAIL</b>
                            </div>
                        </div>

                    </div>
                    <div class="form-group row">
                        @*<div class="col-xl-1 col-lg-1 col-md-1 col-sm-6 col-xs-12">
                            </div>*@
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-6 col-xs-12">
                            <label for="growerF"><strong>Grower: </strong></label>

                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-xs-12">

                            <select id="growerF" name="growerF" class="select2_group form-control form-control-sm" data-live-search="true" data-style="warning">
                            </select>
                        </div>
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-6 col-xs-12">
                            <label for="cboSemanaFin"><strong>Week End</strong></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <select id="cboSemanaFin" name="cboSemanaFin" class="select2_group form-control form-control-sm" data-live-search="true" data-style="warning">
                            </select>

                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <button type="button" id="btnSearch" onclick="onChkBtn()" class="btn btn-info btn-sm">Search <span class="icon text-white"><i class="fas fa-search fa-sm"></i></span></button>
                            <!-- Image loader -->
                            @*<button type="button" id="btnExport" class="btn btn-success btn-sm ">Excel <span class="icon text-white"><i class="fas fa-table fa-sm"></i></span></button>*@

                            <button id="btnModal" class="btn btn-warning btn-sm " type="button" onclick="loadComboGrower()" data-toggle="modal" data-target="#openModal2" data-backdrop="static" data-keyboard="false">Update <span class="icon "><i class="fas fa-upload fa-sm"></i></span></button>
                            <button id="btnModal2" class="btn btn-primary btn-sm " type="button" onclick="loadComboGrowerE()" data-toggle="modal" data-target="#openModal3" data-backdrop="static" data-keyboard="false">Massive Update <span class="icon "><i class="fas fa-check-circle fa-sm"></i></span></button>
                            .
                        </div>

                    </div>



                </div>
            </div>
        </div>
    </div>


    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold bgcolor='#13213d'">LIST OF RECORDS</h6>
                </div>
                <div class="card-body">

                    <div class="form-group row">
                        <div id="listWeekTbl" class="table-responsive ">
                            @*<asp:GridView ID="datos" runat="server" AllowPaging="True" EnableSortingAndPagingCallbacks="False" PageSize="40">
                                    <editrowstyle cssclass="even pointer"></editrowstyle>

                                    <headerstyle cssclass="headings" backcolor="#405467" font-bold="True" forecolor="White" horizontalalign="Center" verticalalign="Middle"></headerstyle>
                                    <pagersettings mode="Numeric" />
                                    <pagerstyle horizontalalign="Center" cssclass="pagination-ys" />
                                    <rowstyle cssclass="even pointer" horizontalalign="Center" />
                                </asp:GridView>*@

                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
    @*<h4><span class="badge badge-secondary">Harvest Forecast / Update Forecast</span></h4>*@



    <div id="openModal2" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#0B0B20">
                    <h5 class="modal-title" id="exampleModalLongTitle" style="color:white">REGISTER ONLY EXPORTABLE KILOS</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <asp:Label ID="Label2" runat="server" Text=""></asp:Label>
                                <b style="font-size:13px!important">GROWER</b>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <select id="cboGROWER" onchange="loadComboListFarm()" class="select2_group form-control form-control-sm"></select>
                                <br />
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <asp:Label ID="Label6" runat="server" Text=""></asp:Label>
                                <b style="font-size:13px!important">FARM</b>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">

                                <asp:TextBox ID="FarmBox" runat="server" CssClass="form-control" placeholder="0" Enabled="false" Text="0" Visible="false"></asp:TextBox>
                                <select id="cboFarm" onchange="loadComboListLots()" class="select2_group form-control form-control-sm"></select>
                                <br />
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <asp:Label ID="Label4" runat="server" Text=""></asp:Label>
                                <b style="font-size:13px!important">LOT</b>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">

                                <asp:TextBox ID="TextBox1" runat="server" CssClass="form-control" placeholder="0" Enabled="false" Text="0" Visible="false"></asp:TextBox>
                                <select id="cboLot" onchange="loadNexWeek()" class="select2_group form-control form-control-sm"></select>
                                <br />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <b style="font-size:13px!important">WEEK</b>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">

                                <select id="CboNext" onchange="loadModalTableFunct()" class="select2_group form-control form-control-sm"></select>
                                <br />
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <b style="font-size:13px!important">TOTAL KG</b>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">

                                <input id="inputKG" type="number" class="form-control form-control-sm" onkeypress="return isNumberKeyKG(event)" min="0" placeholder="Enter Kg." />
                                <br />
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <b style="font-size:13px!important">COMMENT</b>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">

                                <input type="text" id="inputCmnt" class="form-control form-control-sm" placeholder="Enter comment." />
                            </div>
                        </div>

                        <div class="form-group row">

                            <div id="loadModalTable" class="col-md-12 col-sm-12 col-xs-12">

                                <div id="listWeekLote" class="table-responsive">
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="background-color:lightgray">
                    <button id="btnSaveModal" type="button" class="btn btn-success alignright">SAVE <span class="icon text-white"><i class="fas fa-floppy-o"></i></span></button>
                    &nbsp;
                    <asp:Label ID="Label5" runat="server" Font-Bold="True" ForeColor="Red"></asp:Label>
                    <button class="btn btn-danger alignright" data-dismiss="modal" type="button">CLOSE <span class="icon text-white"><i class="fas fa-times"></i></span></button>
                    <span id="spanObligatory" style="text-align:left" class="badge badge-danger"></span>
                </div>
            </div>
        </div>

    </div>



    @*<div id="openModal2" class="modal" role="dialog">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <ul class="nav navbar-right panel_toolbox">
                                    <li class="right">
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                </ul>
                                <h6 class="m-0 font-weight-bold bgcolor='#13213d'">REGISTER ONLY EXPORTABLE KILOS</h6>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <asp:Label ID="Label2" runat="server" Text=""></asp:Label>
                                        <b>GROWER</b><br />
                                        <select id="cboGROWER" onchange="loadComboListFarm()" class="select2_group form-control"></select>
                                        <br />
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <asp:Label ID="Label6" runat="server" Text=""></asp:Label>
                                        <b>FARM</b><br />
                                        <asp:TextBox ID="FarmBox" runat="server" CssClass="form-control" placeholder="0" Enabled="false" Text="0" Visible="false"></asp:TextBox>
                                        <select id="cboFarm" onchange="loadComboListLots()" class="select2_group form-control"></select>
                                        <br />
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <asp:Label ID="Label4" runat="server" Text=""></asp:Label>
                                        <b>LOT</b><br />
                                        <asp:TextBox ID="TextBox1" runat="server" CssClass="form-control" placeholder="0" Enabled="false" Text="0" Visible="false"></asp:TextBox>
                                        <select id="cboLot" onchange="loadNexWeek()" class="select2_group form-control"></select>
                                        <br />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <b>WEEK</b><br />
                                        <select id="CboNext" onchange="loadModalTableFunct()" class="select2_group form-control"></select>
                                        <br />
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <b>TOTAL KG</b>
                                        <br />
                                        <input id="inputKG" type="number" class="form-control" onkeypress="return isNumberKeyKG(event)" min="0" placeholder="Enter Kg." />
                                        <br />
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <b>COMMENT</b>
                                        <input type="text" id="inputCmnt" class="form-control" placeholder="Enter comment." />
                                    </div>
                                </div>

                                <div class="form-group row">

                                    <div id="loadModalTable" class="col-md-12 col-sm-12 col-xs-12">

                                        <div id="listWeekLote" class="table-responsive">
                                        </div>

                                        <br />
                                        <br />
                                        <button id="btnSaveModal" type="button" class="btn btn-success alignright">SAVE <span class="icon text-white"><i class="fas fa-floppy-o"></i></span></button>
                                        &nbsp;
                                        <asp:Label ID="Label5" runat="server" Font-Bold="True" ForeColor="Red"></asp:Label>
                                        <button class="btn btn-danger alignright" data-dismiss="modal" type="button">CLOSE <span class="icon text-white"><i class="fas fa-times"></i></span></button>
                                        <span id="spanObligatory" style="text-align:left" class="badge badge-danger"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>*@


</div>
<div id="openModal3" class="modal" role="dialog">

    <div class="col-md-12 col-sm-12 col-xs-12 align-content-center align-self-center">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 align-content-center align-self-center">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <ul class="nav navbar-right panel_toolbox">
                            <li class="right">
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <h6 class="m-0 font-weight-bold bgcolor='#13213d'">IMPORT MASIVE FORECAST</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <asp:Label ID="Label2" runat="server" Text=""></asp:Label>
                                <b>GROWER</b><br />
                                <select id="cboGROWER2" onchange="getGlobalGrower()" class="select2_group form-control"></select>
                                <br />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <b>GET TEMPLATE</b>
                                <button class="btn btn-primary btn-sm col-xs-pull-1" onclick="DownloadTemplate()" type='button' id='download'>DOWNLOAD</button>
                            </div>
                            <br />
                        </div>
                        <div class="form-group row">
                            @*<input type='file' id='file1' />
                                <button id="btnUpload"></button>*@
                            <div id="loadModalTable" class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                                @*<span id="OrganicMsg" class="badge badge-warning"></span>*@
                                <table class="table table-hover table-bordered table-bordered table-striped dataTable" id="tblExcel">
                                    @*<thead>
                                        </thead>
                                        <tbody>
                                        </tbody>*@
                                </table>
                                <br />
                                <br />
                                <div class="form-group row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <b>MASIVE UPLOAD</b>
                                        <input class="form-control" type='file' id='file1' accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                                    </div>
                                    <br />
                                    <br />

                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <br />
                                        <button class="btn btn-primary btn-sm col-xs-pull-1" id="btnUpload">VERIFY</button>

                                    </div>
                                    <div id="wait" class="text-center" style="display:none">
                                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div><br>Loading...
                                    </div>
                                </div>
                                <button id="btnSaveModal2" type="button" class="btn btn-success alignright" disabled>SAVE <span class="icon text-white"><i class="fas fa-floppy-o"></i></span></button>
                                &nbsp;
                                <asp:Label ID="Label5" runat="server" Font-Bold="True" ForeColor="Red"></asp:Label>
                                <button class="btn btn-danger alignright" data-dismiss="modal" type="button">CLOSE <span class="icon text-white"><i class="fas fa-times"></i></span></button>
                                <span id="spanObligatory2" style="text-align:left" class="badge badge-danger"></span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/Scripts/View/Forecast/Forecast.js"></script>
<script src="~/Scripts/View/Forecast/ExcelToJSON.js"></script>
<script src="~/Scripts/Services/ForeCast/ForeCastService.js"></script>