﻿
@{
    ViewBag.Title = "BoardingProgramming";
}
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>*@

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js" type="text/javascript" charset="utf-8"></script>

<!-- Scripts in development mode -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.0/jspdf.debug.js"></script>
<script language="javascript" type="text/javascript" src="https://rawgit.com/sphilee/jsPDF-CustomFonts-support/master/dist/jspdf.customfonts.debug.js"></script>
<script language="javascript" type="text/javascript" src="https://rawgit.com/sphilee/jsPDF-CustomFonts-support/master/dist/default_vfs.js"></script>


<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-black">Shipping Program</h1>
    </div>


    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card  mb-4">
                <div class="card-header pt-1 card-header-title-filter">
                    <div class="form-group row">
                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-7">
                            <label><strong>Filters Bar</strong></label>
                        </div>
                        <div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">

                        </div>

                    </div>

                </div>
                <div class="card-body" style="background-color:#D0DAF1">

                    <div class="form-group row">

                        <div class="col-xl-2 col-md-2 ">
                            <div class="card border-left-info shadow h-70 py-1 ">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Production Orders</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="Total">18</span></div>
                                            <a class="small text-white stretched-link" href="#" onclick="javascipt:return false;" id="btnTotalPO"></a>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-globe fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-2 col-md-2">
                            <div class="card border-left-success shadow h-70 py-1">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">With IE</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="With">18</span></div>
                                            <a class="small text-white stretched-link" href="#" onclick="javascipt:return false;" id="btnWith"></a>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-info-circle fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-2">
                            <div class="card border-left-warning shadow h-70 py-1">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">WithOut IE</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="WithOut">18</span></div>
                                            <a class="small text-white stretched-link" href="#" onclick="javascipt:return false;" id="btnWithOut"></a>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-exclamation-triangle fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-3 col-md-3 ">
                            <div class="form-group row">
                                <div class="col-xl-3 col-md-3">
                                    <label style="font-size: 14px!important" for="cboCustomer">Customer</label>
                                </div>
                                <div class="col-xl-9 col-md-9">
                                    <select id="cboCustomer" name="cboCustomer" class="form-control selectpicker form-control-sm" data-live-search="true">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-3 col-md-3 ">
                                    <label style="font-size: 14px!important" for="cboDestination">Destination:</label>
                                </div>
                                <div class="col-xl-9 col-md-9 ">
                                    <select id="cboDestination" name="cboDestination" class="selectpicker form-control form-control-sm" data-live-search="true">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-3 ">
                            <div class="form-group row">
                                <div class="col-xl-3 col-md-3 ">
                                    <label style="font-size: 14px!important" for="selectStatus">Status</label>
                                </div>
                                <div class="col-xl-9 col-md-9 ">
                                    <select id="selectStatus" name="selectStatus" class="selectpicker form-control form-control-sm" data-live-search="true">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-3 col-md-3">
                                    <label style="font-size: 14px!important" for="cboWeek">Departure Week</label>
                                </div>
                                <div class="col-xl-9 col-md-9 ">
                                    <select id="cboWeek" name="cboWeek" class="selectpicker form-control form-control-sm" data-live-search="true">
                                    </select>
                                </div>

                            </div>

                            <div class="col-md-1">
                                <a href="#" class="btn btn-success btn-sm btn-icon-split " id="btnSearch" onclick="javascipt:return false;">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-search fa-sm"></i>
                                    </span>
                                    <span class="text">Search</span>
                                </a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card shadow mb-4">
                <div class="card-header pt-2 px-2 py-1">
                    <div class="form-group row">
                        <div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">
                            <h6 class="m-0 font-weight-bold bgcolor='#13213d'">LIST OF RECORDS</h6>
                        </div>


                    </div>
                </div>




                <div class="card-body">
                    <div class="table-responsive" id="divList">
                        <table id="boarding" class="table table-sm table-hover table-bordered table-striped">
                            <thead class="text-white" style="background-color : #13213d">
                                <tr style="font-size:14px">
                                    <td style='display:none'>orderProductionID</td>
                                    <td>Production Order</td>
                                    <td>Date Completed</td>
                                    <td>Packing</td>
                                    <td>VGM</td>
                                    <td>Loading Date</td>
                                    <td>ETD</td>
                                    <td>ETA</td>
                                    <td>Departure Week</td>
                                    <td>Status</td>
                                    <td>Customer</td>
                                    <td>Destination</td>
                                    <td style="max-width:30px;min-width:30px; text-align:center">PO</td>
                                    <td style="max-width:30px;min-width:30px; text-align:center">S.I.</td>
                                    <td>Shipping Instruction</td>
                                    <td style="max-width:30px;min-width:30px; text-align:center"> [ ] </td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>


                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/View/PO/BoardingProgramming.js"></script>
<script src="~/Scripts/View/PO/pdfByCrop.js"></script>
@*uvas*@
<script src="~/Scripts/View/PO/pdf.js"></script>
@*arandano*@