﻿@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/Master.cshtml";
}

<style>
    /**/
    .table-cebra .sticky {
        position: sticky;
        left: 0;
        border-left: solid 1px #ccc;
        border-right: solid 1px #ccc;
        z-index: 1000 !important;
    }

    .table-cebra .sticky2 {
        position: sticky;
        left: 350px;
        z-index: 1000 !important;
    }

    .table-cebra .sticky3 {
        position: sticky;
        left: 470px;
        z-index: 1000 !important;
    }

    .table-cebra .sticky4 {
        position: sticky;
        left: 565px;
        z-index: 1000 !important;
    }

    .table-cebra .sticky5 {
        position: sticky;
        left: 655px;
        z-index: 1000 !important;
    }

    .table-cebra .sticky6 {
        position: sticky;
        left: 755px;
        z-index: 1000 !important;
    }

    .table-cebra thead th .sticky {
        background: #13213d;
        color: white;
    }

    .table-cebra tbody tr .sticky {
        /* background: white;*/
    }

    .table-cebra tbody tr:nth-child(2n) .sticky {
        /*background: #f2f2f2;*/
    }

    .table-cebra thead th .sticky2 {
        background: #13213d;
        color: white;
    }

    .table-cebra tbody tr .sticky2 {
        /*	background: white;*/
    }

    .table-cebra tbody tr:nth-child(2n) .sticky2 {
        /*background: #f2f2f2*/
    }

    .table-cebra thead th .sticky3 {
        background: #13213d;
        color: white;
    }

    .table-cebra tbody tr .sticky3 {
        /*	background: white;*/
    }

    .table-cebra tbody tr:nth-child(2n) .sticky3 {
        /*background: #f2f2f2*/
    }

    .table-cebra thead th .sticky4 {
        background: #13213d;
        color: white;
    }

    .table-cebra tbody tr .sticky4 {
        /*background: white;*/
    }

    .table-cebra tbody tr:nth-child(2n) .sticky4 {
        /*background: #f2f2f2*/
    }

    .table-cebra thead th .sticky5 {
        background: #13213d;
        color: white;
    }

    .table-cebra tbody tr .sticky5 {
        /*background: white;*/
    }

    .table-cebra tbody tr:nth-child(2n) .sticky5 {
        /*background: #f2f2f2*/
    }

    .table-cebra thead th .sticky6 {
        background: #13213d;
        color: white;
    }

    .table-cebra tbody tr .sticky6 {
        /*background: white;*/
    }

    .table-cebra tbody tr:nth-child(2n) .sticky6 {
        /*background: #f2f2f2*/
    }

    .table-cebra .sticky-row {
        position: sticky;
        /*			position: -webkit-sticky;*/
        left: 0px;
        top: 23px;
        background: #000;
        color: white;
        padding: 4px;
        /*			z-index: 3;*/
    }

    .badge-rejectedPO {
        background-color: darkorange;
        color: white;
    }

    .badge-successPO {
        background-color: dimgrey; /*initial;*/
        color: white;
        /*border: 1px solid #ced4da;*/
    }

    /*---------------*/
    .btn-flotante {
        font-size: 16px; /* Cambiar el tamaño de la tipografia */
        text-transform: uppercase; /* Texto en mayusculas */
        font-weight: bold; /* Fuente en negrita o bold */
        color: #ffffff; /* Color del texto */
        border-radius: 5px; /* Borde del boton */
        letter-spacing: 2px; /* Espacio entre letras */
        background-color: #E91E63; /* Color de fondo */
        padding: 18px 30px; /* Relleno del boton */
        position: fixed;
        bottom: 40px;
        right: 40px;
        transition: all 300ms ease 0ms;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        z-index: 99;
    }

        .btn-flotante:hover {
            background-color: #2c2fa5; /* Color de fondo al pasar el cursor */
            box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
            transform: translateY(-7px);
        }
</style>


<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h2><span class="badge badge-titulo">SO / Confirmation</span></h2>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card  mb-4">
                <div class="card-header card-header-title-filter">
                    <div class="form-group row">

                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-7">
                            <label><strong>Filters Bar</strong></label>
                        </div>
                        <div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">
                        </div>
                    </div>
                </div>

                <div class="card-body pt-1 card-body-agrocom">
                    <div class="form-group row">
                        <div class="col-xl-2 col-md-2 ">
                            <label for="selectPlantFilter" class="label-agrocom">Plants</label>
                            <select id="selectPlant" name="selectPlantFilter" class="selectpicker form-control form-control-sm" data-live-search="true">
                            </select>
                        </div>
                        <div class="col-xl-3 col-md-3 ">
                            <label for="cboSemanaIni" class="label-agrocom">Initial Departure Week</label>
                            <select id="selectWeekProduction" name="selectWeekProduction" class="form-control selectpicker form-control-sm" data-live-search="true">
                            </select>
                        </div>
                        <div class="col-xl-3 col-md-3 ">
                            <label for="cboSemanaFin" class="label-agrocom">Final Departure Week</label>
                            <select id="selectWeekProductionEnd" name="selectWeekProductionEnd" class="form-control selectpicker form-control-sm" data-live-search="true">
                            </select>
                        </div>
                        <div class="col-xl-2 col-md-2">
                            <label for="selectStatusConfirm" class="label-agrocom">Status Confirm</label>
                            <select id="selectStatusConfirm" name="selectStatusConfirm" class="form-control selectpicker form-control-sm" data-live-search="true">
                            </select>
                        </div>

                        <div class="col-xl-2 col-md-2 " style="padding-top:25px">
                            <a href="#" class="btn btn-success btn-sm btn-icon-split " id="btnSearch" onclick="javascipt:return false;">
                                <span class="icon text-white-50">
                                    <i class="fas fa-search fa-sm"></i>
                                </span>
                                <span class="text">Search</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card  mb-4">
                <div class="card-header pt-1 card-header-title-filter">
                    <div class="form-group row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <label><strong>List of Records</strong></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-5" hidden>
                            <a href="#" class="btn btn-success btn-sm btn-icon-split transact pull-left" onclick="MassiveConfirm()" id="MasiveUpdate">
                                <span class="icon text-white-50">
                                    <i class="fas fa-check-circle fa-sm"></i>
                                </span>
                                <span class="text">Save Changes</span>
                            </a>
                        </div>
                        <div id="divSOwithoutProgram" style="display:none;">
                            <button id="btnSOwithoutProgram" class="btn btn-sm btn-success" style="border: none; outline: none !important; background-color: #ef7800;" title="Sales Order without Program">
                                <i class="fas fa-plus-circle fa-sm"></i>
                                <span class="text">Sales Order without Program</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive" id="divList" style="min-height:300px;">
                        <table id="tableList" class="table table-cebra table-bordered table-hover table-responsive-lg">
                            <thead class="thead-agrocom">
                                <tr class="table-tr-agrocom">
                                    <td class="text-white" style="display:none">Order Production ID</td>
                                    <td class="text-white" style="max-width:100px;min-width:100px; display:none ">Packing List</td>
                                    <td class="text-white sticky" style="text-align: center; max-width: 350px; min-width: 350px; color: white; background-color: #13213d">Operations</td>
                                    <td class="text-white sticky2" style="text-align: center; max-width: 120px; min-width: 120px; color: white; background-color: #13213d">Sales Order</td>
                                    <td class="text-white sticky3" style="max-width:95px;min-width:95px;color:white;background-color : #13213d">Production Week</td>
                                    <td class="text-white sticky4" style="max-width:90px;min-width:90px;color:white;background-color : #13213d">Departure Week</td>
                                    <td class="text-white " style="display:none;max-width:100px;min-width:100px;">Planta ID</td>
                                    <td class="text-white" style="text-align: center; max-width: 200px; min-width: 200px; color: white; background-color: #13213d">Planta</td>
                                    <td class="text-white" style="display:none">Actually Status ID</td>
                                    <td class="text-white" style="text-align: center; font-size:13px;max-width:100px;min-width:100px">Status</td>
                                    <td class="text-white" style="display:none">DateAux</td>
                                    <td class="text-white" style="max-width:130px;min-width:130px">Complete Date</td>
                                    <td class="text-white" style="max-width:130px;min-width:130px">Loading Date</td>
                                    <td class="text-white" style="max-width:80px;min-width:80px">VGM</td>
                                    <td class="text-white" style="max-width: 180px; min-width: 180px;">Sales Order Comments</td>
                                    <td class="text-white" style="text-align: center; font-size:13px;max-width:100px;min-width:100px">Modified State</td>
                                    <td class="text-white" style="max-width: 170px; min-width: 170px;">Comments SO Modify</td>
                                    <td class="text-white" style="display:none">Grower ID</td>
                                    <td class="text-white" style="display:none">Farm ID</td>
                                    <td class="text-white" style="max-width:150px;min-width:150px;display:none">Farm</td>
                                    <td class="text-white" style="max-width:60px;min-width:60px">Day</td>
                                    <td class="text-white" style="text-align: center; max-width: 150px; min-width: 150px;" hidden>Grower</td>
                                    <td class="text-white" style="max-width: 150px; min-width: 150px;display:none">Market</td>
                                    <td class="text-white" style="max-width: 150px; min-width: 150px;display:none">Destination</td>
                                    <td class="text-white" style="max-width: 100px; min-width: 100px;display:none ">Via</td>
                                    <td class="text-white" style="max-width: 150px; min-width: 150px;display:none ">Priority</td>
                                    <td class="text-white" style="display: none">Customer</td>
                                    <td class="text-white" style="max-width: 200px; min-width: 200px;display:none">Description</td>
                                    <td class="text-white" style="max-width: 100px; min-width: 100px;display:none">Brand</td>
                                    <td class="text-white" style="max-width: 150px; min-width: 150px;display:none">Variety</td>
                                    <td class="text-white" style="max-width: 100px; min-width: 100px;display:none">Sizes</td>
                                    <td class="text-white" style="display: none">Pallets</td>
                                    <td class="text-white" style="max-width: 100px; min-width: 100px;display:none">Total Boxes</td>
                                    <td class="text-white" style="display: none">Box/Pallet</td>
                                    <td class="text-white" style="max-width: 100px; min-width: 100px;display:none">Total Clamshell</td>
                                    <td class="text-white" style="max-width: 100px; min-width: 100px;display:none">Weigh x Box</td>
                                    <td class="text-white" style="max-width: 100px; min-width: 100px;display:none">Total Weight</td>
                                    <td class="text-white" style="max-width: 150px; min-width: 150px;display:none">Commets</td>
                                    <td class="text-white" style="max-width: 100px; min-width: 100px;display:none">Total Weight</td>
                                    <td class="text-white" style="max-width: 150px; min-width: 150px;display:none">Commets</td>
                                    <td class="text-white" style="display: none">Date Updated</td>
                                    <td class="text-white" style="display: none">Nro.Attempt Edit Packing</td>
                                    <td class="text-white" style="display: none">Tot.Attempt Edit Packing</td>
                                    <td class="text-white" style="display: none">Status IE</td>
                                    <td class="text-white" style="display: none">Consignee</td>
                                    <td class="text-white" style="display: none">valVariety</td>
                                    <td class="text-white" style="display: none">valSize</td>
                                    <td class="text-white" style="display: none">customerID</td>
                                    <td class="text-white" style="max-width: 50px; min-width: 50px;">[S.O.]</td>
                                    <td class="text-white" style="max-width: 50px; min-width: 50px;">[S.I.]</td>
                                    <td class="text-white" style="max-width: 50px; min-width: 50px; display:none">[Addit. Product Spec.]</td>
                                    <td class="text-white" style="max-width: 50px; min-width: 50px; display:none">[Billing]</td>
                                    <td class="text-white" style="max-width: 50px; min-width: 50px;">[I.E.]</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-2">
                    <div class="form-group row">
                        <div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">
                            <label><strong>Summary</strong></label>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid pt-3 py-2 px-2" style="background-color:#DBDBDF">
                        <details open>
                            <summary style="font-size:12px; color:#2A3F54">
                                <strong>Details</strong>
                            </summary>
                            <div class="card shadow mb-4">
                                <table id="tblDetails" class="table table-sm table-hover table-bordered table-striped ">
                                    <thead class="thead-agrocom">
                                        <tr class="table-tr-agrocom">
                                            <td colspan="9" style="text-align:center">Orders</td>
                                        </tr>
                                        <tr class="table-tr-agrocom">
                                            <td class="text-white" style="display:none">ProductionWeekID</td>
                                            <td style="text-align:center">Production Week</td>
                                            <td style="text-align:center">Assigned</td>
                                            <td style="text-align:center">Pending Confirm</td>
                                            <td style="text-align:center">Confirm</td>
                                            <td style="text-align:center">Completed</td>
                                            <td style="text-align:center">Reject</td>
                                            <td style="text-align:center">
                                                %Fulfillment
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </details>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal sale order detail - ini-->
<div id="modalOPdetail" style="overflow-y: scroll;overflow-x:scroll" class="modal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-content">

        <div class="modal-header" style="background-color : #13213d">
            <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body" style="background-color: #f2f2f2 ">
            <div class="row" style="overflow-x:scroll">
                <div class="col-md-12 col-sm-12 col-xs-12">


                    <div class="card card-body-agrocom">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group row">
                                <div class="form-group col-md-1 col-sm-3 col-xs-3">
                                    <label class="label-modal-agrocom" for="txtPO">Sales Order</label>
                                    <input id="txtPO" class="form-control form-control-sm" disabled />
                                </div>
                                <div class="form-group col-md-2 col-sm-3 col-xs-3">
                                    <label class="label-modal-agrocom" for="txtCustomer">Customer:</label>
                                    <input id="txtCustomer" class="form-control form-control-sm" disabled />
                                </div>
                                <div class="form-group col-md-1 col-sm-3 col-xs-3">
                                    <label class="label-modal-agrocom" for="txtDepartureWeek">Departure Week:</label>
                                    <input id="txtDepartureWeek" class="form-control form-control-sm" disabled />
                                </div>
                                <div class="form-group col-md-2 col-sm-3 col-xs-3">
                                    <label class="label-modal-agrocom" for="txtDestination">Destination</label>
                                    <input id="txtDestination" class="form-control form-control-sm" disabled />
                                </div>
                                <div class="form-group col-md-2 col-sm-3 col-xs-3">
                                    <label class="label-modal-agrocom" for="txtConsignee">Consignee:</label>
                                    <input id="txtConsignee" class="form-control form-control-sm" disabled />
                                </div>
                                <div class="form-group col-md-2 col-sm-3 col-xs-3">
                                    <label class="label-modal-agrocom" for="chkPromiseCompliance">Promise Compliance:</label>
                                    <br />
                                    <label class="switch">
                                        <input type="checkbox" id="chkPromiseCompliance">
                                        <div class="slider round"></div>
                                    </label>
                                </div>
                                <div class="form-group col-md-2 col-sm-3">
                                    <label class="label-modal-agrocom " for="btnViewClientSpecification">View Specifications:</label>
                                    <br />
                                    <button id="btnViewClientSpecification02" class="btn btn-sm btn-success" style="border:none;outline:none!important; background-color: #709414" data-toggle="tooltip" title="Client Specifications">
                                        <i class="fas fa-search fa-sm"></i> Specs
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="card card-body-agrocom " style="background-color:white">
                        <form>
                            <div class="form-group-sm col-12">
                                <div style="text-align:center;">
                                    <h3><span>CURRENT SALES ORDER DETAIL</span></h3>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table id="tblDetailOPactual" class="table table-hover table-bordered table-striped ">
                                    <thead class="thead-agrocom">
                                        <tr class="table-tr-agrocom">
                                            <td class="text-white" style="max-width: 120px; min-width: 150px; font-size: 12px; text-align: center;">
                                                <span>VARIETY</span>
                                            </td>
                                            <td class="text-white" style="max-width: 80px; min-width: 80px; font-size: 12px; text-align: center;">
                                                <span>TYPE OF BOX</span>
                                            </td>
                                            <td class="text-white" style="max-width: 80px; min-width: 80px; font-size: 12px; text-align: center;">
                                                <span>CATEGORY</span>
                                            </td>
                                            <td class="text-white" style="max-width: 80px; min-width: 80px; font-size: 12px; text-align: center;">
                                                <span>NET WEIGHT BOX</span>
                                            </td>
                                            <td class="text-white" style="max-width: 80px; min-width: 80px; font-size: 12px; text-align: center;">
                                                <span>BRAND</span>
                                            </td>
                                            <td class="text-white" style="max-width: 80px; min-width: 80px; font-size: 12px; text-align: center;" id="tdLabel">
                                                <span>LABEL</span>
                                            </td>
                                            <td class="text-white" style="max-width: 50px; min-width: 50px; font-size: 12px; text-align: center;">
                                                <span>CODEPACK</span>
                                            </td>
                                            <td class="text-white" style="max-width: 50px; min-width: 50px; font-size: 12px; text-align: center;">
                                                <span>KGs. NET</span>
                                            </td>
                                            <td class="text-white" style="max-width: 50px; min-width: 50px; font-size: 12px; text-align: center;">
                                                <span>BOXES</span>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </form>
                        <hr style="border-color:rebeccapurple">
                        <div id="divSaleOrderDetailProposal" class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group-sm col-12">
                                    <div style="text-align:center;">
                                        <h3><span>SALES ORDER DETAIL PROPOSAL</span></h3>
                                    </div>
                                </div>
                                <button type="button" id="btnShowModalForCodePack" class="btn btn-info btn-block" style="background-color:#13213d" data-toggle="collapse" data-target="#demo">Modify</button>
                                <div id="demo" class="collapse">
                                    <form style="background-color:#C5E7CA; padding-left:40px; padding-top:40px; padding-bottom:40px;padding-right:40px;">
                                        <div class="form-row">
                                            <div class="form-group-sm col-2">
                                                <label for="selectVariety" class="label-modal-agrocom">Variety</label>
                                                <select class="form-control selectpicker  form-control-sm color_green" data-live-search="true" id="selectVariety">
                                                </select>
                                            </div>
                                            <div class="form-group-sm col-1">
                                                <label for="selectCategory" class="label-modal-agrocom">Category</label>
                                                <select class="form-control selectpicker  form-control-sm color_green" data-live-search="true" id="selectCategory">
                                                </select>
                                            </div>
                                            <div class="form-group-sm col-2">
                                                <label for="selectBrand" class="label-modal-agrocom">Box Brand</label>
                                                <select class="form-control selectpicker  form-control-sm " data-live-search="true" id="selectBrand">
                                                </select>
                                            </div>
                                            <div class="form-group-sm col-2">
                                                <label for="selectTypeBox" class="label-modal-agrocom">Type Box</label>
                                                <select class="form-control selectpicker  form-control-sm " data-live-search="true" id="selectTypeBox">
                                                </select>
                                            </div>

                                            <div class="form-group-sm col-2">
                                                <label for="selectLabel" class="label-modal-agrocom">Label</label>
                                                <select class="form-control selectpicker  form-control-sm " data-live-search="true" id="selectLabel">
                                                </select>
                                            </div>
                                            <div class="form-group-sm col-1">
                                                <label for="selectWeightBox" class="label-modal-agrocom">Weight Box</label>
                                                <select class="form-control selectpicker  form-control-sm " data-live-search="true" id="selectWeightBox">
                                                </select>
                                            </div>
                                            <div class="form-group-sm col-1">
                                                <label for="selectPresentation" class="label-modal-agrocom">Int. Packaging</label>
                                                <select class="form-control selectpicker  form-control-sm color_green" data-live-search="true" id="selectPresentation">
                                                </select>
                                            </div>
                                            <div class="form-group-sm col-1">
                                                <label for="selectCodepack" class="label-modal-agrocom">Box Size</label>
                                                <select class="form-control selectpicker  form-control-sm " data-live-search="true" id="SelectSizeBox">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group-sm col-1">
                                                <label class="label-modal-agrocom" for="txtBoxPerPallet">Box/Pallet</label>
                                                <input id="txtBoxPerPallet" class="form-control form-control-sm " type="text" value="0" disabled />
                                            </div>
                                            <div class="form-group-sm col-1">
                                                <label class="label-modal-agrocom" for="txtBoxPerContainer">Box/Container</label>
                                                <input id="txtBoxPerContainer" class="form-control form-control-sm " type="text" value="0" disabled />
                                            </div>
                                            <div class="form-group-sm col-1">
                                                <label class="label-modal-agrocom" for="txtBoxes">Boxes</label>
                                                <input id="txtBoxes" type="number" min="0" step="100" style="text-align:right" class="form-control form-control-sm " required />
                                            </div>
                                            <div class="form-group-sm col-1">
                                                <label class="label-modal-agrocom" for="txtPallets">Pallets</label>
                                                <input id="txtPallets" type="number" min="0" class="form-control form-control-sm " disabled>
                                            </div>
                                            <div class="form-group-sm col-2">
                                                <label for="txtCodePack" class="label-modal-agrocom">Codepack</label>
                                                <input id="txtCodePack" class="form-control form-control-sm" type="text" value="" disabled />
                                            </div>
                                            <div class="form-group-sm col-1">
                                                <label for="selectpadlock" class="label-modal-agrocom">Padlock</label>
                                                <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input type="checkbox" class="form-check-input" id="chkpadlock">
                                            </div>
                                            <div class="form-group-sm col-1">
                                                <label for="selectplu" class="label-modal-agrocom">With PLU</label>
                                                <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input type="checkbox" class="form-check-input" id="chkplu">
                                            </div>
                                            <div class="form-group-sm col-2">
                                                <br>
                                                <button type="button" class="btn btn-success btn-sm  mb-1 " id="btnAddPOdetail"><span>Add&nbsp;</span><span class="text-white"><i class="fas fa-plus-circle"></i></span></button>
                                                <button type="button" class="btn btn-info btn-sm  mb-1 " id="btnUpdatePOdetail" hidden><span>Update&nbsp;</span><span class="text-white"><i class="fas fa-plus-circle"></i></span></button>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                                <div id="blu" class="collapse">
                                    <form style="background-color:#C5E7CA; padding-left:40px; padding-top:40px; padding-bottom:40px;padding-right:40px">
                                        <div class="form-group row">

                                            <div class="form-group-sm col-md-1">
                                                <label for="_selectBrand" class="label-agrocom">Brand</label>
                                                <select class="form-control selectpicker form-control-sm" id="_selectBrand" data-live-search="false">
                                                </select>
                                            </div>
                                            <div class="form-group-sm col-md-2">
                                                <label for="_selectVariety" class="label-agrocom">Variety </label>
                                                <br />
                                                <select class="form-control form-control-sm" id="_selectVariety" multiple="multiple">
                                                </select>
                                            </div>
                                            <div class="form-group-sm col-1">
                                                <label for="_selectFormat" class="label-agrocom">Format</label>
                                                <select class="form-control selectpicker form-control-sm" id="_selectFormat" data-live-search="false">
                                                </select>
                                            </div>
                                            <div class="form-group-sm col-1">
                                                <label for="_selectTypeBox" class="label-agrocom">Type Box</label>
                                                <select class="form-control selectpicker form-control-sm" id="_selectTypeBox" data-live-search="false">
                                                </select>
                                            </div>
                                            <div class="form-group-sm col-1">
                                                <label for="_selectPresentation" class="label-agrocom">Pack</label>
                                                <select class="form-control selectpicker form-control-sm" id="_selectPresentation" data-live-search="false">
                                                </select>
                                            </div>
                                            <div class="form-group-sm col-md-1">
                                                <label for="_selectSize" class="label-agrocom">Size</label>
                                                <br />
                                                <select class="form-control selectpicker form-control-sm" id="_selectSize" data-live-search="false">
                                                </select>
                                            </div>
                                            <div class="form-group-sm col-1">
                                                <label for="_txtBoxPerPallet" class="label-agrocom">Box/Pallet</label>
                                                <input id="_txtBoxPerPallet" class="form-control form-control-sm" type="text" value="0" disabled />
                                            </div>
                                            <div class="form-group-sm col-1">
                                                <label for="_txtBoxPerPerContainer" class="label-agrocom">Box/Container</label>
                                                <input id="_txtBoxPerPerContainer" class="form-control form-control-sm" type="text" value="0" disabled />
                                            </div>
                                            <div class="form-group-sm col-1">
                                                <label class="label-agrocom" for="txtBoxes">Boxes</label>
                                                <input id="_txtBoxes" type="number" min="0" step="100" style="text-align:right" class="form-control form-control-sm " required />
                                            </div>
                                            <div class="form-group-sm col-1">
                                                <label class="label-agrocom" for="txtPallets">Pallets</label>
                                                <input id="_txtPallets" type="number" min="0" class="form-control form-control-sm " disabled>
                                            </div>
                                            <div class="form-group-sm col-md-1">
                                                <br>
                                                <button type="button" class="btn btn-success btn-sm mb-1 pulse-button" id="_btnAddPOdetail">
                                                    <span>Add&nbsp;</span>
                                                    <span class="text-white">
                                                        <i class="fas fa-plus-circle"></i>
                                                    </span>
                                                </button>
                                                <button type="button" class="btn btn-info btn-sm  mb-1" id="_btnEditPOdetail" hidden><span>Update&nbsp;</span><span class="text-white"><i class="fas fa-plus-circle"></i></span></button>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="form-group-sm col-1" hidden>
                                                <label class="label-agrocom" for="txtPallets">PriceUSD/Box</label>
                                                <input id="_txtPriceBox" type="number" min="0" step="100" style="text-align:right" class="form-control form-control-sm " required />
                                            </div>
                                            <div class="form-group-sm col-2">
                                                <label for="_txtCodePack" class="label-agrocom">Codepack</label>
                                                <textarea id="_txtCodePack" class="form-control form-control-sm" rows="1" style="min-height:75%" readonly></textarea>
                                            </div>
                                            <div class="form-group-sm col-3">
                                                <label class="form-check-label label-agrocom" for="chkWorkOrder">Work-Order Netsuite</label>
                                                <br />
                                                <label class="switch">
                                                    <input type="checkbox" id="chkWorkOrder" checked>
                                                    <div class="slider round" data-toggle="tooltip" title="Option disable for this moment"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="card-body mb-2" style="		background-color: #fff">
                                            <div id="divPOdetail">
                                                <table id="tblPOdetail" class="table table-hover table-bordered table-striped">
                                                    <thead class="thead-agrocom">
                                                        <tr class="table-tr-agrocom">
                                                            <td class="text-white" style="min-width: 30px!important;max-width: 30px!important;">&nbsp&nbsp&nbsp[]&nbsp&nbsp&nbsp </td>       @*--00--*@
                                                            <td class="text-white" style="display:none">Id</td>                                         @*--01--*@
                                                            <td class="text-white" style="display:none">Variety Id</td>                                 @*--02--*@
                                                            <td class="text-white">Variety</td>                                                         @*--03--*@
                                                            <td class="text-white" style="display:none">Category Id</td>                                @*--04--*@
                                                            <td class="text-white">Category</td>                                                        @*--05--*@
                                                            <td class="text-white" style="display:none">Weight Box Id</td>                              @*--06--*@
                                                            <td class="text-white">Weight Box</td>                                                      @*--07--*@
                                                            <td class="text-white" style="display:none">Type Box Id</td>                                @*--08--*@
                                                            <td class="text-white">Type Box</td>                                                        @*--09--*@
                                                            <td class="text-white" style="display:none">Box Brand Id</td>                               @*--10--*@
                                                            <td class="text-white">Box Brand</td>                                                       @*--11--*@
                                                            <td class="text-white" style="display:none">Presentation Id</td>                            @*--12--*@
                                                            <td class="text-white">Presentation</td>                                                    @*--13--*@
                                                            <td class="text-white" style="display:none">Label Id</td>                                   @*--14--*@
                                                            <td class="text-white" style="display:@ViewBag.flagcrop">Label</td>                         @*--15--*@
                                                            <td class="text-white" style="display:none">Size Box Id</td>                                @*--16--*@
                                                            <td class="text-white">Size Box</td>                                                        @*--17--*@
                                                            <td class="text-white">CodePack</td>                                                        @*--18--*@
                                                            <td class="text-white">Box/Pallet</td>                                                      @*--19--*@
                                                            <td class="text-white">Box/Container</td>                                                   @*--20--*@
                                                            <td class="text-white">Boxes</td>                                                           @*--21--*@
                                                            <td class="text-white" style="display:@ViewBag.flagprice">PriceUSD/Box</td>                 @*--22--*@
                                                            <td class="text-white">Work-Order</td>                                                      @*--23--*@
                                                            <td class="text-white">Pallets</td>                                                         @*--24--*@
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="13" style="text-align:right;font-size:12px; background-color:#525D75;color:white">Total Pallets</td>
                                                            <td id="totalPallets" style="text-align:right;font-size:12px">0</td>
                                                            @*<td style="text-align:right;font-size:12px"></td>*@
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="modal-footer">

            <a href="#" class="btn btn-secondary btn-sm btn-icon-split transact pull-right" id="btnSave">
                <span class="icon text-white-50">
                    <i class="fas fa-check-circle fa-sm"></i>
                </span>
                <span class="text">Confirm</span>
            </a>
            <a href="#" class="btn btn-danger btn-sm btn-icon-split transact pull-right" data-dismiss="modal" id="btnCancel" onclick="javascipt:$(modalOPdetail).modal('hide');">
                <span class="icon text-white-50">
                    <i class="fas fa-times fa-sm"></i>
                </span>
                <span class="text">Cancel</span>
            </a>

        </div>

    </div>
</div>
<!--Modal sale order detail - fin-->
<!--Modal client specification - ini-->
<div class="modal fade" id="modalClientSpecification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-agrocom-xl" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title">
                    <label id="lblTitleClientSpecification" />
                </h4>
            </div>
            <div class="modal-body panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <label id="lblsubTitleResultSuccess" />
                        </div>
                        <br />
                        <div class="col-lg-12" id="resultSuccess"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal client specification - fin-->
<!--Modal sale order without commercial plan - ini-->
<div id="modalSOcropBlu" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="text-white">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="modal-title">
                            <span><label id="lblTitleModalSOcropBlu" /></span>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="modal-body modal-body-agrocom">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="card-header card-header-modal-agrocom">
                                <div class="form-row">
                                    <div class="form-group col-md-2">
                                        <label class="label-modal-agrocom" for="txtSalesOrders">Sales Orders:</label>
                                        <input id="txtSalesOrders" class="form-control form-control-sm" disabled />
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="label-modal-agrocom" for="selectMarket">Market:</label>
                                        <select id="selectMarket" class="form-control selectpicker form-control-sm obligatory" data-live-search="true">
                                        </select>
                                    </div>
                                    <div class="form-group col-md-7">
                                        <label class="label-modal-agrocom" for="selectCustomer">Customer:</label>
                                        <select id="selectCustomer" class="form-control selectpicker form-control-sm obligatory" data-live-search="true">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label class="label-modal-agrocom" for="selectWeek">Departure Week</label>
                                        <select id="selectWeek" class="form-control selectpicker form-control-sm obligatory" data-live-search="true">
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="label-modal-agrocom" for="selectDestination">Destination</label>
                                        <select id="selectDestination" class="form-control selectpicker form-control-sm obligatory" data-live-search="true">
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="label-modal-agrocom" for="selectVia">Via</label>
                                        <select id="selectVia" class="form-control selectpicker form-control-sm obligatory">
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="label-modal-agrocom" for="selectConsignee" data-toggle="tooltip" data-placement="top" title="Consignee (For shipping instruction)">Consignee</label>
                                        <select id="selectConsignee" class="form-control selectpicker form-control-sm obligatory">
                                        </select>
                                    </div>
                                    <div class="form-group col-md-1">
                                        <label class="label-modal-agrocom" for="txtPriority">Priority</label>
                                        <input id="txtPriority" type="number" class="form-control form-control-sm" value="1" step="1" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="card shadow mb-4">
                                            <div id="tblCatVar" class="table-responsive">
                                                <table id="tblCatVar" class="table table-hover table-bordered table-striped">
                                                    <thead class="thead-agrocom">
                                                        <tr>
                                                            <td style="min-width:100px" class="text-white">&nbsp&nbsp&nbsp[]&nbsp&nbsp&nbsp </td>
                                                            <td class="text-white" style="display:none">Id</td>
                                                            <td class="text-white" style="display:none">Brand Id</td>
                                                            <td style="min-width:55px; max-width:55px;" class="text-white">Brand</td>
                                                            <td class="text-white" style="display:none">Variety Id</td>
                                                            <td style="min-width:200px; max-width:200px;" class="text-white">Variety</td>
                                                            <td style="min-width:80px; max-width:100px;" class="text-white">Sizes</td>
                                                            <td class="text-white" style="display:none">Codepack Id</td>
                                                            <td style="min-width:95px; max-width:95px;" class="text-white">Codepack</td>
                                                            <td class="text-white" style="display:none">Presentation Id</td>
                                                            <td style="min-width:55px; max-width:55px;" class="text-white">Format</td>
                                                            <td style="min-width:50px; max-width:50px;" class="text-white">Boxes</td>
                                                            <td style="max-width: 70px;min-width: 70px" class="text-white" hidden>Min. Boxes</td>
                                                            <td style="display:none" class="text-white">Flexible</td>
                                                            <td style="min-width:65px; max-width:65px;" class="text-white">Net Kilos</td>
                                                            <td style="min-width:65px; max-width:65px;" class="text-white">Price USD</td>
                                                            <td class="text-white" style="display:none">Type Box Id</td>
                                                            <td class="text-white" style="display:none">Incoterm Id</td>
                                                            <td style="min-width:60px; max-width:60px;" class="text-white">Incoterm</td>
                                                            <td class="text-white" style="display:none">Price Condition Id</td>
                                                            <td style="min-width:70px; max-width:70px;" class="text-white">Sale Term</td>
                                                            <td style="min-width:150px; max-width:150px;" class="text-white">Payment Term</td>
                                                            <td style="min-width:170px; max-width:170px;" class="text-white">Final Customer</td>
                                                            <td style="min-width:50px; max-width:50px;" class="text-white">Pallets</td>
                                                            <td style="min-width:70px; max-width:70px;" class="text-white">Total USD</td>
                                                            <td class="text-white" style="display:none">Final Customer Id</td>
                                                            <td class="text-white" style="display:none">Payment Term Id</td>
                                                            <td class="text-white" style="display:none">CodePack2</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="13" class="table-footer-agrocom">Total</td>
                                                            <td class="totalPallets" style="text-align:right;font-size:14px">0</td>
                                                            <td class="totalPrice" style="text-align:right;font-size:14px">0</td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class=”break”></span>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div id="divDetails" class="card-body mb-2" style="background-color: #9BBFC4">
                                            <details id="objDetails">
                                                <summary style="font-size: 13px!important;color:black">Details</summary>
                                                <hr />
                                                <div class="form-group row">
                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="selectCategory_customize">Brand</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="selectCategory_customize" class="form-control form-control-sm obligatoryRowM selectpicker" data-live-search="true">
                                                        </select>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="selectVariety_customize">Variety</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="selectVariety_customize" class="form-control form-control-sm obligatoryRowM selectpicker" multiple data-live-search="true">
                                                        </select>
                                                    </div>
                                                    <div class=" col-md-1">
                                                        <label class="label-modal-agrocom" for="selectCodepack_customize">Format</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="selectCodepack_customize" class="form-control form-control-sm obligatoryRowM selectpicker">
                                                        </select>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="selectPresentation_customize">Codepack</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="selectPresentation_customize" class="form-control form-control-sm obligatoryRowM selectpicker" data-live-search="true">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="txtBoxPallet_customize">Box x Pallet</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input id="txtBoxPallet_customize" disabled="disabled" type="number" class="form-control form-control-sm obligatoryRow " />
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="txtBoxContainer_customize">Box x Container</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input id="txtBoxContainer_customize" type="number" disabled="disabled" class="form-control form-control-sm obligatoryRow" />
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="txtBoxes_customize">Boxes</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input id="txtBoxes_customize" min="0" style="text-align:right" type="number" class="form-control form-control-sm obligatoryRow " />
                                                    </div>
                                                    <div class="col-md-1" hidden>
                                                        <label class="label-modal-agrocom" for="txtBoxes_customize">Min. Boxes</label>
                                                    </div>
                                                    <div class="col-md-2" hidden>
                                                        <input type="checkbox" class="form-check-input" style="width:20px;height:20px;" id="chkFlexible_customize">
                                                        <input id="txtMinBoxes_customize" min="0" type="number" style="text-align:right" class="form-control form-control-sm obligatoryRow " />
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="txtNet_customize">Net Kilos</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input id="txtNet_customize" type="number" style="text-align:right" disabled="disabled" class="form-control form-control-sm obligatoryRow" />
                                                    </div>
                                                    <div class="col-md-1" hidden>
                                                        <label class="label-modal-agrocom" for="txtCodePack_customize">codePack</label>
                                                    </div>
                                                    <div class="col-md-2" hidden>
                                                        <input id="txtCodePack_customize" min="0" style="text-align:right" class="form-control form-control-sm obligatoryRow " />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-1">
                                                        <label class="label-modal-agrocom" for="selectPackage_customize">Type Box</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="selectPackage_customize" class="form-control form-control-sm obligatoryRowM selectpicker" data-live-search="true">
                                                        </select>
                                                    </div>
                                                    <div class="col-1">
                                                        <label class="label-modal-agrocom" for="selectSize_customize">Size</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="selectSize_customize" class="form-control form-control-sm obligatoryRowM selectpicker" multiple data-live-search="true">
                                                        </select>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="txtPrice_customize">Price USD / Box</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input id="txtPrice_customize" type="number" min="0" class="form-control form-control-sm" />
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label for="selectIncoterm_customize" class="label-modal-agrocom">Incoterm</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="selectIncoterm_customize" class="form-control form-control-sm obligatoryRow">
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-1" style="display:none">
                                                        <label for="txtSaleDetailID_customize" class="label-modal-agrocom">SaleDetailID</label>
                                                        <input id="txtSaleDetailID_customize" disabled="disabled" type="number" class="form-control form-control-sm " />
                                                    </div>
                                                    <div class="form-group col-md-1" style="display:none">
                                                        <label for="txtRow_customize" class="label-modal-agrocom"><strong>row </strong></label>
                                                        <input id="txtRow_customize" disabled="disabled" type="number" class="form-control form-control-sm " />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-md-1">
                                                        <label for="selectPriceContition_customize" class="label-modal-agrocom">Price Condition</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="selectPriceContition_customize" class="form-control form-control-sm obligatoryRow">
                                                        </select>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="txtPaymentTerm_customize">Payment Term</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input id="txtPaymentTerm_customize" type="text" class="form-control form-control-sm obligatoryRow" style="display:none" />
                                                        <select id="selectPayment_customize" class="form-control form-control-sm obligatoryRowM" data-live-search="true">
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-3" style="display:none">
                                                        <label for="txtTotalPrice_customize" class="label-modal-agrocom"><strong>Total Price </strong></label>
                                                        <input id="txtTotalPrice_customize" style="text-align:right" disabled="disabled" type="number" class="form-control form-control-sm obligatoryRow " />
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label for="selectFinalCustomer_customize" class="label-modal-agrocom" id="labelFinalCustomer">Final Customer</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="selectFinalCustomer_customize" class="form-control form-control-sm  obligatoryRow">
                                                        </select>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label for="txtPallets_customize" class="label-modal-agrocom">Pallets</label>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <input id="txtPallets_customize" disabled="disabled" type="number" class="form-control form-control-sm obligatoryRow " />
                                                    </div>
                                                    <div class="col-md-1">
                                                        <button id="btnEdit_customize" type="button" class="btn  btn-sm  text-white display-none transact pull-right" style="background-color: #13213d; height: 30px;">Edit  <span class="icon text-white"><i class="fas fa-save fa-sm"></i></span></button>
                                                        <button id="btnAdd_customize" type="button" class="btn  btn-sm text-white transact pull-right" style=" background-color: #13213d; height: 30px;">Add  <span class="icon text-white"><i class="fas fa-plus-circle fa-sm"></i></span></button>
                                                        <span id="spanObligatory" class="badge badge-danger"></span>
                                                    </div>

                                                </div>
                                            </details>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-success btn-sm btn-icon-split transact pull-right" id="btnSaveSOwithoutProgram">
                    <span class="icon text-white-50">
                        <i class="fas fa-check-circle fa-sm"></i>
                    </span>
                    <span class="text">Save SO without Program</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="modalSOcropUva-Cit" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header modal-head-agrocom">
                <div class="form-group row">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                </div>
                <div class="form-group row" style="text-align:center;">
                    <h4 class="modal-title">
                        <label id="lblTitleModalSOcropUva-Cit" />
                    </h4>
                </div>
            </div>
            <div class="modal-body modal-body-agrocom">

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<!--Modal sale order without commercial plan - fin-->
<link href="~/Content/css/table-border-animated.css" rel="stylesheet"/>
<link href="~/Content/css/pulsing-button.css" rel="stylesheet" />
<script src="~/Scripts/View/PO/Confirm.js"></script>
<script src="~/Scripts/View/PO/pdfByCrop.js"></script>
<script src="~/Scripts/View/PO/viewClientSpecification.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js" type="text/javascript" charset="utf-8"></script>
<!-- Scripts in development mode -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.0/jspdf.debug.js"></script>
<script language="javascript" type="text/javascript" src="https://rawgit.com/sphilee/jsPDF-CustomFonts-support/master/dist/jspdf.customfonts.debug.js"></script>
<script language="javascript" type="text/javascript" src="https://rawgit.com/sphilee/jsPDF-CustomFonts-support/master/dist/default_vfs.js"></script>