﻿@{
	ViewBag.Title = "Edit Confirm";
	Layout = "~/Views/Shared/Master.cshtml";
}


<div class="container-fluid">

	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h2><span class="badge badge-titulo">PO / Edit</span></h2>

	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="card  mb-4">
				<div class="card-header pt-1 card-header-title-filter">
					<div class="form-group row">
						<div class="col-xl-2 col-lg-3 col-md-3 col-sm-7">
							<label><strong>Filters Bar</strong></label>
						</div>
						<div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">
											</div>

					</div>

				</div>
				<div class="card-body pt-1" style="background-color:#D0DAF1;padding: 30px 5px 0px 5px!important;">

					<div class="form-group row">

					
						<div class="col-xl-2 col-md-2 ">
							<div class="card border-left-primary shadow h-70 py-1 ">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Sales Modified</div>
											<div class="h5 mb-0 font-weight-bold text-gray-800"><span id="SalesModified">18</span></div>
											<a class="small text-white stretched-link" href="#" onclick="javascipt:return false;" id="btnSalesModified"></a>
										</div>
										<div class="col-auto">
											<i class="fas fa-edit fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Pending Requests Card Example -->

						<div class="col-xl-2 col-md-2">
							<div class="card border-left-danger shadow h-70 py-1">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Rejected</div>
											<div class="h5 mb-0 font-weight-bold text-gray-800"><span id="Rejected">18</span></div>
											<a class="small text-white stretched-link" href="#" onclick="javascipt:return false;" id="btnRejected"></a>
										</div>
										<div class="col-auto">
											<i class="fas fa-exclamation-triangle fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-md-4 ">
							<div class="form-group row">
								<div class="col-xl-3 col-md-3">
									<label for="cboSemanaIni" style="font-size: 14px;color:#26394c"><strong>Week Starting</strong></label>
								</div>
								<div class="col-xl-9 col-md-9">
									<select id="cboSemanaIni" name="cboSemanaIni" class="form-control selectpicker form-control-sm" data-live-search="true">
									</select>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-xl-3 col-md-3 ">
									<label for="selectMarketFilter" style="font-size: 14px;color:#26394c"><strong>Market</strong></label>
								</div>
								<div class="col-xl-9 col-md-9 ">
									<select id="selectMarketFilter" name="selectMarketFilter" class="selectpicker form-control form-control-sm" multiple data-live-search="true" title="ALL">
										<option value="All" selected>Tous</option>
										<option value="0">Facile</option>
										<option value="1">Normal</option>
										<option value="2">Difficile</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-xl-3 col-md-3">
									<label for="selectGrowerFilter" style="font-size: 14px;color:#26394c"><strong>Grower</strong></label>
								</div>
								<div class="col-xl-9 col-md-9 ">
									<select id="selectGrowerFilter" name="selectGrowerFilter" class="selectpicker form-control form-control-sm" data-live-search="true">
										<option value="0">Facile</option>
										<option value="1">Normal</option>
										<option value="2">Difficile</option>
									</select>
								</div>

							</div>

						</div>

						<div class="col-xl-4 col-md-4 ">


							<div class="form-group row">
								<div class="col-xl-3 col-md-3 ">
									<label for="cboSemanaFin" style="font-size: 14px ;color:#26394c"><strong>Week Ending</strong></label>
								</div>
								<div class="col-xl-9 col-md-9 ">
									<select id="cboSemanaFin" name="cboSemanaFin" class="form-control selectpicker form-control-sm" data-live-search="true">
									</select>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-xl-3 col-md-3">
									<label for="selectStatusFilter" style="font-size: 14px;color:#26394c"><strong>Status</strong></label>
								</div>
								<div class="col-xl-9 col-md-9 ">
									<select id="selectStatusFilter" name="selectStatusFilter" class="selectpicker form-control form-control-sm" data-live-search="true">
										<option value="0">Facile</option>
										<option value="1">Normal</option>
										<option value="2">Difficile</option>
									</select>
								</div>

							</div>
							<div class="form-group row">
								<div class="col-xl-3 col-md-3 ">
									<a href="#" class="btn btn-success btn-sm btn-icon-split " id="btnSearch" onclick="javascipt:return false;">
										<span class="icon text-white-50">
											<i class="fas fa-search fa-sm"></i>
										</span>
										<span class="text">Search</span>
									</a>
									@*<button type="button" class="btn btn-success btn-circle"><i class="fas fa-search"></i></button>*@
								</div>
							</div>

						</div>


					</div>
				</div>
			</div>
		</div>
	</div>







	<div class="row">

		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="card shadow mb-4">
		
				<div class="card-body">
					<div class="table-responsive" id="divList">
						<table id="tableList" class="table table-bordered table-hover ">
							<thead style="background-color : #13213d">
								<tr>
									<td class="text-white" style="display:none">Order Production ID</td>
									<td class="text-white" style="font-size: 12px">Request Number</td>
									<td class="text-white" style="font-size: 12px">Grower</td>
									<td class="text-white" style="font-size: 12px">Farm</td>
									<td class="text-white" style="font-size: 12px">Departure Week</td>
									<td class="text-white" style="font-size: 12px">Destination</td>
									<td class="text-white" style="font-size: 12px">Via</td>
									<td class="text-white" style="font-size: 12px;max-width:150px;min-width:150px;text-align: center;">Status</td>
									<td class="text-white" style="font-size: 12px">Issued Date</td>
									<td class="text-white" style="display:none">Expiration Date</td>
									<td class="text-white" style="display:none">Remaining Hours</td>
									<td class="text-white" style="font-size: 12px">[Edit]</td>
									<td class="text-white" style="font-size: 12px">[PO]</td>
									<td class="text-white" style="font-size: 12px">[S.I.]</td>
									<td class="text-white" style="font-size: 12px; max-width:150px;min-width:150px">[Addit. Product Spec.]</td>
									<td class="text-white" style="font-size: 12px">[B.I]</td>
								</tr>
							</thead>
							<tbody>
							</tbody>


						</table>
						@*<div id="wait" class="text-center">
								<div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
									<span class="sr-only">Loading...</span>
								</div><br>Loading...
							</div>*@
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<br />





<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header" style=" background-color: #13213d">
				<h5 class="modal-title text-white">Modal Edit</h5>
				<button type="button" class="close " data-dismiss="modal" aria-label="Close">
					<span class="text-white" aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="table-responsive">
				<table style="" class="table table-striped table-light">

					<tr>
						<td style="width: 5%"></td>
						<td class="title-onRow" style="width: 15%; font-size: 14px">PO</td>
						<td style="width: 40%; font-size: 14px">
							<label id="lblPO"></label>
						</td>

						<td class="title-onRow" style="width: 15%; font-size: 14px">ID </td>
						<td style="width: 40%; font-size: 14px">
							<label id="lblId">Id123</label>
						</td>

					</tr>
					<tr>
						<td></td>
						<td class="title-onRow" style="font-size: 14px">FARM</td>
						<td>
							<label id="lblFarm" style="font-size: 14px"></label>
						</td>

						<td class="title-onRow" style="font-size: 14px">PORT DESTINATION</td>
						<td contenteditable="true">
							<label id="lblDestination" style="font-size: 14px"></label>
						</td>
					</tr>
					<tr>
						<td></td>
						<td class="title-onRow" style="font-size: 14px">ETD</td>
						<td contenteditable="true">
							<label id="lblWeek" style="font-size: 14px"></label>
						</td>

						<td class="title-onRow" style="font-size: 14px">CONSIGNEE</td>
						<td>
							<label id="lblConsignee" style="font-size: 14px"></label>
						</td>

					</tr>
					<tr>
						<td></td>
						<td class="title-onRow" style="font-size: 14px">SHIPPING DATE</td>
						<td>
							@*<div class="col-9">*@
							<input class="form-control form-control-sm col-5" type="date" value="2011-08-19" id="txtDateBoard" disabled>
							@*</div>*@
						</td>


						<td class="title-onRow" style="font-size: 14px">NOTIFY</td>
						<td>
							<label id="lblNotify" style="font-size: 14px"></label>
						</td>

					</tr>
					<tr>
						<td></td>
						<td class="title-onRow" style="font-size: 14px">VIA</td>
						<td>
							<label id="lblVia" style="font-size: 14px"></label>
						</td>
						<td class="title-onRow" style="font-size: 14px">INCOTERM</td>
						<td>
							<label id="lblIncoterm" style="font-size: 14px"></label>
						</td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td class="title-onRow" style="font-size: 14px">COMMENTS</td>
						<td>
							@*<label for="txtCommentsPO" style="font-size: 14px">*@
							<textarea class="form-control" id="txtCommentsPO" rows="2" readonly></textarea>

							@*</label>*@
						</td>
						<td class="title-onRow" style="font-size: 14px">STATUS</td>
						<td>
							<label id="lblStatus" style="font-size: 14px"></label>
						</td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td class="title-onRow" style="font-size: 14px" colspan="1" data-toggle="tooltip" data-placement="top" title="COMMENTS FOR GROWER">GROWER COMMENTS</td>
						<td>
							@*<label id="lblCommentsGrower" style="font-size: 14px"></label>*@
							<textarea class="form-control" id="txtCommentsRejGrower" rows="2" readonly></textarea>
						</td>

						<td>
						</td>
						<td></td>
					</tr>
					<tr>
						<td colspan="3"></td>
						<td style="text-align: right !important;">
						</td>
						<td></td>
					</tr>
					<tr>
					</tr>
				</table>
					</div>

				<div class="form-group row ">
					

					<div class="container  py-3  pt-2" style="background-color: #9193FC; width: 92.6%; margin: auto;">

						<button class='btn btn-black btn-sm btn-sm btn-block' style="		background-color: #D5CDFF;" data-toggle="collapse" data-target="#accordionRequest" aria-expanded="false">
							<span class="collapse-in">SALES REQUESTS: <label id="labelSaleID" style="font-size: 14px"></label> <i class="fas  fa-arrow-circle-down "></i></span>
						</button>


						<div id="accordionRequest" class="collapse">
							<hr />
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">

									<div class="form-group row">
										<div class="col-2">
											<label for="txtCommentsSales" style="color: #2A3F54!important">Sales Manager Comments:</label>
										</div>
										<div class="col-9">
											<textarea class="form-control" id="txtCommentsSales" rows="1" readonly></textarea>
										</div>
										@*<div class="col-1">
								<label for="CheckFlexible">Flexible:</label>
							</div>
							<div class="col-3">
								<input type="checkbox" class="form-check-input" id="CheckFlexible">
							</div>*@
									</div>

								</div>
								<hr />
							</div>


							<div id="tblDetailSales" class="table-responsive">
								<table id="tblDetailSales" class="table table-bordered table-light table-striped " style="width: 100%; margin: auto; ">
									<thead class="text-white" style="background-color: #5A5A75">
										<tr>
											<td style="display:none">saleDetailID</td>
											<td style="font-size: 14px;max-width:30px;text-align: center;">[*]</td>
											<td style="font-size: 14px;max-width: 100px;min-width: 100px">Brand</td>
											<td style="font-size: 14px;max-width: 180px;min-width: 180px">Varieties</td>
											<td style="font-size: 14px;max-width: 120px;min-width: 120px">Sizes</td>
											<td style="font-size: 14px;max-width: 80px;min-width: 80px; display:none">Via</td>
											<td style="font-size: 14px;max-width: 120px;min-width: 120px;">Format </td>
											<td style="font-size: 14px;max-width: 55px;min-width: 55px">Weight</td>
											<td style="font-size: 14px;max-width: 80px;min-width: 80px; display:none">Pallet Suggest</td>
											<td style="font-size: 14px;max-width: 80px;min-width: 80px; display:none">Boxes Suggest</td>
											<td style="font-size: 14px;max-width: 80px;min-width: 80px;">Min. Boxes</td>
											<td style="font-size: 14px;max-width: 80px;min-width: 80px">Boxes</td>
											<td style="font-size: 14px;max-width: 80px;min-width: 80px;">Commited</td>
											<td style="font-size: 14px;max-width: 80px;min-width: 80px;">Pending</td>
											<td style="font-size: 14px;max-width: 120px;min-width: 120px;">Customer Price</td>
											<td style="font-size: 14px;max-width: 120px;min-width: 120px;">Billing Price</td>
										</tr>

									</thead>
									<tbody>
										<tr>
											<td style="font-size: 14px"><button class="btn btn-black btn-sm" onclick=""><i class="fas fa-arrow-alt-circle-right fa-sm"></i></button></td>
											<td style="font-size: 14px">ITEM 1</td>
											<td style="font-size: 14px">MAGICA,BONITA,BELLA</td>
											<td style="font-size: 14px">T16,T14</td>
											<td style="font-size: 14px">6000</td>
											<td style="font-size: 14px">5000</td>
											<td style="font-size: 14px">5000</td>
											<td style="font-size: 14px"><button class="btn btn-black btn-sm" style="color: #7B7DDF" onclick="openModal(0)" data-toggle="modal" data-target="#myModalDetalle"><i class="fas fa-edit fa-sm"></i></button></td>
										</tr>

									</tbody>

								</table>
							</div>

						</div>
					</div>

					<div class="container  py-3  pt-2" style="background-color: #B4A7FA; width: 92.6%; margin: auto;">

						@*<div class="form-inline">*@

						<div class="form-group row">
							<div class="col-md-1 col-sm-12">
								@*<button class='btn btn-black btn-sm btn-sm btn-block' style="		background-color: #D5CDFF;" data-toggle="collapse" data-target="#accordionDetalle" aria-expanded="true">
						<span class="collapse-in">DETAILS <i class="fas  fa-plus-circle "></i></span>
					</button>*@
								<a href="#" class="btn btn-light btn-sm btn-icon-split " id="btnDecline" onclick="javascipt:return false;" data-toggle="collapse" data-target="#accordionDetalle" aria-expanded="true">
									<span class="icon text-black-50">
										<i class="fas fa-plus-circle fa-sm"></i>
									</span>
									<span class="text">Details</span>
								</a>
							</div>
							<div class="col-md-4 col-sm-12" style="padding-left:30px!important">
								<div class="form-check">
									<input type="checkbox" class="form-check-input" id="ckhFilterSize">
									<label class="form-check-label" for="exampleCheck1" style="color: #2A3F54!important">Include All Sizes</label>
								</div>
								@*<label class="">
						Include All Sizes
						<input id="ckhFilterSize" type="checkbox" checked="checked" class="" />

					</label>*@
							</div>
						</div>


						@*</div>*@

						<div id="accordionDetalle" class="collapse">
							<div id="tblDetailSales2" class="table-responsive">
								<table id="tblDetailSales2" class="table table-bordered table-hover table-light table-striped " style="width: 100%; margin: auto; ">
									<thead class="text-white" style="background-color: #5A5A75">
										<tr>
											<td style="display:none">kgbox </td>
											<td style="display:none">boxpallet</td>
											<td style="display:none">projectedProductionSizeCategoryID</td>
											<td style="display:none">saleDetailID</td>
											<td style="display:none">GrowerID</td>
											@*<td style="font-size: 14px">Delete </td>*@
											<td style="font-size: 14px">Grower</td>
											<td style="font-size: 14px">Farm</td>
											<td style="font-size: 14px" class="td-width80">Week </td>
											<td style="font-size: 14px">Brand</td>
											<td style="display:none">BrandID</td>
											<td style="font-size: 14px" class="td-width100">Variety</td>
											<td style="display:none">CategoryID</td>
											<td style="font-size: 14px;display:none">Format</td>
											<td style="font-size: 14px">Size</td>
											<td style="font-size: 14px" class="td-width80">Available(kg) </td>
											<td style="font-size: 14px" class="td-width80">Available(BOX) </td>
											<td style="font-size: 14px">To Commit Box</td>
											<td style="font-size: 14px">Commit</td>
											<td style="font-size: 14px">Sizes of Sales Request </td>
											<td style="font-size: 14px">Pallet </td>
											<td style="font-size: 14px">Kg </td>
										</tr>

									</thead>
									<tbody>
									</tbody>

								</table>
							</div>
						</div>
					</div>
					<div class="container  py-3  pt-2" style="background-color: #6549FE; width: 92.6%; margin: auto;">
						<button class="btn btn-black btn-sm btn-sm btn-block" style="		background-color: #D5CDFF;" data-toggle="collapse" data-target="#accordionDetalle3" aria-expanded="true">
							<span class="collapse-in">SUMMARY BY PALLETS <i class="fas  fa-plus-circle "></i></span>
						</button>
						<div id="accordionDetalle3" class="collapse show">
							<div id="tblDetailSales3" class="table-responsive">
								<table id="tblDetailSales3" class="table table-bordered table-light table-striped " style="width: 100%; margin: auto; ">
									<thead class="text-white" style="background-color: #5A5A75">
										<tr>
											<td style="display:none">projectedProductionSizeCategoryID</td>
											<td style="display:none">saleDetailID</td>
											<td style="display:none">orderProductionDetailID</td>
											<td style="display:none">GrowerID</td>
											<td style="font-size: 14px">Grower</td>
											<td style="font-size: 14px">Farm</td>
											<td style="font-size: 14px">Week </td>
											<td style="font-size: 14px">Brand</td>
											<td style="display:none">Brandid</td>
											<td style="font-size: 14px">Variety</td>
											<td style="display:none">VarietyId</td>
											<td style="font-size: 14px">Format</td>
											<td style="font-size: 14px">Size</td>
											<td style="font-size: 14px">Box Commited </td>
											<td style="font-size: 14px">Kg</td>
											<td style="font-size: 14px">Pallets</td>
											<td style="font-size: 14px">UNCOMMIT</td>
										</tr>

									</thead>
									<tbody>
									</tbody>

								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="modal-footer">


				<a href="#" class="btn btn-success btn-sm btn-icon-split " id="btnConfirm" onclick="javascipt:return false;">
					<span class="icon text-white-50">
						<i class="fas fa-check-circle fa-sm"></i>
					</span>
					<span class="text">Confirm</span>
				</a>
				@*<button type="button" class="btn btn-success btn-circle"><i class="fas fa-search"></i></button>*@

				<a href="#" class="btn btn-danger btn-sm btn-icon-split " id="btnDecline" onclick="openModal(0)" data-toggle="modal" data-target="#myModalDecline">
					<span class="icon text-white-50">
						<i class="fas fa-times fa-sm"></i>
					</span>
					<span class="text">Decline</span>
				</a>
		
			</div>


		</div>

	</div>

</div>

<div id="myModalDetalle" class="modal" role="dialog" style="		background-color: #252d4f
">
	<div class="modal-dialog modal-xl" role="document" style="background-color: #252d4f">

		<!-- Modal content-->
		<div class="modal-content" style="background-color: #252d4f">
			<form id="Formulario1">
				<div class="col-md-12 col-sm-12 col-xs-12">

					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="card shadow mb-4">
								<div class="card-header py-3">

									<button type="button" class="close " data-dismiss="modal">&times;</button>
								</div>
								@**@

								@* 1 *@

								<div class="card-body" style="background-color: #584D6F">
									<div class="form-group row">
										<div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">
											<h6 class="m-0  text-white"> Sale:</h6>
										</div>

									</div>
									<div class="table-responsive">

										<div style="overflow: auto; max-height: 250px; width: 100%; padding: 0; ">
											<div id="divSalesPending" class="table table-striped jambo_table bulk_action">
												<table class='table  table-striped table-sm table-light' id="tblSalesPending">
													<thead class="text-white" style="background-color: #5A5A75">
														<tr style="font-size: 14px">
															<td>Brand</td>
															<td>Varieties</td>
															<td>Via</td>
															<td>Format</td>
															<td>Weight</td>
															<td>Boxes</td>
															<td>Commited</td>
														</tr>
													</thead>
													<tbody>
														<tr style="font-size: 14px">
															<td>BigBold</td>
															<td>OZ Bonita, OZ Magica</td>
															<td>Air</td>
															<td>4.4 OZ (4x5)</td>
															<td>576.00</td>
															<td>384</td>
															<td></td>
														</tr>
													</tbody>
													<tfoot>

													</tfoot>
												</table>
											</div>
											<br />

										</div>
									</div>

								</div>



								<div class="card-body" style="background-color: #E5E4E7">

									<div id="divGrowers" class="table table-striped jambo_table bulk_action">
										<table id="tblGrowers" class='table table-sm table-striped table-sm'>
											<thead class="text-white" style="background-color: #5A5A75">
												<tr style="font-size: 14px">
													<td>[*]</td>
													<td style="font-size: 14px">GROWER</td>
													<td>FARM</td>
													<td>ORIGIN</td>
													<td style='text-align:center;'>TOTAL(KG)</td>
												</tr>
											</thead>
											<tbody>
											</tbody>
										</table>
									</div>


								</div>


							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="myModalDecline" tabindex="-1" role="dialog" aria-labelledby="myModalDecline" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content" style="border-color:black">
			<div class="modal-header" style="background-color:#9098AB">
				<h5 class="modal-title" id="exampleModalLongTitle">Decline Sale Request</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" style="background-color:#D0DAF1">
				<div class="form-group">
					<label for="commentsDecline">Comments</label>
					<textarea class="form-control" id="commentsDecline" rows="3"></textarea>
				</div>
			</div>
			<div class="modal-footer" style="background-color:#9098AB">
				<a href="#" class="btn btn-success btn-sm btn-icon-split " id="btnSaveDecline" onclick="javascipt:return false;">
					<span class="icon text-white-50">
						<i class="fas fa-save fa-sm"></i>
					</span>
					<span class="text">Confirm</span>
				</a>
			</div>
		</div>
	</div>
</div>
<script src="~/Scripts/View/PO/Edit.js"></script>
<script src="~/Scripts/View/PO/pdf.js"></script>