﻿
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Master.cshtml";
}


@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/Master.cshtml";
}


<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h2><span class="badge badge-titulo" >SO / New</span></h2>
    </div>
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">

					<div class="card shadow mb-4">

						<div class="card-body card-body-agrocom">
							<div class="form-group row">

								<div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">

									<label class="label-agrocom">
										<span style="color: #2A3F54!important">
											<i class="fas fa-calendar fa-md "></i>
										</span>Departure Week
									</label>

								</div>


								<div class="col-xl-4 col-lg-2 col-md-2 col-sm-12">
									<div class="dropdown select2_group">
										<select id="selectWeek" class="form-control form-control-sm ">
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
            <div class="card shadow mb-4">

                <div class="card-header py-2">
                    <div class="form-group row">
                        <div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">
                            <h6 class="m-0 " style="text-align:left;color: #2A3F54!important;font-size:14px">
                                <span>
                                    <i class="fas fa-exclamation-triangle fa-md text-gray-700"></i>
                                </span><strong>Sale request pending allocation</strong>
                            </h6>
                        </div>

                    </div>
                </div>


                <div class="card-body">
                    <div class="table-responsive" id="divList">
											<table id="tableList" class="table table-bordered table-hover table-striped table-responsive-lg" style="font-size: 12px">
												<thead class="thead-agrocom">
													<tr class="table-tr-agrocom">
														@*<td class="text-white" style="display:none">Order Production ID</td>*@
														<td class="text-white" style="min-width:50px">[Edit]</td>
														<td class="text-white">Sale ID</td>
														<td class="text-white" style="min-width:120px">Sale Request Number</td>
														<td class="text-white">Customer</td>
														<td class="text-white">Consignee</td>
														<td class="text-white">Destination</td>
														<td class="text-white">Via</td>
														<td class="text-white">Category</td>
														<td class="text-white">Varieties</td>
														<td class="text-white">Codepack</td>
														<td class="text-white">Boxes</td>

													</tr>
												</thead>
												<tbody>
												</tbody>


											</table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<br />





<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header modal-head-agrocom" style=" background-color: #13213d">
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <table style="width: 95%; margin: auto ; " class="table table-striped table-light">
                    <tr style="display:none">
                        <td style="width: 5%"></td>
                        <td class="title-onRow" style="width: 15%; font-size: 14px">SALEID:</td>
                        <td style="width: 40%; font-size: 14px">
                            <label id="lblSaleID">0</label>
                        </td>

                        <td class="title-onRow" style="width: 15%; font-size: 14px">POID </td>
                        <td style="width: 40%; font-size: 14px">
                            <label id="lblPoID">0</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 5%"></td>
                        <td class="title-onRow" style="width: 15%; font-size: 14px">SALE REQUEST</td>
                        <td style="width: 40%; font-size: 14px">
                            <label id="lblSaleRequest">0</label>
                        </td>

                        <td class="title-onRow" style="width: 15%; font-size: 14px">DEPARTURE WEEK</td>
                        <td style="width: 40%; font-size: 14px">
                            <label id="lblWeek">0</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 5%"></td>
                        <td class="title-onRow" style="width: 15%; font-size: 14px">MARKET</td>
                        <td style="width: 40%; font-size: 14px">
                            <label id="lblMarket">0</label>
                        </td>

                        <td class="title-onRow" style="width: 15%; font-size: 14px">DESTINATION </td>
                        <td style="width: 40%; font-size: 14px">
                            <label id="lblDestination">0</label>
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 5%"></td>
                        <td class="title-onRow" style="width: 15%; font-size: 14px">CUSTOMER</td>
                        <td style="width: 40%; font-size: 14px">
                            <label id="lblCustomer"></label>
                        </td>

                        <td class="title-onRow" style="width: 15%; font-size: 14px">CONSIGNEE </td>
                        <td style="width: 40%; font-size: 14px">
                            <label id="lblConsignee"></label>
                        </td>

                    </tr>

                    @*<tr>
                                <td></td>
                                <td class="title-onRow" style="font-size: 14px">SHIPPING DATE</td>
                                <td>
                                        <input class="form-control form-control-sm col-5" type="date" value="2011-08-19" id="txtDateBoard" disabled>
                                </td>


                                <td class="title-onRow" style="font-size: 14px">NOTIFY</td>
                                <td>
                                        <label id="lblNotify" style="font-size: 14px"></label>
                                </td>

                        </tr>*@

                    <tr>
                    </tr>
                </table>


                <div class="form-group row ">

                    <div class="container  py-3  pt-2" style="background-color: #D0DAF1; width: 92.6%; margin: auto;">

                        <button class='btn btn-black btn-sm btn-sm btn-block' style="		background-color: white;" data-toggle="collapse" data-target="#accordionRequest" aria-expanded="false">
                            <span class="collapse-in">SALES REQUESTS: <label id="labelSaleID" style="font-size: 14px"></label> <i class="fas  fa-arrow-circle-down "></i></span>
                        </button>


                        <div id="accordionRequest" class="collapse">
                            <hr />
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">

                                    <div class="form-group row">
                                        <div class="col-3">
                                            <label for="txtCommentsSales" class="label-modal-agrocom">Sales Manager Comments:</label>
                                        </div>
                                        <div class="col-9">
                                            <textarea class="form-control form-control-sm" id="txtCommentsSales" rows="1" readonly></textarea>
                                        </div>
                                    </div>

                                </div>
                                <hr />
                            </div>
                            <div id="tblDetailSales" class="table-responsive">
															<table id="tblDetailSales" class="table table-bordered table-light table-striped " style="width: 100%; margin: auto; ">
																<thead class="thead-agrocom">
																	<tr class="table-tr-agrocom">
																		<td style="display:none">saleDetailID</td>
																		<td style="font-size: 12px;max-width:30px;text-align: center;">[*]</td>
																		<td style="font-size: 12px;max-width: 80px;min-width: 80px;">Category</td>
																		<td style="font-size: 12px;max-width: 120px;min-width: 120px;">Varieties</td>
																		<td style="font-size: 12px;max-width: 120px;min-width: 120px;">Codepack </td>
																		<td style="font-size: 12px;max-width: 80px;min-width: 80px;">Weight</td>
																		<td style="font-size: 12px;max-width: 80px;min-width: 80px">Boxes</td>
																		<td style="font-size: 12px;max-width: 80px;min-width: 80px">Pallets</td>
																		<td style="font-size: 12px;max-width: 120px;min-width: 120px;">Customer Price</td>
																		<td style="font-size: 12px;max-width: 120px;min-width: 120px;">Billing Price</td>

																	</tr>

																</thead>
																<tbody>
																	<tr>
																		<td style="font-size: 12px"><button class="btn btn-black btn-sm" onclick=""><i class="fas fa-arrow-alt-circle-right fa-sm"></i></button></td>
																		<td style="font-size: 12px">CAT 1</td>
																		<td style="font-size: 12px">RED GLOBE</td>
																		<td style="font-size: 12px">RG_4.5CS_C1S</td>
																		<td style="font-size: 12px">4500</td>
																		<td style="font-size: 12px">1000</td>
																		<td style="font-size: 12px">10</td>
																		<td style="font-size: 12px">8</td>
																		@*<td style="font-size: 14px"><button class="btn btn-black btn-sm" style="color: #7B7DDF" onclick="openModal(0)" data-toggle="modal" data-target="#myModalDetalle"><i class="fas fa-edit fa-sm"></i></button></td>*@
																	</tr>

																</tbody>

															</table>
                            </div>

                        </div>
                    </div>

                 
                  
                    <div class="container  py-3  pt-2" style="background-color: #27437b; width: 92.6%; margin: auto;">
                        <div class="form-group">
                            <label for="textCommentary" style="color: white;">Commentary</label>
                            <textarea class="form-control form-control-sm" id="textCommentary" rows="3"></textarea>
                        </div>
                    </div>

                    <div class="container  py-3  pt-2" style="background-color: #5a7088; width: 92.6%; margin: auto;">
                        <button class="btn btn-black btn-sm btn-sm btn-block" style="background-color: #D5CDFF;">
                            <span class="collapse-in">PO SAVED<i class="fas  fa-arrow-circle-down "></i></span>
                        </button>
                        <div id="divPO" class="table-responsive">
                            <table id="tblPO" class="table table-bordered table-light table-striped " style="width: 100%; margin: auto;">
                                <thead class="thead-agrocom" >
                                    <tr class="table-tr-agrocom">
                                        <td style="display:none">orderProductionID</td>
                                        <td>PO Request Number</td>
                                        <td>Sales order</td>
                                        <td>Shipping Instructions</td>
                                        <td hidden>Additional Product</td>
                                        <td>Billing Instruction</td>
                                    </tr>

                                </thead>
                                <tbody>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">

                <a href="#" class="btn btn-success btn-sm btn-icon-split transact pull-right" id="btnConfirm" onclick="javascipt:return false;">
                    <span class="icon text-white-50">
                        <i class="fas fa-check-circle fa-sm"></i>
                    </span>
                    <span class="text">Confirm</span>
                </a>


                @*<a href="#" class="btn btn-success btn-sm btn-icon-split " id="btnConfirm" onclick="javascipt:return false;">
                        <span class="icon text-white-50">
                            <i class="fas fa-save fa-sm"></i>
                        </span>
                        <span class="text">Generate</span>
                    </a>*@

                <a href="#" class="btn btn-danger btn-sm btn-icon-split transact pull-right" data-dismiss="modal" id="btnReject" onclick="javascipt:return false;">
                    <span class="icon text-white-50">
                        <i class="fas fa-times fa-sm"></i>
                    </span>
                    <span class="text">Cancel</span>
                </a>
            </div>


        </div>

    </div>

</div>

@*<div id="myModalDetalle" class="modal" role="dialog" style="		background-color: #252d4f">
        <div class="modal-dialog modal-xl" role="document" style="background-color: #252d4f">

            <div class="modal-content" style="background-color: #252d4f">
                <form id="Formulario1">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">

                                        <button type="button" class="close " data-dismiss="modal">&times;</button>
                                    </div>


                                    <div class="card-body" style="background-color: #584D6F">
                                        <div class="form-group row">
                                            <div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">
                                                <h6 class="m-0  text-white"> Sale:</h6>
                                            </div>

                                        </div>
                                        <div class="table-responsive">

                                            <div style="overflow: auto; max-height: 250px; width: 100%; padding: 0; ">
                                                <div id="divSalesPending" class="table table-striped jambo_table bulk_action">
                                                    <table class='table  table-striped table-sm table-light' id="tblSalesPending">
                                                        <thead class="text-white" style="background-color: #13213d">
                                                            <tr style="font-size: 14px">
                                                                <td>Brand</td>
                                                                <td>Varieties</td>
                                                                <td>Via</td>
                                                                <td>Format</td>
                                                                <td>Weight</td>
                                                                <td>Boxes</td>
                                                                <td>Commited</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr style="font-size: 14px">
                                                                <td>BigBold</td>
                                                                <td>OZ Bonita, OZ Magica</td>
                                                                <td>Air</td>
                                                                <td>4.4 OZ (4x5)</td>
                                                                <td>576.00</td>
                                                                <td>384</td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                        <tfoot>

                                                        </tfoot>
                                                    </table>
                                                </div>
                                                <br />

                                            </div>
                                        </div>

                                    </div>



                                    <div class="card-body" style="background-color: #E5E4E7">

                                        <div id="divGrowers" class="table table-striped jambo_table bulk_action">
                                            <table id="tblGrowers" class='table table-sm table-striped table-sm'>
                                                <thead class="text-white" style="background-color: #13213d">
                                                    <tr style="font-size: 14px">
                                                        <td>[*]</td>
                                                        <td style="font-size: 14px">GROWER</td>
                                                        <td>FARM</td>
                                                        <td>ORIGIN</td>
                                                        <td style='text-align:center;'>TOTAL(KG)</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>


                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>*@



<script src="~/Scripts/View/PO/NewPoGrapes.js"></script>
<script src="~/Scripts/View/PO/pdfByCrop.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js" type="text/javascript" charset="utf-8"></script>

<!-- Scripts in development mode -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.0/jspdf.debug.js"></script>
<script language="javascript" type="text/javascript" src="https://rawgit.com/sphilee/jsPDF-CustomFonts-support/master/dist/jspdf.customfonts.debug.js"></script>
<script language="javascript" type="text/javascript" src="https://rawgit.com/sphilee/jsPDF-CustomFonts-support/master/dist/default_vfs.js"></script>