﻿
@{
	ViewBag.Title = "Edit";
	Layout = "~/Views/Shared/Master.cshtml";
}


@{
	ViewBag.Title = "Confirm";
	Layout = "~/Views/Shared/Master.cshtml";
}


<style>
</style>
<div class="container-fluid">


	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h2><span class="badge badge-titulo">PO / New</span></h2>

	</div>

	<div class="row">

		<div class="col-md-12 col-sm-12 col-xs-12">

			<div class="card shadow mb-4">

				<div class="card-body card-body-agrocom">
					<div class="form-group row">

						<div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">

							<label class="label-agrocom">
								<span style="color: #2A3F54!important">
									<i class="fas fa-calendar fa-md "></i>
								</span>Departure Week
							</label>

						</div>


						<div class="col-xl-4 col-lg-2 col-md-2 col-sm-12">
							<div class="dropdown select2_group">
								<select id="selectWeek" class="form-control form-control-sm ">
									@*<option value="{&quot;projectedweekID&quot;:49,&quot;week&quot;:&quot;WEEK 26 (22/06/2020 - 28/06/2020)&quot;,&quot;status&quot;:1}">WEEK 26 (22/06/2020 - 28/06/2020)</option>
										<option value="{&quot;projectedweekID&quot;:50,&quot;week&quot;:&quot;WEEK 27 (29/06/2020 - 05/07/2020)&quot;,&quot;status&quot;:1}">WEEK 27 (29/06/2020 - 05/07/2020)</option>
										<option value="{&quot;projectedweekID&quot;:51,&quot;week&quot;:&quot;WEEK 28 (06/07/2020 - 12/07/2020)&quot;,&quot;status&quot;:1}">WEEK 28 (06/07/2020 - 12/07/2020)</option>
										<option value="{&quot;projectedweekID&quot;:52,&quot;week&quot;:&quot;WEEK 29 (13/07/2020 - 19/07/2020)&quot;,&quot;status&quot;:1}">WEEK 29 (13/07/2020 - 19/07/2020)</option>
										<option value="{&quot;projectedweekID&quot;:53,&quot;week&quot;:&quot;WEEK 30 (20/07/2020 - 26/07/2020)&quot;,&quot;status&quot;:1}">WEEK 30 (20/07/2020 - 26/07/2020)</option>
										<option value="{&quot;projectedweekID&quot;:55,&quot;week&quot;:&quot;WEEK 32 (03/08/2020 - 09/08/2020)&quot;,&quot;status&quot;:1}">WEEK 32 (03/08/2020 - 09/08/2020)</option>
										<option value="{&quot;projectedweekID&quot;:56,&quot;week&quot;:&quot;WEEK 33 (10/08/2020 - 16/08/2020)&quot;,&quot;status&quot;:1}">WEEK 33 (10/08/2020 - 16/08/2020)</option>
										<option value="{&quot;projectedweekID&quot;:57,&quot;week&quot;:&quot;WEEK 34 (17/08/2020 - 23/08/2020)&quot;,&quot;status&quot;:1}">WEEK 34 (17/08/2020 - 23/08/2020)</option>
										<option value="{&quot;projectedweekID&quot;:58,&quot;week&quot;:&quot;WEEK 35 (24/08/2020 - 30/08/2020)&quot;,&quot;status&quot;:1}">WEEK 35 (24/08/2020 - 30/08/2020)</option>
										<option value="{&quot;projectedweekID&quot;:60,&quot;week&quot;:&quot;WEEK 37 (07/09/2020 - 13/09/2020)&quot;,&quot;status&quot;:1}">WEEK 37 (07/09/2020 - 13/09/2020)</option>
										<option value="{&quot;projectedweekID&quot;:63,&quot;week&quot;:&quot;WEEK 40 (28/09/2020 - 04/10/2020)&quot;,&quot;status&quot;:1}">WEEK 40 (28/09/2020 - 04/10/2020)</option>
										<option value="{&quot;projectedweekID&quot;:65,&quot;week&quot;:&quot;WEEK 42 (12/10/2020 - 18/10/2020)&quot;,&quot;status&quot;:1}">WEEK 42 (12/10/2020 - 18/10/2020)</option>
										<option value="{&quot;projectedweekID&quot;:73,&quot;week&quot;:&quot;WEEK 50 (07/12/2020 - 13/12/2020)&quot;,&quot;status&quot;:1}">WEEK 50 (07/12/2020 - 13/12/2020)</option>
										<option value="{&quot;projectedweekID&quot;:75,&quot;week&quot;:&quot;WEEK 52 (21/12/2020 - 27/12/2020)&quot;,&quot;status&quot;:1}">WEEK 52 (21/12/2020 - 27/12/2020)</option>
										<option value="{&quot;projectedweekID&quot;:76,&quot;week&quot;:&quot;WEEK 1 (28/12/2020 - 03/01/2021)&quot;,&quot;status&quot;:1}">WEEK 1 (28/12/2020 - 03/01/2021)</option>*@
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card shadow mb-4">

				<div class="card-header py-2">
					<div class="form-group row">
						<div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">
							<h6 class="m-0" style="text-align:left;color: #2A3F54!important;font-size:14px">
								<span style="text-align:left;color: #2A3F54!important;font-size:14px">
									<i class="fas fa-exclamation-triangle fa-md "></i>
								</span><strong>Sale request pending allocation</strong>
							</h6>
						</div>

					</div>
				</div>


				<div class="card-body">
					<div class="table-responsive" id="divList">
						<table id="TblPOs" class="table table-bordered table-hover table-striped table-responsive-lg " >
							<thead class="thead-agrocom">
								<tr class="table-tr-agrocom">
									@*<td class="text-white" style="display:none">Order Production ID</td>*@
									<td class="text-white">[Edit]</td>
									<td class="text-white">Sale ID</td>
									<td class="text-white">Sale Request Number</td>
									<td class="text-white">Customer</td>
									<td class="text-white">Consignee</td>
									<td class="text-white">Destination</td>
									<td class="text-white">Market</td>
									<td class="text-white">Via</td>
									<td class="text-white">Brands</td>
									<td class="text-white">Varieties</td>
									<td class="text-white">Format</td>
									<td class="text-white">Boxes</td>

								</tr>
							</thead>
							<tbody>
							</tbody>


						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<br />





<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header modal-head-agrocom">
				<button type="button" class="close text-white" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<table style="width: 95%; margin: auto ; " class="table table-striped table-light">
					<tr style="display:none">
						<td style="width: 5%"></td>
						<td class="title-onRow" style="width: 15%; font-size: 14px">SALEID:</td>
						<td style="width: 40%; font-size: 14px">
							<label id="lblSaleID">0</label>
						</td>

						<td class="title-onRow" style="width: 15%; font-size: 14px">POID </td>
						<td style="width: 40%; font-size: 14px">
							<label id="lblPoID">0</label>
						</td>
					</tr>
					<tr>
						<td style="width: 5%"></td>
						<td class="title-onRow" style="width: 15%; font-size: 14px">SALE REQUEST</td>
						<td style="width: 40%; font-size: 14px">
							<label id="lblSaleRequest">0</label>
						</td>

						<td class="title-onRow" style="width: 15%; font-size: 14px">DEPARTURE WEEK</td>
						<td style="width: 40%; font-size: 14px">
							<label id="lblWeek">0</label>
						</td>
					</tr>
					<tr>
						<td style="width: 5%"></td>
						<td class="title-onRow" style="width: 15%; font-size: 14px">MARKET</td>
						<td style="width: 40%; font-size: 14px">
							<label id="lblMarket">0</label>
						</td>

						<td class="title-onRow" style="width: 15%; font-size: 14px">DESTINATION </td>
						<td style="width: 40%; font-size: 14px">
							<label id="lblDestination">0</label>
						</td>
					</tr>

					<tr>
						<td style="width: 5%"></td>
						<td class="title-onRow" style="width: 15%; font-size: 14px">CUSTOMER</td>
						<td style="width: 40%; font-size: 14px">
							<label id="lblCustomer"></label>
						</td>

						<td class="title-onRow" style="width: 15%; font-size: 14px">CONSIGNEE </td>
						<td style="width: 40%; font-size: 14px">
							<label id="lblConsignee"></label>
						</td>

					</tr>

					@*<tr>
								<td></td>
								<td class="title-onRow" style="font-size: 14px">SHIPPING DATE</td>
								<td>
										<input class="form-control form-control-sm col-5" type="date" value="2011-08-19" id="txtDateBoard" disabled>
								</td>


								<td class="title-onRow" style="font-size: 14px">NOTIFY</td>
								<td>
										<label id="lblNotify" style="font-size: 14px"></label>
								</td>

						</tr>*@

					<tr>
					</tr>
				</table>


				<div class="form-group row ">

					<div class="container  py-3  pt-2" style="background-color: #D0DAF1; width: 92.6%; margin: auto;">

						<button class='btn btn-black btn-sm btn-sm btn-block' style="		background-color: white;" data-toggle="collapse" data-target="#accordionRequest" aria-expanded="false">
							<span class="collapse-in">SALES REQUESTS: <label id="labelSaleID" style="font-size: 14px"></label> <i class="fas  fa-arrow-circle-down "></i></span>
						</button>


						<div id="accordionRequest" class="collapse">
							<hr />
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">

									<div class="form-group row">
										<div class="col-3">
											<label for="txtCommentsSales" class="label-modal-agrocom">Sales Manager Comments:</label>
										</div>
										<div class="col-9">
											<textarea class="form-control" id="txtCommentsSales" rows="1" readonly></textarea>
										</div>
									</div>

								</div>
								<hr />
							</div>
							<div id="tblDetailSales" class="table-responsive">
								<table id="tblDetailSales" class="table table-bordered table-light table-striped " width="100%">
									<thead class="thead-agrocom">
										<tr class="table-tr-agrocom">
											<td style="display:none">saleDetailID</td>
											<td style="font-size: 14px;max-width:30px;text-align: center;">[*]</td>
											<td style="font-size: 14px;max-width: 100px;min-width: 100px;">Brand</td>
											<td style="font-size: 14px;max-width: 200px;min-width: 200px;">Varieties</td>
											<td style="font-size: 14px;max-width: 120px;min-width: 120px;">Sizes</td>
											<td style="font-size: 14px;max-width: 80px;min-width: 80px;">Via</td>
											<td style="font-size: 14px;max-width: 120px;min-width: 120px;">Format </td>
											<td style="font-size: 14px;max-width: 80px;min-width: 80px;">Weight</td>
											<td style="font-size: 14px;max-width: 80px;min-width: 80px; display:none">Pallet Suggest</td>
											<td style="font-size: 14px;max-width: 80px;min-width: 80px; display:none">Boxes Suggest</td>
											<td style="font-size: 14px;max-width: 80px;min-width: 80px;">Min. Boxes</td>
											<td style="font-size: 14px;max-width: 80px;min-width: 80px">Boxes</td>
											<td style="font-size: 14px;max-width: 80px;min-width: 80px;">Commited</td>
											<td style="font-size: 14px;max-width: 80px;min-width: 80px;">Pending</td>
											<td style="font-size: 14px;max-width: 120px;min-width: 120px;">Customer Price</td>
											<td style="font-size: 14px;max-width: 100px;min-width: 100px;">Billing Price</td>

										</tr>

									</thead>
									<tbody>
										<tr>
											<td style="font-size: 12px"><button class="btn btn-black btn-sm" onclick=""><i class="fas fa-arrow-alt-circle-right fa-sm"></i></button></td>
											<td style="font-size: 12px">ITEM 1</td>
											<td style="font-size: 12px">MAGICA,BONITA,BELLA</td>
											<td style="font-size: 12px">T16,T14</td>
											<td style="font-size: 12px">6000</td>
											<td style="font-size: 12px">5000</td>
											<td style="font-size: 12px">5000</td>
											<td style="font-size: 12px"><button class="btn btn-black btn-sm" style="color: #7B7DDF" onclick="ShowSRPO(0)" data-toggle="modal" data-target="#myModalDetalle"><i class="fas fa-edit fa-sm"></i></button></td>
										</tr>

									</tbody>

								</table>
							</div>

						</div>
					</div>

					<div class="container  py-3  pt-2" style="background-color: #D0DAF1; width: 92.6%; margin: auto;">

						<div class="form-row">

							<div class="form-group col-md-1">
								<label for="selectGrower" style="color: #2A3F54!important">Grower:</label>
							</div>
							<div class="form-group col-md-2">
								<select id="selectGrower" class="form-control selectpicker form-control-sm" data-live-search="true">
								</select>
							</div>
						</div>
						@*<div class="form-inline">
									<div class="form-group mb-4"></div>
									<div class="form-group mb-4">
											<button class='btn btn-black btn-sm btn-sm btn-block' style="		background-color: #D5CDFF;" data-toggle="collapse" data-target="#accordionDetalle" aria-expanded="true">
													<span class="collapse-in">DETAILS <i class="fas  fa-plus-circle "></i></span>
											</button>
									</div>
									<div class="form-group mb-2">
											<label class="">
													Include All Sizes
													<input id="ckhFilterSize" type="checkbox" checked="checked" class="" />

											</label>
									</div>

							</div>*@
						<div class="form-group row">
							<div class="col-md-1 col-sm-12">
								<a href="#" class="btn btn-light btn-sm btn-icon-split " id="btnDecline" onclick="javascipt:return false;" data-toggle="collapse" data-target="#accordionDetalle" aria-expanded="true">
									<span class="icon text-black-50">
										<i class="fas fa-plus-circle fa-sm"></i>
									</span>
									<span class="text">Details</span>
								</a>
							</div>

							<div class="col-md-4 col-sm-12" style="padding-left:30px!important">
								<div class="form-check">
									<input type="checkbox" class="form-check-input" id="ckhFilterSize">
									<label class="form-check-label label-modal-agrocom" for="exampleCheck1">Include All Sizes</label>
								</div>
								@*<label class="">
										Include All Sizes
										<input id="ckhFilterSize" type="checkbox" checked="checked" class="" />

									</label>*@
							</div>
						</div>

						<div id="accordionDetalle" class="collapse">
							<div id="tblDetailSales2" class="table-responsive">
								<table id="tblDetailSales2" class="table table-bordered table-hover table-light table-striped " width="100%">
									<thead class="text-white thead-agrocom">
										<tr class="table-tr-agrocom">
											<td style="display:none">kgbox </td>
											<td style="display:none">boxpallet</td>
											<td style="display:none">projectedProductionSizeCategoryID</td>
											<td style="display:none">saleDetailID</td>
											<td style="display:none">GrowerID</td>
											<td style="max-width:125px;min-width:125px">Grower</td>
											<td style="max-width:100px;min-width:100px">Farm</td>
											<td style="max-width:70px;min-width:70px" class="td-width70">Week </td>
											<td style="max-width:80px;min-width:80px">Brand</td>
											<td style="display:none">BrandID</td>
											<td style="max-width:80px;min-width:80px" class="td-width100">Variety</td>
											<td style="display:none">CategoryID</td>
											<td style="display:none">Format</td>
											<td style="max-width:50px;min-width:50px">Size</td>
											<td style="max-width:100px;min-width:100px" class="td-width80">Available(kg) </td>
											<td style="max-width:100px;min-width:100px" class="td-width80">Available(BOX) </td>
											<td style="max-width:100px;min-width:100px">To Commit Box</td>
											<td style="max-width:50px;min-width:50px">Commit</td>
											<td style="max-width:90px;min-width:90px" data-toggle="tooltip" data-placement="top" title="Sizes of Sales Request"> Sizes/Sales R.</td>
											<td style="max-width:80px;min-width:80px">Pallet </td>
											<td style="max-width:80px;min-width:80px">Kg </td>
										</tr>

									</thead>
									<tbody>
									</tbody>

								</table>
							</div>
						</div>
					</div>
					<div class="container  py-3  pt-2" style="background-color: #D0DAF1; width: 92.6%; margin: auto;">
						<button class="btn btn-black btn-sm btn-sm btn-block" style="		background-color: white;" data-toggle="collapse" data-target="#accordionDetalle3" aria-expanded="true">
							<span class="collapse-in">SUMMARY BY PALLETS <i class="fas  fa-plus-circle "></i></span>
						</button>
						<div id="accordionDetalle3" class="collapse show">
							<div id="tblDetailSales3" class="table-responsive">
								<table id="tblDetailSales3" class="table table-bordered table-light table-striped " width="100%">
									<thead class="thead-agrocom">
										<tr class="table-tr-agrocom">
											<td style="display:none">projectedProductionSizeCategoryID</td>
											<td style="display:none">saleDetailID</td>
											<td style="display:none">orderProductionDetailID</td>
											<td style="display:none">GrowerID</td>
											<td >Grower</td>
											<td >Farm</td>
											<td >Week </td>
											<td >Brand</td>
											<td style="display:none">Brandid</td>
											<td >Variety</td>
											<td style="display:none">VarietyId</td>
											<td>Format</td>
											<td>Size</td>
											<td>Box Commited </td>
											<td>Kg</td>
											<td>Pallets</td>
											<td>UNCOMMIT</td>
										</tr>

									</thead>
									<tbody>
									</tbody>

								</table>
							</div>
						</div>
					</div>
					<div class="container  py-3  pt-2" style="background-color: #27437b; width: 92.6%; margin: auto;">
						<div class="form-group">
							<label for="textCommentary" style="color: white;">Commentary</label>
							<textarea class="form-control" id="textCommentary" rows="3"></textarea>
						</div>
					</div>

					<div class="container  py-3  pt-2" style="background-color: #D0DAF1; width: 92.6%; margin: auto;">
						<button class="btn btn-black btn-sm btn-sm btn-block" style="background-color: white;">
							<span class="collapse-in">PO SAVED<i class="fas  fa-arrow-circle-down "></i></span>
						</button>
						<div id="divPO" class="table-responsive">
							<table id="tblPO" class="table table-bordered table-light table-striped " width="100%">
								<thead class="thead-agrocom">
									<tr class="table-tr-agrocom">
										<td style="display:none">orderProductionID</td>
										<td>PO Request Number</td>
										<td>PO</td>
										<td>Shipping Instructions</td>
										<td>Additional Product</td>
										<td>Billing Instruction</td>
									</tr>

								</thead>
								<tbody>
								</tbody>

							</table>
						</div>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<a href="#" class="btn btn-success btn-sm btn-icon-split " id="btnConfirm" onclick="javascipt:return false;">
					<span class="icon text-white-50">
						<i class="fas fa-save fa-sm"></i>
					</span>
					<span class="text">Generate</span>
				</a>
				@*<table style="width: 95%; margin: auto">
						<tr>
							<td style="width: 100%"></td>
							<td style="width: 10%">
								<button type="button" class="btn btn-success btn-sm" id="btnConfirm">Generate <span class="icon text-white"><i class="fas fa-check-circle"></i></span></button>
							</td>



						</tr>
					</table>*@
			</div>


		</div>

	</div>

</div>

<div id="myModalDetalle" class="modal" role="dialog" style="		background-color: #252d4f">
	<div class="modal-dialog modal-xl" role="document" style="background-color: #252d4f">

		<!-- Modal content-->
		<div class="modal-content" style="background-color: #252d4f">
			<form id="Formulario1">
				<div class="col-md-12 col-sm-12 col-xs-12">

					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="card shadow mb-4">
								<div class="card-header py-3">

									<button type="button" class="close " data-dismiss="modal">&times;</button>
								</div>
								@**@

								@* 1 *@

								<div class="card-body" style="background-color: #584D6F">
									<div class="form-group row">
										<div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">
											<h6 class="m-0  text-white"> Sale:</h6>
										</div>

									</div>
									<div class="table-responsive">

										<div style="overflow: auto; max-height: 250px; width: 100%; padding: 0; ">
											<div id="divSalesPending" class="table table-striped jambo_table bulk_action">
												<table class='table  table-striped table-sm table-light' id="tblSalesPending">
													<thead class="thead-agrocom">
														<tr class="table-tr-agrocom">
															<td>Brand</td>
															<td>Varieties</td>
															<td>Via</td>
															<td>Format</td>
															<td>Weight</td>
															<td>Boxes</td>
															<td>Commited</td>
														</tr>
													</thead>
													<tbody>
														<tr class="table-tr-agrocom">
															<td>BigBold</td>
															<td>OZ Bonita, OZ Magica</td>
															<td>Air</td>
															<td>4.4 OZ (4x5)</td>
															<td>576.00</td>
															<td>384</td>
															<td></td>
														</tr>
													</tbody>
													<tfoot>

													</tfoot>
												</table>
											</div>
											<br />

										</div>
									</div>

								</div>



								<div class="card-body" style="background-color: #E5E4E7">

									<div id="divGrowers" class="table table-striped jambo_table bulk_action">
										<table id="tblGrowers" class='table table-sm table-striped table-sm'>
											<thead class="thead-agrocom">
												<tr class="table-tr-agrocom">
													<td>[*]</td>
													<td >GROWER</td>
													<td>FARM</td>
													<td>ORIGIN</td>
													<td style='text-align:center;'>TOTAL(KG)</td>
												</tr>
											</thead>
											<tbody>
											</tbody>
										</table>
									</div>


								</div>


							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>



<script src="~/Scripts/View/PO/New.js"></script>
<script src="~/Scripts/View/PO/pdf.js"></script>
