﻿
@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h2><span class="badge badge-titulo" >SO / Review</span></h2>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card  mb-4">
                <div class="card-header pt-1 card-header-title-filter">
                    <div class="form-group row">
                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-7">
                            <label><strong>Filters Bar</strong></label>
                        </div>

                        <div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">
                        </div>

                    </div>
                </div>
                <div class="card-body pt-1 card-body-agrocom">

                    <div class="form-group row">
                        <div class="col-xl-3 col-md-3">
                            <label for="cboSemanaIni" class="label-agrocom">Week Starting</label>
                            <select id="cboSemanaIni" name="cboSemanaIni" class="form-control selectpicker form-control-sm" data-live-search="true">
                            </select>
                        </div>
                        <div class="col-xl-3 col-md-3">
                            <label for="cboSemanaFin" class="label-agrocom">Week Ending</label>
                            <select id="cboSemanaFin" name="cboSemanaFin" class="form-control selectpicker form-control-sm" data-live-search="true">
                            </select>
                        </div>
                        <div class="col-xl-2 col-md-2">

                            <label for="selectPlantFilter" class="label-agrocom">Plants</label>
                            <select id="selectPlant" name="selectPlantFilter" class="selectpicker form-control form-control-sm" data-live-search="true">
                            </select>
                        </div>

                        <div class="col-xl-2 col-md-2">
                            <label for="selectStatusFilter" class="label-agrocom">Status</label>
                            <select id="selectStatusFilter" name="selectStatusFilter" class="selectpicker form-control form-control-sm" data-live-search="true">
                            </select>
                        </div>
                        <div class="col-xl-2 col-md-2" style="padding-top:28px">
                            <a href="#" class="btn btn-success btn-sm btn-icon-split " id="btnSearch" onclick="javascipt:return false;">
                                <span class="icon text-white-50">
                                    <i class="fas fa-search fa-sm"></i>
                                </span>
                                <span class="text">Search</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card shadow mb-4">
                <div class="card-header pt-1 card-header-title-filter" >
                    <div class="form-group row">

                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-7">
                            <label><strong>List of Records</strong></label>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive" id="divList">
                        <table id="tableList" class="table table-bordered table-hover " >
                            <thead class="thead-agrocom">
                                <tr class="table-tr-agrocom">
                                    <td class="text-white" style="display:none">Order Production ID</td>
                                    <td class="text-white" style="max-width:120px;min-width:120px;">Sales Order</td>
                                    <td class="text-white" style="max-width:120px;min-width:120px;text-align: center;">Status</td>
                                    <td class="text-white" style="max-width:135px;min-width:135px;">Plant</td>
                                    <td class="text-white" style="max-width:50px;min-width:50px;">Priority</td>
                                    <td class="text-white" style="display:none">Grower</td>
                                    <td class="text-white" style="display:none">Departure Week</td>
                                    <td class="text-white" style="max-width:200px;min-width:200px;">Customer</td>
                                    <td class="text-white" style="max-width:200px;min-width:200px;">Program</td>
                                    <td class="text-white" style="display:none">Market</td>
                                    <td class="text-white" style="max-width:120px;min-width:120px;">Destination</td>
                                    <td class="text-white" style="display:none">Via</td>
                                    <td class="text-white" style="max-width:150px;min-width:120px;">Variety</td>
                                    <td class="text-white" style="max-width:70px;min-width:60px;">Category</td>
                                    <td class="text-white" style="max-width:85px;min-width:85px;">Weight</td>
                                    <td class="text-white" style="max-width:100px;min-width:50px;">Brand</td>
                                    <td class="text-white" style="max-width:180px;min-width:135px;">CodePack</td>
                                    <td class="text-white" style="max-width:50px;min-width:50px;">Boxes</td>
                                    <td class="text-white">[S.O.]</td>
                                    <td class="text-white">[S.I.]</td>
                                    <td class="text-white">[B.I.]</td>
                                    <td class="text-white">[A.P.]</td>
                                </tr>
                            </thead>
                            <tbody style="font-size:12px!important">
                            </tbody>

                        </table>
                        @*<div id="wait" class="text-center">
                                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                            <span class="sr-only">Loading...</span>
                                    </div><br>Loading...
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header" style=" background-color: #13213d">
                <h5 class="modal-title text-white">Modal Edit</h5>
                <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table style="width: 95%; margin: auto ; " class="table table-striped table-light">

                    <tr>
                        <td style="width: 5%"></td>
                        <td class="title-onRow" style="width: 15%; font-size: 14px">PO</td>
                        <td style="width: 40%; font-size: 14px">
                            <label id="lblPO"></label>
                        </td>
                        <td class="title-onRow" style="width: 15%; font-size: 14px">ID </td>
                        <td style="width: 40%; font-size: 14px">
                            <label id="lblId">Id123</label>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="title-onRow" style="font-size: 14px">FARM</td>
                        <td>
                            <label id="lblFarm" style="font-size: 14px"></label>
                        </td>
                        <td class="title-onRow" style="font-size: 14px">PORT DESTINATION</td>
                        <td contenteditable="true">
                            <label id="lblDestination" style="font-size: 14px"></label>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="title-onRow" style="font-size: 14px">ETD</td>
                        <td contenteditable="true">
                            <label id="lblWeek" style="font-size: 14px"></label>
                        </td>
                        <td class="title-onRow" style="font-size: 14px">CONSIGNEE</td>
                        <td>
                            <label id="lblConsignee" style="font-size: 14px"></label>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="title-onRow" style="font-size: 14px">SHIPPING DATE</td>
                        <td>
                            @*<div class="col-9">*@
                            <input class="form-control form-control-sm col-5" type="date" value="2011-08-19" id="txtDateBoard" disabled>
                            @*</div>*@
                        </td>
                        <td class="title-onRow" style="font-size: 14px">NOTIFY</td>
                        <td>
                            <label id="lblNotify" style="font-size: 14px"></label>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="title-onRow" style="font-size: 14px">VIA</td>
                        <td>
                            <label id="lblVia" style="font-size: 14px"></label>
                        </td>
                        <td class="title-onRow" style="font-size: 14px">INCOTERM</td>
                        <td>
                            <label id="lblIncoterm" style="font-size: 14px"></label>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="title-onRow" style="font-size: 14px">COMMENTS</td>
                        <td>
                            @*<label for="txtCommentsPO" style="font-size: 14px">*@
                            <textarea class="form-control" id="txtCommentsPO" rows="2" readonly></textarea>

                            @*</label>*@
                        </td>
                        <td class="title-onRow" style="font-size: 14px">STATUS</td>
                        <td>
                            <label id="lblStatus" style="font-size: 14px"></label>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="title-onRow" style="font-size: 14px" colspan="1" data-toggle="tooltip" data-placement="top" title="COMMENTS FOR GROWER">GROWER COMMENTS</td>
                        <td>
                            @*<label id="lblCommentsGrower" style="font-size: 14px"></label>*@
                            <textarea class="form-control" id="txtCommentsRejGrower" rows="2" readonly></textarea>
                        </td>

                        <td>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td style="text-align: right !important;">
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                    </tr>
                </table>

                <div class="form-group row ">

                    <div class="container  py-3  pt-2" style="background-color: #9193FC; width: 92.6%; margin: auto;">

                        @*<button class='btn btn-black btn-sm btn-sm btn-block' style="		background-color: #D5CDFF;" data-toggle="collapse" data-target="#accordionRequest" aria-expanded="false">
                                    <span class="collapse-in">SALES REQUESTS: <label id="labelSaleID" style="font-size: 14px"></label> <i class="fas  fa-arrow-circle-down "></i></span>
                            </button>*@

                        <div id="accordionRequest" class="collapse">
                            <hr />
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">

                                    <div class="form-group row">
                                        <div class="col-2">
                                            <label for="txtCommentsSales" class="label-modal-agrocom">Sales Manager Comments:</label>
                                        </div>
                                        <div class="col-9">
                                            <textarea class="form-control" id="txtCommentsSales" rows="1" readonly></textarea>
                                        </div>
                                        @*<div class="col-1">
                                                    <label for="CheckFlexible">Flexible:</label>
                                            </div>
                                            <div class="col-3">
                                                    <input type="checkbox" class="form-check-input" id="CheckFlexible">
                                            </div>*@
                                    </div>

                                </div>
                                <hr />
                            </div>

                            <div id="tblDetailSales" class="table-responsive">
                                <table id="tblDetailSales" class="table table-bordered table-light table-striped " width="100%" >
                                    <thead class="thead-agrocom">
                                        <tr class="table-tr-agrocom">
                                            <td style="display:none">saleDetailID</td>
                                            <td style="max-width:30px;text-align: center;">[*]</td>
                                            <td style="max-width: 80px;min-width: 80px">Brand</td>
                                            <td style="max-width: 120px;min-width: 120px">Varieties</td>
                                            <td style="max-width: 120px;min-width: 120px">Sizes</td>
                                            <td style="max-width: 80px;min-width: 80px; display:none">Via</td>
                                            <td style="max-width: 120px;min-width: 120px;">Format </td>
                                            <td style="max-width: 80px;min-width: 80px">Weight</td>
                                            <td style="max-width: 80px;min-width: 80px; display:none">Pallet Suggest</td>
                                            <td style="max-width: 80px;min-width: 80px; display:none">Boxes Suggest</td>
                                            <td style="max-width: 80px;min-width: 80px;">Min. Boxes</td>
                                            <td style="max-width: 80px;min-width: 80px">Boxes</td>
                                            <td style="max-width: 80px;min-width: 80px;">Commited</td>
                                            <td style="max-width: 80px;min-width: 80px;">Pending</td>
                                            <td style="max-width: 120px;min-width: 120px;">Customer Price</td>
                                            <td style="max-width: 120px;min-width: 120px;">Billing Price</td>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr class="table-tr-agrocom">
                                            <td><button class="btn btn-black btn-sm" onclick=""><i class="fas fa-arrow-alt-circle-right fa-sm"></i></button></td>
                                            <td>ITEM 1</td>
                                            <td>MAGICA,BONITA,BELLA</td>
                                            <td>T16,T14</td>
                                            <td>6000</td>
                                            <td>5000</td>
                                            <td>5000</td>
                                            <td><button class="btn btn-black btn-sm" style="color: #7B7DDF" onclick="openModal(0)" data-toggle="modal" data-target="#myModalDetalle"><i class="fas fa-edit fa-sm"></i></button></td>
                                        </tr>

                                    </tbody>

                                </table>
                            </div>

                        </div>
                    </div>

                    <div class="container  py-3  pt-2" style="background-color: #B4A7FA; width: 92.6%; margin: auto;">

                        @*<div class="form-inline">*@

                        <div class="form-group row">
                            <div class="col-1">
                                @*<button class='btn btn-black btn-sm btn-sm btn-block' style="		background-color: #D5CDFF;" data-toggle="collapse" data-target="#accordionDetalle" aria-expanded="true">
                                            <span class="collapse-in">DETAILS <i class="fas  fa-plus-circle "></i></span>
                                    </button>*@
                                <a href="#" class="btn btn-light btn-sm btn-icon-split " id="btnDecline" onclick="javascipt:return false;" data-toggle="collapse" data-target="#accordionDetalle" aria-expanded="true">
                                    <span class="icon text-black-50">
                                        <i class="fas fa-plus-circle fa-sm"></i>
                                    </span>
                                    <span class="text">Details</span>
                                </a>
                            </div>
                            <div class="col-4" style="padding-left:30px!important">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="ckhFilterSize">
                                    <label class="form-check-label label-modal-agrocom" for="exampleCheck1">Include All Sizes</label>
                                </div>
                                @*<label class="">
                                            Include All Sizes
                                            <input id="ckhFilterSize" type="checkbox" checked="checked" class="" />

                                    </label>*@
                            </div>
                        </div>

                        @*</div>*@

                        <div id="accordionDetalle" class="collapse">
                            <div id="tblDetailSales2" class="table-responsive">
                                <table id="tblDetailSales2" class="table table-bordered table-hover table-light table-striped" width="100%">
                                    <thead class="thead-agrocom">
                                        <tr class="table-tr-agrocom">
                                            <td style="display:none">kgbox </td>
                                            <td style="display:none">boxpallet</td>
                                            <td style="display:none">projectedProductionSizeCategoryID</td>
                                            <td style="display:none">saleDetailID</td>
                                            <td style="display:none">GrowerID</td>
                                            @*<td style="font-size: 14px">Delete </td>*@
                                            <td>Grower</td>
                                            <td>Farm</td>
                                            <td class="td-width80">Week </td>
                                            <td>Brand</td>
                                            <td style="display:none">BrandID</td>
                                            <td class="td-width100">Variety</td>
                                            <td style="display:none">CategoryID</td>
                                            <td style="display:none">Format</td>
                                            <td >Size</td>
                                            <td  class="td-width80">Available(kg) </td>
                                            <td  class="td-width80">Available(BOX) </td>
                                            <td >To Commit Box</td>
                                            <td >Commit</td>
                                            <td >Sizes of Sales Request </td>
                                            <td >Pallet </td>
                                            <td >Kg </td>
                                        </tr>

                                    </thead>
                                    <tbody>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="container  py-3  pt-2" style="background-color: #6549FE; width: 92.6%; margin: auto;">
                        <button class="btn btn-black btn-sm btn-sm btn-block" style="		background-color: #D5CDFF;" data-toggle="collapse" data-target="#accordionDetalle3" aria-expanded="true">
                            <span class="collapse-in">SUMMARY BY PALLETS <i class="fas  fa-plus-circle "></i></span>
                        </button>
                        <div id="accordionDetalle3" class="collapse show">
                            <div id="tblDetailSales3" class="table-responsive">
                                <table id="tblDetailSales3" class="table table-bordered table-light table-striped " width="100%">
                                    <thead class="thead-agrocom">
                                        <tr class="table-tr-agrocom">
                                            <td style="display:none">projectedProductionSizeCategoryID</td>
                                            <td style="display:none">saleDetailID</td>
                                            <td style="display:none">orderProductionDetailID</td>
                                            <td style="display:none">GrowerID</td>
                                            <td>Grower</td>
                                            <td>Farm</td>
                                            <td>Week </td>
                                            <td>Brand</td>
                                            <td>Brandid</td>
                                            <td>VarietyId</td>
                                            <td>VarietyId</td>
                                            <td>Format</td>
                                            <td>Size</td>
                                            <td>Box Commited </td>
                                            <td>Kg</td>
                                            <td>Pallets</td>
                                            <td>UNCOMMIT</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">

                <a href="#" class="btn btn-success btn-sm btn-icon-split " id="btnConfirm" onclick="javascipt:return false;">
                    <span class="icon text-white-50">
                        <i class="fas fa-check-circle fa-sm"></i>
                    </span>
                    <span class="text">Confirm</span>
                </a>
                @*<button type="button" class="btn btn-success btn-circle"><i class="fas fa-search"></i></button>*@

                <a href="#" class="btn btn-danger btn-sm btn-icon-split " id="btnDecline" onclick="openModal(0)" data-toggle="modal" data-target="#myModalDecline">
                    <span class="icon text-white-50">
                        <i class="fas fa-times fa-sm"></i>
                    </span>
                    <span class="text">Decline</span>
                </a>
                @*<button type="button" class="btn btn-success btn-circle"><i class="fas fa-search"></i></button>*@

            </div>
        </div>
    </div>
</div>

<div id="myModalDetalle" class="modal" role="dialog" style="		background-color: #252d4f
">
    <div class="modal-dialog modal-xl" role="document" style="background-color: #252d4f">

        <!-- Modal content-->
        <div class="modal-content" style="background-color: #252d4f">
            <form id="Formulario1">
                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 modal-head-agrocom">

                                    <button type="button" class="close " data-dismiss="modal">&times;</button>
                                </div>
                                @**@

                                @* 1 *@

                                <div class="card-body" style="background-color: #584D6F">
                                    <div class="form-group row">
                                        <div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">
                                            <h6 class="m-0  text-white"> Sale:</h6>
                                        </div>

                                    </div>
                                    <div class="table-responsive">

                                        <div style="overflow: auto; max-height: 250px; width: 100%; padding: 0; ">
                                            <div id="divSalesPending" class="table table-striped jambo_table bulk_action">
                                                <table class='table  table-striped table-sm table-light' id="tblSalesPending">
                                                    <thead class="thead-agrocom">
                                                        <tr class="table-tr-agrocom">
                                                            <td>Brand</td>
                                                            <td>Varieties</td>
                                                            <td>Via</td>
                                                            <td>Format</td>
                                                            <td>Weight</td>
                                                            <td>Boxes</td>
                                                            <td>Commited</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="table-tr-agrocom">
                                                            <td>BigBold</td>
                                                            <td>OZ Bonita, OZ Magica</td>
                                                            <td>Air</td>
                                                            <td>4.4 OZ (4x5)</td>
                                                            <td>576.00</td>
                                                            <td>384</td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>

                                                    </tfoot>
                                                </table>
                                            </div>
                                            <br />

                                        </div>
                                    </div>
                                </div>

                                <div class="card-body" style="background-color: #E5E4E7">

                                    <div id="divGrowers" class="table table-striped jambo_table bulk_action">
                                        <table id="tblGrowers" class='table table-sm table-striped table-sm'>
                                            <thead class="text-white thead-agrocom" >
                                                <tr class="table-tr-agrocom">
                                                    <td>[*]</td>
                                                    <td >GROWER</td>
                                                    <td>FARM</td>
                                                    <td>ORIGIN</td>
                                                    <td style='text-align:center;'>TOTAL(KG)</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalDecline" tabindex="-1" role="dialog" aria-labelledby="myModalDecline" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="border-color:black">
            <div class="modal-header modal-head-agrocom" >
                <h5 class="modal-title" id="exampleModalLongTitle">Decline Sale Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="background-color:#D0DAF1">
                <div class="form-group">
                    <label for="commentsDecline" class="label-modal-agrocom">Comments</label>
                    <textarea class="form-control" id="commentsDecline" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer" style="background-color:#9098AB">
                <a href="#" class="btn btn-success btn-sm btn-icon-split " id="btnSaveDecline" onclick="javascipt:return false;">
                    <span class="icon text-white-50">
                        <i class="fas fa-save fa-sm"></i>
                    </span>
                    <span class="text">Confirm</span>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/View/PO/Review.js"></script>
<script src="~/Scripts/View/PO/pdfByCrop.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js" type="text/javascript" charset="utf-8"></script>
<!-- Scripts in development mode -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.0/jspdf.debug.js"></script>
<script language="javascript" type="text/javascript" src="https://rawgit.com/sphilee/jsPDF-CustomFonts-support/master/dist/jspdf.customfonts.debug.js"></script>
<script language="javascript" type="text/javascript" src="https://rawgit.com/sphilee/jsPDF-CustomFonts-support/master/dist/default_vfs.js"></script>