﻿@{
    Layout = "~/Views/Shared/Master.cshtml";
    ViewBag.Title = "ShippingProgram";
}

<style>
	#legend-block {
		position: relative;
		margin-top: 40px;
	}

	#table-legend {
		padding: 10px;
		border: 1px solid;
		width: 200px;
		font-size: 13px;
		color: #26394c
	}

/*	#table-legend1 {
		padding: 10px;
		border: 1px solid;
		width: 1300px;
		font-size: 13px;
		color: #26394c
	}*/

	#inset-label {
		padding: 5px;
		position: absolute;
		z-index: 1;
		background-color: white;
		left: 30px;
		top: -1.2em;
		color: #26394c
	}

	td.color {
		width: 30px;
		height: 20px;
		background-color: aqua;
	}

	td.label {
		vertical-align: middle;
	}

	td.legend {
		width: 20%;
	}

	#Modificar {
		background-color: #A3C1D5;
	}
		
	.table-cebra {
		border: #ccc 1px solid;
		border-spacing: 0;
	}

		.table-cebra thead th {
			background: #13213d;
			color: white;
		}

		.table-cebra th,
		.table-cebra td {
			border-right: 1px solid #ccc;
			min-width: 100px;
			padding: 0.5rem;
			text-align: left;
			font-size: 13px;
		}

			.table-cebra th:last-child,
			.table-cebra td:last-child {
				border-right: 0px;
			}

		.table-cebra td {
			/*            border: 1px solid #ccc;*/
			border-bottom: 1px solid #ccc;
		}

		.table-cebra tbody tr {
			background: white;
		}
/*
			.table-cebra tbody tr:nth-child(2n) {
				background: #f2f2f2
			}*/

	.table-container {
		max-width: 100%;
		overflow-x: scroll;
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
	}

	.table-cebra .sticky {
		position: sticky;
		left: 0;
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
	}

	.table-cebra .sticky1 {
		position: sticky;
		left: 90px;
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
	}

	.table-cebra .sticky2 {
		position: sticky;
		left: 240px;
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
	}

	.table-cebra .sticky3 {
		position: sticky;
		left: 360px;
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
	}

	.table-cebra .sticky4 {
		position: sticky;
		left: 460px;
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
	}

	/*.table-cebra .sticky5 {
		position: sticky;
		left: 600px;
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
	}*/

	.table-cebra thead th .sticky {
		background: #13213d;
		color: white;
	}

	.table-cebra tbody tr .sticky {
		background: white;
	}

	.table-cebra .sticky-row {
		position: sticky;
		/*			position: -webkit-sticky;*/
		left: 0px;
		top: 23px;
		background: #000;
		color: white;
		padding: 4px;
		/*			z-index: 3;*/
	}

	#contextMenu {
		position: absolute;
		display: none;
	}
</style>
<div class="container-fluid">
    <!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h2><span class="badge badge-titulo" >Report / Shipping Loading</span></h2>
		
	</div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card  mb-4">
                <div class="card-header pt-1 card-header-title-filter">
                    <div class="form-group row">
                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-7">
                            <label><strong>Filters Bar</strong></label>
                        </div>
                        <div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">
                        </div>
                    </div>
                </div>
                <div class="card-body card-body-agrocom" >
                    @*<div class="form-group row">*@                          
                        
                    <div class="form-group row">
                        <div class="col-xl-4 col-md-4 ">
                            <div class="form-group row">
                                <div class="col-xl-4 col-md-4">
                                    <label class="label-agrocom" for="selectCustomer">Customer/Broker:</label>
                                </div>
                                <div class="col-xl-8 col-md-8">
                                    <select id="selectCustomer" name="selectCustomer" class="form-control selectpicker form-control-sm" data-live-search="true">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
								<div class="col-xl-4 col-md-4">
									<label class="label-agrocom" for="selectManager">Manager:</label>
								</div>
                                <div class="col-xl-8 col-md-8 ">
                                    <select id="selectManager" name="selectManager" class="form-control selectpicker form-control-sm" data-live-search="true">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
								<div class="col-xl-4 col-md-4">
									<label class="label-agrocom" for="selectWeek">Departure Week:</label>
								</div>
                                <div class="col-xl-8 col-md-8 ">
                                    <select id="selectWeek" name="selectWeek" class="form-control selectpicker form-control-sm" data-live-search="true">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 ">
                            <div class="form-group row">
                                <div class="col-xl-4 col-md-4">
                                    <label class="label-agrocom" for="selectDestination">Destination:</label>
                                </div>
                                <div class="col-xl-8 col-md-8 ">
                                    <select id="selectDestination" name="selectDestination" class="selectpicker form-control form-control-sm" data-live-search="true">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-4 col-md-4">
                                    <label class="label-agrocom" for="selectPlant">Process Plant:</label>
                                </div>
                                <div class="col-xl-8 col-md-8 ">
                                    <select id="selectPlant" name="selectPlant" class="selectpicker form-control form-control-sm" data-live-search="true">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-4 col-md-4">
                                    <label class="label-agrocom" for="selectVia">Via:</label>
                                </div>
                                <div class="col-xl-8 col-md-8 ">
                                    <select id="selectVia" name="selectVia" class="selectpicker form-control form-control-sm" data-live-search="true">
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="col-xl-4 col-md-4 ">
                            <div class="form-group row">
                                <div class="col-xl-4 col-md-4">
                                    <label class="label-agrocom" for="selectnroPackingList">N° PackingList:</label>
                                </div>
                                <div class="col-xl-8 col-md-8 ">
                                    <select id="selectnroPackingList" name="selectnroPackingList" class="form-control selectpicker form-control-sm" data-live-search="true">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-4 col-md-4">
                                    <label class="label-agrocom" for="selectOperator">Logistic Operator:</label>
                                </div>
                                <div class="col-xl-8 col-md-8 ">
                                    <select id="selectOperator" name="selectOperator" class="selectpicker form-control form-control-sm" data-live-search="true">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-4 col-md-4">
                                    <a href="#" class="btn btn-success btn-sm btn-icon-split " id="btnSearch" onclick="javascipt:return false;">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-search fa-sm"></i>
                                        </span>
                                        <span class="text">Search</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card shadow mb-4">
                <div class="card-header py-2">
                    <div class="form-group row">
                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-7">                            
                            <div class="table-responsive">
                                <div id="inset-label"><strong>Legend</strong></div>
                                <div id="legend-block">
                                    <table id="table-legend">
                                        <tr>
                                            <td class="legend">
                                                @*<br />*@
                                                <table>
                                                    <tr>
                                                        <td class="color" id="Modificar"</td>
                                                        <td class="label">Columns to Modify</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive" id="divList">
                        <table id='tblShipping' class='table table-cebra table-hover table-bordered '>
                            <thead class='thead-agrocom'>
                                <tr class="table-tr-agrocom">
                                    <td hidden>orderPoductionID</td>
                                    <td hidden>nroPackingListID</td>
                                    <td hidden>campaignID</td>
                                    <td hidden>Campaign</td>
                                    <td hidden>projectedWeekID</td>
                                    <td hidden>customerID</td>
                                    <td class="sticky" style='max-width: 90px; min-width: 90px; background-color:#13213d;'>Dispatch Date</td>
                                    <td class="sticky1" style='max-width: 150px; min-width:150px; background-color:#13213d'>Nro. PackingList</td>
                                    <td class="sticky2" style='max-width: 120px; min-width:120px;  background-color:#13213d'>Sales Order</td>
                                    <td style='max-width: 55px; min-width:55px'>D. Week</td>
                                    <td style='max-width: 200px; min-width:200px'>Customer</td>
                                    <td hidden>destinationID</td>
                                    <td style='max-width: 200px; min-width:200px'>Destination</td>
                                    <td hidden>logisticOperatorID</td>
                                    <td style='max-width: 200px; min-width:200px'>Logistic Operator</td>
                                    <td style='max-width: 60px; min-width:60px'>Boxes</td>
                                    <td style='max-width: 55px; min-width:55px'>VGM</td>
                                    <td hidden>processPlantID</td>
                                    <td style='max-width: 135px; min-width:135px'>Process Plant</td>
                                    <td hidden>managerID</td>
                                    <td style='max-width: 120px; min-width:120px'>Manager</td>
                                    <td style='max-width: 130px; min-width:130px'>Shipping Line</td>
                                    <td style='max-width: 100px; min-width:100px'>Booking</td>
                                    <td style='max-width: 80px; min-width:80px'>ETD</td>
                                    <td style='max-width: 80px; min-width:80px'>ETA Real</td>
                                    <td style='max-width: 100px; min-width:100px'>Invoice</td>
                                    <td style='max-width: 60px; min-width:60px'>Incoterm</td>
                                    <td style='max-width: 80px; min-width:80px'>Freight Type</td>
                                    <td style='max-width: 150px; min-width:150px'>BL or AWB</td>
                                    <td style='max-width: 100px; min-width:100px'>Container</td>
                                    <td style='max-width: 50px; min-width:50px'>Freight</td>
                                    <td style='max-width: 80px; min-width:80px'>Courier Date</td>
                                    <td style='max-width: 100px; min-width:100px'>Courier Number</td>
                                    <td hidden>shippingLoadingID</td>
                                    <td style='max-width: 30px; min-width: 30px; background-color:#13213d;'>Save</td>
                                </tr>
                            </thead>
                            <tbody style="font-size: 12px">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/View/PO/ShippingProgram.js"></script>