﻿
@{
    ViewBag.Title = "ShipmentStatus";
    Layout = "~/Views/Shared/Master.cshtml";
}
<style>
    .padre {
        display: flex;
        justify-content: center;
    }

    .label {
        color: white;
    }

    .hijo {
        padding: 10px;
        margin: 2px;
        background-color: transparent;
    }

    .modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 99999;
        display: none;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: auto;
    }

        .modalDialog > div {
            width: 99%;
            position: relative;
            margin: 5% auto;
            padding: 5px 5px 5px 5px;
            border-radius: 10px;
            background: #34495E;
            background: -moz-linear-gradient(#fff, #999);
            background: -webkit-linear-gradient(#fff, #999);
            background: -o-linear-gradient(#fff, #999);
            -webkit-transition: opacity 400ms ease-in;
            -moz-transition: opacity 400ms ease-in;
            transition: opacity 400ms ease-in;
        }

    .close {
        background: #34495E;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }

        .close:hover {
            background: #00d9ff;
        }

</style>



<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-white">Production Order</h1>
    </div>
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card shadow mb-4">
                <div class="card-header py-2">
                    <h6 class="m-0 font-weight-bold bgcolor='#13213d'">LIST OF RECORDS</h6>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <label for="cboSeason"><strong>Season</strong></label>
                            <select id="cboSeason" class="select2_group form-control" data-style="warning">
                            </select>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <label for="cboSemanaIni"><strong>From Week</strong></label>
                            <select id="cboSemanaIni" name="cboSemanaIni" class="select2_group form-control" data-style="warning">
                            </select>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <label for="cboSemanaFin"><strong>To Week</strong></label>
                            <select id="cboSemanaFin" onchange="ListaSst()" name="cboSemanaFin" class="select2_group form-control" data-live-search="true" data-style="warning">
                            </select>
                        </div>
                    </div>
                    <hr />
                    <div id="tabla" class="table-responsive">
                    </div>
                </div>
                <div class="x_content">
                    <div id="listWeekTbl" class="table-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@*<div class="x_panel  tile">
        <div class="x_title">
            <br />
            <h2>PRODUCTION ORDER</h2>
        </div>

        <div id="tabla" class="table-responsive">
        </div>

    </div>*@

@*<div class="x_content">
        <div id="listWeekTbl" class="table-responsive">
        </div>
    </div>
    <div>

    </div>*@



<div id="openModal2" class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-xl" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color : #13213d">
                <form>
                    <div class="form-group row">
                        <label><font color="white">&nbsp;&nbsp;&nbsp;<strong>SHIPMENT STATUS - ATTACH FILES</strong>&nbsp;&nbsp;&nbsp;</font></label>

                    </div>
                </form>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="container" style="background-color: #FFFF">
                        <font size="3px"><strong>Production Order:</strong>  DAN-0001/2020 </font>
                    </div>
                    <div class="container table-responsive">
                        <div id="uploadModalTbl2">

                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                @*<button id="btnSaveModal" type="submit" class="btn btn-success" onclick="LengthPODocs()">Save <span class="icon text-white"><i class="fas fa-save"></i></span></button>*@

                <button id="btnCacncel" type="button" class="btn btn-success" data-dismiss="modal">OK <span class="icon text-white"><i class="fas fa-times"></i></span></button>
                <span id="spanObligatory" class="badge badge-danger"></span>
            </div>
        </div>

    </div>



</div>
<script src="~/Scripts/View/PO/ShipmentStatus.js"></script>
