﻿@{
    ViewBag.Title = "Review";
    Layout = "~/Views/Shared/Master.cshtml";
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <!--This is what you should include-->
    <meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8">
    <!-- Ini: encrypt/decrypt -->
    <script type="text/javascript" src="~/Content/js/Encryt/aes.js"></script>
    <script type="text/javascript" src="~/Content/js/Encryt/customize-encrypted.js"></script>
    <!-- Fin: encrypt/decrypt -->
</head>

@*<style>
	
</style>*@

<style>
    .vl {
        border-left: 1px solid green;
        height: 100%;
    }

	#legend-block {
		position: relative;
		margin-top: 15px;
	}

	#table-legend {
		padding: 10px;
		border: 1px solid;
		width: 1000px;
		font-size: 13px;
	}

	#table-legend1 {
		padding: 10px;
		border: 1px solid;
		width: 1300px;
		font-size: 13px;
	}

	#inset-label {
		padding: 5px;
		position: absolute;
		z-index: 1;
		background-color: #f8f9fa;
		left: 30px;
		top: -1.2em;
	}

	td.color {
		width: 30px;
		height: 20px;
		background-color: aqua;
	}

	td.label {
		vertical-align: middle;
	}

	td.legend {
		width: 20%;
	}

    .table-cebra {
        border: #ccc 1px solid;
        border-spacing: 0;
    }

        .table-cebra thead th {
            background: #13213d;
            color: white;
        }

        .table-cebra th,
        .table-cebra td {
            border-right: 1px solid #ccc;
            min-width: 100px;
            padding: 0.5rem;
            text-align: left;
            font-size: 13px;
        }

            .table-cebra th:last-child,
            .table-cebra td:last-child {
                border-right: 0px;
            }

        .table-cebra td {
            /*            border: 1px solid #ccc;*/
            border-bottom: 1px solid #ccc;
        }

        .table-cebra tbody tr {
            background: white;
        }

    .table-container {
        max-width: 100%;
        overflow-x: scroll;
        border-left: solid 1px #ccc;
        border-right: solid 1px #ccc;
    }

    .table-cebra .sticky {
        position: sticky;
        left: 0;
        border-left: solid 1px #ccc;
        border-right: solid 1px #ccc;
    }

    .table-cebra .sticky1 {
        position: sticky;
        left: 25px;
        border-left: solid 1px #ccc;
        border-right: solid 1px #ccc;
    }

    .table-cebra .sticky2 {
        position: sticky;
        left: 150px;
        border-left: solid 1px #ccc;
        border-right: solid 1px #ccc;
    }

    .table-cebra .sticky3 {
        position: sticky;
        left: 270px;
        border-left: solid 1px #ccc;
        border-right: solid 1px #ccc;
    }

    .table-cebra .sticky4 {
        position: sticky;
        left: 470px;
        border-left: solid 1px #ccc;
        border-right: solid 1px #ccc;
    }

    .table-cebra thead th .sticky {
        background: #13213d;
        color: white;
    }

    .table-cebra tbody tr .sticky {
        background: white;
    }

    .table-cebra .sticky-row {
        position: sticky;
        /*			position: -webkit-sticky;*/
        left: 0px;
        top: 23px;
        background: #000;
        color: white;
        padding: 4px;
        /*			z-index: 3;*/
    }

    #contextMenu {
        position: absolute;
        display: none;
    }

	#APPROVED {
		background-color: #09AB01;
	}

    #PROCESSING {
        background-color: #335AFF;
    }

    #REJECTED {
        background-color: #FF5433;
    }

    #PENDING {
        background-color: #FFDB33;
    }

    .modal {
        padding: 0 !important;
    }

        .modal .modal-dialog {
            width: 100%;
            max-width: none;
            height: 100%;
            margin: 0;
        }
</style>

@*<style>
	
</style>*@

<div class="container-fluid">
	<!-- Page Heading -->
	@*<a href=" https://storageaga.file.core.windows.net/agrocomshared/PLPDF_20201020-332?sv=2019-02-02&ss=bfqt&srt=sco&sp=rwdlacup&se=2021-01-01T04%3A59%3A59Z&st=2020-04-06T00%3A57%3A30Z&spr=https&sig=0gjOhB1iFXgblSVElnm1Z9w3hAwUvDpFNTqu7J2RMWw%3D" target="_blank">Download Text</a>*@

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="card shadow mb-4">
				<div class="card-header pt-2 px-2 py-1">
					<div class="form-group row">
						<div class="col-4">
							<br />
							<h1 class="h6 mb-0 text-white" style="color:black!important"><strong>Shipping Program/ Documents Review </strong></h1>
						</div>

						<div class="col-8">
							<div class="table-responsive">
								<div id="legend-block">
									<table id="table-legend">
										<tr>
											<td class="legend">
												<br />
												<table>
													<tr>
														<td class="color" id="PENDING"></td>
														<td class="label">Status 0 : PENDING</td>
													</tr>
												</table>
											</td>
											<td class="legend">
												<br />
												<table>
													<tr>
														<td class="color" id="PROCESSING"></td>
														<td class="label">Status 1 : PROCESSING</td>
													</tr>
												</table>
											</td>
											<td class="legend">
												<br />
												<table>
													<tr>
														<td class="color" id="APPROVED"</td>
														<td class="label">Status 2 : APPROVED</td>
													</tr>
												</table>
											</td>

											<td class="legend">
												<br />
												<table>
													<tr>
														<td class="color" id="REJECTED"></td>
														<td class="label">Status 3 : TO CORRECT</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
									<div id="inset-label"><strong>Legend</strong></div>
								</div>
							</div>
						</div>
					</div>
					@*<div class="form-group row">
							<div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">
								<h6 class="m-0 font-weight-bold bgcolor='#13213d'">LIST OF RECORDS</h6>
							</div>


						</div>*@
				</div>
				<div class="card-body">

					<div class="table-responsive" id="divList">
						<table id="tableList" class="table table-bordered table-hover table-striped" style="font-size:13px;text-align:center">
							<thead style="background-color : #13213d;text-align:center;vertical-align: middle">
								<tr rowspan="2" class="text-white" style="vertical-align:middle; font-size:13px">
									<th style="display:none">orderProductionID</th>
									<th style="min-width:25px;" class="text-white sticky"><i class="fas fa-edit fa-sm"></i></th>
									<th class="sticky1" style="min-width:125px;">Sales Order</th>
                                    <th class="sticky2" style="min-width:120px;">N° Container</th>
									<th class="sticky3" style="min-width:200px;">Customer</th>
									<th style="min-width:130px; max-width:150px;">Packing List</th>
									<th style="min-width:150px;">Shipping Line</th>
									<th style="min-width:100px;">Destination Port</th>
									<th style="min-width:35px;">Via</th>
									<th style="min-width:80px;max-width:80px;" data-toggle="tooltip" data-placement="top" title="ETD">ETD</th>
									<th style="min-width:80px;max-width:80px;" data-toggle="tooltip" data-placement="top" title="ETA">ETA</th>
									<th style="min-width:80px;max-width:120px;" data-toggle="tooltip" data-placement="top" title="Responsable">Responsable</th>
									<th style="min-width:80px;max-width:100px;" data-toggle="tooltip" data-placement="top" title="Invoice Customer">I. Customer</th>
									<th style="min-width:80px;">PackingList </th>
									<th style="min-width:80px;">Phyto</th>
									<th style="min-width:80px;">BL or AWB</th>
									<th style="min-width:80px;max-width:100px;" data-toggle="tooltip" data-placement="top" title="Certification of Origin">Certification O.</th>
									<th style="min-width:80px;max-width:100px;">Export File</th>
									<th style="min-width:80px;max-width:100px;">Others</th>
								</tr>
							</thead>
							<tbody>
								@*<tr>
									<td style="display:none">orderProductionID</td>
									<td style="min-width:80px;max-width:80px;vertical-align:middle">productionWeek</td>
									<td>customer</td>
									<td>grower</td>
									<td>productionOrder</td>
									<td>status</td>
									<td>loadingDate</td>
									<td>market</td>
									<td>via</td>
									<td>weekEtd</td>
									<td>etd</td>
									<td>weekEta</td>
									<td>loadinetagDate</td>
									<td>invoiceMKT</td>
									<td>saleTerm</td>
									<td>BL</td>
								</tr>
								<tr>
									<td style="display:none">orderProductionID</td>
									<td style="min-width:80px;max-width:80px;vertical-align:middle">productionWeek</td>
									<td>customer</td>
									<td>grower</td>
									<td>productionOrder</td>
									<td>status</td>
									<td>loadingDate</td>
									<td>market</td>
									<td>via</td>
									<td>weekEtd</td>
									<td>etd</td>
									<td>weekEta</td>
									<td>loadinetagDate</td>
									<td>invoiceMKT</td>
									<td>saleTerm</td>
									<td>BL</td>
								</tr>*@
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" style="overflow-y: scroll; ">
	<div class="modal-dialog">
		<div class="modal-content" style="background-color:transparent">

			<div class="col-md-12 col-sm-12 col-xs-12">

				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="card shadow mb-4">
							<div class="card-header text-white" style="background-color: #13213d">
								<div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
									<h6 class="m-0 font-weight-bold bgcolor='#1c0b2a'">
										<label>Check Documents</label>
									</h6>
								</div>
								<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
									<button type="button" class="close text-white" data-dismiss="modal">&times;</button>
								</div>
							</div>
							<div class="card-body">
								<div class="container-fluid pt-2 py-2 px-3" style="background-color:#9C9C9E">
									<br />
                                    <div class="form-group row">
                                        <div class="col-1">
                                            <label for="txtProductionOrder" class="text-white" style="font-size:14px"><strong>Sales Order:</strong></label>
                                        </div>
                                        <div class="col-2">
                                            <input id="txtProductionOrder" type="text" style="font-size:14px" class="form-control form-control-sm" value="" readonly />
                                        </div>
                                        <div class="col-1">
                                            <label for="txtIE" class="text-white" style="font-size:14px"><strong>Nro PackingList:</strong></label>
                                        </div>
                                        <div class="col-2">
                                            <input id="txtIE" type="text" style="font-size:14px" class="form-control form-control-sm" value="txtIE" readonly />
                                        </div>
                                        <div class="col-1">
                                            <label for="txtCustomer" class="text-white" style="font-size:14px"><strong>Customer:</strong></label>
                                        </div>
                                        <div class="col-2">
                                            <input id="txtCustomer" type="text" style="font-size:14px" class="form-control form-control-sm" value="txtCustomer" readonly />
                                        </div>                                        
                                        <div class="col-1">
                                            <label for="txtContainer" class="text-white" style="font-size:14px"><strong>Container:</strong></label>
                                        </div>
                                        <div class="col-2">
                                            <input id="txtContainer" type="text" style="font-size:14px" class="form-control form-control-sm" value="" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-1">
                                            <label for="txtOriginPort" class="text-white" style="font-size:14px"><strong>Origin Port:</strong></label>
                                        </div>
                                        <div class="col-2">
                                            <input id="txtOriginPort" type="text" style="font-size:14px" class="form-control form-control-sm" value="txtOrigin" readonly />
                                        </div>
                                        <div class="col-1">
                                            <label for="txtPortDestination" style="font-size:14px" class="text-white"><strong>Destination Port:</strong></label>
                                        </div>
                                        <div class="col-2">
                                            <input id="txtPortDestination" type="text" style="font-size:14px" class="form-control form-control-sm" value="txtPortDestination" readonly />
                                        </div>
                                        <div class="col-1">
                                            <label for="txtShippingLine" style="font-size:14px" class="text-white"><strong>Shipping Line:</strong></label>
                                        </div>
                                        <div class="col-2">
                                            <input id="txtShippingLine" type="text" style="font-size:14px" class="form-control form-control-sm" value="txtShippingLine" readonly />
                                        </div>
                                        <div class="col-1">
                                            <label for="txtVessel" style="font-size:14px" class="text-white"><strong>Vessel:</strong></label>
                                        </div>
                                        <div class="col-2">
                                            <input id="txtVessel" type="text" style="font-size:14px" class="form-control form-control-sm" value="txtVessel" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-1">
                                            <label for="txtGrower" class="text-white" style="font-size:14px"><strong>Grower:</strong></label>
                                        </div>
                                        <div class="col-2">
                                            <input id="txtGrower" type="text" style="font-size:14px" class="form-control form-control-sm" value="" readonly />
                                        </div>
                                        <div class="col-1">
                                            <label for="txtOrigin" style="font-size:14px" class="text-white"><strong>Origin (grower):</strong></label>
                                        </div>
                                        <div class="col-2">
                                            <input id="txtOrigin" type="text" style="font-size:14px" class="form-control form-control-sm" value="txtOrigin" readonly />
                                        </div>
                                        <div class="col-1">
                                            <label for="txtBl" class="text-white" style="font-size:14px"><strong>Bill of Lading:</strong></label>
                                        </div>
                                        <div class="col-2">
                                            <input id="txtBl" type="text" style="font-size:14px" class="form-control form-control-sm" value="" readonly />
                                        </div>
                                        <div class="col-1">
                                            <label for="txtResponsable" class="text-white" style="font-size:14px"><strong>Responsable:</strong></label>
                                        </div>
                                        <div class="col-2">
                                            <input id="txtResponsable" type="text" style="font-size:14px" class="form-control form-control-sm" value="" readonly />
                                        </div>                                        
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-1">
                                            <label for="txtIncoterm" style="font-size:14px" class="text-white"><strong>Incoterm:</strong></label>
                                        </div>
                                        <div class="col-2">
                                            <input id="txtIncoterm" type="text" style="font-size:14px" class="form-control form-control-sm" value="txtIncoterm" readonly />
                                        </div>
                                        <div class="col-1">
                                            <label for="txtSaleTerm" style="font-size:14px" class="text-white"><strong>Sale Term:</strong></label>
                                        </div>
                                        <div class="col-2">
                                            <input id="txtSaleTerm" type="text" style="font-size:14px" class="form-control form-control-sm" value="txtSaleTerm" readonly />
                                        </div>
                                        <div class="col-1">
                                            <label for="txtVia" class="text-white" style="font-size:14px"><strong>Via:</strong></label>
                                        </div>
                                        <div class="col-2">
                                            <input id="txtVia" type="text" style="font-size:14px" class="form-control form-control-sm" value="txtVia" readonly />
                                        </div>
                                        <div class="col-3">
                                            <div class="row">
                                                <div class="col-2">
                                                    <label for="txtEtd" style="font-size:14px" class="text-white"><strong>ETD:</strong></label>
                                                </div>
                                                <div class="col-4">
                                                    <input id="txtEtd" type="text" style="font-size:14px" class="form-control form-control-sm" value="txtEtd" readonly />
                                                </div>

                                                <div class="col-2">
                                                    <label for="txtEta" class="text-white" style="font-size:14px"><strong>ETA:</strong></label>
                                                </div>
                                                <div class="col-4">
                                                    <input id="txtEta" type="text" style="font-size:14px" class="form-control form-control-sm" value="txtEta" readonly />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-2">
                                            <input id="orderproductionID" type="text" style="font-size:14px" class="form-control form-control-sm" value="" hidden />
                                        </div>
                                    </div>
								</div>
								<div class="container-fluid pt-3 py-2 px-2" style="background-color:#DBDBDF">
									<details open>
										<summary style="font-size:14px">
											<strong>Details</strong>
										</summary>

										<div class="card shadow mb-4">

											<table id="tblDetails" class="table table-sm table-hover table-bordered table-striped ">
												<thead bgcolor='#1c0b2a' class="text-white" style="font-size: 13px">
													<tr style="font-size:13px">
														<td>Brand</td>
														<td>Variety</td>
														<td>Codepack</td>
														<td>Size</td>
														<td>Boxes</td>
														<td>Pallets</td>
														<td>Net Weight</td>
													</tr>
												</thead>
												<tbody>
													@*<tr style="font-size:13px">
														<td>Ozlbu</td>
														<td>Bonita</td>
														<td>C444</td>
														<td>20mm</td>
														<td>1950</td>
														<td>5</td>
														<td>2925</td>
													</tr>
													<tr style="font-size:13px">
														<td>BigBold</td>
														<td>Bonita</td>
														<td>C444</td>
														<td>16mm</td>
														<td>5850</td>
														<td>15</td>
														<td>8775</td>
													</tr>*@

												</tbody>
												<tfoot>
													<tr style="font-size:13px">
														<td colspan="4">Total</td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>

													</tr>
													<tr style="font-size:13px">
														<td colspan="4">Gross Weight</td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
													</tr>
												</tfoot>
											</table>

										</div>
									</details>
								</div>
								<br />
								<div class="container-fluid pt-2 py-2 px-3" style="background-color:#9C9C9E">
									<br />
									<div class="form-group row">
										<div class="col-2">
											<label for="txtProductionOrder" class="" style="font-size:14px;text-align:left"><strong>Open this PO to Client:</strong></label>
										</div>
										<div class="col-1">
											<select id="cmbOpenToClient" class="form-control form-control-sm" disabled>
												<option value="0">NOT YET</option>
												<option value="1">YES</option>
											</select>
										</div>
										<div class="col-3">
										</div>
										<div class="col-2">
											<label for="cmbStatusRevision" style="font-size:14px" class=""><strong>Status:</strong></label>
										</div>
										<div class="col-1">
											<select id="cmbStatusRevision" class="form-control form-control-sm">
												<option value="0" style="background-color:#FBFF00;color:#000000">Incomplete</option>
												<option value="1" style="background-color:#09AB01;color:#FFFFFF">Complete</option>
											</select>
										</div>
										<div class="col-1">
											<button type="button" class="btn btn-success btn-sm" id="btnConfirm" style="height:30px">Save <span class="icon text-white"><i class="fas fa-check-circle fa-sm"></i></span></button>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-2">
											<label for="txtcommentaryDocumentsOBM" style="font-size:14px" class=""><strong>Comentary Documents:</strong></label>
										</div>
										<div class="col-4">
											<textarea id="txtcommentaryDocumentsOBM" class="form-control form-control-sm" style="font-size:14px" readonly></textarea>
										</div>

										<div class="col-2">
											<label for="txtcommentaryDocumentsCustomer" style="font-size:14px" class=""><strong>Comentary Customer's:</strong></label>
										</div>
										<div class="col-4">
											<textarea id="txtcommentaryDocumentsCustomer" class="form-control form-control-sm" style="font-size:14px"></textarea>
										</div>
									</div>
								</div>
								<div class="container-fluid pt-2 py-2 px-3" style="background-color:#757576">

									<details open>
										<summary style="font-size:14px;color:white">
											<strong>Courier Traking</strong>
										</summary>

										<div class="form-group row">

											<div class="col-2">
												<label for="txtID" class="" style="font-size:14px;color:white"><strong>ID</strong></label>
											</div>
											<div class="col-2">
												<input id="txtID" type="text" style="font-size:14px;width:100%" class="form-control form-control-sm " value="" readonly />
											</div>
											<div class="col-2"></div>
											<div class="col-2">
												<label for="txtLink" style="font-size:14px;color:white" class=""><strong>Link:</strong></label>
											</div>
											<div class="col-4">
												<input id="txtLink" type="text" style="font-size:14px;width:100%" class="form-control form-control-sm " value="" readonly />
											</div>

										</div>
										<div class="form-group row">
											<div class="col-2">
												<label for="txtcommentarytraking" style="font-size:14px;color:white" class=""><strong>Comentary:</strong></label>
											</div>
											<div class="col-10">
												<textarea id="txtcommentarytraking" class="form-control form-control-sm" style="font-size:14px"></textarea>
											</div>
										</div>
									</details>
								</div>
								<br />
								<div class="container-fluid pt-3 py-2 px-2" style="background-color:#DAD7F9" hidden>
									<details open>
										<summary style="font-size:14px">
											<strong>Invoice Grower</strong>
										</summary>
										<div class="col-2" hidden>
											<input id="typeDocumentId" type="text" style="font-size:14px" class="form-control form-control-sm" value="0" readonly />
											<input id="txtInvoiceGrowerFile2" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile" value="" readonly />
											<input id="txtInvoiceGrowerFile3" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile" value="" readonly />
											<input id="txtenabled" type="text" style="font-size:14px;width:100%" class="form-control form-control-sm " value="0" readonly />

										</div>
										<div class="form-group row">
											<div class="col-1"></div>
											<div class="col-1">
												<label for="txtInvoiceGrowerFile" class="" style="font-size:14px"><strong>File</strong></label>
											</div>
											<div class="col-4">

												<div class="btn-group" style="width:100%!important">

													<button class="btn btnDelete btn-sm btn-light" style="height:30px" type="button" value="1"> <span class="icon text-danger"><i class="fas fa-trash fa-sm"></i></span></button>
													<label id="lblInvoiceGrowerFile" class="form-control form-control-sm lblFile " style="width:100%">File xxxx</label>
													<input id="txtInvoiceGrowerFile" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile" value="" readonly />
													<button class="btn btnDownLoad btn-sm btn-light" style="height:30px"><span class="icon text-primary"><i class="fas fa-download fa-sm"></i></span></button>

												</div>

											</div>
											<div class="col-1">
											</div>
											<div class="col-1">
												<label for="cmbInvoiceGrowerStatus" style="font-size:14px" class=""><strong>Status:</strong></label>
											</div>
											<div class="col-1">
												<select id="cmbInvoiceGrowerStatus" style="background-color:black;color:white" class="form-control form-control-sm selectDocumentType" disabled>
													<option value="0" style="background-color:black;color:white">Pending</option>
													<option value="1" style="background-color:#FBFF00;color:#000000">Processing</option>
													<option value="2" style="background-color:#09AB01;color:#FFFFFF">Approved</option>
													<option value="3" style="background-color:#FF0000;color:#FFFFFF">Rejected</option>
												</select>
											</div>
											<div class="col-1 row">
												<button id="btnSaveInvoiceGrower" class="btn btn-light btnAttach btn-sm" style="background-color:none; height: 30px" type="button" value="6">Save <span class="icon text-success"><i class="fas fa-floppy-o fa-sm"></i></span></button>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-1"></div>
											<div class="col-1">
												<label for="txtInvoiceGrower" class="" style="font-size:14px"><strong>Invoice Grower:</strong></label>
											</div>
											<div class="col-4">
												<input id="txtInvoiceGrower" type="text" style="font-size:14px" class="form-control form-control-sm" value="txtInvoiceGrower" readonly />
											</div>
											<div class="col-1"></div>
											<div class="col-1">
												<label for="txtfileCustomer1" class="" style="font-size:14px"><strong>File Customer</strong></label>
											</div>
											<div class="col-4">

												<div class="btn-group" style="width:100%!important">

													<button class="btn btnDeleteCustomer btn-sm btn-light" style="height:30px" type="button" value="1"> <span class="icon text-danger"><i class="fas fa-trash fa-sm"></i></span></button>
													<label id="lblfileCustomer1" class="form-control form-control-sm lblFileCustomer " style="width:100%">File xxxx</label>
													<input id="txtfileCustomer1" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile inputFileCustomer" value="" readonly />
													<button class="btn btnDownLoadCustomer btn-sm btn-light" style="height:30px"><span class="icon text-primary"><i class="fas fa-download fa-sm"></i></span></button>

												</div>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-1"></div>
											<div class="col-1">
												<label for="txtInvoiceGrowerNotesOZM1" style="font-size:14px" class=""><strong>OZM's Notes:</strong></label>
											</div>
											<div class="col-4">
												<textarea id="txtInvoiceGrowerNotesOZM1" class="form-control form-control-sm" style="font-size:14px"></textarea>
											</div>
											<div class="col-1"></div>
											<div class="col-1">
												<label for="txtInvoiceGrowerNotesCustomer" style="font-size:14px" class=""><strong>Customer's Notes:</strong></label>
											</div>
											<div class="col-4">
												<textarea id="txtInvoiceGrowerNotesCustomer" class="form-control form-control-sm" style="font-size:14px" readonly></textarea>
											</div>
										</div>
									</details>
								</div>

								<div class="container-fluid pt-3 py-2 px-2" style="background-color:#13213d">
									<details open>
										<summary style="font-size:14px;color:white">
											<strong>Invoice OZM</strong>
										</summary>
										<div class="col-2" hidden>
											<input id="typeDocumentId2" type="text" style="font-size:14px" class="form-control form-control-sm" value="0" readonly />
											<input id="txtInvoiceOZMFile2" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile" value="" readonly />
											<input id="txtInvoiceOZMFile3" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile" value="" readonly />
											<input id="txtenabled2" type="text" style="font-size:14px;width:100%" class="form-control form-control-sm " value="0" readonly />

										</div>
										<div class="form-group row">
											<div class="col-1"></div>
											<div class="col-1">
												<label for="txtInvoiceOZMFile" class="text-white" style="font-size:14px"><strong>File</strong></label>
											</div>
											<div class="col-4">
												@*<div class="row">*@
												<div class="btn-group" style="width:100%!important">
													<button class="btn btnDelete btn-sm btn-light" style="height:30px" type="button" value="1" disabled> <span class="icon text-danger"><i class="fas fa-trash fa-sm"></i></span></button>
													<label id="lblInvoiceOZMFile" class="form-control form-control-sm lblFile" style="width:100%">File YYY</label>
													<input id="txtInvoiceOZMFile" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile" value="" disabled />
													<button class="btn btnDownLoad btn-sm btn-light" style="height:30px"><span class="icon text-primary"><i class="fas fa-download fa-sm"></i></span></button>
												</div>
											</div>
											<div class="col-1">
											</div>
											<div class="col-1">
												<label for="cmbInvoiceOZMStatus" style="font-size:14px" class="text-white"><strong>Status:</strong></label>
											</div>
											<div class="col-1">
												<select id="cmbInvoiceOZMStatus" style="background-color:black;color:white" class="form-control form-control-sm selectDocumentType">
													<option value="0" style="background-color:black;color:white">Pending</option>
													<option value="1" style="background-color:#FBFF00;color:#000000">Processing</option>
													<option value="2" style="background-color:#09AB01;color:#FFFFFF">Approved</option>
													<option value="3" style="background-color:#FF0000;color:#FFFFFF">Rejected</option>
												</select>
											</div>

											<div class="col-1 row">
												<button id="btnSaveInvoiceOZM" class="btn  btn-light btnAttach btn-sm" style="background-color:none; height: 30px" type="button" value="6">Save <span class="icon text-success"><i class="fas fa-floppy-o fa-sm"></i></span></button>
											</div>

										</div>
										<div class="form-group row">
											<div class="col-1"></div>
											<div class="col-1">
												<label for="txtInvoiceOZM" class="text-white" style="font-size:14px"><strong>Invoice OZM:</strong></label>
											</div>
											<div class="col-4">
												<input id="txtInvoiceOZM" type="text" style="font-size:14px" class="form-control form-control-sm" value="txtInvoiceGrower" readonly />
											</div>
											<div class="col-1"></div>
											<div class="col-1">
												<label for="txtfileCustomer2" class="text-white" style="font-size:14px"><strong>File Customer</strong></label>
											</div>
											<div class="col-4">

												<div class="btn-group" style="width:100%!important">

													<button class="btn btnDeleteCustomer btn-sm btn-light" style="height:30px" type="button" value="1"> <span class="icon text-danger"><i class="fas fa-trash fa-sm"></i></span></button>
													<label id="lblfileCustomer2" class="form-control form-control-sm lblFileCustomer " style="width:100%">File xxxx</label>
													<input id="txtfileCustomer2" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile inputFileCustomer" value="" />
													<button class="btn btnDownLoadCustomer btn-sm btn-light" style="height:30px"><span class="icon text-primary"><i class="fas fa-download fa-sm"></i></span></button>

												</div>

											</div>
										</div>
										<div class="form-group row">
											<div class="col-1"></div>
											<div class="col-1">
												<label for="txtInvoiceOZMNotesOZM2" style="font-size:14px" class="text-white"><strong>OZM's Notes:</strong></label>
											</div>
											<div class="col-4">
												<textarea id="txtInvoiceOZMNotesOZM2" class="form-control form-control-sm" style="font-size:14px" readonly></textarea>
											</div>
											<div class="col-1"></div>
											<div class="col-1">
												<label for="txtInvoiceOZMNotesCustomer" style="font-size:14px" class="text-white"><strong>Customer's Notes:</strong></label>
											</div>
											<div class="col-4">
												<textarea id="txtInvoiceOZMNotesCustomer" class="form-control form-control-sm" style="font-size:14px"></textarea>
											</div>
										</div>
									</details>
								</div>
								<br />
								<div class="container-fluid pt-3 py-2 px-2" style="background-color:#667187">
									<details open>
										<summary style="font-size:14px;color:white">
											<strong>Packing List </strong>
										</summary>
										<div class="col-2" hidden>
											<input id="typeDocumentId3" type="text" style="font-size:14px" class="form-control form-control-sm" value="0" readonly />
											<input id="txtPL" type="text" style="font-size:14px;width:100%" class="form-control form-control-sm " value="" readonly />
											<input id="txtPLFile3" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile" value="" readonly />
											<input id="txtenabled3" type="text" style="font-size:14px;width:100%" class="form-control form-control-sm " value="0" readonly />

										</div>
										<div class="form-group row">

											<div class="col-1">

											</div>
											<div class="col-1">
												<label for="txtPLFile" class="text-white" style="font-size:14px"><strong>File PDF</strong></label>
											</div>
											<div class="col-4">
												@*<div class="row">*@
												<div class="btn-group" style="width:100%!important">
													<button class="btn btnDelete btn-sm btn-light" style="height:30px" type="button" value="1" disabled> <span class="icon text-danger"><i class="fas fa-trash fa-sm"></i></span></button>
													<label id="lblPLFile" class="form-control form-control-sm lblFile" style="width:100%">File xxxx</label>
													<input id="txtPLFile" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile" value="" disabled />

													<button class="btn btnDownLoad  btn-sm btn-light" style="height:30px"><span class="icon text-primary"><i class="fas fa-download fa-sm"></i></span></button>
												</div>
											</div>
											<div class="col-1">
											</div>
											<div class="col-1">
												<label for="cmbPLStatus" style="font-size:14px" class="text-white"><strong>Status:</strong></label>
											</div>
											<div class="col-1">
												<select id="cmbPLStatus" style="background-color:black;color:white" class="form-control form-control-sm selectDocumentType">
													<option value="0" style="background-color:black;color:white">Pending</option>
													<option value="1" style="background-color:#FBFF00;color:#000000">Processing</option>
													<option value="2" style="background-color:#09AB01;color:#FFFFFF">Approved</option>
													<option value="3" style="background-color:#FF0000;color:#FFFFFF">Rejected</option>
												</select>
											</div>

											<div class="col-1 row">
												<button id="btnSavePL" class="btn btn-light btnAttach btn-sm" style="background-color:none; height: 30px" type="button" value="6">Save <span class="icon text-success"><i class="fas fa-floppy-o fa-sm"></i></span></button>
											</div>
										</div>
										<div class="form-group row">

											<div class="col-1">

											</div>
											<div class="col-1">
												<label for="txtPLFile2" class="text-white" style="font-size:14px"><strong>File Excel</strong></label>
											</div>
											<div class="col-4">
												@*<div class="row">*@
												<div class="btn-group" style="width:100%!important">
													<button class="btn btnDelete btn-sm btn-light" style="height:30px" type="button" value="1" disabled> <span class="icon text-danger"><i class="fas fa-trash fa-sm"></i></span></button>
													<label id="lblPLFile2" class="form-control form-control-sm lblFile" style="width:100%">File xxxx</label>
													<input id="txtPLFile2" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile" value="" disabled />

													<button class="btn btnDownLoad  btn-sm btn-light" style="height:30px"><span class="icon text-primary"><i class="fas fa-download fa-sm"></i></span></button>
												</div>
											</div>
											<div class="col-1">
											</div>
											<div class="col-1">
												<label for="txtfileCustomer3" class="text-white" style="font-size:14px"><strong>File Customer</strong></label>
											</div>
											<div class="col-4">

												<div class="btn-group" style="width:100%!important">

													<button class="btn btnDeleteCustomer btn-sm btn-light" style="height:30px" type="button" value="1"> <span class="icon text-danger"><i class="fas fa-trash fa-sm"></i></span></button>
													<label id="lblfileCustomer3" class="form-control form-control-sm lblFileCustomer " style="width:100%">File xxxx</label>
													<input id="txtfileCustomer3" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile inputFileCustomer" value="" />
													<button class="btn btnDownLoadCustomer btn-sm btn-light" style="height:30px"><span class="icon text-primary"><i class="fas fa-download fa-sm"></i></span></button>

												</div>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-1">

											</div>
											<div class="col-1">
												<label for="txtPLNotesOZM" style="font-size:14px" class="text-white"><strong>OZM's Notes:</strong></label>
											</div>
											<div class="col-4">
												<textarea id="txtPLNotesOZM" class="form-control form-control-sm" style="font-size:14px" readonly></textarea>
											</div>
											<div class="col-1"></div>
											<div class="col-1">
												<label for="txtPLNotesCustomer" style="font-size:14px" class="text-white"><strong>Customer's Notes:</strong></label>
											</div>
											<div class="col-4">
												<textarea id="txtPLNotesCustomer" class="form-control form-control-sm" style="font-size:14px"></textarea>
											</div>
										</div>
									</details>
								</div>
								<br />

								<div class="container-fluid pt-3 py-2 px-2" style="background-color:#7B95A7">
									<details open>
										<summary style="font-size:14px;color:white">
											<strong>Phyto</strong>
										</summary>
										<div class="col-2" hidden>
											<input id="typeDocumentId4" type="text" style="font-size:14px" class="form-control form-control-sm" value="0" readonly />
											<input id="txtPhyto" type="text" style="font-size:14px;width:100%" class="form-control form-control-sm " value="" readonly />
											<input id="txtPhytoFile2" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile" value="" readonly />
											<input id="txtPhytoFile3" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile" value="" readonly />
											<input id="txtenabled4" type="text" style="font-size:14px;width:100%" class="form-control form-control-sm " value="0" readonly />
										</div>
										<div class="form-group row">
											<div class="col-1">
											</div>
											<div class="col-1">
												<label for="txtPhytoFile" class="text-white" style="font-size:14px"><strong>File</strong></label>
											</div>
											<div class="col-4">
												@*<div class="row">*@
												<div class="btn-group" style="width:100%!important">
													<button class="btn btnDelete  btn-sm btn-light" style="height:30px" type="button" value="1" disabled> <span class="icon text-danger"><i class="fas fa-trash fa-sm"></i></span></button>
													<label id="lblPhytoFile" class="form-control form-control-sm lblFile" style="width:100%">File xxxx</label>
													<input id="txtPhytoFile" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile" value="" disabled />

													<button class="btn btnDownLoad  btn-sm btn-light" style="height:30px"><span class="icon text-primary"><i class="fas fa-download fa-sm"></i></span></button>
												</div>
											</div>
											<div class="col-1">
											</div>
											<div class="col-1">
												<label for="cmbPhytoStatus" style="font-size:14px" class="text-white"><strong>Status:</strong></label>
											</div>
											<div class="col-1">
												<select id="cmbPhytoStatus" style="background-color:black;color:white" class="form-control form-control-sm selectDocumentType">
													<option value="0" style="background-color:black;color:white">Pending</option>
													<option value="1" style="background-color:#FBFF00;color:#000000">Processing</option>
													<option value="2" style="background-color:#09AB01;color:#FFFFFF">Approved</option>
													<option value="3" style="background-color:#FF0000;color:#FFFFFF">Rejected</option>
												</select>
											</div>
											<div class="col-1 row">
												<button id="btnSavePhyto" class="btn btn-light btnAttach btn-sm" style="background-color:none; height: 30px" type="button" value="6">Save <span class="icon text-success"><i class="fas fa-floppy-o fa-sm"></i></span></button>
											</div>

										</div>
										<div class="form-group row">
											<div class="col-1">
											</div>
											<div class="col-6">
											</div>
											<div class="col-1">
												<label for="txtfileCustomer4" class="text-white" style="font-size:14px"><strong>File Customer</strong></label>
											</div>
											<div class="col-4">

												<div class="btn-group" style="width:100%!important">

													<button class="btn btnDeleteCustomer btn-sm btn-light" style="height:30px" type="button" value="1"> <span class="icon text-danger"><i class="fas fa-trash fa-sm"></i></span></button>
													<label id="lblfileCustomer4" class="form-control form-control-sm lblFileCustomer " style="width:100%">File xxxx</label>
													<input id="txtfileCustomer4" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile inputFileCustomer" value="" />
													<button class="btn btnDownLoadCustomer btn-sm btn-light" style="height:30px"><span class="icon text-primary"><i class="fas fa-download fa-sm"></i></span></button>

												</div>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-1">
											</div>
											<div class="col-1">
												<label for="txtPhytoNotesOZM" style="font-size:14px" class="text-white"><strong>OZM's Notes:</strong></label>
											</div>
											<div class="col-4">
												<textarea id="txtPhytoNotesOZM" class="form-control form-control-sm" style="font-size:14px" readonly></textarea>
											</div>
											<div class="col-1"></div>
											<div class="col-1">
												<label for="txtPhytoNotesCustomer" style="font-size:14px" class="text-white"><strong>Customer's Notes:</strong></label>
											</div>
											<div class="col-4">
												<textarea id="txtPhytoNotesCustomer" class="form-control form-control-sm" style="font-size:14px"></textarea>
											</div>
										</div>
									</details>
								</div>
								<br />
								<div class="container-fluid pt-3 py-2 px-2" style="background-color:#4982A9">
									<details open>
										<summary style="font-size:14px;color:white">
											<strong>BL</strong>
										</summary>
										<div class="col-2" hidden>
											<input id="typeDocumentId5" type="text" style="font-size:14px" class="form-control form-control-sm" value="0" readonly />
											<input id="txtBL" type="text" style="font-size:14px;width:100%" class="form-control form-control-sm " value="" readonly />
											<input id="txtBLFile2" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile" value="" readonly />
											<input id="txtBLFile3" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile" value="" readonly />
											<input id="txtenabled5" type="text" style="font-size:14px;width:100%" class="form-control form-control-sm " value="0" readonly />
										</div>
										<div class="form-group row">
											<div class="col-1">
											</div>
											<div class="col-1">
												<label for="txtBLFile" class="text-white" style="font-size:14px"><strong>File</strong></label>
											</div>
											<div class="col-4">
												<div class="btn-group" style="width:100%!important">
													@*<div class="row">*@
													<button class="btn btnDelete  btn-sm btn-light" style="height:30px" type="button" value="1" disabled> <span class="icon text-danger"><i class="fas fa-trash fa-sm"></i></span></button>
													<label id="lblBLFile" class="form-control form-control-sm lblFile" style="width:100%">File xxxx</label>
													<input id="txtBLFile" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile" value="" disabled />

													<button class="btn btnDownLoad  btn-sm btn-light" style="height:30px"><span class="icon text-primary"><i class="fas fa-download fa-sm"></i></span></button>
												</div>
											</div>
											<div class="col-1">
											</div>
											<div class="col-1">
												<label for="cmbBLStatus" style="font-size:14px" class="text-white"><strong>Status:</strong></label>
											</div>
											<div class="col-1">
												<select id="cmbBLStatus" style="background-color:black;color:white" class="form-control form-control-sm selectDocumentType">
													<option value="0" style="background-color:black;color:white">Pending</option>
													<option value="1" style="background-color:#FBFF00;color:#000000">Processing</option>
													<option value="2" style="background-color:#09AB01;color:#FFFFFF">Approved</option>
													<option value="3" style="background-color:#FF0000;color:#FFFFFF">Rejected</option>
												</select>
											</div>

											<div class="col-1 row">
												<button id="btnSaveBL" class="btn btn-light btnAttach btn-sm" style="background-color:none; height: 30px" type="button" value="6">Save <span class="icon text-success"><i class="fas fa-floppy-o fa-sm"></i></span></button>
											</div>

										</div>
										<div class="form-group row">
											<div class="col-1">
											</div>
											<div class="col-6">
											</div>
											<div class="col-1">
												<label for="txtfileCustomer5" class="text-white" style="font-size:14px"><strong>File Customer</strong></label>
											</div>
											<div class="col-4">

												<div class="btn-group" style="width:100%!important">

													<button class="btn btnDeleteCustomer btn-sm btn-light" style="height:30px" type="button" value="1"> <span class="icon text-danger"><i class="fas fa-trash fa-sm"></i></span></button>
													<label id="lblfileCustomer5" class="form-control form-control-sm lblFileCustomer " style="width:100%">File xxxx</label>
													<input id="txtfileCustomer5" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile inputFileCustomer" value="" />
													<button class="btn btnDownLoadCustomer btn-sm btn-light" style="height:30px"><span class="icon text-primary"><i class="fas fa-download fa-sm"></i></span></button>

												</div>

											</div>
										</div>
										<div class="form-group row">
											<div class="col-1">
											</div>
											<div class="col-1">
												<label for="txtBLNotesOZM" style="font-size:14px" class="text-white"><strong>OZM's Notes:</strong></label>
											</div>
											<div class="col-4">
												<textarea id="txtBLNotesOZM" class="form-control form-control-sm" style="font-size:14px" readonly></textarea>
											</div>
											<div class="col-1"></div>
											<div class="col-1">
												<label for="txtBLNotesCustomer" style="font-size:14px" class="text-white"><strong>Customer's Notes:</strong></label>
											</div>
											<div class="col-4">
												<textarea id="txtBLNotesCustomer" class="form-control form-control-sm" style="font-size:14px"></textarea>
											</div>
										</div>
									</details>
								</div>
								<br />
								<div class="container-fluid pt-3 py-2 px-2" style="background-color:#38617E">
									<details open>
										<summary style="font-size:14px;color:white">
											<strong>Certificate Of Origin</strong>
										</summary>
										<div class="col-2" hidden>
											<input id="typeDocumentId6" type="text" style="font-size:14px" class="form-control form-control-sm" value="0" readonly />
											<input id="txtCertOrig" type="text" style="font-size:14px;width:100%" class="form-control form-control-sm " value="" readonly />
											<input id="txtCertOrigFile2" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile" value="" readonly />
											<input id="txtCertOrigFile3" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile" value="" readonly />
											<input id="txtenabled6" type="text" style="font-size:14px;width:100%" class="form-control form-control-sm " value="0" readonly />
										</div>
										<div class="form-group row">
											<div class="col-1">
											</div>
											<div class="col-1">
												<label for="txtCertOrigFile" class="text-white" style="font-size:14px"><strong>File</strong></label>
											</div>
											<div class="col-4">
												@*<div class="row">*@
												<div class="btn-group" style="width:100%!important">
													<button class="btn btnDelete  btn-sm btn-light" style="height:30px" type="button" value="1" disabled> <span class="icon text-danger"><i class="fas fa-trash fa-sm"></i></span></button>
													<label id="lblCertOrigFile" class="form-control form-control-sm lblFile" style="width:100%">File xxxx</label>
													<input id="txtCertOrigFile" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile" value="" disabled />

													<button class="btn btnDownLoad  btn-sm btn-light" style="height:30px"><span class="icon text-primary"><i class="fas fa-download fa-sm"></i></span></button>
												</div>
											</div>
											<div class="col-1">
											</div>
											<div class="col-1">
												<label for="cmbCertOrigStatus" style="font-size:14px" class="text-white"><strong>Status:</strong></label>
											</div>
											<div class="col-1">
												<select id="cmbCertOrigStatus" style="background-color:#FF0000;color:#FFFFFF" class="form-control form-control-sm selectDocumentType">
													<option value="0" style="background-color:black;color:white">Pending</option>
													<option value="1" style="background-color:#FBFF00;color:#000000">Processing</option>
													<option value="2" style="background-color:#09AB01;color:#FFFFFF">Approved</option>
													<option value="3" style="background-color:#FF0000;color:#FFFFFF" selected>Rejected</option>
												</select>
											</div>

											<div class="col-1 row">
												<button id="btnSaveCertOrig" class="btn btn-light btnAttach btn-sm" style="background-color:none; height: 30px" type="button" value="6">Save <span class="icon text-success"><i class="fas fa-floppy-o fa-sm"></i></span></button>
											</div>

										</div>

										<div class="form-group row">
											<div class="col-1">
											</div>
											<div class="col-6">
											</div>
											<div class="col-1">
												<label for="txtfileCustomer6" class="text-white" style="font-size:14px"><strong>File Customer</strong></label>
											</div>
											<div class="col-4">

												<div class="btn-group" style="width:100%!important">

													<button class="btn btnDeleteCustomer btn-sm btn-light" style="height:30px" type="button" value="1"> <span class="icon text-danger"><i class="fas fa-trash fa-sm"></i></span></button>
													<label id="lblfileCustomer6" class="form-control form-control-sm lblFileCustomer " style="width:100%">File xxxx</label>
													<input id="txtfileCustomer6" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile inputFileCustomer" value="" />
													<button class="btn btnDownLoadCustomer btn-sm btn-light" style="height:30px"><span class="icon text-primary"><i class="fas fa-download fa-sm"></i></span></button>

												</div>

											</div>
										</div>

										<div class="form-group row">
											<div class="col-1">
											</div>
											<div class="col-1">
												<label for="txtCertOrigNotesOZM" style="font-size:14px" class="text-white"><strong>OZM's Notes:</strong></label>
											</div>
											<div class="col-4">
												<textarea id="txtCertOrigNotesOZM" class="form-control form-control-sm" style="font-size:14px" readonly></textarea>
											</div>
											<div class="col-1"></div>
											<div class="col-1">
												<label for="txtCertOrigNotesCustomer" style="font-size:14px" class="text-white"><strong>Customer's Notes:</strong></label>
											</div>
											<div class="col-4">
												<textarea id="txtCertOrigNotesCustomer" class="form-control form-control-sm" style="font-size:14px"></textarea>
											</div>
										</div>
									</details>
								</div>
								<br />
								<div class="container-fluid pt-3 py-2 px-2" style="background-color:#044F84" id="enabled7Group">
									<details open>
										<summary style="font-size:14px;color:white">
											<strong>Export File</strong>
										</summary>
										<div class="col-2" hidden>
											<input id="typeDocumentId7" type="text" style="font-size:14px" class="form-control form-control-sm" value="0" readonly />
											<input id="txtExportFile" type="text" style="font-size:14px;width:100%" class="form-control form-control-sm " value="" readonly />
											<input id="txtExportFileFile2" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile" value="" readonly />
											<input id="txtExportFileFile3" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile" value="" readonly />
											@*<input type="checkbox" class="form-check-input" id="enabled7" checked>*@
										</div>
										<div class="form-group row">
											<div class="col-1">
											</div>
											<div class="col-1">
												<label for="txtExportFileFile" class="text-white" style="font-size:14px"><strong>File</strong></label>
											</div>
											<div class="col-4">
												@*<div class="row">*@
												<div class="btn-group" style="width:100%!important">
													<button class="btn btnDelete  btn-sm btn-light" style="height:30px" type="button" value="1" disabled> <span class="icon text-danger"><i class="fas fa-trash fa-sm"></i></span></button>
													<label id="lblExportFileFile" class="form-control form-control-sm lblFile" style="width:100%">File xxxx</label>
													<input id="txtExportFileFile" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile" value="" disabled />

													<button class="btn btnDownLoad  btn-sm btn-light" style="height:30px"><span class="icon text-primary"><i class="fas fa-download fa-sm"></i></span></button>
												</div>
											</div>

											<div class="col-1">
											</div>
											<div class="col-1">
												<label for="cmbExportFileStatus" style="font-size:14px" class="text-white"><strong>Status:</strong></label>
											</div>
											<div class="col-1">
												<select id="cmbExportFileStatus" style="background-color:black;color:white" class="form-control form-control-sm selectDocumentType">
													<option value="0" style="background-color: #FFDB33; color: black ">Pending</option>
													<option value="1" style="background-color: #335AFF; color: white">Processing</option>
													<option value="2" style="background-color: #09AB01; color: white">Approved</option>
													<option value="3" style="background-color: #FF5433; color: white">Rejected</option>
												</select>
											</div>

											<div class="col-2 row">
												<button id="btnSaveExportFile" class="btn btn-light btnAttach btn-sm" style="background-color:none; height: 30px" type="button" value="6">Save <span class="icon text-success"><i class="fas fa-floppy-o fa-sm"></i></span></button>
												<div class="form-check" hidden>

													<input type="checkbox" class="form-check-input" id="enabled7" checked>
													<label style="font-size:14px" class="text-white form-check-label" for="enabled7">Enabled</label>
												</div>
											</div>
											<div class="col-1 ">

											</div>
										</div>
										<div class="form-group row">
											<div class="col-1">
											</div>
											<div class="col-6">
											</div>
											<div class="col-1">
												<label for="txtfileCustomer7" class="text-white" style="font-size:14px"><strong>File Customer</strong></label>
											</div>
											<div class="col-4">

												<div class="btn-group" style="width:100%!important">

													<button class="btn btnDeleteCustomer btn-sm btn-light" style="height:30px" type="button" value="1"> <span class="icon text-danger"><i class="fas fa-trash fa-sm"></i></span></button>
													<label id="lblfileCustomer7" class="form-control form-control-sm lblFileCustomer " style="width:100%">File xxxx</label>
													<input id="txtfileCustomer7" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile inputFileCustomer" value="" />
													<button class="btn btnDownLoadCustomer btn-sm btn-light" style="height:30px"><span class="icon text-primary"><i class="fas fa-download fa-sm"></i></span></button>

												</div>

											</div>
										</div>
										<div class="form-group row">
											<div class="col-1">
											</div>
											<div class="col-1">
												<label for="txtExportFileNotesOZM" style="font-size:14px" class="text-white"><strong>OZM's Notes:</strong></label>
											</div>
											<div class="col-4">
												<textarea id="txtExportFileNotesOZM" class="form-control form-control-sm" style="font-size:14px" readonly></textarea>
											</div>
											<div class="col-1"></div>
											<div class="col-1">
												<label for="txtExportFileNotesCustomer" style="font-size:14px" class="text-white"><strong>Customer's Notes:</strong></label>
											</div>
											<div class="col-4">
												<textarea id="txtExportFileNotesCustomer" class="form-control form-control-sm" style="font-size:14px"></textarea>
											</div>
										</div>
									</details>
								</div>
								<br />
								<div class="container-fluid pt-3 py-2 px-2" style="background-color:#587284" id="enabled8Group">
									<details open>
										<summary style="font-size:14px;color:white">
											<strong>Others</strong>
										</summary>

										<div class="col-2" hidden>
											<input id="typeDocumentId8" type="text" style="font-size:14px" class="form-control form-control-sm" value="0" readonly />
											<input id="txtOthers" type="text" style="font-size:14px;width:100%" class="form-control form-control-sm " value="" readonly />
											@*<input type="checkbox" class="form-check-input" id="enabled8" checked>*@
										</div>
										<div class="form-group row">
											<div class="col-1">
											</div>
											<div class="col-1">
												<label for="txtOthersFile" class="text-white" style="font-size:14px"><strong>File</strong></label>
											</div>
											<div class="col-4">
												<div class="btn-group" style="width:100%!important">
													@*<div class="row">*@
													<button class="btn btnDelete  btn-sm btn-light" style="height:30px" type="button" value="1" disabled> <span class="icon text-danger"><i class="fas fa-trash fa-sm"></i></span></button>
													<label id="lblOthersFile" class="form-control form-control-sm lblFile" style="width:100%">File xxxx</label>
													<input id="txtOthersFile" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile" value="" disabled />

													<button class="btn btnDownLoad  btn-sm btn-light" style="height:30px"><span class="icon text-primary"><i class="fas fa-download fa-sm"></i></span></button>
												</div>
											</div>
											<div class="col-1">
											</div>
											<div class="col-1">
												<label for="cmbOthersStatus" style="font-size:14px" class="text-white"><strong>Status:</strong></label>
											</div>
											<div class="col-1">
												<select id="cmbOthersStatus" style="background-color:black;color:white" class="form-control form-control-sm selectDocumentType">
													<option value="0" style="background-color:black;color:white">Pending</option>
													<option value="1" style="background-color:#FBFF00;color:#000000">Processing</option>
													<option value="2" style="background-color:#09AB01;color:#FFFFFF">Approved</option>
													<option value="3" style="background-color:#FF0000;color:#FFFFFF">Rejected</option>
												</select>
											</div>

											<div class="col-2 row">
												<button id="btnSaveOthers" class="btn btn-light btnAttach btn-sm" style="background-color:none; height: 30px" type="button" value="6">Save <span class="icon text-success"><i class="fas fa-floppy-o fa-sm"></i></span></button>
												<div class="form-check" hidden>
													<input type="checkbox" class="form-check-input" id="enabled8" checked>
													<label style="font-size:14px" class="text-white form-check-label" for="enabled8">Enabled</label>
												</div>
											</div>

										</div>
										<div class="form-group row">
											<div class="col-1">
											</div>
											<div class="col-1">
												<label for="txtOthersFile2" class="text-white" style="font-size:14px"><strong>File</strong></label>
											</div>
											<div class="col-4">
												<div class="btn-group" style="width:100%!important">
													@*<div class="row">*@
													<button class="btn btnDelete  btn-sm btn-light" style="height:30px" type="button" value="1" disabled> <span class="icon text-danger"><i class="fas fa-trash fa-sm"></i></span></button>
													<label id="lblOthersFile2" class="form-control form-control-sm lblFile" style="width:100%">File xxxx</label>

													<input id="txtOthersFile2" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile" value="" disabled />

													<button class="btn btnDownLoad  btn-sm btn-light" style="height:30px"><span class="icon text-primary"><i class="fas fa-download fa-sm"></i></span></button>
												</div>
											</div>
											<div class="col-1">
											</div>
											<div class="col-1">
												<label for="txtfileCustomer8" class="text-white" style="font-size:14px"><strong>File Customer</strong></label>
											</div>
											<div class="col-4">

												<div class="btn-group" style="width:100%!important">

													<button class="btn btnDeleteCustomer btn-sm btn-light" style="height:30px" type="button" value="1"> <span class="icon text-danger"><i class="fas fa-trash fa-sm"></i></span></button>
													<label id="lblfileCustomer8" class="form-control form-control-sm lblFileCustomer " style="width:100%">File xxxx</label>
													<input id="txtfileCustomer8" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile inputFileCustomer" value="" />
													<button class="btn btnDownLoadCustomer btn-sm btn-light" style="height:30px"><span class="icon text-primary"><i class="fas fa-download fa-sm"></i></span></button>

												</div>

											</div>
										</div>
										<div class="form-group row">
											<div class="col-1">
											</div>
											<div class="col-1">
												<label for="txtOthersFile3" class="text-white" style="font-size:14px"><strong>File</strong></label>
											</div>
											<div class="col-4">
												<div class="btn-group" style="width:100%!important">
													@*<div class="row">*@
													<button class="btn btnDelete  btn-sm btn-light" style="height:30px" type="button" value="1" disabled> <span class="icon text-danger"><i class="fas fa-trash fa-sm"></i></span></button>
													<label id="lblOthersFile3" class="form-control form-control-sm lblFile" style="width:100%">File xxxx</label>

													<input id="txtOthersFile3" type="file" style="font-size:14px;width:100%" class="form-control form-control-sm inputFile" value="" disabled />

													<button class="btn btnDownLoad  btn-sm btn-light" style="height:30px"><span class="icon text-primary"><i class="fas fa-download fa-sm"></i></span></button>
												</div>
											</div>

										</div>
										<div class="col-1">
										</div>
										<div class="form-group row">
											<div class="col-1">
											</div>
											<div class="col-1">
												<label for="txtOthersNotesOZM" style="font-size:14px" class="text-white"><strong>OZM's Notes:</strong></label>
											</div>
											<div class="col-4">
												<textarea id="txtOthersNotesOZM" class="form-control form-control-sm" style="font-size:14px" readonly></textarea>
											</div>
											<div class="col-1"></div>
											<div class="col-1">
												<label for="txtOthersNotesCustomer" style="font-size:14px" class="text-white"><strong>Customer's Notes:</strong></label>
											</div>
											<div class="col-4">
												<textarea id="txtOthersNotesCustomer" class="form-control form-control-sm" style="font-size:14px"></textarea>
											</div>
										</div>
									</details>
								</div>
								<hr />

							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>
<br />
<script src="~/Scripts/View/ShippingProgram/Revision.js"></script>