﻿
@{
    ViewBag.Title = "Blu";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h2><span class="badge badge-titulo" >Blu</span></h2>
		
	</div>
    @*<div class="card shadow mb-4">
        <div class="card-header py-2">
            <div class="form-group row">
                <div class="col-xl-12 col-lg-9 col-md-9 col-sm-5">
                    <button type="button" href="../Docs/BLU.pdf" class="btn btn-sm text-white pull-right view-pdf" style=" background-color: #13213d;">Downloads <span class="icon text-danger"><i class="fas fa-file-pdf"></i></span></button>
                </div>

            </div>
        </div>
    </div>*@
    <iframe style="width:100%; height:100%;" src="../Docs/BLU.pdf" title="W3Schools Free Online Web Tutorials"></iframe>

</div>

