﻿
@{
    ViewBag.Title = "SpecsClient";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h2><span class="badge badge-titulo">Specs / Customer by Product </span></h2>
    </div>

    <div class="modal-body modal-body-agrocom">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-2">
                        <label class="m-0"><strong>Section Customer</strong></label>
                    </div>
                    <div class="card-body mb-2 card-body-agrocom">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group row">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <label class="label-modal-agrocom" for="txtCustomer">Customer:</label>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <div class="dropdown bootstrap-select form-control form-control-sm obligatory">
                                            <select id="selectCustomer" class="form-control selectpicker form-control-sm obligatory" data-live-search="true" tabindex="-98">
                                                <option value="">--Choose--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <button class="btn btn-success btn-sm pull-right" type="button" id="btnAddCustomer">
                                            Add <span class=""><i class="fas fa-plus-circle fa-sm"></i></span>
                                        </button>
                                        <span id="spanObligatory" class="badge badge-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-12 col-sm-12 col-xs-12 table-responsive">
                            <table id="tblCustomer" class="table table-hover table-bordered table-striped dataTable" style="width:100%">
                                <thead class="thead-agrocom">
                                    <tr>
                                        <td style='min-width:300px;max-width:300px;'>CustomerID</td>
                                        <td style='min-width:1000px;max-width:1000px;'>Customer</td>
                                        <td style='min-width:200px;max-width:200px;'>Operation</td>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="modal-footer-agrocom" style="background-color:lightsteelblue">
                        <a href="#" class="btn btn-success btn-sm btn-icon-split " id="" disabled>

                        </a>
                        <a href="#" class="btn btn-success btn-sm btn-icon-split " id="btnSaveClient" disabled>
                            <span class="icon text-white-50">
                                <i class="fas fa-save fa-sm"></i>
                            </span>
                            <span class="text">Save</span>
                        </a>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="card-body card-body-agrocom">
                    <div class="form-group row">
                        <div class="col-md-3 col-sm-3 col-xs-3" hidden>
                            <asp:Label ID="Label2" runat="server" Text="">
                                <label class="label-modal-agrocom">Crop</label><br />
                                <select id="cboCrop" onchange="getGlobalCrop()" class="form-control form-control-sm"></select>
                                <br />
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2" hidden>
                            <label class="label-modal-agrocom">Client</label><br />
                            <select id="SelectClient" onchange="" class="form-control form-control-sm"></select>
                            <br />
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1">
                            <label class="label-modal-agrocom">Massive Upload</label>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="btn-group" style="width:100%!important">
                                <label id="lblfile" class="form-control form-control-sm lblFile " style="width:100%" hidden>File xxxx</label>
                                <input type='file' id='fileExcel' accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" style="font-size:14px;width:100%" class="form-control inputFile inputFile" value="" readonly />
                                <button class="btn btn-sm input-group-text btnUpload btn-light" id="btnUpload" style="height:30px" hidden> <span class="icon text-primary"><i class="fas fa-check-circle fa-sm"></i></span></button>
                                <button id="btnDeleteFile" class="btn btnDelete input-group-text btn-sm btn-light" style="height:30px" value="1" hidden> <span class="icon text-danger"><i class="fas fa-trash fa-sm"></i></span></button>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1">
                            <label class="label-modal-agrocom">Get Template</label>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5">
                            <div class="btn-group">
                                <a href="#" class="btn btn-primary btn-sm btn-icon-split " id="download" @*onclick="DownloadTemplate()*@">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-download fa-sm"></i>
                                    </span>
                                    <span class="mr-2 d-none d-lg-inline text">Download</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1">
                            <div class="btn-group">                                
                                <a href="#" class="btn btn-success btn-sm btn-icon-split " id="btnSaveMassiveUpdate" disabled>
                                    <span class="icon text-white-50">
                                        <i class="fas fa-save"></i>
                                    </span>
                                    <span class="text">Save</span>
                                </a>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="form-group row">
                        <div id="loadModalTableMassiveUploader" class="col-md-12 col-sm-12 col-xs-12 table-responsive" style="background-color:white;padding-top:10px;padding-top:10px">
                            <table class="table table-hover table-bordered table-striped dataTable" id="tblExcel">
                                <thead class="thead-agrocom">
                                    <tr>
                                        <th style="text-align: center; max-width: 250px; min-width:250px;" class="sorting_asc" tabindex="0" aria-controls="TblForecastRecords" rowspan="1" colspan="1">Client</th>
                                        <th style="text-align: center; max-width: 70px; min-width:70px;" class="sorting" tabindex="0" aria-controls="TblForecastRecords" rowspan="1" colspan="1">Crop</th>
                                        <th style="text-align: center; max-width: 100px; min-width:100px;" class="sorting" tabindex="0" aria-controls="TblForecastRecords" rowspan="1" colspan="1">Destination</th>
                                        <th style="text-align: center; max-width: 170px; min-width:150px;" class="sorting" tabindex="0" aria-controls="TblForecastRecords" rowspan="1" colspan="1">Product</th>
                                        <th style="text-align: center; max-width: 500px; min-width:300px;" class="sorting" tabindex="0" aria-controls="TblForecastRecords" rowspan="1" colspan="1">Description</th>
                                        <th style="text-align: center; max-width: 55px; min-width:50px;" class="sorting" tabindex="0" aria-controls="TblForecastRecords" rowspan="1" colspan="1">Priority</th>
                                        <th style="text-align: center; max-width: 70px; min-width:50px;" class="sorting" tabindex="0" aria-controls="TblForecastRecords" rowspan="1" colspan="1">Minimum</th>
                                        <th style="text-align: center; max-width: 70px; min-width:50px;" class="sorting" tabindex="0" aria-controls="TblForecastRecords" rowspan="1" colspan="1">Maximum</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>BLUEBERRIES</td>
                                        <td>North America</td>
                                        <td>Ozblu Marketing LLC</td>
                                        <td>OZR_6.12CO_C1812_+20_1</td>
                                        <td>ARÁNDANO ELAINA EN CAJA DE CARTON OZBLU DE 2.04 KG EN CLAMSHELL 6 ONZAS/ CALIBRE +20 / CATEGORIA 1</td>
                                        <td>1</td>
                                        <td>20</td>
                                        <td>80</td>
                                    </tr>
                                    <tr>
                                        <td>BLUEBERRIES</td>
                                        <td>Asia/Middle East</td>
                                        <td>City Fresh Fruit CO., LTD.</td>
                                        <td>OZR_1.50CO_C4413_+18_1</td>
                                        <td>ARÁNDANO ELAINA EN CAJA DE CARTON OZBLU DE 2.04 KG EN CLAMSHELL 6 ONZAS/ CALIBRE +18 / CATEGORIA 1</td>
                                        <td>1</td>
                                        <td>50</td>
                                        <td>100</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="modal-footer modal-footer-agrocom">

        <a href="#" class="btn btn-success btn-sm btn-icon-split " id="btnSaveMassiveUpdate" disabled>
            <span class="icon text-white-50">
                <i class="fas fa-save fa-sm"></i>
            </span>
            <span class="text">Save</span>
        </a>
        <asp:Label ID="Label5" runat="server" Font-Bold="True" ForeColor="Red"></asp:Label>
        <a href="#" class="btn btn-danger btn-sm btn-icon-split " data-dismiss="modal">
            <span class="icon text-white-50">
                <i class="fas fa-times fa-sm"></i>
            </span>
            <span class="text">Close</span>
        </a>
        <span id="spanObligatory2" style="text-align:left" class="badge badge-danger"></span>

    </div>*@

</div>
<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.7/css/fixedHeader.dataTables.min.css">
<script language="javascript" type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>
<script language="javascript" type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.flash.min.js"></script>
<script language="javascript" type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js"></script>
<script src="~/Scripts/View/Specs/Specs.js"></script>