﻿
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Master.cshtml";
}


<style>
    .table-cebra {
        border: #ccc 1px solid;
        border-spacing: 0;
    }

        .table-cebra thead th {
            background: #13213d;
            color: white;
        }

        .table-cebra th,
        .table-cebra td {
            border-right: 1px solid #ccc;
            min-width: 150px;
            padding: 0.5rem;
            text-align: left;
        }

            .table-cebra th:last-child,
            .table-cebra td:last-child {
                border-right: 0px;
            }

        .table-cebra td {
            /*            border: 1px solid #ccc;*/
            border-bottom: 1px solid #ccc;
        }

        .table-cebra tbody tr {
            background: white;
        }

            .table-cebra tbody tr:nth-child(2n) {
                background: #f2f2f2
            }

    .table-container {
        max-width: 100%;
        overflow-x: scroll;
        border-left: solid 1px #ccc;
        border-right: solid 1px #ccc;
    }

    .table-cebra .sticky {
        position: sticky;
        left: 0;
        border-left: solid 1px #ccc;
        border-right: solid 1px #ccc;
    }

    .table-cebra .sticky2 {
        position: sticky;
        left: 150px;
    }

    .table-cebra .sticky3 {
        position: sticky;
        left: 300px;
    }

    .table-cebra .sticky4 {
        position: sticky;
        left: 450px;
    }


    .table-cebra thead th .sticky {
        background: #13213d;
        color: white;
    }

    .table-cebra tbody tr .sticky {
        background: white;
    }

    .table-cebra tbody tr:nth-child(2n) .sticky {
        background: #f2f2f2;
    }


    .table-cebra thead th .sticky2 {
        background: #13213d;
        color: white;
    }

    .table-cebra tbody tr .sticky2 {
        background: white;
    }

    .table-cebra tbody tr:nth-child(2n) .sticky2 {
        background: #f2f2f2
    }


    .table-cebra thead th .sticky3 {
        background: #13213d;
        color: white;
    }

    .table-cebra tbody tr .sticky3 {
        background: white;
    }

    .table-cebra tbody tr:nth-child(2n) .sticky3 {
        background: #f2f2f2
    }


    .table-cebra thead th .sticky4 {
        background: #13213d;
        color: white;
    }

    .table-cebra tbody tr .sticky4 {
        background: white;
    }

    .table-cebra tbody tr:nth-child(2n) .sticky4 {
        background: #f2f2f2
    }

    #contextMenu {
        position: absolute;
        display: none;
    }
</style>

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-white">Commercial / Edit Commercial Plan</h1>
        <div class="float-xl-right divReturn"><i class="fas fa-arrow-circle-left fa-2x"></i></div>
    </div>
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 ">

                    <h6 class="m-0 font-weight-bold ">Plan Id: <label id="lblPlanId">@ViewBag.planId</label> </h6>
                    <h2 style="display:none">Origin Id: <label id="lblOriginId">10</label> </h2>
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="card-header">
                            <button class='btn btn-info btn-sm btn-sm btn-block' style=" background-color: #163B54;" data-toggle="collapse" data-target="#accordionFilter1" aria-expanded="false">
                                PLAN DATA <span class="collapse-in"><i class="fas  fa-arrow-down "></i></span>
                            </button>
                        </div>
                        <div id="accordionFilter1" class="collapse show">

                            <div class="card-body p-3">
                                <div class="form-group row">
                                    <div class="col-3">
                                        <label for="txtCrop"><b>Crop</b></label>
                                        <input id="txtCrop" type="text" class="form-control" disabled />
                                    </div>
                                    <div class="col-3">
                                        <label for="txtSeason"><b>Season</b></label>
                                        <input id="txtSeason" type="text" class="form-control" disabled />
                                    </div>

                                    <div class="col-3">
                                        <label for="txtNonExport"><b>non-export</b> (%)</label>
                                        <input id="txtNonExport" type="number" class="form-control" disabled />
                                    </div>
                                    <div class="col-3">
                                        <label for="txtUserName"><b>User</b></label>
                                        <input id="txtUserName" type="text" class="form-control" disabled />
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <div class="col-3">
                                        <label for="txtLastUpdate"><b>Last Update</b></label>
                                        <input class="form-control" type="text" id="txtLastUpdate" disabled />
                                    </div>
                                    <div class="col-3">
                                        <label for="txtOrigin"><b>Origin</b></label>
                                        <input id="txtOrigin" type="text" class="form-control" disabled />
                                    </div>

                                    <div class="col-3">
                                        <label for="txtGrower"><b>Grower</b></label>
                                        <input id="txtGrower" type="text" class="form-control" disabled />
                                    </div>
                                    <div class="col-3">
                                        <label for="txtPlan"><b>Commercial Plan</b></label>
                                        <input class="form-control" type="text" id="txtPlan" disabled />
                                    </div>

                                    <div class="form-group col-md-2" style="display:none">
                                        <label for="txtUserID">User ID</label>
                                        <input id="txtUserID" type="text" class="form-control" disabled />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card" style="font-size: small;">
                        <div class="card-header">
                            <button class='btn btn-info btn-sm btn-sm btn-block' style=" background-color: #163B54;" data-toggle="collapse" data-target="#accordionForecast" aria-expanded="false">
                                HARVEST FORECAST <span class="collapse-in"><i class="fas  fa-arrow-down "></i></span>
                            </button>

                        </div>
                        <div id="accordionForecast" class="collapse">
                            <div class="card-body">
                                <div id="divForecast" class="table-container">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card" id="divPreliminaryBID" style="font-size: small;">
                        <div class="card-header">

                            <button class='btn btn-info btn-sm btn-sm btn-block' style="background-color: #163B54;" data-toggle="collapse" data-target="#accordionPromise" aria-expanded="false">
                                PRELIMINARY BID <span class="collapse-in"><i class="fas  fa-arrow-down"></i></span>
                            </button>
                        </div>
                        <div id="accordionPromise" class="collapse">
                            <div class="card-body">
                                <div id="divPromises">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card" style="font-size: small; display:none;">
                        <div class="card-header">
                            <button class='btn btn-info btn-sm btn-sm btn-block' style=" background-color: #163B54;" data-toggle="collapse" data-target="#accordionMarket" aria-expanded="false">
                                DISTRIBUTION BY MARKET <span class="collapse-in"><i class="fas  fa-arrow-down "></i></span>
                            </button>

                        </div>
                        <div id="accordionMarket" class="collapse " style="display:none;">

                            <div class="card-body">

                                <div class="form-group row  ">
                                    <input class="form-control" type="text" style="display:none" placeholder="plan name" id="txtNewPlanName">

                                    <div class="col-xl-9 col-lg-9 col-md-6 col-sm-6 col-xs-1">
                                    </div>
                                    <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                        <button id="btnAddPlanMarket2" type="button" class="btn btn-primary btn-sm  pull-right">Add Plan <span class="text-white"><i class="fas fa-plus-circle"></i></span></button>

                                        <button id="btnAprovePlan2" type="button" class="btn btn-success btn-sm pull-right" >Aprove Plan <span class="text-white"><i class="fas fa-check-circle"></i></span></button>
                                    </div>
                                </div>



                                <div id="divTableMarket">

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card" style="font-size: small;">
                        <div class="card-header">
                            <button class='btn btn-info btn-sm btn-sm btn-block' style=" background-color: #163B54;" data-toggle="collapse" data-target="#accordionMarket2" aria-expanded="false">
                                PLANS <span class="collapse-in"><i class="fas  fa-arrow-down "></i></span>
                            </button>

                        </div>
                        <div id="accordionMarket2" class="collapse">
                            <div class="card-body">
                                <div class="form-group row  ">
                                    <input class="form-control" type="text" style="display:none" placeholder="plan name" id="txtNewPlanName">

                                    <div class="col-xl-9 col-lg-9 col-md-6 col-sm-6 col-xs-1">
                                    </div>
                                    <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                        <button id="btnAddPlanMarket" type="button" class="btn btn-primary btn-sm  pull-right">Add Plan <span class="text-white"><i class="fas fa-plus-circle"></i></span></button>

                                        <button id="btnAprovePlan" type="button" class="btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#myModal2"  >Aprove Plan <span class="text-white"><i class="fas fa-check-circle"></i></span></button>
                                    </div>
                                </div>

                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent">
                                </div>

                            </div>
                        </div>
                    </div>

                    @*<div id="wait" class="text-center">
                            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                <span class="sr-only">Loading...</span>
                            </div><br>Loading...
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

<div id="contextMenu" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
        <li>
            @*<a tabindex="-1" id="btnViewSales">View Sales Allocation</a>*@
            <button class='btn btn-primary btn-sm' id="btnViewSales" onclick='openModal()' data-toggle='modal' data-target='#myModal'><i class='fas fa-edit'>View Sales Allocation</i></button>
        </li>
        @*<li>
                <a tabindex="-1" href="#">Action 2</a>
            </li>
            <li>
                <a tabindex="-1" href="#">Some More Actions</a>
            </li>
            <li class="divider"></li>
            <li>
                <a tabindex="-1" href="#">Final Action</a>
            </li>*@
    </ul>
</div>

<!-- Modal -->
<div id="myModal2" class="modal fade bd-example-modal-xl" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" style="overflow-y: scroll;">

    <div class="modal-dialog modal-xl" role="document">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header " style="background-color:#13213d">

                <h6 class="m-0 font-weight-bold text-white">
                    <label>Plan Id:&nbsp;&nbsp;&nbsp;</label>
                    <label id="lblPlanId">0</label>
                </h6>

            </div>
            <div class="modal-body">

                <div class="card-body">
                    <div id="divAprove">

                    </div>
                </div>
                <div class="modal-footer">
                    @*<button id="btnSave" type="submit" class="btn btn-success">SAVE <span class="icon text-white"><i class="fas fa-floppy-o"></i></span></button>*@

                    <button id="btnCacncel" type="button" class="btn btn-danger" data-dismiss="modal">CANCEL <span class="icon text-white"><i class="fas fa-times"></i></span></button>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-xl" id="myModal" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document" style="font-size: small;">
        <div class="modal-content">
            <form id="frmWow">
                <div class="modal-header" style="background-color : #13213d">
                    <h5 class="modal-title text-white">ID: </h5>
                    <h5 class="modal-title text-white" id="lblWowID"> 0</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row form-sm">
                        <div class="form-group col-md-3">
                            <label for="selectCustomer"><strong>Customer</strong></label>
                            <select id="selectCustomer" name="selectCustomer" class="form-control form-control-sm selectpicker" data-live-search="true" required>
                                <option>Dalian Yidu Group CO. LTD</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="selectWeek"><strong>Week</strong></label>
                            <select id="selectWeek" name="selectWeek" class="form-control form-control-sm selectpicker" data-live-search="true" required>
                                <option>Week 30</option>
                            </select>
                        </div>
                    </div>
                    <div class="container border border-info p-4" style="background-color: #F4F4F4">
                        <div class="form-row">
                            <table class="table table-bordered table-hover table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <td>Sale Request</td>
                                        <td>Departure Week</td>
                                        <td>Market</td>
                                        <td>Destination</td>
                                        <td>Via</td>
                                        <td>Customer</td>
                                        <td>Consignee</td>
                                        <td>Brand</td>
                                        <td>Varieties</td>
                                        <td>Boxes</td>
                                        <td>Incoterm</td>
                                        <td>Codepack</td>
                                        <td>Status</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>AS20270001</td>
                                        <td>WEEK 30</td>
                                        <td>Asia/Middle East</td>
                                        <td>Hong Kong</td>
                                        <td>Sea</td>
                                        <td>Dalian Yidu Group CO. LTD</td>
                                        <td>To be Confirmed</td>
                                        <td>BigBold,OzBlu</td>
                                        <td>OZ Bella,OZ Bonita,OZ Magica</td>
                                        <td>6000</td>
                                        <td>CFR</td>
                                        <td>6 Oz</td>
                                        <td>
                                            <select>
                                                <option>Planned</option>
                                                <option selected>Non-Planned</option>
                                                <option>Rejected</option>
                                            </select>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-info btn-sm">Aprobe</button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger btn-sm">Decline</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>AS20270002</td>
                                        <td>WEEK 30</td>
                                        <td>Asia/Middle East</td>
                                        <td>Hong Kong</td>
                                        <td>Sea</td>
                                        <td>Dalian Yidu Group CO. LTD</td>
                                        <td>To be Confirmed</td>
                                        <td>BigBold,OzBlu</td>
                                        <td>OZ Bella,OZ Bonita,OZ Magica</td>
                                        <td>6000</td>
                                        <td>CFR</td>
                                        <td>6 Oz</td>
                                        <td>
                                            <select>
                                                <option>Planned</option>
                                                <option selected>Non-Planned</option>
                                                <option>Rejected</option>
                                            </select>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-info btn-sm">Aprobe</button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger btn-sm">Decline</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>AS20270003</td>
                                        <td>WEEK 30</td>
                                        <td>Asia/Middle East</td>
                                        <td>Hong Kong</td>
                                        <td>Sea</td>
                                        <td>Dalian Yidu Group CO. LTD</td>
                                        <td>To be Confirmed</td>
                                        <td>BigBold,OzBlu</td>
                                        <td>OZ Bella,OZ Bonita,OZ Magica</td>
                                        <td>6000</td>
                                        <td>CFR</td>
                                        <td>6 Oz</td>
                                        <td>
                                            <select>
                                                <option>Planned</option>
                                                <option selected>Non-Planned</option>
                                                <option>Rejected</option>
                                            </select>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-info btn-sm">Aprobe</button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger btn-sm">Decline</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<br>



<script src="~/Scripts/View/CommercialPlan/Edit.js"></script>
<script src="~/Scripts/Services/CommercialPlan/CommercialPlanService.js"></script>