﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="container-fluid">
	<!-- Page Heading -->

	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h2><span class="badge badge-titulo">Commercial/ Plan</span></h2>

	</div>
	<div class="row">

		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="card  mb-4">
				<div class="card-header pt-1 card-header-title-filter" >
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="form-group row">

							<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6">
								<label><strong>List of Records</strong></label>
							</div>
							<div class="col-xl-9 col-lg-9 col-md-9 col-sm-6 col-xs-6">
								<a href="#" onclick="openModal(0)" class="btn btn-primary btn-sm btn-icon-split transact pull-right" id="btnUploadForeCast" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">
									<span class="icon text-white-50">
										<i class="fas fa-plus-circle fa-sm"></i>
									</span>
									<span class="text">New Plan</span>
								</a>
							</div>

						</div>
					</div>


				</div>
				@*<div class="card shadow mb-4">
			<div class="card-header py-3">
				<button type="button" onclick="openModal(0)" class="btn btn-info btn-sm alignright text-white" data-toggle="modal" data-target="#myModal" style=" background-color: #13213d;"> New Plan <span class="icon text-white"><i class="fas fa-plus"></i></span></button>
			</div>*@
				<div class="card-body">
					<div id="divList" class="table-responsive">

					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal -->
	<div id="myModal" class="modal fade bd-example-modal-xl" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" style="overflow-y: scroll;">

		<div class="modal-dialog modal-xl" role="document">

			<!-- Modal content-->
			<div class="modal-content">

				<div class="modal-header " style="background-color:#13213d">

					<h6 class="m-0 font-weight-bold text-white">
						<label>Plan Id:&nbsp;&nbsp;&nbsp;</label>
						<label id="lblPlanId">0</label>
					</h6>

				</div>
				<div class="modal-body">

					<div class="card-body">
						<div class="form-group row">
							<div class="col-6">
								<label for="selectCrop">
									<b>Crop</b> Plan Id:&nbsp;&nbsp;&nbsp;
									0
								</label>
								<select id="selectCrop" class="form-control form-control-sm obligatory">
								</select>
							</div>
							<div class="col-6">
								<label for="selectSeason"><b>Season</b></label>
								<select id="selectSeason" class="form-control form-control-sm obligatory">
								</select>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-6">
								<label for="inputNonExport"><b>non-export (%)</b></label>
								<input id="inputNonExport"
											 type="number"
											 class="form-control form-control obligatory"
											 maxlength="5"
											 oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
							</div>
							<div class="col-6">
								<label for="selectOrigin"><b>Origin</b></label>
								<select id="selectOrigin" class="form-control form-control obligatory">
								</select>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-6">
								<label for="selectGrower"><b>Grower</b></label>
								<select id="selectGrower" class="form-control form-control obligatory">
								</select>
							</div>
							<div class="col-6">
								<label for="txtPlan"><b>Commercial Plan</b></label>
								<input class="form-control form-control obligatory" type="text" id="txtPlan" />
							</div>

						</div>

						<div id="divAlert">

						</div>
					</div>
					<div class="modal-footer">

						<a href="#" class="btn btn-success btn-sm btn-icon-split " id="btnSave">
							<span class="icon text-white-50">
								<i class="fas fa-save fa-sm"></i>
							</span>
							<span class="text">Save</span>
						</a>
						<a href="#" class="btn btn-danger btn-sm btn-icon-split " data-dismiss="modal">
							<span class="icon text-white-50">
								<i class="fas fa-times fa-sm"></i>
							</span>
							<span class="text">Close</span>
						</a>

						@*<button id="btnSave" type="submit" class="btn btn-success btn-sm">SAVE <span class="icon text-white"><i class="fas fa-floppy-o"></i></span></button>

						<button id="btnCacncel" type="button" class="btn btn-danger btn-sm" data-dismiss="modal">CANCEL <span class="icon text-white"><i class="fas fa-times"></i></span></button>*@
					</div>
				</div>

			</div>
		</div>

	</div>
</div>

    <script src="~/Scripts/View/CommercialPlan/Index.js"></script>
    <script src="~/Scripts/Services/CommercialPlan/CommercialPlanService.js"></script>
	
	