﻿@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/Master.cshtml";
}
<style>
    #legend-block {
        position: relative;
        margin-top: 40px;
    }

    #table-legend {
        padding: 10px;
        border: 1px solid;
        width: 200px;
        font-size: 13px;
        color: #26394c
    }

    #inset-label {
        padding: 5px;
        position: absolute;
        z-index: 1;
        background-color: white;
        left: 30px;
        top: -1.2em;
        color: #26394c
    }

    td.color {
        width: 30px;
        height: 20px;
        background-color: aqua;
    }

    td.label {
        vertical-align: middle;
    }

    td.legend {
        width: 20%;
    }

    #Modificar {
        background-color: #ADB6BF;
    }

    .table-cebra {
        border: #ccc 1px solid;
        border-spacing: 0;
    }

        .table-cebra thead th {
            background: #13213d;
            color: white;
        }

        .table-cebra th,
        .table-cebra td {
            border-right: 1px solid #ccc;
            min-width: 100px;
            padding: 0.5rem;
            text-align: left;
            font-size: 13px;
        }

            .table-cebra th:last-child,
            .table-cebra td:last-child {
                border-right: 0px;
            }

        .table-cebra td {
            
            border-bottom: 1px solid #ccc;
        }

        .table-cebra tbody tr {
            background: white;
        }
    
    .table-container {
        max-width: 100%;
        overflow-x: scroll;
        border-left: solid 1px #ccc;
        border-right: solid 1px #ccc;
    }

    .table-cebra .sticky {
        position: sticky;
        left: 0;
        border-left: solid 1px #ccc;
        border-right: solid 1px #ccc;
    }

    .table-cebra .sticky1 {
        position: sticky;
        left: 150px;
        border-left: solid 1px #ccc;
        border-right: solid 1px #ccc;
    }

    .table-cebra .sticky2 {
        position: sticky;
        left: 300px;
        border-left: solid 1px #ccc;
        border-right: solid 1px #ccc;
    }

    .table-cebra thead th .sticky {
        background: #13213d;
        color: white;
    }

    .table-cebra tbody tr .sticky {
        background: white;
    }

    .table-cebra .sticky-row {
        position: sticky;       
        left: 0px;
        top: 23px;
        background: #000;
        color: white;
        padding: 4px;
        
    }

    #contextMenu {
        position: absolute;
        display: none;
    }

	#tblHarvestForecastW thead {
		text-align: center;		
		background-color: #0a2f79;
		vertical-align: middle;
		color:white;

	}

	/*Segunda Fila */
	#tblHarvestForecastW tbody tr:nth-child(1) {
		background-color: #1db232;
		text-align: right;
		max-width: 50px;
		color: white;
	}

/*Alineacion del contenido de la tabla*/
	#tblHarvestForecastW .trHD td {
		text-align: right;
		vertical-align: middle;
	}


/*Primera columna de la tabla*/
	#tblHarvestForecastW tbody tr td:nth-child(1) {
		background-color: #0a2f79;
		text-align: center;
		max-width: 150px;
		color:white;
	}
	
/*Segunda columna de la tabla*/
	#tblHarvestForecastW tbody tr td:nth-child(2) {
		background-color: #0a2f79;
		text-align: center;
		max-width: 150px;
		color:white;
	}
	
</style>

<h2><span class="badge badge-titulo">Harvest Forecast by Week</span></h2>
@*<h4><label style="background-color: #26394c; color:whitesmoke"> Harvest Forecast Week</label></h4>*@

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="card shadow mb-4">

			<div class="card-header	pt-1 card-header-title-filter">
                <div class="form-group row">
									<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
										@*<label style="font-size:14px"><b><font color="black">Harvest Forecast By Variety and Category in KILOS</font></b></label>*@
										<label><strong><text id="textTitle">Harvest Forecast by Variety and Category in KILOS</text></strong></label>
								
									</div>
                    <div class="col-xl-1 col-lg-4 col-md-10 col-sm-10">
                        <label for="updateDate"  class="label-agrocom"><b>Last Update:</b> </label>
                        
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-12 col-sm-12">
                        <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy ">
                            <input type="text" class="form-control form-control-sm" id="updateDate" data-date-format="dd/mm/yyyy" required disabled>
                            <div class="input-group-addon input-group-sm">
                                <span class="form-control input-group-text input-group-sm form-control-sm"><i class="fa fa-calendar-o"></i></span>
                            </div>
                        </div>
                    </div>

                </div>
			</div>
			<div class="card-body" style="background-color:#D0DAF1;overflow-x:auto;">

				<table id="tblHarvestForecastW" class="table-hover table-sm table table-striped table-bordered display table-white">
				</table>

			</div>
		</div>
	</div>
</div>
<script src="~/Scripts/View/HarvestForecastW/HarvestForecastW.js"></script>
