﻿
@{
    ViewBag.Title = "CatByPlant";
}

<h2>Category By Plant</h2>

<html>
<head>

</head>
<body>
    <div id="categorys" style="height: 765px; width: 100%; background-color: white;"></div>
    <script src="~/Scripts/echarts-5.0.2/dist/echarts.js"></script>
    <script src="~/Scripts/echarts-5.0.2/dist/echarts.min.js"></script>
</body>
</html>

<script src="~/Scripts/View/Reports/CatByPlant.js"></script>