﻿
@{
	ViewBag.Title = "Expo";
	Layout = "~/Views/Shared/Master.cshtml";
}

<style>
	#legend-block {
		position: relative;
		margin-top: 40px;
	}

	#table-legend {
		padding: 10px;
		border: 1px solid;
		width: 1000px;
		font-size: 13px;
	}

	#table-legend1 {
		padding: 10px;
		border: 1px solid;
		width: 1300px;
		font-size: 13px;
	}

	#inset-label {
		padding: 5px;
		position: absolute;
		z-index: 1;
		background-color: white;
		left: 30px;
		top: -1.2em;
	}

	td.color {
		width: 30px;
		height: 20px;
		background-color: aqua;
	}

	td.label {
		vertical-align: middle;
	}

	td.legend {
		width: 20%;
	}

	.table-cebra {
		border: #ccc 1px solid;
		border-spacing: 0;
	}

		.table-cebra thead th {
			background: white;
			color: black;
		}
		.table-cebra tbody th {
			background: white;
			color: black;
		}
		.table-cebra th,
		.table-cebra td {
			border-right: 1px solid #ccc;
			min-width: 100px;
			padding: 0.5rem;
			text-align: left;
			font-size: 13px;
		}

			.table-cebra th:last-child,
			.table-cebra td:last-child {
				border-right: 0px;
			}

		.table-cebra td {
			/*            border: 1px solid #ccc;*/
			border-bottom: 1px solid #ccc;
		}

		.table-cebra tbody tr {
			background: white;
		}

			.table-cebra tbody tr:nth-child(2n) {
				background: #f2f2f2
			}

	.table-container {
		max-width: 100%;
		overflow-x: scroll;
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
	}

	.table-cebra .sticky {
		position: sticky;
		left: 0;
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
	}

	.table-cebra thead th .sticky {
		background: white;
/*		color: white;*/
	}

	.table-cebra tbody tr .sticky {
		background: white;
	}

	/*.table-cebra tbody tr:nth-child(2n) .sticky {
				background: #f2f2f2;
		}*/

	.table-cebra .sticky-row {
		position: sticky;
		/*			position: -webkit-sticky;*/
		left: 0px;
		top: 23px;
		background: #000;
/*		color: white;*/
		padding: 4px;
		/*			z-index: 3;*/
	}

	#contextMenu {
		position: absolute;
		display: none;
	}
</style>


<div class="container-fluid">
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h2><span class="badge badge-titulo">Reports/ Expo Master</span></h2>
		
	</div>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="card shadow ">	

						<div class="card-header py-2" style="		background-color: #D5D5DF
">
							<div class="form-group row">
						
								<div class="col-xl-1 col-lg-1 col-md-2 col-sm-3 col-xs-4">
									<label for="selectPO"><strong>Prod. Order:</strong></label>
								</div>
								<div class="col-xl-1 col-lg-1 col-md-2 col-sm-3 col-xs-4">
									<select id="selectPO" class="selectpicker btn-sm form-control form-control-sm  " data-live-search="true">
									</select>
								</div>
								<div class="col-xl-1 col-lg-1 col-md-2 col-sm-3 col-xs-4">
									<label for="selectGrower"><strong>Grower:</strong></label>
								</div>
								<div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-xs-4">
									<select id="selectGrower" class="form-control  form-control-sm selectpicker" data-live-search="true">
									</select>
								</div>

								<div class="col-xl-1 col-lg-1 col-md-2 col-sm-3 col-xs-4">
									<label for="selectCustomer"><strong>Customer:</strong></label>
								</div>
								<div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-xs-4">
									<select id="selectCustomer" class="form-control  form-control-sm selectpicker" data-live-search="true">
									</select>
								</div>

								<div class="col-xl-1 col-lg-1 col-md-2 col-sm-3 col-xs-4">
									<label for="selectDestination"><strong>Destination:</strong></label>
								</div>
								<div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-xs-4">
									<select id="selectDestination" class="form-control  form-control-sm selectpicker" data-live-search="true">
									</select>
								</div>

							</div>
							

						</div>			
			

					<div class="card-body" style="background-color: #EEF3FE">
                        <div class="" id="divList" style="max-width:100% !important">
                            <div class="form-group row">
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                                    <button id="btnLoad" type="button" class="btn  btn-sm text-white" style="background-color: #13213d; height: 30px;">Load PL <span class="icon text-white"><i class="fas fa-plus-circle fa-sm"></i></span></button>
                                    <a href="#" id="test" onClick="javascript:fnExcelReport();">

                                        <button type="button" class="btn  btn-sm text-white" style="background-color: darkred; height: 30px;">Download <span class="icon text-white"><i class="fas fa-file-excel fa-sm"></i></span></button>
                                    </a>
                                </div>

                            </div>
                            <hr />
                            <table id="expo" class="table table-cebra table-responsive table-hover table-bordered table-striped table-sm dataTable no-footer" style="width:100%;background: white;">
                                <thead style="width:100%;">
                                    @*background-color: #13213d class="text-white"*@
                                    <tr>
                                        <th class="sticky" style="border:none;background-color:#F5F5F9"></th>
                                        <th class="sticky2" COLSPAN=21 style="border:none; background-color:#F5F5F9"></th>
                                        <th class="sticky21 " COLSPAN=7 style="text-align:center; background-color:#B2F499;color:black">BQA Control at Source</th>
                                        <th class="sticky28" style="text-align:center; background-color:#F5F5F9" COLSPAN=16>SOP/Comex</th>
                                        <th class="sticky44" style="text-align:center; background-color:#F1B3C1" COLSPAN=12>Arrival Data | BQA</th>
                                        <th class="sticky56" style="text-align:center; background-color:#FA5858" COLSPAN=6>Claim Management</th>
                                        @*<th class="sticky61" COLSPAN=12 style="border:none;background-color:#F5F5F9"></th>*@
                                        <th class="sticky61" style="text-align:center; background-color:#7486F7" COLSPAN=15>OZblu Marketing</th>
                                    </tr>
                                    <tr>
                                        <th class="sticky" style="border:none;background-color:#F5F5F9"></th>
                                        <th class="sticky2 " style="text-align:center!important; background-color:#B2F499!important" COLSPAN=21>Delivery Information</th>
                                        <th class="sticky21" style="text-align:center; background-color:#EEF082" COLSPAN=4>QC Shipment Information</th>
                                        <th class="sticky25" style="text-align:center; background-color:#EEF082" COLSPAN=3>QC Report</th>
                                        <th class="sticky28" style="text-align:center; background-color:#B2F499" COLSPAN=3>Invoice</th>
                                        <th class="sticky31" style="text-align:center; background-color:#88B5D5" COLSPAN=13>Shipment Information</th>
                                        <th class="sticky44" style="text-align:center; background-color:#EEF082" COLSPAN=8>Shipment Information</th>
                                        <th class="sticky52" style="text-align:center; background-color:#EEF082" COLSPAN=4>QC Report</th>
                                        <th class="sticky56" style="text-align:center; background-color:#FA5858" COLSPAN=3>Claim Received</th>
                                        <th class="sticky59" style="text-align:center; background-color:#FA5858" COLSPAN=3>Alert to the Grower</th>
                                        <th class="sticky61" style="border:none;background-color:#F5F5F9"></th>
                                        <th class="sticky62" style="text-align:center; background-color:#7486F7" COLSPAN=13>Charges Detail at Destination</th>
                                        <th class="sticky78" style="border:none;background-color:#F5F5F9"></th>
                                        @*<th class="sticky68" style="border:none;background-color:#F5F5F9"></th>
                    <th class="sticky69" style="text-align:center; background-color:#7486F7" COLSPAN=4>Payment Method & Status</th>*@
                                    </tr>
                                    <tr class="" style="text-align:center; background-color:white;">
                                        <th style="text-align:center;" class="sticky">PO</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky2">Origin</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky3">Grower</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky4">Grower Code</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky5">DC</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky6">Week</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky7">Loading Date</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky8">Time</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky9">Funmigated</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky10">Templates #</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky11">Pallet Type</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky12">PackingList</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky13">Pallet</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky14">Product Code</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky15">Brand</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky16">Fruit Type</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky17">Packing Date</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky73">CodePack</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky18">Variety</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky74">Size</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky19">Boxes</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky20">Volume Kg</th>

                                        <th class="sticky21" style="text-align: center;">QC Report #</th>
                                        <th class="sticky22" style="text-align: center;">Inspected By</th>
                                        <th class="sticky23" style="text-align: center;">Seal Number</th>
                                        <th class="sticky24" style="text-align: center;">Inspected Date</th>
                                        <th class="sticky25" style="text-align: center;">QC Score</th>
                                        <th class="sticky26" style="text-align: center;">Potential Claim</th>
                                        <th class="sticky27" style="text-align: center;">Additional Notes</th>
                                        <th class="sticky28" style="text-align: center;">Invoice</th>
                                        <th class="sticky30" style="text-align: center;">Price</th>
                                        <th class="sticky31" style="text-align: center;">FOB Price per Kilo</th>

                                        <th class="sticky29" style="text-align: center;background-color:#88B5D5">Container</th>
                                        <th class="sticky32" style="text-align: center;background-color:#88B5D5">Vessel/Airline</th>
                                        <th class="sticky33" style="text-align: center;background-color:#88B5D5">Shipping Line</th>
                                        <th class="sticky34" style="text-align: center;background-color:#88B5D5">BL/AWB</th>
                                        <th class="sticky35" style="text-align: center;background-color:#88B5D5">Week ETD</th>
                                        <th class="sticky36" style="text-align: center;background-color:#88B5D5">ETD</th>
                                        <th class="sticky37" style="text-align: center;background-color:#88B5D5">Week ETA</th>
                                        <th class="sticky38" style="text-align: center;background-color:#88B5D5">ETA</th>
                                        <th class="sticky39" style="text-align: center;background-color:#88B5D5">Market</th>
                                        <th class="sticky40" style="text-align: center;background-color:#88B5D5">Port</th>
                                        <th class="sticky41" style="text-align: center;background-color:#88B5D5">DC</th>
                                        <th class="sticky42" style="text-align: center;background-color:#88B5D5; max-width: 200px; min-width:200px">Importer</th>
                                        <th class="sticky43" style="text-align: center;background-color:#88B5D5; max-width: 200px; min-width:200px">Customer</th>

                                        <th class="sticky44" style="text-align:center;">Week of Arrival</th>
                                        <th class="sticky45" style="text-align:center;">Arrival Date</th>
                                        <th class="sticky46" style="text-align:center;">DC</th>
                                        <th class="sticky47" style="text-align:center;">Inspected Date</th>
                                        <th class="sticky48" style="text-align:center;">Inspected By</th>
                                        <th class="sticky49" style="text-align:center;">Seal Number</th>
                                        <th class="sticky50" style="text-align:center;">QC Report</th>
                                        <th class="sticky51" style="text-align:center;">Template Rec. Info</th>

                                        <th class="sticky52" style="text-align:center;">QC Score</th>
                                        <th class="sticky53" style="text-align:center;">Potential Claim</th>
                                        <th class="sticky54" style="text-align:center;">to the Grower</th>
                                        <th class="sticky55" style="text-align:center;">Additional Notes</th>

                                        <th class="sticky56" style="text-align:center; background-color:#FA5858">Claim</th>
                                        <th class="sticky57" style="text-align:center; background-color:#FA5858">Claim Dated</th>
                                        <th class="sticky58" style="text-align:center; background-color:#FA5858">Customer Claim</th>
                                        <th class="sticky59" style="text-align:center; background-color:#FA5858">Date</th>
                                        <th class="sticky60" style="text-align:center; background-color:#FA5858">Grower Alert</th>
                                        <th class="sticky75" style="text-align:center; background-color:#FA5858">Insurance Claim</th>

                                        <th class="sticky61" style="text-align:center;">Custmer Final Price</th>

                                        <th class="sticky62" style="text-align:center; background-color:#FA5858">Claim Charges</th>
                                        <th class="sticky63" style="text-align:center; background-color:#7486F7">Customer Commission</th>
                                        <th class="sticky64" style="text-align:center; background-color:#7486F7">OZblu Mktg Commission</th>
                                        <th class="sticky65" style="text-align:center; background-color:#7486F7">Promotion Fee</th>
                                        <th class="sticky66" style="text-align:center; background-color:#7486F7">Import Services</th>
                                        <th class="sticky67" style="text-align:center; background-color:#7486F7">Packing</th>
                                        <th class="sticky68" style="text-align:center; background-color:#7486F7">Re-packing</th>
                                        <th class="sticky69" style="text-align:center; background-color:#7486F7">Sorting</th>
                                        <th class="sticky70" style="text-align:center; background-color:#7486F7">Cold Storage</th>
                                        <th class="sticky71" style="text-align:center; background-color:#7486F7">Packaging Material</th>
                                        <th class="sticky72" style="text-align:center; background-color:#7486F7">Freight</th>
                                        <th class="sticky76" style="text-align:center; background-color:#7486F7">Insurance Fee</th>
                                        <th class="sticky77" style="text-align:center; background-color:#7486F7">Total Charges</th>
                                        <th class="sticky78" style="text-align:center;">Return to the Grower FOB</th>

                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>


                            <hr />
                            <table id="expo2" class="table table-cebra table-responsive table-hover table-bordered table-striped table-sm dataTable no-footer" style="width:100%; background:white; display:none;">
                                <thead style="width:100%;">
                                    @*background-color: #13213d class="text-white"*@
                                    <tr>
                                        <th class="sticky" style="border:none;background-color:#F5F5F9"></th>
                                        <th class="sticky2" COLSPAN=21 style="border:none; background-color:#F5F5F9"></th>
                                        <th class="sticky21 " COLSPAN=7 style="text-align:center; background-color:#B2F499;color:black">BQA Control at Source</th>
                                        <th class="sticky28" style="text-align:center; background-color:#F5F5F9" COLSPAN=16>SOP/Comex</th>
                                        <th class="sticky44" style="text-align:center; background-color:#F1B3C1" COLSPAN=12>Arrival Data | BQA</th>
                                        <th class="sticky56" style="text-align:center; background-color:#FA5858" COLSPAN=6>Claim Management</th>
                                        @*<th class="sticky61" COLSPAN=12 style="border:none;background-color:#F5F5F9"></th>*@
                                        <th class="sticky61" style="text-align:center; background-color:#7486F7" COLSPAN=15>OZblu Marketing</th>
                                    </tr>
                                    <tr>
                                        <th class="sticky" style="border:none;background-color:#F5F5F9"></th>
                                        <th class="sticky2 " style="text-align:center!important; background-color:#B2F499!important" COLSPAN=21>Delivery Information</th>
                                        <th class="sticky21" style="text-align:center; background-color:#EEF082" COLSPAN=4>QC Shipment Information</th>
                                        <th class="sticky25" style="text-align:center; background-color:#EEF082" COLSPAN=3>QC Report</th>
                                        <th class="sticky28" style="text-align:center; background-color:#B2F499" COLSPAN=3>Invoice</th>
                                        <th class="sticky31" style="text-align:center; background-color:#88B5D5" COLSPAN=13>Shipment Information</th>
                                        <th class="sticky44" style="text-align:center; background-color:#EEF082" COLSPAN=8>Shipment Information</th>
                                        <th class="sticky52" style="text-align:center; background-color:#EEF082" COLSPAN=4>QC Report</th>
                                        <th class="sticky56" style="text-align:center; background-color:#FA5858" COLSPAN=3>Claim Received</th>
                                        <th class="sticky59" style="text-align:center; background-color:#FA5858" COLSPAN=3>Alert to the Grower</th>
                                        <th class="sticky61" style="border:none;background-color:#F5F5F9"></th>
                                        <th class="sticky62" style="text-align:center; background-color:#7486F7" COLSPAN=13>Charges Detail at Destination</th>
                                        <th class="sticky78" style="border:none;background-color:#F5F5F9"></th>
                                        @*<th class="sticky68" style="border:none;background-color:#F5F5F9"></th>
                                       <th class="sticky69" style="text-align:center; background-color:#7486F7" COLSPAN=4>Payment Method & Status</th>*@
                                    </tr>
                                    <tr class="" style="text-align:center; background-color:white;">
                                        <th style="text-align:center;" class="sticky">PO</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky2">Origin</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky3">Grower</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky4">Grower Code</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky5">DC</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky6">Week</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky7">Loading Date</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky8">Time</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky9">Funmigated</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky10">Templates #</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky11">Pallet Type</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky12">PackingList</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky13">Pallet</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky14">Product Code</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky15">Brand</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky16">Fruit Type</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky17">Packing Date</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky73">CodePack</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky18">Variety</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky74">Size</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky19">Boxes</th>
                                        <th style="text-align:center;background-color:#B2F499" class="sticky20">Volume Kg</th>

                                        <th class="sticky21" style="text-align: center;">QC Report #</th>
                                        <th class="sticky22" style="text-align: center;">Inspected By</th>
                                        <th class="sticky23" style="text-align: center;">Seal Number</th>
                                        <th class="sticky24" style="text-align: center;">Inspected Date</th>
                                        <th class="sticky25" style="text-align: center;">QC Score</th>
                                        <th class="sticky26" style="text-align: center;">Potential Claim</th>
                                        <th class="sticky27" style="text-align: center;">Additional Notes</th>
                                        <th class="sticky28" style="text-align: center;">Invoice</th>
                                        <th class="sticky30" style="text-align: center;">Price</th>
                                        <th class="sticky31" style="text-align: center;">FOB Price per Kilo</th>

                                        <th class="sticky29" style="text-align: center;background-color:#88B5D5">Container</th>
                                        <th class="sticky32" style="text-align: center;background-color:#88B5D5">Vessel/Airline</th>
                                        <th class="sticky33" style="text-align: center;background-color:#88B5D5">Shipping Line</th>
                                        <th class="sticky34" style="text-align: center;background-color:#88B5D5">BL/AWB</th>
                                        <th class="sticky35" style="text-align: center;background-color:#88B5D5">Week ETD</th>
                                        <th class="sticky36" style="text-align: center;background-color:#88B5D5">ETD</th>
                                        <th class="sticky37" style="text-align: center;background-color:#88B5D5">Week ETA</th>
                                        <th class="sticky38" style="text-align: center;background-color:#88B5D5">ETA</th>
                                        <th class="sticky39" style="text-align: center;background-color:#88B5D5">Market</th>
                                        <th class="sticky40" style="text-align: center;background-color:#88B5D5">Port</th>
                                        <th class="sticky41" style="text-align: center;background-color:#88B5D5">DC</th>
                                        <th class="sticky42" style="text-align: center;background-color:#88B5D5">Importer</th>
                                        <th class="sticky43" style="text-align: center;background-color:#88B5D5">Customer</th>

                                        <th class="sticky44" style="text-align:center;">Week of Arrival</th>
                                        <th class="sticky45" style="text-align:center;">Arrival Date</th>
                                        <th class="sticky46" style="text-align:center;">DC</th>
                                        <th class="sticky47" style="text-align:center;">Inspected Date</th>
                                        <th class="sticky48" style="text-align:center;">Inspected By</th>
                                        <th class="sticky49" style="text-align:center;">Seal Number</th>
                                        <th class="sticky50" style="text-align:center;">QC Report</th>
                                        <th class="sticky51" style="text-align:center;">Template Rec. Info</th>

                                        <th class="sticky52" style="text-align:center;">QC Score</th>
                                        <th class="sticky53" style="text-align:center;">Potential Claim</th>
                                        <th class="sticky54" style="text-align:center;">to the Grower</th>
                                        <th class="sticky55" style="text-align:center;">Additional Notes</th>

                                        <th class="sticky56" style="text-align:center; background-color:#FA5858">Claim</th>
                                        <th class="sticky57" style="text-align:center; background-color:#FA5858">Claim Dated</th>
                                        <th class="sticky58" style="text-align:center; background-color:#FA5858">Customer Claim</th>
                                        <th class="sticky59" style="text-align:center; background-color:#FA5858">Date</th>
                                        <th class="sticky60" style="text-align:center; background-color:#FA5858">Grower Alert</th>
                                        <th class="sticky75" style="text-align:center; background-color:#FA5858">Insurance Claim</th>

                                        <th class="sticky61" style="text-align:center;">Custmer Final Price</th>

                                        <th class="sticky62" style="text-align:center; background-color:#FA5858">Claim Charges</th>
                                        <th class="sticky63" style="text-align:center; background-color:#7486F7">Customer Commission</th>
                                        <th class="sticky64" style="text-align:center; background-color:#7486F7">OZblu Mktg Commission</th>
                                        <th class="sticky65" style="text-align:center; background-color:#7486F7">Promotion Fee</th>
                                        <th class="sticky66" style="text-align:center; background-color:#7486F7">Import Services</th>
                                        <th class="sticky67" style="text-align:center; background-color:#7486F7">Packing</th>
                                        <th class="sticky68" style="text-align:center; background-color:#7486F7">Re-packing</th>
                                        <th class="sticky69" style="text-align:center; background-color:#7486F7">Sorting</th>
                                        <th class="sticky70" style="text-align:center; background-color:#7486F7">Cold Storage</th>
                                        <th class="sticky71" style="text-align:center; background-color:#7486F7">Packaging Material</th>
                                        <th class="sticky72" style="text-align:center; background-color:#7486F7">Freight</th>
                                        <th class="sticky76" style="text-align:center; background-color:#7486F7">Insurance Fee</th>
                                        <th class="sticky77" style="text-align:center; background-color:#7486F7">Total Charges</th>
                                        <th class="sticky78" style="text-align:center;">Return to the Grower FOB</th>

                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

					</div>
				</div>
				<div id="wait" class="text-center">
					<div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
						<span class="sr-only">Loading...</span>
					</div><br>Loading...
				</div>
			</div>
		</div>
	</div>

<script src="~/Scripts/View/Reports/Expo.js"></script>
