﻿
@{
    ViewBag.Title = "ExpoMaster";
}

<h4><span class="badge badge-secondary">Reports/ Expo Master</span></h4>
<a class="btn btn-success" href="https://app.powerbi.com/view?r=eyJrIjoiYjFiZTJiM2ItZmVjZS00MWM0LTg4YmEtZWNlOTE5OTA3NzViIiwidCI6IjJhYjE4MThjLTk0ZjEtNGNkMC1hZGY0LTljYzNhMzliYWM3ZSJ9" target="_blank">View in New Page</a>
<div style="width:100%; height:30px; background-color:#cccccc;">ExpoMaster</div>
@*<iframe src="http: //www.google.com.tw" style="width:100%; height:100%;"></iframe>*@
<iframe style="width:100%; height:900px;" src="https://app.powerbi.com/view?r=eyJrIjoiYjFiZTJiM2ItZmVjZS00MWM0LTg4YmEtZWNlOTE5OTA3NzViIiwidCI6IjJhYjE4MThjLTk0ZjEtNGNkMC1hZGY0LTljYzNhMzliYWM3ZSJ9" title="W3Schools Free Online Web Tutorials"></iframe>

