﻿
@{
    ViewBag.Title = "Forecast";
    Layout = "~/Views/Shared/Master.cshtml";
}
<h2><span class="badge badge-titulo" >Reports/ Forecast</span></h2>

<a class="btn btn-success" href="https://app.powerbi.com/view?r=eyJrIjoiNTc5OGQ1Y2EtYTk5OS00NjNmLTkwMzQtZTgzMTJhZGUzYmQzIiwidCI6IjJhYjE4MThjLTk0ZjEtNGNkMC1hZGY0LTljYzNhMzliYWM3ZSJ9" target="_blank">View in New Page</a>
<div style="width:100%; height:30px; background-color:#cccccc;">Forecast</div>
@*<iframe src="http: //www.google.com.tw" style="width:100%; height:100%;"></iframe>*@
<iframe style="width:100%; height:900px;" src="https://app.powerbi.com/view?r=eyJrIjoiNTc5OGQ1Y2EtYTk5OS00NjNmLTkwMzQtZTgzMTJhZGUzYmQzIiwidCI6IjJhYjE4MThjLTk0ZjEtNGNkMC1hZGY0LTljYzNhMzliYWM3ZSJ9" title="W3Schools Free Online Web Tutorials"></iframe>

