﻿
@{
    ViewBag.Title = "HarvestForecast";
}

<h2>Harvest Forecast Ozblu Perú</h2>

<html>
<head>

</head>
<body>
    <div id="chartContainer" style="height: 480px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>

<script src="~/Scripts/View/Reports/HarvestForecast.js"></script>