﻿
@{
    ViewBag.Title = "ReportVersus";
}

<h2>Report Versus</h2>

<html>
<head>
    
</head>
<body>
    <div id="chartContainer" style="height: 650px; width: 100%;"></div>
    @*<div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Email Statistics</h4>
                            <p class="card-category">Last Campaign Performance</p>
                        </div>
                        <div class="card-body">

                        </div>
                        <div class="card-footer">

                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Email Statistics</h4>
                            <p class="card-category">Last Campaign Performance</p>
                        </div>
                        <div class="card-body">

                        </div>
                        <div class="card-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    
    

    @*<br />
    <div id="demochart" style="height: 650px; width: 100%;"></div>*@
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="~/Scripts/echarts-5.0.2/dist/echarts.js"></script>
    <script src="~/Scripts/echarts-5.0.2/dist/echarts.min.js"></script>
</body>
</html>

<script src="~/Scripts/View/Reports/ReportVersus.js"></script>