﻿@{
	ViewBag.Title = "ShippingI";
	Layout = "~/Views/Shared/Master.cshtml";
}

<style>
	#legend-block {
		position: relative;
		margin-top: 40px;
	}

	#table-legend {
		padding: 10px;
		border: 1px solid;
		width: 1000px;
		font-size: 13px;
	}

	#table-legend1 {
		padding: 10px;
		border: 1px solid;
		width: 1300px;
		font-size: 13px;
	}

	#inset-label {
		padding: 5px;
		position: absolute;
		z-index: 1;
		background-color: white;
		left: 30px;
		top: -1.2em;
	}

	td.color {
		width: 30px;
		height: 20px;
		background-color: aqua;
	}

	td.label {
		vertical-align: middle;
	}

	td.legend {
		width: 20%;
	}

	.table-cebra {
		border: #ccc 1px solid;
		border-spacing: 0;
	}

		.table-cebra thead th {
			background: #13213d;
			color: white;
		}

		.table-cebra th,
		.table-cebra td {
			border-right: 1px solid #ccc;
			min-width: 100px;
			padding: 0.5rem;
			text-align: left;
			font-size: 13px;
		}

			.table-cebra th:last-child,
			.table-cebra td:last-child {
				border-right: 0px;
			}

		.table-cebra td {
			/*            border: 1px solid #ccc;*/
			border-bottom: 1px solid #ccc;
		}

		.table-cebra tbody tr {
			background: white;
		}

			.table-cebra tbody tr:nth-child(2n) {
				background: #f2f2f2
			}

	.table-container {
		max-width: 100%;
		overflow-x: scroll;
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
	}

	.table-cebra .sticky {
		position: sticky;
		left: 0;
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
	}
	.table-cebra .sticky1 {
		position: sticky;
		left: 120px;
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
	}

	.table-cebra .sticky2 {
		position: sticky;
		left: 170px;
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
	}

	.table-cebra .sticky3 {
		position: sticky;
		left: 320px;
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
	}

	.table-cebra .sticky4 {
		position: sticky;
		left: 500px;
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
	}

	.table-cebra .sticky5 {
		position: sticky;
		left: 580px;
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
	}

	.table-cebra thead th .sticky {
		background: #13213d;
		color: white;
	}

	.table-cebra tbody tr .sticky {
		background: white;
	}

	.table-cebra .sticky-row {
		position: sticky;
		/*			position: -webkit-sticky;*/
		left: 0px;
		top: 23px;
		background: #000;
		color: white;
		padding: 4px;
		/*			z-index: 3;*/
	}

	#contextMenu {
		position: absolute;
		display: none;
	}
</style>

<div class="container-fluid">
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h2><span class="badge badge-titulo" >Reports/ Loading Instruction</span></h2>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="card  mb-4">
				<div class="card-header pt-1 card-header-title-filter">
					<div class="form-group row">
						<div class="col-xl-2 col-lg-3 col-md-3 col-sm-7">
							<label><strong>FILTERS BAR</strong></label>
						</div>
						<div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">
						</div>

					</div>

				</div>
				<div class="card-body pt-1 card-body-agrocom" >

					<div class="form-group row">

						<div class="col-3">
							<label for="selectPO" class="label-agrocom"><strong>Sales Order</strong></label>
							<select id="selectPO" class="form-control form-control-sm selectpicker" data-live-search="true">
							</select>
						</div>
						<div class="col-3">
							<label for="selectPL" class="label-agrocom"><strong>Nro. PackingList</strong></label>
							<select id="selectPL" class="form-control  form-control-sm selectpicker" data-live-search="true">
							</select>
						</div>
						<div class="col-3">
							<label for="selectCustomer" class="label-agrocom"><strong>Customer</strong></label>
							<select id="selectCustomer" class="form-control  form-control-sm selectpicker" data-live-search="true">
							</select>
						</div>
						<div class="col-3">
							<label for="selectLogistic" class="label-agrocom"><strong>Logistic Operator</strong></label>
							<select id="selectLogistic" class="form-control  form-control-sm selectpicker" data-live-search="true">
							</select>
						</div>
					</div>
					<div class="form-group row"> 

						<div class="col-3">
							<label for="selectManager" class="label-agrocom"><strong>Manager</strong></label>
							<select id="selectManager" class="form-control  form-control-sm selectpicker" data-live-search="true">
							</select>
						</div>
						<div class="col-3">
							<label for="selectWeek" class="label-agrocom"><strong>Departure Week</strong></label>
							<select id="selectWeek" class="form-control  form-control-sm selectpicker" data-live-search="true">
							</select>
						</div>
						<div class="col-3">
							<label for="selectDestination" class="label-agrocom"><strong>Destination</strong></label>
							<select id="selectDestination" class="form-control  form-control-sm selectpicker" data-live-search="true">
							</select>
						</div>
						<div class="col-1" style="padding-top:25px!important">
							<a href="#" class="btn btn-success btn-sm btn-icon-split " id="btnSearch" onclick="javascipt:return false;">
								<span class="icon text-white-50">
									<i class="fas fa-search fa-sm"></i>
								</span>
								<span class="text">Search</span>
							</a>
						</div>
					</div>
					</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="card shadow mb-4">
				<div class="card-header pt-1 card-header-title-filter">
					<div class="form-group row">
						<div class="col-xl-2 col-lg-3 col-md-3 col-sm-7">
							<label><strong>LIST OF RECORDS</strong></label>
						</div>
						<div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="" id="divList" style="max-width:100% !important">
						<table id="shipping" class="table table-cebra table-responsive table-hover table-bordered table-striped table-sm dataTable no-footer table-white" width="100%">
							<thead class="thead-agrocom" >
                                <tr class="table-tr-agrocom">
                                    <th class="sticky" style="max-width:120px; min-width:120px">Sales Order</th>
                                    <th class="sticky1" style="max-width:50px; min-width:50px">Week</th>
                                    <th class="sticky2" style="max-width:150px; min-width:150px">Nro. PackingList</th>
                                    <th style="max-width:120px; min-width:120px">Processing Plant</th>
                                    <th style="max-width:80px; min-width:80px">Loading Day</th>
                                    <th style="max-width:80px; min-width:80px">Upload Date</th>
                                    <th style="max-width:100px; min-width:100px">Charging Hour</th>
                                    <th style="max-width:200px; min-width:200px">Logistic Operator</th>
                                    <th style="max-width:150px; min-width:150px">Shipping Company</th>
                                    <th style="max-width:30px; min-width:30px">TT</th>
                                    <th style="max-width:170px; min-width:170px">Vessel</th>
                                    <th style="max-width:80px; min-width:80px">ETD</th>
                                    <th style="max-width:80px; min-width:80px">ETA</th>
                                    <th style="max-width:80px; min-width:80px">ETA Real</th>
                                    <th style="max-width:100px; min-width:100px">Booking</th>
                                    <th style="max-width:200px; min-width:200px">Customer</th>
                                    <th style="max-width:200px; min-width:200px">Final Customer</th>
                                    <th style="max-width:80px; min-width:80px">Origin Port</th>
                                    <th style="max-width:150px; min-width:150px">Destination Port</th>
                                    <th style="max-width:120px; min-width:120px">Manager</th>
                                    <th style="max-width:80px; min-width:80px">Brand</th>
                                    <th style="max-width:60px; min-width:60px">Category</th>
                                    <th style="max-width:180px; min-width:180px">Package</th>
                                    <th style="max-width:50px; min-width:50px">Color</th>
                                    <th style="max-width:50px; min-width:50px">Weight</th>
                                    <th style="max-width:110px; min-width:110px">Variety</th>
                                    <th style="max-width:50px; min-width:50px">Boxes</th>
                                    <th style="max-width:100px; min-width:100px">Container</th>
                                    <th style="max-width:150px; min-width:150px">BL or AWB</th>
                                </tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="~/Scripts/View/Reports/ShippingI.js"></script>