﻿
@{
	ViewBag.Title = "Summary";
	Layout = "~/Views/Shared/Master.cshtml";
}

<style>
	#legend-block {
		position: relative;
		margin-top: 40px;
	}

	#table-legend {
		padding: 10px;
		border: 1px solid;
		width: 1000px;
		font-size: 13px;
	}

	#table-legend1 {
		padding: 10px;
		border: 1px solid;
		width: 1300px;
		font-size: 13px;
	}

	#inset-label {
		padding: 5px;
		position: absolute;
		z-index: 1;
		background-color: white;
		left: 30px;
		top: -1.2em;
	}

	td.color {
		width: 30px;
		height: 20px;
		background-color: aqua;
	}

	td.label {
		vertical-align: middle;
	}

	td.legend {
		width: 20%;
	}

	.table-cebra {
		border: #ccc 1px solid;
		border-spacing: 0;
	}

		.table-cebra thead th {
			background: #13213d;
			color: white;
		}

		.table-cebra th,
		.table-cebra td {
			border-right: 1px solid #ccc;
			min-width: 100px;
			padding: 0.5rem;
			text-align: left;
			font-size: 13px;
		}

			.table-cebra th:last-child,
			.table-cebra td:last-child {
				border-right: 0px;
			}

		.table-cebra td {
			/*            border: 1px solid #ccc;*/
			border-bottom: 1px solid #ccc;
		}

		.table-cebra tbody tr {
			background: white;
		}

			.table-cebra tbody tr:nth-child(2n) {
				background: #f2f2f2
			}

	.table-container {
		max-width: 100%;
		overflow-x: scroll;
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
	}

	.table-cebra .sticky {
		position: sticky;
		left: 0;
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
	}

	.table-cebra .sticky1 {
		position: sticky;
		left: 120px;
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
	}
	.table-cebra .sticky2 {
		position: sticky;
		left: 200px;
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
	}
	.table-cebra .sticky3 {
		position: sticky;
		left: 280px;
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
	}
	.table-cebra .sticky4 {
		position: sticky;
		left: 380px;
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
	}
	.table-cebra .sticky5 {
		position: sticky;
		left: 440px;
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
	}

	.table-cebra thead th .sticky {
		background: #13213d;
		color: white;
	}

	.table-cebra tbody tr .sticky {
		background: white;
	}

	.table-cebra .sticky-row {
		position: sticky;
		/*			position: -webkit-sticky;*/
		left: 0px;
		top: 23px;
		background: #000;
		color: white;
		padding: 4px;
		/*			z-index: 3;*/
	}

	#contextMenu {
		position: absolute;
		display: none;
	}
</style>

<div class="container-fluid">
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h2><span class="badge badge-titulo">Reports/ Summary</span></h2>
		@*<h1 class="h3 mb-0 text-black">Reports/ Summary</h1>*@
	</div>

	<div class="row" hidden>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="card  mb-4">
				<div class="card-header pt-1 card-header-title-filter">
					<div class="form-group row">
						<div class="col-xl-2 col-lg-3 col-md-3 col-sm-7">
							<label><strong>FILTERS BAR</strong></label>
						</div>
						<div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">
						</div>
					</div>
				</div>
				<div class="card-body pt-1 card-body-agrocom">
					<div class="form-group row">
						<div class="col-2">
							<label for="selectPO" class="label-agrocom"><strong>Sale Order</strong></label>
							<select id="selectPO" class="form-control form-control-sm selectpicker" data-live-search="true">
							</select>
						</div>
						<div class="col-2">
							<label for="selectWeek" class="label-agrocom"><strong>Departure Week</strong></label>
							<select id="selectWeek" class="form-control  form-control-sm selectpicker" data-live-search="true">
							</select>
						</div>
						<div class="col-2">
							<label for="selectPackingList" class="label-agrocom"><strong>NroPackingList</strong></label>
							<select id="selectPackingList" class="form-control  form-control-sm selectpicker" data-live-search="true">
							</select>
						</div>
						<div class="col-2">
							<label for="selectCustomer" class="label-agrocom"><strong>Customer</strong></label> 
							<select id="selectCustomer" class="form-control  form-control-sm selectpicker" data-live-search="true">
							</select>
						</div>
						<div class="col-1">
							<label for="selectStatus" class="label-agrocom"><strong>Status</strong></label>
							<select id="selectStatus" class="form-control  form-control-sm selectpicker" data-live-search="true">
							</select>
						</div>
						<div class="col-2">
							<label for="selectDestination" class="label-agrocom"><strong>Destination</strong></label>
							<select id="selectDestination" class="form-control  form-control-sm selectpicker" data-live-search="true">
							</select>
						</div>
						<div class="col-1" style="padding-top:25px!important">
							<a href="#" class="btn btn-success btn-sm btn-icon-split " id="btnSearch" onclick="javascipt:return false;">
								<span class="icon text-white-50">
									<i class="fas fa-search fa-sm"></i>
								</span>
								<span class="text">Search</span> 
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="card shadow mb-4">

				<div class="card-header pt-1 card-header-title-filter">
					<div class="form-group row">
						<div class="col-xl-2 col-lg-3 col-md-3 col-sm-7">
							<label><strong>LIST OF RECORDS</strong></label>
						</div>
						<div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">
						</div>
					</div>
				</div>

				<div class="card-body">
					<div class="table-responsive" id="divList" style="max-width:100% !important">
						<table id="summary" class="table table-cebra  table-hover table-bordered table-striped table-sm dataTable no-footer" style="width:100%;background: white;">
							<thead class="thead-agrocom">
                                <tr class="table-tr-agrocom">
                                    <th class="sticky" style="max-width:120px; min-width:120px" data-toggle="tooltip" data-placement="top" title="Sale Order">Sales Order</th>
                                    <th hidden>orderProductionID</th>
                                    <th class="sticky1" style="max-width: 80px; min-width:80px">S.O. Date</th>
                                    <th class="sticky2" style="max-width: 80px; min-width:80px">Status</th>
                                    <th class="sticky3" style="max-width: 100px; min-width:100px">Order OZM</th>
                                    <th class="sticky4" style="max-width: 60px; min-width:60px">D. Week</th>
                                    <th class="sticky5" style="max-width: 200px; min-width:200px">Customer</th>
                                    <th style="max-width: 200px; min-width:200px" hidden>Consignee</th>
                                    <th style="max-width: 200px; min-width:200px">Final Customer</th>
                                    <th style="max-width: 50px; min-width:50px">Origin</th>
                                    <th style="max-width: 150px; min-width:150px">Grower</th>
                                    <th style="max-width: 130px; min-width:130px">Farm</th>
                                    <th style="max-width: 150px; min-width:150px">Loading Instruction</th>
                                    <th style="max-width: 80px; min-width:80px">Loading Date</th>
                                    <th style="max-width: 60px; min-width:60px">Hour</th>
                                    <th style="max-width: 120px; min-width:120px">Official</th>
                                    <th style="max-width: 150px; min-width:150px">Variety</th>
                                    <th style="max-width: 50px; min-width:50px">Weight</th>
                                    <th style="max-width: 50px; min-width:50px">Boxes</th>
                                    <th style="max-width: 100px; min-width:100px">Brand</th>
                                    <th style="max-width: 140px; min-width:140px">CodePack</th>
                                    <th style="max-width: 50px; min-width:50px">Size</th>
                                    <th style="max-width: 100px; min-width:100px" hidden>Fruit Condition</th>
                                    <th style="max-width: 100px; min-width:100px" hidden>Format</th>
                                    <th style="max-width: 50px; min-width:50px">Pallets</th>
                                    <th style="max-width: 70px; min-width:70px">Net Weight</th>
                                    <th style="max-width: 80px; min-width:80px">Gross Weight</th>
                                    <th style="max-width: 110px; min-width:110px">Market</th>
                                    <th style="max-width: 120px; min-width:120px">Destination</th>
                                    <th style="max-width: 50px; min-width:50px">Via</th>
                                    <th style="max-width: 70px; min-width:70px">Week ETD</th>
                                    <th style="max-width: 80px; min-width:80px">ETD</th>
                                    <th style="max-width: 70px; min-width:70px">Week ETA</th>
                                    <th style="max-width: 80px; min-width:80px">ETA</th>
                                    <th style="max-width: 80px; min-width:80px">Invoice Grower</th>
                                    <th style="max-width: 100px; min-width:100px" hidden>Invoice MKT</th>
                                    <th style="max-width: 110px; min-width:110px;text-align:center;">G. Price USD/Box</th>
                                    <th style="max-width: 110px; min-width:110px;text-align:center;">Amount Invoice G.</th>
                                    <th style="max-width: 60px; min-width:60px">Incoterm</th>
                                    <th style="max-width: 80px; min-width:80px">Sale Term</th>
                                    <th style="max-width: 200px; min-width:200px">Payment term</th>
                                    <th style="max-width: 150px; min-width:150px">BL or AWB</th>
                                    <th style="max-width: 50px; min-width:50px">Freight</th>
                                    <th style="max-width: 100px; min-width:100px">Booking</th>
                                    <th style="max-width: 150px; min-width:150px">Shipping Line</th>
                                    <th style="max-width: 180px; min-width:180px">Vessel/Airlines</th>
                                    <th style="max-width: 100px; min-width:100px">Container</th>
                                    <th style="max-width: 70px; min-width:70px">Week Real</th>
                                    <th style="max-width: 80px; min-width:80px">ETA Real</th>
                                    <th style="max-width: 200px; min-width:200px">QC Report Origin</th>
                                    <th style="max-width: 30px; min-width:30px"> </th>
                                    <th style="max-width: 200px; min-width:200px">QC Report Destination</th>
                                    <th style="max-width: 30px; min-width:30px"> </th>
                                    <th style="max-width: 200px; min-width:200px">Claim</th>
                                    <th style="max-width: 80px; min-width:80px">Claim Date</th>
                                    <th style="max-width: 30px; min-width:30px"> [ ** ] </th>
                                </tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
			@*<div id="wait" class="text-center">
						<div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
								<span class="sr-only">Loading...</span>
						</div><br>Loading...
				</div>*@

		</div>
	</div>
</div>

<script src="~/Scripts/View/Reports/Summary.js"></script>