﻿
@{
    ViewBag.Title = "VarietyByCampaign";
}

<h2>Variety By Campaign</h2>

<html>
<head>

</head>
<body>
    <div id="variety" style="height: 765px; width: 100%; background-color: white;"></div>
    <script src="~/Scripts/echarts-5.0.2/dist/echarts.js"></script>
    <script src="~/Scripts/echarts-5.0.2/dist/echarts.min.js"></script>
</body>
</html>

<script src="~/Scripts/View/Reports/VarietyByCampaign.js"></script>