﻿
div#content-wrapper {
    max-width: 93%;
}

table.tblPlan > thead > tr > th {
  font-size:12px;
}

.thWeek {
    min-width: 73px;
}

td.palletComplete {
    background-color: #168484;
    color: white;
    font-weight: bold
}

td.residuesComplete {
    background-color: #0053ac;
    color: white;
    font-weight: bold
}

td.residuesinComplete {
    background-color: #9b0700;
    color: white;
    font-weight: bold
}

td.tdSort {
    color: white;
    font-weight: bolder;
    background-color: #ffa313;
    text-align: center
    /*font-style: revert;*/
}

table#tblToProcess.table-bordered thead td {
  background-color: #13213d;
  color: white;
}

table#tblCommercialPlan.table-bordered thead td {
  background-color: #13213d;
  color: white;
  font-size: 12px;
  width: 100%;
}

td.tdcategory.cat1 {
    background-color: #278e11ba;
    color: white;
}

td.tdcategory.catOZB {
    background-color: #278e11ba;
    color: white;
}

td.tdcategory.catC1 {
    background-color: #278e11ba;
    color: white;
}

td.tdcategory.catBIB {
    background-color: #189b25;
    color: white;
}

td.tdcategory.cat2 {
    background-color: #189b25;
    color: white;
}

td.tdcategory.catC2 {
    background-color: #189b25;
    color: white;
}

td.tdvariety.var21 { /*Candy Snaps*/
    background-color: #06328ae6 !important;
    color: white;
}

td.tdvariety.var18 { /*Cotton Candy*/
    background-color: #06328ae6 !important;
    color: white;
}

td.tdvariety.var14 { /*Jack's Salute*/
    background-color: #06328ae6 !important;
    color: white;
}

td.tdvariety.var17 { /*Red Glob*/
    background-color: #06328ae6 !important;
    color: white;
}

td.tdvariety.var19 { /*Sweet Celebration*/
    background-color: #06328ae6 !important;
    color: white;
}

td.tdvariety.var13 { /*Sweet Globe*/
    background-color: #06328ae6 !important;
    color: white;
}

td.tdvariety.var20 { /*Sweet Sapphire*/
    background-color: #06328ae6 !important;
    color: white;
}

td.tdvariety.var28 { /*Sweet Sapphire*/
    background-color: #06328ae6 !important;
    color: white;
}

td.tdvariety.var26 { /*Sweet Sapphire*/
    background-color: #06328ae6 !important;
    color: white;
}

td.tdvariety.var27 { /*Sweet Sapphire*/
    background-color: #06328ae6 !important;
    color: white;
}

td.tdvariety.var35 { /*Sweet Sapphire*/
    background-color: #06328ae6 !important;
    color: white;
}

td.tdvariety.var36 { /*Sweet Sapphire*/
    background-color: #06328ae6 !important;
    color: white;
}

td.tdvariety.var37 { /*Sweet Sapphire*/
    background-color: #06328ae6 !important;
    color: white;
}