﻿.btn-icon-split {
	padding: 0 !important;
	overflow: hidden !important;
	display: inline-flex !important;
	align-items: stretch !important;
	justify-content: center !important;
}

.btn-group-sm > .btn, .btn-sm {
	padding: .25rem .5rem;
	font-size: .875rem;
	line-height: 1.5;
	border-radius: .2rem;
}

.btn-icon-split .icon {
	background: rgba(0,0,0,.15);
	display: inline-block;
	padding: .375rem .75rem;
}

.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}

	.btn-circle.btn-lg {
		width: 50px;
		height: 50px;
		padding: 10px 16px;
		font-size: 18px;
		line-height: 1.33;
		border-radius: 25px;
	}

	.btn-circle.btn-xl {
		width: 70px;
		height: 70px;
		padding: 10px 16px;
		font-size: 24px;
		line-height: 1.33;
		border-radius: 35px;
	}



div#content-wrapper {
	max-width: 100%!important;
}

table.tblPlan > thead > tr > th {
}

.thWeek {
	min-width: 73px;
}

td.palletComplete {
	background-color: #168484;
	color: white;
	font-weight: bold
}

td.residuesComplete {
	background-color: #0053ac;
	color: white;
	font-weight: bold
}

td.residuesinComplete {
	background-color: #9b0700;
	color: white;
	font-weight: bold
}

td.tdSort {
	color: white;
	font-weight: bolder;
	background-color: #ffa313;
	text-align: center
	/*font-style: revert;*/
}

table#tblToProcess.table-bordered thead td {
	background-color: #0a2f79;
	color: white;
}

table#tblCommercialPlan.table-bordered thead td {
	background-color: #0a2f79;
	color: white;
}

td.tdcategory.cat1 {
	background-color: #278e11ba;
	color: white;
}

td.tdcategory.cat2 {
	background-color: #189b25;
	color: white;
}

td.tdvariety.var21 { /*Candy Snaps*/
	background-color: #06328ae6 !important;
	color: white;
}

td.tdvariety.var18 { /*Cotton Candy*/
	background-color: #06328ae6 !important;
	color: white;
}

td.tdvariety.var14 { /*Jack's Salute*/
	background-color: #06328ae6 !important;
	color: white;
}

td.tdvariety.var17 { /*Red Glob*/
	background-color: #06328ae6 !important;
	color: white;
}

td.tdvariety.var19 { /*Sweet Celebration*/
	background-color: #06328ae6 !important;
	color: white;
}

td.tdvariety.var13 { /*Sweet Globe*/
	background-color: #06328ae6 !important;
	color: white;
}

td.tdvariety.var20 { /*Sweet Sapphire*/
	background-color: #06328ae6 !important;
	color: white;
}


.badge-titulo {
	background-color: #26394c;
	color: white;
}

card-header-title-filter {
	padding: 5px 5px 0 5px !important;
}

card-header-modal {
	padding: 5px 5px 0 5px !important;
	background-color: #DCE8FF;
}

card-body-padding {
	padding-top: 15px !important;
	padding-bottom: 1px !important;
}

.thead-agrocom {
	background-color: #13213d !important;
	color: white;
	font-size: 12px;
}

.card-body-agrocom {
	background-color: #D0DAF1;
	padding: 15px 10px 0 10px !important;
}

.card-body-cp {
	background-color: #D0DAF1;
}

.label-agrocom {
	font-size: 14px;
	color: #26394c;
	font-weight: bold;
}

.label-modal-agrocom {
	font-size: 13px;
	color: #26394c;

}

.modal-titulo{
	font-size: 14px!important;
	color: #fff;
}

.table-tr-agrocom {
	font-size: 12px !important;
}

.table-white {
	background-color: white;

}

.modal-agrocom-xl{
	max-width: 1400px !important;
}

.modal-head-agrocom {
	background-color: #13213d !important;
	color: white;
	font-size: 12px;
}
.table-footer-agrocom {
	text-align: right;
	font-size: 12px;
	background-color: #525D75;
	color: white
}

.modal-body-agrocom {
	background-color: #f2f2f2
}

.modal-body-agrocom-cp {
	background-color: #D0DAF1;
}
.modal-footer-agrocom {
	background-color: lightgray
}

.card-header-modal-agrocom {
	background-color: #D0DAF1;
}

.card-body-modal-agrocom {
	background-color: #fff;
}
.btn-group > .multiselect.btn {
	padding: 0 0 0 0 !important;
	height: 30px;
	background-color: #f8f9fc;
	font-size: 14px !important;

}

.btn-group> .span> .multiselect.btn {
	font-size: 10px !important
}

.btn-group> .multiselect-container {
	height: 150px;
	overflow-y: scroll;
}
.switch {
	position: relative;
	display: inline-block;
	width: 90px;
	height: 34px;
}

	.switch input {
		display: none;
	}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ca2222;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 34px;
}

	.slider:before {
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		left: 4px;
		bottom: 4px;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
		border-radius: 50%;
	}

input:checked + .slider {
	background-color: #2ab934;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.slider:after {
	content: 'NO';
	color: white;
	display: block;
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	font-size: 10px;
	font-family: Verdana, sans-serif;
}

input:checked + .slider:after {
	content: 'YES';
}

/*--------- END --------*/