﻿.row-edit-sales {
	background: #6C7EEB !important;
	color: white;
}

.display-none {
	display: none !important;
}

.error {
	position: relative;
}

	.error::after {
		position: absolute !important;
		top: 0;
		left: 90%;
		content: "X" !important;
		color: white;
		font-size: 1em;
		text-align: center;
		line-height: 25px;
		display: inline-block;
		width: 25px;
		height: 25px;
		background-color: red !important;
	}

#accordionSidebar {
/*	background-image: url('../images/fondomenu_migiva_ozblu.jpg');M*/
	background-repeat: no-repeat;
	background-position: top right;
}

#navTopSystem {
	/*    background-image: url('../images/ozblu_migiva_menu_principal_2.jpg');M*/
	background-color: white;
	background-repeat: no-repeat;
	background-position: top right;
}

#iNotifications {
	color: royalblue !important;
}

#titleSystem {
	text-align: center;
	color: black;
	/* font-size: 40px; */
	letter-spacing: 0;
	text-shadow: -3px -3px 3px #ffffff, 3px -3px 3px #ffffff, -3px 3px 3px #ffffff, 3px 3px 3px #ffffff;
	/* font-size: x-large; */
	font-weight: bold;
}

.form-control {
	width: 100%;
}

.multiselect-container {
	box-shadow: 0 3px 12px rgba(0,0,0,.175);
	margin: 0;
}

	.multiselect-container .checkbox {
		margin: 0;
	}

	.multiselect-container li {
		margin: 0;
		padding: 0;
		line-height: 0;
	}

		.multiselect-container li a {
			line-height: 25px;
			margin: 0;
			padding: 0 35px;
		}

.custom-btn {
	width: 100% !important;
}

	.custom-btn .btn, .custom-multi {
		text-align: left;
		width: 100% !important;
	}

.dropdown-menu > .active > a:hover {
	color: inherit;
}

.row-select {
	background: #0c162b !important;
}

.row-select2 {
	background: #d49299 !important;
}

.td-width80 {
	min-width: 80px !important;
	/*max-width: 80px !important;
    width: 80px !important;*/
}

.td-width100 {
	min-width: 100px !important;
	/*max-width: 100px !important;
    width: 100px !important;*/
}

.td-width130 {
	min-width: 130px !important;
	/*max-width: 130px !important;*/
	/*width: 130px !important;*/
}

.highlight {
	background-color: #753737 !important;
	color: white;
	font-weight: bold;
}

.highlight_ok {
	background-color: #377540;
	color: black !important
}

.highlight_Select {
	background-color: #1054b1 !important;
	color: white !important;
	font-weight: bold;
}

.table td, .table th {
	padding: .2rem !important;
}

/*.table .thead-agrocom th {
	color: #fff !important;
	background-color: #475b6f !important;
	border-color: #32383e !important;
}*/

.table .thead-agrocom-light th {
	color: #ffffff !important;
	background-color: #211719 !important;
	border-color: #ffffff !important;
}

.summary {
	background-color: #475b6f;
	COLOR: WHITE !important;
	FONT-WEIGHT: bold !important;
	padding: 15px !important;
}

.color_blue {
	background-color: #475b6f !important;
}

.color_green {
	background-color: #1c3740 !important;
}

.color_black {
	background-color: #0b2723 !important;
}


/*@media (min-width:576px) {
    .modal-dialog {
        max-width: 80% !important;
        margin: 1.75rem auto;
    }
}*/

.title-onRow {
	font-weight: bold !important;
	text-align: left !important;
	padding: 4px;
	font-size: 14px !important;
}

.table-Modal {
	background-color: #0000001c !important;
	border: 2px solid black !important;
}

.modal-body {
	width: 100%;
}

.txtQConfirmed {
	color: red;
	font-weight: bold;
	font-size: 14px;
}

#lblTotal {
	color: red;
	font-weight: bold;
	font-size: 14px;
}

table#tablas > thead {
	font-size: 16px;
	font-weight: bold;
}

table#tablas > tbody {
	font-size: 14px;
	/*font-weight: bold;*/
	color: #000000;
}

.text-align-right {
	text-align: right;
}

.tdNumber {
	text-align: right;
}

table .sticky {
	position: sticky;
	left: 0;
}

.list-group-item {
	user-select: none;
}

.list-group input[type="checkbox"] {
	display: none;
}

	.list-group input[type="checkbox"] + .list-group-item {
		cursor: pointer;
	}

		.list-group input[type="checkbox"] + .list-group-item:before {
			content: "\2713";
			color: transparent;
			font-weight: bold;
			margin-right: 1em;
		}

	.list-group input[type="checkbox"]:checked + .list-group-item {
		background-color: #0275D8;
		color: #FFF;
	}

		.list-group input[type="checkbox"]:checked + .list-group-item:before {
			color: inherit;
		}

.list-group input[type="radio"] {
	display: none;
}

	.list-group input[type="radio"] + .list-group-item {
		cursor: pointer;
	}

		.list-group input[type="radio"] + .list-group-item:before {
			content: "\2022";
			color: transparent;
			font-weight: bold;
			margin-right: 1em;
		}

	.list-group input[type="radio"]:checked + .list-group-item {
		background-color: #0275D8;
		color: #FFF;
	}

		.list-group input[type="radio"]:checked + .list-group-item:before {
			color: inherit;
		}

.container-fluid {
	/* height: 100%;*/
}
/*@import "compass/css3";
.table-editable {
    position: relative;
    .glyphicon

{
    font-size: 20px;
}

}

.table-remove {
    color: #700;
    cursor: pointer;
    &:hover

{
    color: #f00;
}

}

.table-up, .table-down {
    color: #007;
    cursor: pointer;
    &:hover

{
    color: #00f;
}

}

.table-add {
    color: #070;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 0;
    &:hover

{
    color: #0b0;
}
}*/

.control {
	font-family: arial;
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 5px;
	padding-top: 3px;
	cursor: pointer;
	font-size: 16px;
}

	.control input {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}

.control_indicator {
	position: absolute;
	top: 2px;
	left: 0;
	height: 20px;
	width: 20px;
	background: #e6e6e6;
	border: 0px solid #000000;
	border-radius: 0px;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
	background: #cccccc;
}

.control input:checked ~ .control_indicator {
	background: #2aa1c0;
}

.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
	background: #0e6647d;
}

.control input:disabled ~ .control_indicator {
	background: #e6e6e6;
	opacity: 0.6;
	pointer-events: none;
}

.control_indicator:after {
	box-sizing: unset;
	content: '';
	position: absolute;
	display: none;
}

.control input:checked ~ .control_indicator:after {
	display: block;
}

.control-checkbox .control_indicator:after {
	left: 8px;
	top: 4px;
	width: 3px;
	height: 8px;
	border: solid #ffffff;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

.control-checkbox input:disabled ~ .control_indicator:after {
	border-color: #7b7b7b;
}

.control-checkbox .control_indicator::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 4.5rem;
	height: 4.5rem;
	margin-left: -1.3rem;
	margin-top: -1.3rem;
	background: #2aa1c0;
	border-radius: 3rem;
	opacity: 0.6;
	z-index: 99999;
	transform: scale(0);
}

@keyframes s-ripple {
	0% {
		transform: scale(0);
	}

	20% {
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(1);
	}
}

@keyframes s-ripple-dup {
	0% {
		transform: scale(0);
	}

	30% {
		transform: scale(1);
	}

	60% {
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(1);
	}
}

.control-checkbox input + .control_indicator::before {
	animation: s-ripple 250ms ease-out;
}

.control-checkbox input:checked + .control_indicator::before {
	animation-name: s-ripple-dup;
}

#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	z-index: 9999;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* Add animation to "page content" */
.animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s
}

@-webkit-keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0
	}

	to {
		bottom: 0px;
		opacity: 1
	}
}

@keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0
	}

	to {
		bottom: 0;
		opacity: 1
	}
}

#myDiv {
	display: none;
	text-align: center;
}
