﻿@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/Master.cshtml";
}


@*@using Common.Entities
@{Common.Entities.Users user = (Users)Session["User"]; }
@{string username = (user == null) ? "" : user.firstName;}
@{string userID = (user == null) ? "0" : user.userID.ToString();}*@


@using Common.Entities
@{
	Common.Entities.Users user = (Users)Session["User"];
	string login = (user == null) ? "" : user.login;
	string passwdHash = (user == null) ? "" : Common.Util.Encrypt.DecryptTripleDES(user.passwdHash);
	string firstName = (user == null) ? "" : user.firstName;
	string secondName = (user == null) ? "" : user.secondName;
	string paternalLastName = (user == null) ? "" : user.paternalLastName;
	string maternalLastName = (user == null) ? "" : user.maternalLastName;
	string email = (user == null) ? "" : user.email;

}

<style>
	.register {
		background: -webkit-linear-gradient(left, #48325b, #a09800);
		/*background: -webkit-linear-gradient(left, ##767a02, #48325b);*/
		margin-top: 3%;
		padding: 3%;
	}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@*@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}*@
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnSave {
		float: right;
		margin-top: 10%;
		border: none;
		border-radius: 1.5rem;
		padding: 2%;
		background: #0062cc;
		color: #fff;
		font-weight: 600;
		width: 50%;
		cursor: pointer;
	}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}
</style>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="container register" style="padding-bottom:15px">
	<div class="row">
		<div class="col-md-3 register-left">
			<br>
			<br>
			<br>
			<i class="fa fa-user fa-5x"></i>

			<br>
			<br>
			<h3>Mi Perfil</h3>
			@*<input type="submit" name="" value="Ingresar" /><br />*@
		</div>

		<div class="col-md-9 register-right">
			<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist" hidden>
				<li class="nav-item">
					<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Employee</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Hirer</a>
				</li>
			</ul>
			<form id="Formulario" >
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
						<h3 class="register-heading">Perfil de Usuario </h3>
						<div class="row register-form">
							@*-------PRIMERA COLUMNA---------*@
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" id="firstName" class="form-control" placeholder="Primer Nombre*" value="firstName" required />
								</div>
								<div class="form-group">
									<input type="text" id="secondName" class="form-control" placeholder="Segundo Nombre" value="secondName" />
								</div>
								<div class="form-group">
									<input type="text" id="paternalLastName" class="form-control" placeholder="Apellido Paterno*" value="paternalLastName" required />
								</div>
								<div class="form-group">
									<input type="text" id="maternalLastName" class="form-control" placeholder="Apellido Materno*" value="maternalLastName" required />
								</div>
								<div class="form-group">
									<input type="text" id="DNI" class="form-control" placeholder="DNI" value="DNI" />
								</div>
								<div class="form-group">
									<input type="text" id="phone" class="form-control" placeholder="Teléfono" value="phone" />
								</div>
							</div>

							@*-------SEGUNDA COLUMNA---------*@
							<div class="col-md-6">

								<div class="form-group">
									<input type="email" id="email" class="form-control" placeholder="Correo*" value="email" required />
								</div>
								<div class="form-group">
									<input type="text" id="login" class="form-control" placeholder="Login*" value="login" required readonly />
								</div>
								<div class="form-group">
									<input type="password" id="password" class="form-control" placeholder="Contreseña*" value="passwdHash" required />
								</div>
								<div class="form-group">
									<input type="password" id="confirm" class="form-control" placeholder="Repita contraseña*" value="passwdHash" required />
								</div>
								@*<input type="button" id="btnSave" name="btnSave" class="btn btn-success pull-right" value="Actualizar" />*@
								<button id="btnSave" type="button" class="btn btn-success pull-right">Guardar <span class="icon text-white"><i class="fas fa-floppy-o"></i></span></button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<br>
	<br>
</div>
<script src="~/Scripts/View/Password/Password.js"></script>