﻿@{
    ViewBag.Title = "Grapes";
    Layout = "~/Views/Shared/Master.cshtml";
}
<style>

    #legend-block {
        position: relative;
        margin-top: 40px;
    }

    #table-legend {
        padding: 10px;
        border: 1px solid;
        width: 1000px;
        font-size: 13px;
    }

    #table-legend1 {
        padding: 10px;
        border: 1px solid;
        width: 1300px;
        font-size: 13px;
    }

    #inset-label {
        padding: 5px;
        position: absolute;
        z-index: 1;
        background-color: white;
        left: 30px;
        top: -1.2em;
    }

    /*td.color {
            width: 30px;
            height: 20px;
            background-color: aqua;
        }*/

    td.label {
        vertical-align: middle;
    }

    td.legend {
        width: 20%;
    }

    .table-cebra {
        border: #ccc 1px solid;
        border-spacing: 0;
    }

        .table-cebra thead th {
            background: #13213d;
            color: white;
        }

        .table-cebra th,
        .table-cebra td {
            border-right: 1px solid #ccc;
            min-width: 100px;
            padding: 0.5rem;
            text-align: left;
            font-size: 13px;
        }

            .table-cebra th:last-child,
            .table-cebra td:last-child {
                border-right: 0px;
            }

        .table-cebra td {
            /*            border: 1px solid #ccc;*/
            border-bottom: 1px solid #ccc;
        }

        .table-cebra tbody tr {
            /* background: white;*/
        }

            .table-cebra tbody tr:nth-child(2n) {
                /*   background: #f2f2f2*/
            }

    .table-container {
        max-width: 100%;
        overflow-x: scroll;
        border-left: solid 1px #ccc;
        border-right: solid 1px #ccc;
    }

    .table-cebra .sticky {
        position: sticky;
        left: 0;
        border-left: solid 1px #ccc;
        border-right: solid 1px #ccc;
    }

    .table-cebra .sticky2 {
        position: sticky;
        left: 80px;
    }

    .table-cebra .sticky3 {
        position: sticky;
        left: 205px;
    }

    .table-cebra .sticky4 {
        position: sticky;
        left: 255px;
    }

    .table-cebra thead th .sticky {
        background: #13213d;
        color: white;
    }

    .table-cebra tbody tr .sticky {
        /* background: white;*/
    }

    .table-cebra tbody tr:nth-child(2n) .sticky {
        /*background: #f2f2f2;*/
    }

    .table-cebra thead th .sticky2 {
        background: #13213d;
        color: white;
    }

    .table-cebra tbody tr .sticky2 {
        /*	background: white;*/
    }

    .table-cebra tbody tr:nth-child(2n) .sticky2 {
        /*background: #f2f2f2*/
    }

    .table-cebra thead th .sticky3 {
        background: #13213d;
        color: white;
    }

    .table-cebra tbody tr .sticky3 {
        /*	background: white;*/
    }

    .table-cebra tbody tr:nth-child(2n) .sticky3 {
        /*background: #f2f2f2*/
    }

    .table-cebra thead th .sticky4 {
        background: #13213d;
        color: white;
    }

    .table-cebra tbody tr .sticky4 {
        /*background: white;*/
    }

    .table-cebra tbody tr:nth-child(2n) .sticky4 {
        /*background: #f2f2f2*/
    }

    .table-cebra .sticky-row {
        position: sticky;
        /*			position: -webkit-sticky;*/
        left: 0px;
        top: 23px;
        /*background: #000;*/
        /*color: white;*/
        padding: 4px;
        /*			z-index: 3;*/
    }

    #contextMenu {
        position: absolute;
        display: none;
    }

    .poConfirmed {
        background-color: #f81d1d;
    }

    .poConfirmed1 {
        background-color: blue;
    }
</style>




<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h2><span class="badge badge-titulo">Commercial / Sales Orders</span></h2>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card  mb-4">
                <div class="card-header pt-1 card-header-title-filter">
                    <div class="form-group row">

                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-7">
                            <label><strong>Filters Bar</strong></label>
                        </div>
                        <div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">
                        </div>
                    </div>

                </div>

                <div class="card-body card-body-agrocom">
                    <div class="form-group row">
                        <div class="col-xl-3 col-md-3">
                            <div class="card border-left-warning shadow h-70 py-1">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">SO - Pending Confirm</div>
                                            <div class="h5 mb-0 font-weight-bold text-warning"><span id="PendingConfirmed">0</span></div>
                                            <a class="small text-white stretched-link" href="#" onclick="javascipt:return false;" id="btnPendingConfirmed"></a>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-exclamation-triangle fa-2x text-warning"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-3" hidden>
                            <div class="card border-left-danger shadow h-70 py-1">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">SO Rejected</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="Rejected">0</span></div>
                                            <a class="small text-white stretched-link" href="#" onclick="javascipt:return false;" id="btnRejected"></a>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-exclamation-triangle fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-3">
                            <div class="card border-left-secondary shadow h-70 py-1">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">SO - Modified</div>
                                            <div class="h5 mb-0 font-weight-bold text-secondary"><span id="Modified">0</span></div>
                                            <a class="small text-white stretched-link" href="#" onclick="javascipt:return false;" id="btnModified"></a>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-arrow-alt-circle-down fa-2x text-secondary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-3">
                            <div class="card border-left-primary shadow h-70 py-1">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">SO - Confirmed</div>
                                            <div class="h5 mb-0 font-weight-bold text-primary"><span id="Confirmed">0</span></div>
                                            <a class="small text-white stretched-link" href="#" onclick="javascipt:return false;" id="btnConfirmed"></a>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-check-square fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-3">
                            <div class="card border-left-success shadow h-70 py-1">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">SO - Loaded</div>
                                            <div class="h5 mb-0 font-weight-bold text-success"><span id="Loaded">0</span></div>
                                            <a class="small text-white stretched-link" href="#" onclick="javascipt:return false;" id="btnLoaded"></a>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-cloud-upload-alt fa-2x text-success"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <hr />
                    <div class="form-group row">
                        <div class="col-xl-3 col-md-3 ">
                            <label class="label-agrocom" for="cboSemanaIni"><strong>Week Starting</strong></label>
                            <select id="cboSemanaIni" name="cboSemanaIni" class="form-control selectpicker form-control-sm" data-live-search="true">
                            </select>
                        </div>
                        <div class="col-xl-3 col-md-3 ">
                            <label class="label-agrocom" for="cboSemanaFin"><strong>Week Ending</strong></label>
                            <select id="cboSemanaFin" name="cboSemanaFin" class="form-control selectpicker form-control-sm" data-live-search="true">
                            </select>
                        </div>
                        <div class="col-xl-2 col-md-2">
                            <label class="label-agrocom" for="selectMarketFilter"><strong>Market</strong></label>
                            <select id="selectMarketFilter" name="selectMarketFilter" class="selectpicker form-control form-control-sm" data-live-search="true" title="ALL">
                            </select>
                        </div>
                        <div class="col-xl-2 col-md-2">
                            <label class="label-agrocom" for="selectStatusFilter"><strong>Status</strong></label>
                            <select id="selectStatusFilter" name="selectStatusFilter" class="selectpicker form-control form-control-sm" data-live-search="true">
                            </select>
                        </div>

                        <div class="col-xl-2 col-md-2" style="padding-top:28px">
                            <a href="#" class="btn btn-success btn-sm btn-icon-split transact" id="btnSearch" onclick="javascipt:return false;">
                                <span class="icon text-white-50">
                                    <i class="fas fa-search fa-sm"></i>
                                </span>
                                <span class="text">Search</span>
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card shadow mb-4">
                <div class="card-header py-2">
                    <div class="form-group row">
                        <div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">
                        @*No eliminar esta opción*@
                        @*<a href="#" class="btn btn-primary btn-sm btn-icon-split transact" onclick="openModal(0)" data-toggle="modal" data-target="#ModalSaleRequest">
                        <span class="icon text-white-50">
                        <i class="fas fa-plus-circle fa-sm"></i>
                        </span>
                        <span class="text">Register Sales Orders</span>
                        </a>*@

                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-7">

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive" id="divList">
                        <table id='tblSales' class='table table-cebra table-hover table-bordered table-striped'>
                            <thead class="thead-agrocom">
                                <tr class="table-tr-agrocom">
                                    <td class='saleID' style="display:none">Sale IIIID</td>
                                    <td class='sticky' style='max-width: 80px; min-width: 80px !important;  background-color:#13213d;'>Operations</td>
                                    <td style='max-width: 100px; min-width:100px; background-color:#13213d' class='' hidden>Number</td>
                                    <td style='max-width: 125px; min-width:125px' class='sticky2'>SO Number</td>
                                    <td style='max-width: 60px; min-width:60px;  background-color:#13213d' class='sticky3'>D. Week</td>
                                    <td style='max-width: 140px; min-width:140px' class=''>Variety</td>
                                    <td style='max-width: 60px; min-width:60px' class=''>Category</td>
                                    <td style='max-width: 50px; min-width:50px' class=''>Priority</td>
                                    <td style='max-width: 200px; min-width:200px' class=''>Customer</td>
                                    <td style='max-width: 110px; min-width:110px' class=''>Market</td>
                                    <td style='max-width: 120px; min-width:120px' class=''>Destination</td>
                                    <td style='max-width: 40px; min-width:40px' class=''>Via</td>
                                    <td style='max-width: 50px; min-width:50px' class=''>Boxes</td>
                                    <td style='max-width: 100px; min-width:100px' class='statusID' hidden>StatusID</td>
                                    <td style='max-width: 120px; min-width:120px' class=''>Status</td>
                                    <td style='max-width: 150px; min-width:150px' class=''>Codepack</td>
                                    <td style='max-width: 60px; min-width:60px' class=''>Incoterm</td>
                                    <td style='max-width: 80px; min-width:80px' class=''>Created By</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="ModalSaleRequest" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header modal-head-agrocom">
                <label><font color="white" class="modal-titulo">Sale Id:&nbsp;&nbsp;&nbsp;</font></label>
                <font color="white"><label class="modal-titulo" id="lblSaleID">0</label></font>
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body modal-body-agrocom">

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="card-body mb-2 card-body-agrocom">
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label class="label-modal-agrocom" for="txtSaleRequest">Sales Request:</label>
                                    <input id="txtSaleRequest" class="form-control form-control-sm" disabled />
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="label-modal-agrocom" for="txtSalesOrder">Sales Order:</label>
                                    <input id="txtSalesOrder" class="form-control form-control-sm" disabled />
                                </div>
                                <div class="form-group col-md-2" style="padding-top:25px" hidden>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label label-modal-agrocom" for="exampleCheck1">Sale Allocated</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="label-modal-agrocom" for="selectMarket">Market:</label>
                                    <select id="selectMarket" class="form-control selectpicker form-control-sm obligatory" data-live-search="true">
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="label-modal-agrocom" for="selectCustomer">Customer:</label>
                                    <select id="selectCustomer" class="form-control selectpicker form-control-sm obligatory" data-live-search="true">
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="label-modal-agrocom" for="selectWeek">Departure Week</label>
                                    <select id="selectWeek" class="form-control selectpicker form-control-sm obligatory" data-live-search="true">
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label class="label-modal-agrocom" for="selectDestination">Destination</label>
                                    <select id="selectDestination" class="form-control selectpicker form-control-sm obligatory" data-live-search="true">
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="label-modal-agrocom" for="selectVia">Via</label>
                                    <select id="selectVia" class="form-control selectpicker form-control-sm obligatory">
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="label-modal-agrocom" for="selectConsignee" data-toggle="tooltip" data-placement="top" title="Consignee (For shipping instruction)">Consignee</label>
                                    <select id="selectConsignee" class="form-control selectpicker form-control-sm obligatory">
                                    </select>
                                </div>
                                <div class="form-group col-md-3 " style="display:none">
                                    <label class="label-modal-agrocom" for="selectConsigneeS">Consignee</label>
                                    <select id="selectConsigneeS" name="selectConsignee" class="form-control form-control-sm selectpicker" data-live-search="true" disabled>
                                        <option>Dalian</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-1">
                                    <label class="label-modal-agrocom" for="txtPriority">Priority</label>
                                    <input id="txtPriority" type="number" class="form-control form-control-sm" required>
                                </div>
                                <div class="form-group col-md-1" style="padding-top:28px">

                                    <a href="/Wow/Index" data-toggle="tooltip" data-placement="top" title="Add Shipping Instructions" target="_blank">
                                        <button class="btn btn-primary btn-sm" style="height: 28px">
                                            <span class="icon text-white"><i class="fas fa-user-plus"></i></span>
                                        </button>
                                    </a>

                                    <button id="btnConsult" data-toggle="modal" data-placement="top" title="Consult Shipping" type="button" class="btn btn-success btn-sm" onclick="openModalShipping()" style="height: 28px" data-target="#myModalShipping" hidden>
                                        <span class="icon text-white"><i class="fas fa-eye"></i></span>
                                    </button>
                                </div>
                            </div>
                        </div>



                        <span class=”break”></span>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-2">
                                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                            <button type="button" class="btn btn-sm btn-primary" style="background-color: #007bff;">Add New Variety <span class="icon text-white"><i class="fas fa-plus-circle"></i></span></button>
                                        </div>
                                        <br>
                                        <hr>

                                        <div id="tblCatVar" class="table-responsive">
                                            <table id="tblCatVar" class="table table-hover table-bordered table-striped ">
                                                <thead class="thead-agrocom">
                                                    <tr class="table-tr-agrocom">
                                                        <td style="min-width:100px" class="text-white">&nbsp&nbsp&nbsp[]&nbsp&nbsp&nbsp </td>
                                                        <td style="min-width:200px; max-width:200px;" class="text-white" hidden>  SaleDetailID                         </td>
                                                        <td style="min-width:200px; max-width:200px;" class="text-white" hidden>  SaleID                         </td>
                                                        <td style="min-width:200px; max-width:200px;" class="text-white" hidden>  VarietyID										  </td>
                                                        <td style="min-width:150px; max-width:150px;" class="text-white">  Variety											  </td>
                                                        <td style="min-width:200px; max-width:200px;" class="text-white" hidden>  CategoryID										  </td>
                                                        <td style="min-width:60px; max-width:60px;" class="text-white">  Category											  </td>
                                                        <td style="min-width:200px; max-width:200px;" class="text-white" hidden>  NetWeightID									  </td>
                                                        <td style="min-width:50px; max-width:50px;" class="text-white" data-toggle="tooltip" data-placement="top" title="Net Weight">Weight </td>
                                                        <td style="min-width:200px; max-width:200px;" class="text-white" hidden>  TypeBoxID										  </td>
                                                        <td style="min-width:80px; max-width:80px;" class="text-white">  Type Box											  </td>
                                                        <td style="min-width:200px; max-width:200px;" class="text-white" hidden>  BoxBrandID										  </td>
                                                        <td style="min-width:100px; max-width:100px;" class="text-white">  Box Brand 						  </td>
                                                        <td style="min-width:200px; max-width:200px;" class="text-white" hidden>  InternalPackageID						  </td>
                                                        <td style="min-width:100px; max-width:100px;" class="text-white" data-toggle="tooltip" data-placement="top" title="Internal Package"> I. Package </td>
                                                        <td style="min-width:200px; max-width:200px;" class="text-white" hidden>  LabelID											  </td>
                                                        <td style="min-width:100px; max-width:100px;" class="text-white">  Label												  </td>
                                                        <td style="min-width:200px; max-width:200px;" class="text-white" hidden>  SizeBoxID										  </td>
                                                        <td style="min-width:80px; max-width:80px;" class="text-white" hidden>  SizeBox											  </td>
                                                        <td style="min-width:80px; max-width:80px;" class="text-white" hidden>  BoxPallet										  </td>
                                                        <td style="min-width:45px; max-width:45px;" class="text-white">  Boxes												  </td>
                                                        <td style="min-width:70px; max-width:70px;" class="text-white">  Net Kilos											  </td>
                                                        <td style="min-width:120px; max-width:120px;" class="text-white">  Codepack											  </td>
                                                        <td style="min-width:200px; max-width:200px;" class="text-white" hidden>  IncotermID										  </td>
                                                        <td style="min-width:60px; max-width:60px;" class="text-white">  Incoterm											  </td>
                                                        <td style="min-width:200px; max-width:200px;" class="text-white" hidden>  PriceConditionID							  </td>
                                                        <td style="min-width:65px; max-width:65px;" class="text-white">Sale Term</td>
                                                        <td style="min-width:220px; max-width:220px;" class="text-white" hidden>  PaymentTermID								  </td>
                                                        <td style="min-width:200px; max-width:200px;" class="text-white">  Payment Terms								  </td>
                                                        <td style="min-width:200px; max-width:200px;" class="text-white" hidden>  SizeFruitID									  </td>
                                                        <td style="min-width:80px; max-width:80px;" class="text-white" hidden>  Size Fruit										  </td>
                                                        <td style="min-width:200px; max-width:200px;" class="text-white" hidden>  FinalCustomerID							  </td>
                                                        <td style="min-width:200px; max-width:200px;" class="text-white">  Final Customer								  </td>
                                                        <td style="min-width:50px; max-width:50px;" class="text-white">  Pallets											  </td>
                                                        <td style="min-width:100px; max-width:100px;" class="text-white">  Price USD / Box							  </td>
                                                        <td style="min-width:100px; max-width:100px;" class="text-white" hidden> padlock							  </td>
                                                        <td style="min-width:100px; max-width:100px;" class="text-white" hidden>  plu							  </td>
                                                        <td style="min-width:100px; max-width:100px;" class="text-white" hidden>  addBoxes							  </td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="15" style="text-align:right;font-size:12px; background-color:#525D75;color:white">Total USD</td>
                                                        <td class="totalPallets" style="text-align:right;font-size:12px">0</td>
                                                        <td class="totalPrice" style="text-align:right;font-size:12px">0</td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>



                            <div class="collapse" id="detalleGrapes">

                                <div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <form id="Formulario" class="needs-validation was-validated">

                                            <div class="card-body mb-2" style="background-color: #D0DAF1; padding-top:15px!important; padding-bottom:1px!important">


                                                <div style="text-align:left; font-size:14px"><strong>Details </strong></div>
                                                <hr />
                                                <div class="form-group row">

                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="selectVariety">Variety</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="selectVariety" class="form-control form-control-sm selectpicker" data-live-search="true" required>
                                                        </select>
                                                    </div>

                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="selectCategory">Category</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="selectCategory" class="form-control form-control-sm obligatoryRowM selectpicker" data-live-search="true" required>
                                                        </select>
                                                        <div class="valid-tooltip">
                                                            Looks good!
                                                        </div>
                                                    </div>

                                                    <div class=" col-md-1">
                                                        <label class="label-modal-agrocom" for="selectFormat">Net Weight Box</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="selectFormat" class="form-control form-control-sm selectpicker" required>
                                                        </select>
                                                    </div>

                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="selectTypeBox">Type Box</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="selectTypeBox" class="form-control form-control-sm selectpicker" data-live-search="true" required>
                                                        </select>
                                                    </div>

                                                </div>

                                                <div class="form-group row">

                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="selectBrand">Box Brand </label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="selectBrand" class="form-control form-control-sm selectpicker" data-live-search="true" required>
                                                        </select>
                                                    </div>

                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="selectPresentation">Internal Package </label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="selectPresentation" class="form-control form-control-sm selectpicker" data-live-search="true" required>
                                                        </select>
                                                    </div>

                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="selectLabel">Label</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="selectLabel" class="form-control form-control-sm selectpicker" data-live-search="true" required>
                                                        </select>
                                                    </div>

                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="SelectSizeBox">Size Box</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="SelectSizeBox" class="form-control form-control-sm selectpicker" data-live-search="true" required>
                                                        </select>
                                                    </div>

                                                </div>

                                                <div class="form-group row">

                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="txtBoxPallet">Box x Pallet</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input id="txtBoxPallet" disabled="disabled" type="number" class="form-control form-control-sm " />
                                                    </div>

                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="txtBoxes">Boxes</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input id="txtBoxes" type="number" min="0" @*step="100"*@ style="text-align:right" class="form-control form-control-sm " required />
                                                    </div>

                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="txtNet">Net Kilos</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input id="txtNet" disabled="disabled" type="number" class="form-control form-control-sm" required>
                                                    </div>

                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="txtPallets">Pallets</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input id="txtPallets" disabled="disabled" type="number" min="0" class="form-control form-control-sm " required>
                                                    </div>
                                                    <div class="col-md-1" hidden>
                                                        <label class="label-modal-agrocom" for="txtaddBoxes">addBoxes</label>
                                                    </div>
                                                    <div class="col-md-2" hidden>
                                                        <input id="txtaddBoxes" disabled="disabled" type="number" min="0" class="form-control form-control-sm ">
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="form-group row">

                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="txtPrice">Price USD / Box</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input id="txtPrice" type="number" min="0" class="form-control form-control-sm" required />
                                                    </div>

                                                    <div class="col-md-1">
                                                        <label for="selectPayment" class="label-modal-agrocom">Payment Termn</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="selectPayment" class="form-control form-control-sm " required>
                                                        </select>
                                                        <div class="valid-tooltip">
                                                            Looks good!
                                                        </div>
                                                    </div>

                                                    <div class="col-md-1">
                                                        <label for="selectPriceContition" class="label-modal-agrocom">Price Condition</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="selectPriceContition" class="form-control form-control-sm " required>
                                                        </select>
                                                        <div class="invalid-tooltip">
                                                            Please choose a unique and valid username.&gt;
                                                        </div>
                                                    </div>

                                                    <div class="col-md-1">
                                                        <label for="selectIncoterm" class="label-modal-agrocom">Incoterm</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="selectIncoterm" class="form-control form-control-sm obligatoryRow">
                                                        </select>
                                                        <div class="valid-tooltip">
                                                            Looks good!
                                                        </div>
                                                    </div>

                                                </div>
                                                <br>
                                                <div class="form-group row">

                                                    <div class="col-md-1">
                                                        <label for="selectSize" class="label-modal-agrocom">Size Fruit</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="selectSize" class="form-control form-control-sm obligatoryRow" multiple data-live-search="true">
                                                        </select>
                                                    </div>

                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="txtCodePack">CodePack</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input id="txtCodePack" onblur="createCodePack()" type="text" class="form-control form-control-sm" required disabled>
                                                    </div>

                                                    <div class="col-md-1">
                                                        <label for="SelectFinalCustomer" class="label-modal-agrocom">Final Customer</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="SelectFinalCustomer" class="form-control form-control-sm obligatoryRow">
                                                        </select>
                                                    </div>
                                                    <div class="col-md-1" @*style="padding-top:10px"*@>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="chkpadlock">
                                                            <label class="form-check-label" style="color:black" for="chkpadlock">Padlock</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="chkplu">
                                                            <label class="form-check-label" style="color:black" for="chkplu">With PLU</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-1" style="display:none">
                                                        <label for="txtSaleDetailID" class="label-modal-agrocom"><strong>SaleDetailID </strong></label>
                                                        <input id="txtSaleDetailID" disabled="disabled" type="number" class="form-control form-control-sm " />
                                                    </div>

                                                    <div class="form-group col-md-3" style="display:none">
                                                        <label for="txtTotalPrice" class="label-modal-agrocom"><strong>Total Price </strong></label>
                                                        <input id="txtTotalPrice" style="text-align:right" disabled="disabled" type="number" class="form-control form-control-sm obligatoryRow " />
                                                    </div>

                                                    <div class="form-group col-md-1" style="display:none">
                                                        <label for="txtRow" class="label-modal-agrocom"><strong>row </strong></label>
                                                        <input id="txtRow" disabled="disabled" type="number" class="form-control form-control-sm " />
                                                    </div>
                                                    <div class="form-group-sm col-2" style="display:none">
                                                        <label for="txtStatus" class="label-modal-agrocom">Status</label>
                                                        <input id="txtStatus" class="form-control form-control-sm" type="text" disabled>
                                                    </div>
                                                    <div class="col-md-2">
                                                    </div>

                                                    <div class="form-group-sm col-2" style="display:none">
                                                        <label for="txtPO" class="label-modal-agrocom">PO</label>
                                                        <input id="txtPO" class="form-control form-control-sm" type="text" disabled>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <button id="btnEdit" type="button" class="btn  btn-sm  text-white display-none transact pull-right" style="background-color: #13213d; height: 30px;">Edit  <span class="icon text-white"><i class="fas fa-save fa-sm"></i></span></button>
                                                        <button id="btnAdd" type="button" class="btn  btn-sm text-white transact pull-right" style=" background-color: #13213d; height: 30px;">Add  <span class="icon text-white"><i class="fas fa-plus-circle fa-sm"></i></span></button>
                                                        <span id="spanObligatoryRow" class="badge badge-danger"></span>
                                                    </div>
                                                </div>
                                                <br>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>



                            <div class="col-md-12 col-sm-12 col-xl-12" @*style="background-color: #fff"*@>
                                <div class="card-body mb-2" style="		background-color: #fff">
                                    <div style="text-align:center;">
                                        <h4><span>Suggested by Production</span></h4>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">

                                            <div class="col-md-1 col-sm-1 col-xs-1">
                                            </div>

                                            <div id="tblCatVar" class="table-responsive col-md-10 col-sm-10 col-xs-10">
                                                <table id="tblPOModified" class="table table-hover table-bordered table-striped ">
                                                    <thead class="thead-agrocom" style="background-color: #13213d">
                                                        <tr>
                                                            <td style="min-width:150px; max-width:150px;font-size: 13px;" class="text-white">  Variety	 </td>
                                                            <td style="min-width:150px; max-width:150px;font-size: 13px;" class="text-white">  Category	 </td>
                                                            <td style="min-width:150px; max-width:150px;font-size: 13px;" class="text-white">  Codepack	 </td>
                                                            <td style="min-width:150px; max-width:150px;font-size: 13px;" class="text-white">  Brand	 </td>
                                                            <td style="min-width:130px; max-width:130px;font-size: 13px;" class="text-white">  Boxes</td>
                                                            <td style="min-width:130px; max-width:130px;font-size: 13px;" class="text-white"> Pallets</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="col-md-1 col-sm-1 col-xs-1">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">



                <a href="#" class="btn btn-success btn-sm btn-icon-split pull-right" data-toggle="modal" data-target="#exampleModal" id="btnRejectPOModified">
                    <span class="icon text-white-50">
                        <i class="fas fa-times fa-sm"></i>
                    </span>
                    <span class="text">Reject SO Modified</span>
                </a>

                <a href="#" class="btn btn-success btn-sm btn-icon-split transact pull-right display-none " id="btnSavePOModified" onclick="javascipt:return false;">
                    <span class="icon text-white-50">
                        <i class="fas fa-check-circle fa-sm"></i>
                    </span>
                    <span class="text">Save SO Modified</span>
                </a>

                <a href="#" class="btn btn-success btn-sm btn-icon-split transact pull-right display-none " id="btnSavePO" onclick="javascipt:return false;">
                    <span class="icon text-white-50">
                        <i class="fas fa-check-circle fa-sm"></i>
                    </span>
                    <span class="text">Save SO</span>
                </a>

                <span id="spanObligatory" class="badge badge-danger"></span>

            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="exampleModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">SO Modify Rejected</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="commentary" class="label-modal-agrocom">Add Commentary:</label>
                <div class=" col-sm-12 col-md-12">
                    <textarea id="commentary" class="form-control form-control-sm" rows="1" maxlength="150" required></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveReject">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<script>
    // Tooltips Initialization
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/Services/Sale/SaleService.js"></script>
<script src="~/Scripts/View/Sales/Grapes.js"></script>
