﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

<style>
    .modal {
        overflow: auto !important;
    }
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox*/
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>

<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h2><span class="badge badge-titulo">Commercial / Sales Orders</span></h2>

    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card  mb-4">
                <div class="card-header pt-1 card-header-title-filter">
                    <div class="form-group row">
                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-7">
                            <label><strong>Filters Bar</strong></label>
                        </div>
                        <div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">
                        </div>
                    </div>
                </div>
                <div class="card-body card-body-agrocom">
                    <div class="form-group row">
                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-3">
                            <div class="card border-left-warning shadow h-70 py-1">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">SO - Pending Confirm</div>
                                            <div class="h5 mb-0 font-weight-bold text-warning"><span id="PendingConfirmed">0</span></div>
                                            <a class="small text-white stretched-link" href="#" onclick="javascipt:return false;" id="btnPendingConfirmed"></a>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-exclamation-triangle fa-2x text-warning"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-3" hidden>
                            <div class="card border-left-danger shadow h-70 py-1">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Rejected</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="Rejected">18</span></div>
                                            <a class="small text-white stretched-link" href="#" onclick="javascipt:return false;" id="btnRejected"></a>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-backspace fa-2x text-danger"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-3">
                            <div class="card border-left-secondary shadow h-70 py-1">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">SO - Modified</div>
                                            <div class="h5 mb-0 font-weight-bold text-secondary"><span id="Modified">0</span></div>
                                            <a class="small text-white stretched-link" href="#" onclick="javascipt:return false;" id="btnModified"></a>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-arrow-alt-circle-down fa-2x text-secondary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-3">
                            <div class="card border-left-primary shadow h-70 py-1">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">SO - Confirmed</div>
                                            <div class="h5 mb-0 font-weight-bold text-primary"><span id="Confirmed">0</span></div>
                                            <a class="small text-white stretched-link" href="#" onclick="javascipt:return false;" id="btnConfirmed"></a>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-check-square fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-3">
                            <div class="card border-left-success shadow h-70 py-1">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">SO - Loaded</div>
                                            <div class="h5 mb-0 font-weight-bold text-success"><span id="Loaded">0</span></div>
                                            <a class="small text-white stretched-link" href="#" onclick="javascipt:return false;" id="btnLoaded"></a>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-cloud-upload-alt fa-2x text-success"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xl-3 col-md-3 ">
                            <label class="label-modal-agrocom" for="cboSemanaIni"><strong>Week Starting</strong></label>
                            <select id="cboSemanaIni" name="cboSemanaIni" class="form-control selectpicker form-control-sm" data-live-search="true">
                            </select>
                        </div>
                        <div class="col-xl-3 col-md-3 ">
                            <label class="label-modal-agrocom" for="cboSemanaFin"><strong>Week Ending</strong></label>
                            <select id="cboSemanaFin" name="cboSemanaFin" class="form-control selectpicker form-control-sm" data-live-search="true">
                            </select>
                        </div>
                        <div class="col-xl-2 col-md-2">
                            <label class="label-modal-agrocom" for="selectMarketFilter"><strong>Market</strong></label>
                            <select id="selectMarketFilter" name="selectMarketFilter" class="selectpicker form-control form-control-sm" data-live-search="true" title="ALL">
                                <option value="All" selected>Tous</option>
                                <option value="0">Facile</option>
                                <option value="1">Normal</option>
                                <option value="2">Difficile</option>
                            </select>
                        </div>
                        <div class="col-xl-2 col-md-2">
                            <label class="label-modal-agrocom" for="selectStatusFilter"><strong>Status</strong></label>
                            <select id="selectStatusFilter" name="selectStatusFilter" class="selectpicker form-control form-control-sm" data-live-search="true">
                                
                            </select>
                        </div>
                        <div class="col-xl-2 col-md-2 " style="padding-top:28px!important">
                            <a href="#" class="btn btn-success btn-sm btn-icon-split " id="btnSearch" onclick="javascipt:return false;">
                                <span class="icon text-white-50">
                                    <i class="fas fa-search fa-sm"></i>
                                </span>
                                <span class="text">Search</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card shadow mb-4">
                <div class="card-header py-2">
                    <div class="form-group row">
                        <div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">
                            @*No eliminar esta opción*@
                            @*<a href="#" onclick="ShowDataSR(0)" class="btn btn-primary btn-sm btn-icon-split transact pull-left" id="" data-toggle="modal" data-target="#ModalDataSR" data-backdrop="static" data-keyboard="false">
                                <span class="icon text-white-50">
                                    <i class="fas fa-plus-circle fa-sm"></i>
                                </span>
                                <span class="text">Register Sales Orders</span>
                            </a>*@

                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-7">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive" id="divList">
                        <table id='tblSales' class='table table-hover table-bordered table-striped'>
                            <thead class='thead-agrocom'>
                                <tr>
                                    <td class='text-white' style='max-width: 100px; min-width: 100px !important;'>Operations</td>
                                    <td style='display:none'>Sale IIIID</td>
                                    <td style='max-width: 100px; min-width:100px;' class='text-white' hidden>Number</td>
                                    <td style='max-width: 100px; min-width:100px;' class='text-white'>Sales Order</td>
                                    <td style='max-width: 60px; min-width:60px;' class='text-white'>D. Week</td>
                                    <td style='max-width: 110px; min-width:110px;' class='text-white'>Market</td>
                                    <td style='max-width: 200px; min-width:200px;' class='text-white'>Customer</td>
                                    <td style='max-width: 100px; min-width:100px;' class='text-white'>Destination</td>
                                    <td style='max-width: 30px; min-width:30px;' class='text-white'>Via</td>
                                    <td style='max-width: 100px; min-width:100px;' class='text-white'>Brand</td>
                                    <td style='max-width: 200px; min-width:200px;' class='text-white'>Variety</td>
                                    <td style='max-width: 150px; min-width:150px;' class='text-white'>Codepack</td>
                                    <td style='max-width: 50px; min-width:50px;' class='text-white'>Boxes</td>
                                    <td style='max-width: 50px; min-width:50px;' class='text-white' hidden>StatusID</td>
                                    <td style='max-width: 120px; min-width:120px;' class='text-white'>Status</td>
                                    <td style='max-width: 60px; min-width:60px;' class='text-white'>Incoterm</td>
                                    <td style='max-width: 100px; min-width:100px;' class='text-white'>Created By</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width: 48px">
            <span class="fa fa-spinner fa-spin fa-3x"></span>
        </div>
    </div>
</div>

<div id="ModalDataSR" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header modal-head-agrocom">
                <label><font color="white" class="modal-titulo">Sale Id:&nbsp;&nbsp;&nbsp;</font></label>
                <font color="white"><label class="modal-titulo" id="lblSaleID">0</label></font>
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body modal-body-agrocom">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="card-header card-header-modal-agrocom">
                                <div class="form-row">

                                    <div class="form-group col-md-2">
                                        <label class="label-modal-agrocom" for="txtSaleRequest">Sales Request:</label>
                                        <input id="txtSaleRequest" class="form-control form-control-sm" disabled />
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="label-modal-agrocom" for="txtSalesOrders">Sales Orders:</label>
                                        <input id="txtSalesOrders" class="form-control form-control-sm" disabled />
                                    </div>
                                    <div class="form-group col-md-2" hidden>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                            <label class="form-check-label" for="exampleCheck1" style="font-size: 13px!important;color:black">Sale Allocated</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="label-modal-agrocom" for="selectMarket">Market:</label>
                                        <select id="selectMarket" class="form-control selectpicker form-control-sm obligatory" data-live-search="true">
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="label-modal-agrocom" for="selectCustomer">Customer:</label>
                                        <select id="selectCustomer" class="form-control selectpicker form-control-sm obligatory" data-live-search="true">
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="label-modal-agrocom" for="selectWeek">Departure Week</label>
                                        <select id="selectWeek" class="form-control selectpicker form-control-sm obligatory" data-live-search="true">
                                        </select>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-2">
                                        <label class="label-modal-agrocom" for="selectDestination">Destination</label>
                                        <select id="selectDestination" class="form-control selectpicker form-control-sm obligatory" data-live-search="true">
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="label-modal-agrocom" for="selectVia">Via</label>
                                        <select id="selectVia" class="form-control selectpicker form-control-sm obligatory">
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="label-modal-agrocom" for="selectConsignee" data-toggle="tooltip" data-placement="top" title="Consignee (For shipping instruction)">Consignee</label>
                                        <select id="selectConsignee" class="form-control selectpicker form-control-sm obligatory">
                                        </select>
                                    </div>
                                    <div class="form-group col-md-1">
                                        <label class="label-modal-agrocom" for="txtPriority">Priority</label>
                                        <input id="txtPriority" type="number" class="form-control form-control-sm" required>
                                    </div>
                                    <div class="form-group col-md-1" style="padding-top:28px">
                                        <a href="/Wow/Index" data-toggle="tooltip" data-placement="top" title="Add Shipping Instructions" target="_blank">
                                            <button class="btn btn-primary  btn-sm" style="height: 28px">
                                                <span class="icon text-white"><i class="fas fa-user-plus"></i></span>
                                            </button>
                                        </a>
                                    </div>
                                    <div class="form-group col-md-1" style="padding-top:28px">
                                        <button id="btnConsult" data-toggle="modal" data-placement="top" title="Consult Shipping" type="button" class="btn btn-success btn-sm" onclick="openModalShipping()" style="height: 28px" data-target="#myModalShipping">
                                            <span class="icon text-white"><i class="fas fa-eye"></i></span>
                                        </button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="card shadow mb-4">
                                            <div id="tblCatVar" class="table-responsive">
                                                <table id="tblCatVar" class="table table-hover table-bordered table-striped">
                                                    <thead class="thead-agrocom">
                                                        <tr>
                                                            <td style="min-width:100px" class="text-white">&nbsp&nbsp&nbsp[]&nbsp&nbsp&nbsp </td>
                                                            <td class="text-white" style="display:none">Id</td>
                                                            <td class="text-white" style="display:none">Brand Id</td>
                                                            <td style="min-width:55px; max-width:55px;" class="text-white">Brand</td>
                                                            <td class="text-white" style="display:none">Variety Id</td>
                                                            <td style="min-width:200px; max-width:200px;" class="text-white">Variety</td>
                                                            <td style="min-width:80px; max-width:100px;" class="text-white">Sizes</td>
                                                            <td class="text-white" style="display:none">Codepack Id</td>
                                                            <td style="min-width:95px; max-width:95px;" class="text-white">Codepack</td>
                                                            <td class="text-white" style="display:none">Presentation Id</td>
                                                            <td style="min-width:55px; max-width:55px;" class="text-white">Format</td>
                                                            <td style="min-width:50px; max-width:50px;" class="text-white">Boxes</td>
                                                            <td style="max-width: 70px;min-width: 70px" class="text-white" hidden>Min. Boxes</td>
                                                            <td style="display:none" class="text-white">Flexible</td>
                                                            <td style="min-width:65px; max-width:65px;" class="text-white">Net Kilos</td>
                                                            <td style="min-width:65px; max-width:65px;" class="text-white">Price USD</td>
                                                            <td class="text-white" style="display:none">Type Box Id</td>
                                                            <td class="text-white" style="display:none">Incoterm Id</td>
                                                            <td style="min-width:60px; max-width:60px;" class="text-white">Incoterm</td>
                                                            <td class="text-white" style="display:none">Price Condition Id</td>
                                                            <td style="min-width:70px; max-width:70px;" class="text-white">Sale Term</td>
                                                            <td style="min-width:150px; max-width:150px;" class="text-white">Payment Term</td>
                                                            <td style="min-width:170px; max-width:170px;" class="text-white">Final Customer</td>
                                                            <td style="min-width:50px; max-width:50px;" class="text-white">Pallets</td>
                                                            <td style="min-width:70px; max-width:70px;" class="text-white">Total USD</td>
                                                            <td class="text-white" style="display:none">Final Customer Id</td>
                                                            <td class="text-white" style="display:none">Payment Term Id</td>
                                                            <td class="text-white" style="display:none">CodePack2</td>
                                                            <td class="text-white" style="display:none">Work Order</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="13" class="table-footer-agrocom">Total</td>
                                                            <td class="totalPallets" style="text-align:right;font-size:14px">0</td>
                                                            <td class="totalPrice" style="text-align:right;font-size:14px">0</td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class=”break”></span>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="card-body mb-2" style="background-color: #9BBFC4">
                                            <details>
                                                <summary style="font-size: 13px!important;color:black">Details</summary>
                                                <hr />
                                                <div class="form-group row">
                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="selectCategory">Brand</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="selectCategory" class="form-control form-control-sm obligatoryRowM selectpicker" data-live-search="true">
                                                        </select>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="selectVariety">Variety</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="selectVariety" class="form-control form-control-sm obligatoryRowM selectpicker" multiple data-live-search="true">
                                                        </select>
                                                    </div>
                                                    <div class=" col-md-1">
                                                        <label class="label-modal-agrocom" for="selectCodepack">Format</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="selectCodepack" class="form-control form-control-sm obligatoryRowM selectpicker">
                                                        </select>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="selectPresentation">Codepack</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="selectPresentation" class="form-control form-control-sm obligatoryRowM selectpicker" data-live-search="true">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-1">
                                                        <label class="label-modal-agrocom" for="selectPackage">Type Box</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="selectPackage" class="form-control form-control-sm obligatoryRowM selectpicker" data-live-search="true">
                                                        </select>
                                                    </div>
                                                    <div class="col-1">
                                                        <label class="label-modal-agrocom" for="selectSize">Size</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="selectSize" class="form-control form-control-sm obligatoryRowM selectpicker" multiple data-live-search="true">
                                                        </select>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="txtBoxPallet">Box x Pallet</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input id="txtBoxPallet" disabled="disabled" type="number" class="form-control form-control-sm obligatoryRow " />
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="txtBoxContainer">Box x Container</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input id="txtBoxContainer" type="number" disabled="disabled" class="form-control form-control-sm obligatoryRow" />
                                                    </div>                                                    
                                                    <div class="col-md-1" hidden>
                                                        <label class="label-modal-agrocom" for="txtBoxes">Min. Boxes</label>
                                                    </div>
                                                    <div class="col-md-2" hidden>
                                                        <input type="checkbox" class="form-check-input" style="width:20px;height:20px;" id="chkFlexible">
                                                        <input id="txtMinBoxes" min="0" type="number" style="text-align:right" class="form-control form-control-sm obligatoryRow " />
                                                    </div>                                                    
                                                    <div class="col-md-1" hidden>
                                                        <label class="label-modal-agrocom" for="txtCodePack">codePack</label>
                                                    </div>
                                                    <div class="col-md-2" hidden>
                                                        <input id="txtCodePack" min="0" style="text-align:right" class="form-control form-control-sm obligatoryRow " />
                                                    </div>
                                                </div>
                                                <div class="form-group row">                                                    
                                                    <div class="col-md-1">
                                                        <label for="selectFinalCustomer" class="label-modal-agrocom" id="labelFinalCustomer">Final Customer</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="selectFinalCustomer" class="form-control form-control-sm  obligatoryRow">
                                                        </select>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label for="selectIncoterm" class="label-modal-agrocom">Incoterm</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="selectIncoterm" class="form-control form-control-sm obligatoryRow">
                                                        </select>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label for="selectPriceContition" class="label-modal-agrocom">Price Condition</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select id="selectPriceContition" class="form-control form-control-sm obligatoryRow">
                                                        </select>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="txtPaymentTerm">Payment Term</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input id="txtPaymentTerm" type="text" class="form-control form-control-sm obligatoryRow" style="display:none" />
                                                        <select id="selectPayment" class="form-control form-control-sm obligatoryRowM" data-live-search="true">
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-1" style="display:none">
                                                        <label for="txtSaleDetailID" class="label-modal-agrocom">SaleDetailID</label>
                                                        <input id="txtSaleDetailID" disabled="disabled" type="number" class="form-control form-control-sm " />
                                                    </div>
                                                    <div class="form-group col-md-1" style="display:none">
                                                        <label for="txtRow" class="label-modal-agrocom"><strong>row </strong></label>
                                                        <input id="txtRow" disabled="disabled" type="number" class="form-control form-control-sm " />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="txtBoxes">Boxes</label>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <input id="txtBoxes" min="0" style="text-align:right" type="number" class="form-control form-control-sm obligatoryRow " />
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="txtPrice">Price USD / Box</label>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <input id="txtPrice" type="number" min="0" class="form-control form-control-sm obligatoryRow" />
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label class="label-modal-agrocom" for="txtNet">Net Kilos</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input id="txtNet" type="number" style="text-align:right" disabled="disabled" class="form-control form-control-sm obligatoryRow" />
                                                    </div>
                                                    <div class="form-group col-md-3" style="display:none">
                                                        <label for="txtTotalPrice" class="label-modal-agrocom"><strong>Total Price </strong></label>
                                                        <input id="txtTotalPrice" style="text-align:right" disabled="disabled" type="number" class="form-control form-control-sm obligatoryRow " />
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label for="txtPallets" class="label-modal-agrocom">Pallets</label>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <input id="txtPallets" disabled="disabled" type="number" class="form-control form-control-sm obligatoryRow " />
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label class="form-check-label label-agrocom" for="chkWorkOrder">Work Order</label>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <div class="onoffswitch">
                                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="chkWorkOrder" tabindex="0" checked>
                                                            <label class="onoffswitch-label" for="chkWorkOrder">
                                                                <span class="onoffswitch-inner"></span>
                                                                <span class="onoffswitch-switch"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <button id="btnEdit" type="button" class="btn  btn-sm  text-white display-none transact pull-right" style="background-color: #13213d; height: 30px;">Edit  <span class="icon text-white"><i class="fas fa-save fa-sm"></i></span></button>
                                                        <button id="btnAdd" type="button" class="btn  btn-sm text-white transact pull-right" style=" background-color: #13213d; height: 30px;">Add  <span class="icon text-white"><i class="fas fa-plus-circle fa-sm"></i></span></button>
                                                        <span id="spanObligatoryRow" class="badge badge-danger"></span>
                                                    </div>
                                                </div>
                                            </details>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xl-12" @*style="background-color: #fff"*@>
                                <div class="card-body mb-2" style="		background-color: #fff">
                                    <div style="text-align:center;">
                                        <h4><span>Suggested by Production</span></h4>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">

                                            <div class="col-md-1 col-sm-1 col-xs-1">
                                            </div>

                                            <div id="tblCatVar" class="table-responsive col-md-10 col-sm-10 col-xs-10">
                                                <table id="tblPOModified" class="table table-hover table-bordered table-striped ">
                                                    <thead class="thead-agrocom" style="background-color: #13213d">
                                                        <tr>
                                                            <td style="min-width:200px; max-width:200px;font-size: 13px;" class="text-white">  Variety	 </td>
                                                            <td style="min-width:100px; max-width:100px;font-size: 13px;" class="text-white">  Brand	 </td>
                                                            <td style="min-width:200px; max-width:200px;font-size: 13px;" class="text-white">  Codepack	 </td>
                                                            <td style="min-width:100px; max-width:100px;font-size: 13px;" class="text-white">  Sizes	 </td>
                                                            <td style="min-width:100px; max-width:100px;font-size: 13px;" class="text-white">  Boxes</td>
                                                            <td style="min-width:100px; max-width:100px;font-size: 13px;" class="text-white"> Pallets</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="col-md-1 col-sm-1 col-xs-1">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="FooterCab">
                                <div class="row showcomments" hidden>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="card-body mb-2" style="		background-color: #9BBFC4">
                                            <div class="form-row ">
                                                <div class="form-group-sm col-12">
                                                    <label for="txtComments" class="label-modal-agrocom">Comments</label>
                                                    <textarea id="txtComments" maxlength="900" class="form-control form-control-sm" rows="4" style="width:100%"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" hidden>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="card-body mb-2" style="		background-color: #bdd2fc !important">
                                            <div class="form-row">
                                                <div class="form-group-sm col-md-2 col-sm-12">
                                                    <label for="txtUserCreated" class="label-modal-agrocom">Created by</label>
                                                    <input id="txtUserCreated" class="form-control form-control-sm" type="text" disabled>
                                                </div>
                                                <div class="form-group-sm col-md-1 col-sm-12">
                                                    <label for="txtDateModify" class="label-modal-agrocom">Date Created</label>
                                                    <input id="txtDateCreated" class="form-control form-control-sm" type="text" disabled>
                                                </div>
                                                <div class="form-group-sm col-md-2 col-sm-12">
                                                    <label for="txtUserModify" class="label-modal-agrocom">Modify by</label>
                                                    <input id="txtUserModify" class="form-control form-control-sm" type="text" disabled>
                                                </div>
                                                <div class="form-group-sm col-md-2 col-sm-12">
                                                    <label for="txtDateModify" class="label-modal-agrocom">Modified Date</label>
                                                    <input id="txtDateModify" class="form-control form-control-sm" type="text" disabled>
                                                </div>
                                                <div class="form-group-sm col-md-2 col-sm-12">
                                                    <label for="txtStatus" class="label-modal-agrocom">Status</label>
                                                    <input id="txtStatus" class="form-control form-control-sm" type="text" disabled>
                                                </div>
                                                <div class="form-group-sm col-md-2 col-sm-12">
                                                    <label for="txtPO" class="label-modal-agrocom">PO</label>
                                                    <input id="txtPO" class="form-control form-control-sm" type="text" disabled>
                                                </div>
                                                <div class="form-group-sm col-md-1 col-sm-12" style="padding-top:28px!important; padding-left:0px!important">

                                                    <a href="#" class="btn btn-info btn-sm btn-icon-split transact pull-left" id="btnView" onclick="CargarPackingList(this)">
                                                        <span class="icon text-white-50">
                                                            <i class="fas fa-eye fa-sm"></i>
                                                        </span>
                                                        <span class="text">View</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" hidden>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="card-body mb-2" style="background-color: #EFD0CA">
                                            <div class="form-row">
                                                <div class="form-group-sm col-8">
                                                    <label for="RejectionComments" class="label-modal-agrocom">Rejection Comments</label>
                                                    <textarea class="form-control form-control-sm" style="font-size: 13px!important;color:black" id="RejectionComments" rows="2" readonly></textarea>
                                                </div>
                                                <div class="form-group-sm col-2">
                                                    <label for="txtUserRejection" class="label-modal-agrocom">User Rejection</label>
                                                    <input id="txtUserRejection" style="font-size: 13px!important;color:black" class="form-control form-control-sm" type="text" disabled>
                                                </div>
                                                <div class="form-group-sm col-2">
                                                    <label for="txtDateRejection" class="label-modal-agrocom">Date Rejection</label>
                                                    <input id="txtDateRejection" style="font-size: 13px!important;color:black" class="form-control form-control-sm" type="text" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" hidden>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="card-body mb-2" style="		background-color: #9BBFC4">

                                            <details id="Detalle">
                                                <summary style="font-size: 12px!important;color:black!important">Details</summary>
                                                <br />

                                                <div class="card shadow ">
                                                    <div class="card-header">
                                                        <div class="form-row">

                                                            <div class="form-group col-md-1">
                                                                <label for="txtPackingList" class="label-modal-agrocom">PackingList</label>
                                                            </div>
                                                            <div class="form-group col-md-2">
                                                                <input id="txtPackingList" style="font-size: 13px!important;color:black" class="form-control form-control-sm" disabled />
                                                            </div>
                                                            <div class="form-group col-md-1">
                                                                <label for="txtETD" class="label-modal-agrocom">ETD:</label>
                                                            </div>
                                                            <div class="form-group col-md-2">
                                                                <input id="txtETD" style="font-size: 13px!important;color:black" class="form-control form-control-sm" disabled />
                                                            </div>
                                                            <div class="form-group col-md-1">
                                                                <label for="txtETA" class="label-modal-agrocom">ETA:</label>
                                                            </div>
                                                            <div class="form-group col-md-2">
                                                                <input id="txtETA" style="font-size: 13px!important;color:black" class="form-control form-control-sm" disabled />
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="card-body">

                                                        <div class="form-row">
                                                            <div id="tblDetailPacking" class="table-responsive">
                                                                <table id="tblDetailPacking" class="table table-hover table-bordered table-striped " style="width:100%">
                                                                    <thead class="thead-agrocom">
                                                                        <tr>
                                                                            <td class="text-white">Brand</td>                                  @*--03--*@
                                                                            <td class="text-white">Codepack</td>                               @*--08--*@
                                                                            <td class="text-white">Boxes</td>
                                                                            <td class="text-white">Pallets</td>                                @*--19--*@
                                                                            <td class="text-white">Net Weight</td>                            @*--20--*@
                                                                            <td class="text-white">out_specs</td>                            @*--21--*@
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    </tbody>
                                                                    <tfoot>
                                                                        <tr>
                                                                            <td colspan="2" class="table-footer-agrocom">Total</td>
                                                                            <td class="totalBoxes" style="text-align:right;font-size:12px">0</td>
                                                                            <td class="totalPallets" style="text-align:right;font-size:12px">0</td>
                                                                            <td class="totalNetWeight" style="text-align:right;font-size:12px">0</td>
                                                                            <td></td>
                                                                        </tr>
                                                                    </tfoot>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </details>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="divAlert">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">                
                
                    <a href="#" class="btn btn-success btn-sm btn-icon-split pull-right" data-toggle="modal" data-target="#exampleModal" id="btnRejectPOModified">
                        <span class="icon text-white-50">
                            <i class="fas fa-times fa-sm"></i>
                        </span>
                        <span class="text">Reject SO Modified</span>
                    </a>

                    <a href="#" class="btn btn-success btn-sm btn-icon-split transact pull-right display-none " id="btnSavePOModified" onclick="javascipt:return false;">
                        <span class="icon text-white-50">
                            <i class="fas fa-check-circle fa-sm"></i>
                        </span>
                        <span class="text">Save SO Modified</span>
                    </a>

                    <a href="#" class="btn btn-success btn-sm btn-icon-split transact pull-right" id="btnSavePO" onclick="javascipt:return false;">
                        <span class="icon text-white-50">
                            <i class="fas fa-check-circle fa-sm"></i>
                        </span>
                        <span class="text">Save SO</span>
                    </a>
                    @*<a href="#" class="btn btn-danger btn-sm btn-icon-split transact pull-right" id="btnReject" onclick="javascipt:return false;">
                            <span class="icon text-white-50">
                                <i class="fas fa-times fa-sm"></i>
                            </span>
                            <span class="text" id="txtcancel"></span>
                    </a>*@
                    <span id="spanObligatory" class="badge badge-danger"></span>                
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color:#21252980">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-head-agrocom">
                <label class="modal-titulo" id="exampleModalLabel">SO Modify Rejected</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="commentary" class="label-modal-agrocom">Add Commentary:</label>
                <div class=" col-sm-12 col-md-12">
                    <textarea id="commentary" class="form-control form-control-sm" rows="1" maxlength="150" required></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success btn-sm" id="btnSaveReject">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div id="myModalShipping" class="modal fade bd-example-modal-xl " tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document" style="max-width:100%;">

        <!-- Modal content-->
        <div class="modal-content" >
            <form id="frmWow">
                <div class="modal-header modal-head-agrocom" >
                    <label class="modal-titulo text-white">Shipping Instruction Information </label>
                    <label class="modal-titulo text-white" id="lblWowID" style="display:none"> 0</label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  <div class="card">
										<div class="card-header card-header-modal-agrocom">
											<div class="form-row form-sm">
												<div class="form-group col-md-3">
													<label for="selectCustomerS" style=" color: #2A3F54!important"><strong>Customer</strong></label>
													<select id="selectCustomerS" name="selectCustomerS" class="form-control form-control-sm selectpicker" data-live-search="true" required disabled>
													</select>
												</div>
												<div class="form-group col-md-3">
													<label for="selectMarketS" style=" color: #2A3F54!important"><strong>Market</strong></label>
													<select id="selectMarketS" class="form-control form-control-sm selectpicker" data-live-search="true" required disabled>
													</select>
												</div>
												<div class="form-group col-md-3">
													<label for="selectDestinationS" style=" color: #2A3F54!important"><strong>Destination</strong></label>
													<select id="selectDestinationS" class="form-control form-control-sm selectpicker" data-live-search="true" required disabled>
													</select>
												</div>
												<div class="form-group col-md-3">
													<label for="selectCertificationS" style=" color: #2A3F54!important"><strong>Certification</strong></label>
													<select id="selectCertificationS" class="form-control form-control-sm selectpicker" multiple data-live-search="true" disabled>
													</select>
												</div>
											</div>
											<div class="form-group col-md-3 " style="display:none">
												<label for="selectConsigneeS" style=" color: #2A3F54!important">Consignee</label>
												<select id="selectConsigneeS" name="selectConsignee" class="form-control form-control-sm selectpicker" data-live-search="true" disabled>
													<option>Dalian</option>
												</select>
											</div>
										</div>
										<div class="card-body card-body-modal-agrocom">
											<div class="container-fluid border border-info p-4" style="		background-color: #F4F4F4">

												@*style="BORDER-STYLE: solid;padding-left:inherit;padding-right:inherit"*@
												<label style=" color: #2A3F54!important"><strong>Documents:</strong></label>
												<div class="container-fluid border border-dark  px-2 p-4" style="background-color: #C5CCD1">
													<div class="form-row">
														<div class="col-md-3 col-sm-12">
															<div class="custom-control custom-checkbox mr-sm-2">
																<input type="checkbox" class="custom-control-input" id="chkDirectInvoiceS" disabled>
																<label class="custom-control-label" for="chkDirectInvoiceS" style="color:black"><strong>Original Commercial Invoice send directly to:</strong> </label>
															</div>
														</div>
														<div class="col-md-2 col-sm-12">
															<label style="color: #2A3F54!important"> OZ BLU MARKETING LLC.</label>
														</div>
														<div class="col-1">

														</div>
														<div class="col-md-2 col-sm-12">
															<label style="color: #2A3F54!important"><strong>Additional information </strong></label>
														</div>

														<div class="col-md-4 col-sm-12">
															<textarea class="form-control" id="txtDirectInvoiceMoreInfoS" rows="2" disabled></textarea>
														</div>
													</div>
												</div>
												<div class="container-fluid border border-dark p-4" style="background-color: #BDCEEF">
													<div class="form-row">

														<div class="col-md-1 col-sm-12">
															<label for="selectMarketS" style="color: #2A3F54!important"><strong>BL/AWB</strong></label>
														</div>
														<div class="col-2">

														</div>
														<div class="col-md-1 col-sm-12">
															<label for="selectDocumentsSeaS" style="color: #2A3F54!important"><strong>SEA</strong></label>
															<select id="selectDocumentsSeaS" class="form-control form-control-sm selectpicker" disabled>
																<option>A</option>
																<option>B</option>
															</select>
														</div>


														<div class="col-md-1 col-sm-12">
															<label for="selectDocumentsSeaS" style="color: #2A3F54!important"><strong>AIR</strong></label>
															<select id="selectDocumentsAirS" class="form-control form-control-sm selectpicker" disabled>
																<option>A</option>
															</select>
														</div>
														<div class="col-1">

														</div>
														<div class="col-md-2 col-sm-12">
															<label style="color: #2A3F54!important"><strong>Additional information</strong></label>
														</div>
														<div class="col-md-4 col-sm-12">
															<textarea class="form-control" id="txtDocumentsInfoS" rows="2" disabled></textarea>
														</div>
													</div>
												</div>
												<div class="container-fluid border border-dark p-4" style="background-color: #C5CCD1">
													<div class="form-row">
														<div class="col-md-2 col-sm-12">
															<div class="custom-control custom-checkbox mr-sm-2">
																<input type="checkbox" class="custom-control-input" id="chkPackingListS" disabled>
																<label class="custom-control-label" for="chkPackingListS" style="color:black"><strong>Packing List</strong></label>
															</div>
														</div>
														<div class="col-1">

														</div>
														<div class="col-md-2 col-sm-12">

															<select class="form-control form-control-sm selectpicker" data-live-search="true" id="selectPackingListS" disabled>
																<option selected>Choose...</option>
																<option value="1">One</option>
																<option value="2">Two</option>
																<option value="3">Three</option>
															</select>
														</div>
														<div class="col-1">

														</div>
														<div class="col-md-2 col-sm-12">
															<label style="color: #2A3F54!important"><strong>Additional information </strong></label>
														</div>

														<div class="col-md-4 col-sm-12">
															<textarea class="form-control" id="txtPLMoreInfoS" rows="2" disabled></textarea>
														</div>

													</div>
												</div>
												<div class="container-fluid border border-dark p-4" style=" background-color: #BDCEEF">
													<div class="form-row">
														<div class="col-auto my-1">
															<div class="custom-control custom-checkbox mr-sm-2">
																<input type="checkbox" class="custom-control-input" id="chkInsuranceCertificateS" disabled>
																<label class="custom-control-label" for="chkInsuranceCertificateS" style="color:black"><strong>Insurance Certificate</strong></label>
															</div>
														</div>
													</div>
												</div>
												<div class="container-fluid border border-dark p-4" style="background-color: #C5CCD1">
													<div class="form-row">
														<div class="col-1">
															<div class="custom-control custom-checkbox mr-sm-2">
																<input type="checkbox" class="custom-control-input" id="chkPhytosanitaryS" disabled>
																<label class="custom-control-label" for="chkPhytosanitaryS" style="color:black"><strong>Phytosanitary</strong></label>
															</div>
														</div>
														<div class="col-5">

														</div>
														<div class="col-md-2 col-sm-12">
															<label style="color: #2A3F54!important"><strong>Additional information</strong></label>
														</div>
														<div class="col-md-4 col-sm-12">
															<textarea class="form-control" id="txtPhytosanitaryInfoS" rows="2" disabled></textarea>
														</div>

													</div>
												</div>
												<div class="container-fluid border border-dark p-4" style=" background-color: #BDCEEF">
													<div class="form-row">
														<div class="col-md-2 col-sm-12">
															<div class="custom-control custom-checkbox mr-sm-2">
																<input type="checkbox" class="custom-control-input" id="chkCertificateOriginS" disabled>
																<label class="custom-control-label" for="chkCertificateOriginS" style="color:black"><strong>Certificate of Origin - Original</strong></label>
															</div>
														</div>
														<div class="col-md-4">

														</div>
														<div class="col-md-2 col-sm-12">
															<label style="color: #2A3F54!important"><strong>Additional information</strong></label>
														</div>

														<div class="col-md-4 col-sm-12">
															<textarea class="form-control" id="txtCertificateOriginInfoS" rows="2" disabled></textarea>
														</div>
													</div>
												</div>

												<div class="container-fluid border border-dark p-4" style="background-color: #C5CCD1">
													<div class="form-row">
														<div class="form-group col-md-2 col-sm-12">
															<label style="color: #2A3F54!important"><strong>More Documents</strong></label>
														</div>

														<div class="form-group col-md-12 col-sm-12">
															<div class="form-group">
																<textarea class="form-control" id="txtMoreDocumentsS" rows="3" disabled></textarea>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="container-fluid border border-info p-4" style="background-color: #F4F4F4">
												<div class="form-row">
													<div class="form-group col-md-2 col-sm-12">
														<label style="color: #2A3F54!important"><strong>Consignee Details</strong></label>
													</div>
													<div class="form-group col-md-3 col-sm-12">
														<select id="selectConsignee2" class="form-control form-control-sm selectpicker" data-live-search="true" required disabled>
															<option>A</option>
															<option>B</option>
														</select>
													</div>
													<div class="form-group col-md-1"></div>
													<div class="form-group col-md-6 col-sm-12">
														<div class="form-group row">
															<label for="txtConsigneeAddres" class="col-sm-3 col-form-label col-form-label-sm" style="color: #2A3F54!important"><span class="icon text-primary"><i class="fas fa-address-book"></i></span> Address</label>
															<div class="col-sm-9">
																<input type="text" class="form-control form-control-sm" id="txtConsigneeAddress" disabled>
															</div>
														</div>
														<div class="form-group row">
															<label for="txtConsigneeContact" class="col-sm-3 col-form-label col-form-label-sm" style="color: #2A3F54!important"><span class="icon text-primary"><i class="fas fa-user"></i></span> Contact</label>
															<div class="col-sm-9">
																<input type="text" class="form-control form-control-sm" id="txtConsigneeContact" disabled>
															</div>
														</div>
														<div class="form-group row">
															<label for="txtConsigneePhone" class="col-sm-3 col-form-label col-form-label-sm" style="color: #2A3F54!important"><span class="icon text-primary"><i class="fas fa-phone"></i></span> Phone</label>
															<div class="col-sm-9">
																<input type="text" class="form-control form-control-sm" id="txtConsigneePhone" disabled>
															</div>
														</div>
														<div class="form-group row">
															<label for="txtConsigneeOther" class="col-sm-3 col-form-label col-form-label-sm" style="color: #2A3F54!important"><span class="icon text-primary"><i class="fas fa-plus"></i></span> Other</label>
															<div class="col-sm-9">
																<textarea class="form-control" id="txtConsigneeOther" rows="3" disabled></textarea>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="container-fluid border border-info p-4" style="background-color: #F4F4F4">
												<div class="form-row">
													<div class="form-group col-md-2">
														<label style="color: #2A3F54!important"><strong>Notify Details</strong></label>
													</div>
													<div class="form-group col-md-3">
														<select id="selectNotify1" class="form-control form-control-sm selectpicker" data-live-search="true" required disabled>
															<option>A</option>
															<option>B</option>
														</select>
													</div>
													<div class="form-group col-md-1"></div>
													<div class="form-group col-md-6">
														<div class="form-group row">
															<label for="txtNotify1Address" class="col-sm-3 col-form-label col-form-label-sm" style="color: #2A3F54!important"><span class="icon text-primary"><i class="fas fa-address-book"></i></span> Address</label>
															<div class="col-sm-9">
																<input type="text" class="form-control form-control-sm" id="txtNotify1Address" disabled>
															</div>
														</div>
														<div class="form-group row">
															<label for="txtNotify1Contact" class="col-sm-3 col-form-label col-form-label-sm" style="color: #2A3F54!important"><span class="icon text-primary"><i class="fas fa-user"></i></span> Contact</label>
															<div class="col-sm-9">
																<input type="text" class="form-control form-control-sm" id="txtNotify1Contact" disabled>
															</div>
														</div>
														<div class="form-group row">
															<label for="txtNotify1Phone" class="col-sm-3 col-form-label col-form-label-sm" style="color: #2A3F54!important"><span class="icon text-primary"><i class="fas fa-phone"></i></span> Phone</label>
															<div class="col-sm-9">
																<input type="text" class="form-control form-control-sm" id="txtNotify1Phone" disabled>
															</div>
														</div>
														<div class="form-group row">
															<label for="txtNotify1Other" class="col-sm-3 col-form-label col-form-label-sm" style="color: #2A3F54!important"><span class="icon text-primary"><i class="fas fa-plus"></i></span> Other</label>
															<div class="col-sm-9">
																<textarea class="form-control" id="txtNotify1Other" rows="3" disabled></textarea>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="container-fluid border border-info p-4" style="background-color: #F4F4F4">
												<div class="form-row">
													<div class="form-group col-md-2">
														<label style="color: #2A3F54!important"><strong> ALSO - Notify Party all ports of final destination</strong></label>
													</div>
													<div class="form-group col-md-3">
														<select id="selectNotify2" class="form-control form-control-sm selectpicker" data-live-search="true" disabled>
															<option>A</option>
															<option>B</option>
														</select>
													</div>
													<div class="form-group col-md-1"></div>
													<div class="form-group col-md-6">
														<div class="form-group row">
															<label for="txtNotify2Address" class="col-sm-3 col-form-label col-form-label-sm" style="color: #2A3F54!important"><span class="icon text-primary"><i class="fas fa-address-book"></i></span> Address</label>
															<div class="col-sm-9">
																<input type="text" class="form-control form-control-sm" id="txtNotify2Address" disabled>
															</div>
														</div>
														<div class="form-group row">
															<label for="txtNotify2Contact" class="col-sm-3 col-form-label col-form-label-sm" style="color: #2A3F54!important"><span class="icon text-primary"><i class="fas fa-user"></i></span> Contact</label>
															<div class="col-sm-9">
																<input type="text" class="form-control form-control-sm" id="txtNotify2Contact" disabled>
															</div>
														</div>
														<div class="form-group row">
															<label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm" style="color: #2A3F54!important"><span class="icon text-primary"><i class="fas fa-phone"></i></span> Phone</label>
															<div class="col-sm-9">
																<input type="text" class="form-control form-control-sm" id="txtNotify2Phone" disabled>
															</div>
														</div>
														<div class="form-group row">
															<label for="txtNotify2Other" class="col-sm-3 col-form-label col-form-label-sm" style="color: #2A3F54!important"><span class="icon text-primary"><i class="fas fa-plus"></i></span> Other</label>
															<div class="col-sm-9">
																<textarea class="form-control" id="txtNotify2Other" rows="3" disabled></textarea>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="container-fluid border border-info p-4" style="background-color: #F4F4F4">
												<div class="form-row">
													<div class="form-group col-md-2">
														<label style="color: #2A3F54!important"><strong>Docs copy email to:</strong></label>
													</div>
													<div class="form-group col-md-12">
														<textarea class="form-control" id="txtDocsCopyEmailInfo" rows="3" disabled></textarea>
													</div>
												</div>
											</div>
											<div class="container-fluid border border-info p-4" style="background-color: #F4F4F4">
												<div class="form-row">
													<div class="form-group col-md-2">
														<label style="color: #2A3F54!important"><strong>  Sending documents in original to destination :</strong></label>
													</div>
													<div class="form-group col-md-3">
														<select id="selectNotify3" class="form-control form-control-sm selectpicker" data-live-search="true" disabled>
															<option>A</option>
															<option>B</option>
														</select>
													</div>
													<div class="form-group col-md-1"></div>
													<div class="form-group col-md-6">
														<div class="form-group row">
															<label for="txtNotify3Address" class="col-sm-3 col-form-label col-form-label-sm" style="color: #2A3F54!important"><span class="icon text-primary"><i class="fas fa-address-book"></i></span> Address</label>
															<div class="col-sm-9">
																<input type="text" class="form-control form-control-sm" id="txtNotify3Address" disabled>
															</div>
														</div>
														<div class="form-group row">
															<label for="txt Notify3Contact" class="col-sm-3 col-form-label col-form-label-sm" style="color: #2A3F54!important"><span class="icon text-primary"><i class="fas fa-user"></i></span> Contact</label>
															<div class="col-sm-9">
																<input type="text" class="form-control form-control-sm" id="txtNotify3Contact" disabled>
															</div>
														</div>
														<div class="form-group row">
															<label for="txtNotify3Phone" class="col-sm-3 col-form-label col-form-label-sm" style="color: #2A3F54!important"><span class="icon text-primary"><i class="fas fa-phone"></i></span> Phone</label>
															<div class="col-sm-9">
																<input type="text" class="form-control form-control-sm" id="txtNotify3Phone" disabled>
															</div>
														</div>
														<div class="form-group row">
															<label for="txtNotify3Other" class="col-sm-3 col-form-label col-form-label-sm" style="color: #2A3F54!important"><span class="icon text-primary"><i class="fas fa-plus"></i></span> Other</label>
															<div class="col-sm-9">
																<textarea class="form-control" id="txtNotify3Other" rows="3" disabled></textarea>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="container-fluid border border-info p-4" style="background-color: #F4F4F4">
												<div class="form-row">
													<div class="form-group col-md-2">
														<label style="color: #2A3F54!important"><strong>Noted</strong></label>
													</div>
													<div class="form-group col-md-12">
														<textarea class="form-control" id="txtNoted" rows="3" disabled></textarea>
													</div>
												</div>
											</div>
										</div>
                  </div> 
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/Services/Sale/SaleService.js"></script>
<script src="~/Scripts/View/Sales/Sales.js"></script>
