﻿@{
	ViewBag.Title = "SalesQuotation";
	//Layout = "~/Views/Shared/Master.cshtml";
}


<div class="container-fluid">
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-black">SalesQuotation</h1>
	</div>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="card  mb-4">
				<div class="card-header pt-1 card-header-title-filter">
					<div class="form-group row">
						<div class="col-xl-2 col-lg-3 col-md-3 col-sm-7">
							<label><strong>Filters Bar</strong></label>
						</div>
						<div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">							
						</div>
					</div>
				</div>
				<div class="card-body" style="background-color:#D0DAF1">

					<div class="col-xl-10 col-md-10 ">
					</div>

					<div class="col-xl-2 col-md-2 ">
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
							<i class="fa fa-lus fa-sm"></i>
							Add New Register
						</button>			
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div id="myModal" class="modal  " tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" style="background-color:#0b0b2057">
	
	<div class="modal-content">

		<div class="modal-header" style="background-color : #13213d">
			<label><font color="white">SaleQuotation Information</font></label>			
			<button type="button" class="close text-white" data-dismiss="modal">&times;</button>
		</div>


		<div class="modal-body" style="background-color: #f2f2f2">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					
			
									<div class="card-body" style="background-color:#e7ebf536">
										<div class="col-md-12 col-sm-12 col-xs-12">

											<div class="card-body mb-2" style="background-color: #DCE8FF; padding-top:15px!important; padding-bottom:1px!important">

												<div class="form-row">

													<div class="form-group col-md-1">
														<label style="font-size: 14px!important" for="txtSaleRequest">Market:</label>
													</div>
													<div class="form-group col-md-3">

														<div class="dropdown bootstrap-select form-control form-control-sm obligatory">
															<select id="selectMarket" class="form-control selectpicker form-control-sm obligatory" data-live-search="true" tabindex="-98">
																<option value="">--Choose--</option>
															</select>
														</div>
													</div>

													<div class="form-group col-md-1">
														<label style="font-size: 14px!important" for="txtSaleRequest">Customer:</label>
													</div>
													<div class="form-group col-md-3">

														<div class="dropdown bootstrap-select form-control form-control-sm obligatory">
															<select id="selectCustomer" class="form-control selectpicker form-control-sm obligatory" data-live-search="true" tabindex="-98">
																<option value="">--Choose--</option>
															</select>
														</div>
													</div>

													<div class="form-group col-md-1">
														<label style="font-size: 14px!important" for="txtSaleRequest">Price Condition:</label>
													</div>
													<div class="form-group col-md-3">

														<div class="dropdown bootstrap-select form-control form-control-sm obligatory">
															<select id="selectPriceCondition" class="form-control selectpicker form-control-sm obligatory" data-live-search="true" tabindex="-98">
																<option value="">--Choose--</option>
															</select>
														</div>
													</div>


												</div>

												<div class="form-row">

													<div class="form-group col-md-1">
														<label style="font-size: 14px!important" for="txtSaleRequest">Destination:</label>
													</div>
													<div class="form-group col-md-3">

														<div class="dropdown bootstrap-select form-control form-control-sm obligatory">
															<select id="selectDestination" class="form-control selectpicker form-control-sm obligatory" data-live-search="true" tabindex="-98">
																<option value="">--Choose--</option>
															</select>
														</div>
													</div>

													<div class="form-group col-md-1">
														<label style="font-size: 14px!important" for="txtSaleRequest">Via:</label>
													</div>
													<div class="form-group col-md-3">

														<div class="dropdown bootstrap-select form-control form-control-sm obligatory">
															<select id="selectVia" class="form-control selectpicker form-control-sm obligatory" data-live-search="true" tabindex="-98">
																<option value="">--Choose--</option>
															</select>
														</div>
													</div>

													<div class="form-group col-md-1">
														<label style="font-size: 14px!important" for="txtSaleRequest">Incoterm:</label>
													</div>
													<div class="form-group col-md-3">

														<div class="dropdown bootstrap-select form-control form-control-sm obligatory">
															<select id="selectIncoterm" class="form-control selectpicker form-control-sm obligatory" data-live-search="true" tabindex="-98">
																<option value="">--Choose--</option>
															</select>
														</div>
													</div>


												</div>

											</div>



											<div class="row">
												<div class="col-md-12 col-sm-12 col-xs-12">
													<div class="card-body mb-2" style="background-color: #97a7c694">
														<details>
															<summary>Details</summary>
															<hr />
															<div class="form-group row">

																<div class=" col-md-1">
																	<label style="font-size: 14px!important" for="selectCodepack">Format</label>
																</div>
																<div class="col-md-2">
																	<select id="selectCodepack" class="form-control form-control-sm obligatoryRowM selectpicker">
																	</select>
																</div>

																<div class="col-md-1">
																	<label style="font-size: 14px!important" for="selectPresentation">Codepack</label>
																</div>
																<div class="col-md-2">
																	<select id="selectPresentation" class="form-control form-control-sm obligatoryRowM selectpicker" data-live-search="true">
																	</select>
																</div>

																<div class="col-md-1">
																	<label style="font-size: 14px!important" for="selectCategory">Brand</label>
																</div>
																<div class="col-md-2">
																	<select id="selectCategory" class="form-control form-control-sm obligatoryRowM selectpicker" data-live-search="true">
																	</select>
																</div>
																<div class="col-1">
																	<label style="font-size: 14px!important" for="selectSize">Size</label>
																</div>
																<div class="col-md-2">
																	<select id="selectSize" class="form-control form-control-sm obligatoryRowM selectpicker" multiple data-live-search="true">
																	</select>
																</div>


															</div>
															<div class="form-group row">
																<div class="col-md-1">
																	<label style="font-size: 14px!important" for="txtBoxPallet">Box x Pallet</label>
																</div>
																<div class="col-md-2">
																	<input id="txtBoxPallet" disabled="disabled" type="number" class="form-control form-control-sm obligatoryRow " />
																</div>
																<div class="col-md-1">
																	<label style="font-size: 14px!important" for="txtBoxes">Boxes</label>
																</div>
																<div class="col-md-2">
																	<input id="txtBoxes" min="0" style="text-align:right" type="number" class="form-control form-control-sm obligatoryRow " />
																</div>
																<div class="col-md-1">
																	<label style="font-size: 14px!important" for="txtNet">Net Kilos</label>
																</div>
																<div class="col-md-2">
																	<input id="txtNet" type="number" style="text-align:right" disabled="disabled" class="form-control form-control-sm obligatoryRow" />
																</div>

																<div class="col-md-1">
																	<label for="txtPallets" style="font-size: 14px!important">Pallets</label>
																</div>
																<div class="col-md-2">
																	<input id="txtPallets" disabled="disabled" type="number" class="form-control form-control-sm obligatoryRow " />
																</div>
															</div>


															<div class="form-group row">
																<div class="col-md-12">
																	<div class="col-md-2"></div>

																	<div class="col-md-5">
																		<div class="form-group row">
																			<label><strong>IMPORTER - Sales Price USD per Kg</strong></label>
																		</div>
																		<div class="form-group row">
																			<div class="card shadow mb-4">
																				<div id="tblGastos">
																					<table id="tblGastos" class="table table-hover table-bordered table-sm" style="width:100%">
																						<thead bgcolor='#1c0b2a' class="text-white" style="font-size: 13px">

																							<tr style="font-size: 13px">
																								<td>Cost Distribution</td>
																								<td></td>
																								<td id="DescriptionImporter">Description</td>
																								<td>Dolar ($)</td>
																							</tr>
																						</thead>
																						<tbody>
																							<tr style="font-size: 13px">

																								<td>Other Charges</td>
																								<td></td>
																								<td>12.229,00</td>
																								<td></td>

																							</tr>
																							<tr style="font-size: 13px">
																								<td>Import Service fee</td>
																								<td></td>
																								<td>12.229,00</td>
																								<td></td>

																							</tr>
																							<tr style="font-size: 13px">
																								<td>Market entry fee</td>
																								<td></td>
																								<td>12.229,00</td>
																								<td></td>
																							</tr>
																							<tr style="font-size: 13px">
																								<td>Reciever's Comission	</td>
																								<td></td>
																								<td>12.229,00</td>
																								<td></td>
																							</tr>
																							<tr style="font-size: 13px">
																								<td>Import VAT</td>
																								<td></td>
																								<td>12.229,00</td>
																								<td></td>
																							</tr>
																							<tr style="font-size: 13px">
																								<td>Cold Storage</td>
																								<td></td>
																								<td>12.229,00</td>
																								<td></td>
																							</tr>
																							<tr style="font-size: 13px">
																								<td>Terminal Handling Charges</td>
																								<td></td>
																								<td>12.229,00</td>
																								<td></td>
																							</tr>
																							<tr style="font-size: 13px">
																								<td>Transport Fee / to Client DC</td>
																								<td></td>
																								<td>12.229,00</td>
																								<td></td>
																							</tr>
																							<tr style="font-size: 13px">
																								<td>Manufacture</td>
																								<td></td>
																								<td>12.229,00</td>
																								<td></td>
																							</tr>
																							<tr style="font-size: 13px">
																								<td>Repackaging costs</td>
																								<td></td>
																								<td>12.229,00</td>
																								<td></td>
																							</tr>

																							<tr style="font-size: 13px">
																								<td colspan="2" bgcolor='#2E2E65' class="text-white">Total	</td>
																								<td bgcolor='#ECECF9'>2,532.229</td>
																								<td bgcolor='#ECECF9'>0</td>
																							</tr>

																						</tbody>
																					</table>

																				</div>

																			</div>
																		</div>
																	</div>

																	<div class="col-md-5">
																		<div class="form-group row">
																			<label><strong>Total Import Cost USD</strong></label>
																		</div>
																		<div class="form-group row">
																			<div class="card shadow mb-4">
																				<div id="tblGastos2">
																					<table id="tblGastos2" class="table table-hover table-bordered table-sm" style="width:100%">
																						<thead bgcolor='#1c0b2a' class="text-white" style="font-size: 13px">

																							<tr style="font-size: 13px">
																								<td>OBM Sales </td>
																								<td></td>
																								<td id="DescriptionSale">Description</td>
																								<td>Dolar ($)</td>
																							</tr>
																						</thead>
																						<tbody>
																							<tr style="font-size: 13px">

																								<td>Export Freight (Net KG) Charges</td>
																								<td></td>
																								<td>$4.465,00</td>
																								<td></td>

																							</tr>
																							<tr style="font-size: 13px">
																								<td>Marketing Commission 10%</td>
																								<td></td>
																								<td>10%</td>
																								<td></td>

																							</tr>
																							<tr style="font-size: 13px">
																								<td>Promotion Fee 1%</td>
																								<td></td>
																								<td>1%</td>
																								<td></td>
																							</tr>
																							<tr style="font-size: 13px">
																								<td>Liability & Credit Insurance</td>
																								<td></td>
																								<td>0,05</td>
																								<td></td>
																							</tr>
																							<tr style="font-size: 13px">
																								<td>Cargo Insurance (to define with grower)</td>
																								<td></td>
																								<td>0,03</td>
																								<td></td>
																							</tr>
																							<tr style="font-size: 13px">
																								<td>QC at Origin </td>
																								<td></td>
																								<td>12.229,00</td>
																								<td></td>
																							</tr>
																							<tr style="font-size: 13px">
																								<td>QC at Destination</td>
																								<td></td>
																								<td>$350 </td>
																								<td></td>
																							</tr>
																							<tr style="font-size: 13px">
																								<td>Insurance FeeC</td>
																								<td></td>
																								<td>55,00</td>
																								<td></td>
																							</tr>
																							

																							<tr style="font-size: 13px">
																								<td colspan="2" bgcolor='#2E2E65' class="text-white">Total	</td>
																								<td bgcolor='#ECECF9'>2,532.229</td>
																								<td bgcolor='#ECECF9'>0</td>
																							</tr>

																						</tbody>
																					</table>

																				</div>

																			</div>
																		</div>
																	</div>



																	</div>
																</div>

																<div class="form-group row">
																	<div class="col-md-11"></div>
																	<div class="col-md-1">
																		<button id="btnEdit" type="button" class="btn  btn-sm  text-white display-none transact pull-right" style="background-color: #13213d; height: 30px;">Edit  <span class="icon text-white"><i class="fas fa-save fa-sm"></i></span></button>
																		<button id="btnAdd" type="button" class="btn  btn-sm text-white transact pull-right" style=" background-color: #13213d; height: 30px;">Add  <span class="icon text-white"><i class="fas fa-plus-circle fa-sm"></i></span></button>
																		<span id="spanObligatoryRow" class="badge badge-danger"></span>
																	</div>
																</div>
													
															</details>

													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-12 col-sm-12 col-xs-12">
													<div class="card-body mb-2" style="		background-color: #fff">
														<div id="tblCatVar" class="table-responsive">
															<table id="tblCatVar" class="table table-hover table-bordered table-striped ">
																<thead class="thead-agrocom" style="background-color: #13213d">
																	<tr>
																		<td class="text-white" style="max-width:200px; min-width:200px; font-size:12px!important" >&nbsp&nbsp&nbsp[]&nbsp&nbsp&nbsp </td>
																		<td class="text-white" style="max-width:200px; min-width:200px; font-size:12px!important; ">Id Fila</td>
																		<td class="text-white" style="max-width:200px; min-width:200px; font-size:12px!important" >Codepack Id</td>
																		<td class="text-white" style="max-width:200px; min-width:200px; font-size:12px!important" >Format</td>
																		<td class="text-white" style="max-width:200px; min-width:200px; font-size:12px!important" >Presentation Id</td>
																		<td class="text-white" style="max-width:200px; min-width:200px; font-size:12px!important" >Codepack</td>
																		<td class="text-white" style="max-width:200px; min-width:200px; font-size:12px!important" >Brand Id</td>
																		<td class="text-white" style="max-width:200px; min-width:200px; font-size:12px!important" >Brand</td>
																		<td class="text-white" style="max-width:200px; min-width:200px; font-size:12px!important" >Sizes</td>
																		<td class="text-white" style="max-width:200px; min-width:200px; font-size:12px!important" >Boxes x Pallet</td>
																		<td class="text-white" style="max-width:200px; min-width:200px; font-size:12px!important" >Boxes</td>
																		<td class="text-white" style="max-width:200px; min-width:200px; font-size:12px!important" >Net Kilos</td>																		
																		<td class="text-white" style="max-width:200px; min-width:200px; font-size:12px!important" >Incoterm Id</td>                        
																		<td class="text-white" style="max-width:200px; min-width:200px; font-size:12px!important" >Incoterm</td> 
																		<td class="text-white" style="max-width:200px; min-width:200px; font-size:12px!important" >Pallets</td>
																		
																		<td style="max-width:200px; min-width:200px; font-size:12px!important; " class="text-white">																		
																			<label for="selectFinalCustomer" style="font-size: 14px!important" id="labelFinalCustomer" class="text-white">Final Customer</label>
																			<select id="selectFinalCustomer" class="form-control form-control-sm  obligatoryRow">
																			</select>
																		</td>
																	</tr>
																</thead>
																<tbody>
																</tbody>
																<tfoot>
																	<tr>

																		<td colspan="14" style="text-align:right;font-size:14px; background-color:#525D75;color:white">Total </td>
																		<td class="totalPallets" style="text-align:right;font-size:14px">0</td>																		
																	</tr>
																</tfoot>
															</table>
														</div>
													</div>
												</div>
											</div>




										</div>
									</div>
								

				</div>
			</div>
		</div>



					

		</div>
</div>
<script src="~/Scripts/View/Sales/SalesQuotation.js"></script>
