﻿
@{
    ViewBag.Title = "SalesAllocationCreate";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>SalesAllocationCreate</h2>
<style>
    			.table-cebra {
				border: #ccc 1px solid;
				border-spacing: 0;
			}

				.table-cebra thead th {
					background: #13213d;
					color: white;
				}

				.table-cebra th,
				.table-cebra td {
					border-right: 1px solid #ccc;
					min-width: 100px;
					padding: 0.5rem;
					text-align: left;
					font-size: 13px;
				}

					.table-cebra th:last-child,
					.table-cebra td:last-child {
						border-right: 0px;
					}

				.table-cebra td {
					/*            border: 1px solid #ccc;*/
					border-bottom: 1px solid #ccc;
				}

				.table-cebra tbody tr {
					background: white;
				}

					.table-cebra tbody tr:nth-child(2n) {
						background: #f2f2f2
					}

			.table-container {
				max-width: 100%;
				overflow-x: scroll;
				border-left: solid 1px #ccc;
				border-right: solid 1px #ccc;
			}

			.table-cebra .sticky {
				position: sticky;
				left: 0;
				border-left: solid 1px #ccc;
				border-right: solid 1px #ccc;
			}

			.table-cebra .sticky2 {
				position: sticky;
				left: 100px;
			}

			.table-cebra .sticky3 {
				position: sticky;
				left: 200px;
			}

			.table-cebra .sticky4 {
				position: sticky;
				left: 300px;
			}

		
			.table-cebra thead th .sticky {
				background: #13213d;
				color: white;
			}

			.table-cebra tbody tr .sticky {
				background: white;
			}

			.table-cebra tbody tr:nth-child(2n) .sticky {
				background: #f2f2f2;
			}


			.table-cebra thead th .sticky2 {
				background: #13213d;
				color: white;
			}

			.table-cebra tbody tr .sticky2 {
				background: white;
			}

			.table-cebra tbody tr:nth-child(2n) .sticky2 {
				background: #f2f2f2
			}


			.table-cebra thead th .sticky3 {
				background: #13213d;
				color: white;
			}

			.table-cebra tbody tr .sticky3 {
				background: white;
			}

			.table-cebra tbody tr:nth-child(2n) .sticky3 {
				background: #f2f2f2
			}


			.table-cebra thead th .sticky4 {
				background: #13213d;
				color: white;
			}

			.table-cebra tbody tr .sticky4 {
				background: white;
			}

			.table-cebra tbody tr:nth-child(2n) .sticky4 {
				background: #f2f2f2
			}

			.table-cebra thead th .sticky5 {
				background: #13213d;
				color: white;
			}

			.table-cebra tbody tr .sticky5 {
				background: white;
			}

			.table-cebra tbody tr:nth-child(2n) .sticky5 {
				background: #f2f2f2
			}

		


			.table-cebra .sticky-row {
				position: sticky;
				/*			position: -webkit-sticky;*/
				left: 0px;
				top: 23px;
				background: #000;
				color: white;
				padding: 4px;
				/*			z-index: 3;*/
			}
</style>
<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="card shadow mb-4">
            <div class="card-header py-2">
                <div class="form-group row">
                    <div class="col-xl-10 col-lg-9 col-md-9 col-sm-5">
                        <button type="button" onclick="openModal(0)" data-toggle="modal" data-target="#myModal" class="btn btn-sm text-white transact" style=" background-color: #13213d;">Modify <span class="icon text-white"><i class="fas fa-plus-circle"></i></span></button>
                        @*<h6 class="m-0 font-weight-bold bgcolor='#13213d'">LIST OF RECORDS</h6>*@
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-7">

                    </div>
                </div>
            </div>
            <div class="card-body">

            </div>

        </div>
    </div>
</div>

<div id="myModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    @* <div class="modal-dialog modal-xl" role="document">*@

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header" style="background-color : #13213d">

            <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="background-color: #f2f2f2">
            <div class="card-body">
                <div id="divPromises">
 
                </div>
            </div>
        </div>

    </div>


</div>
<div id="modalChangeCustomer" class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Customer / Consignee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">                               
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Customer</label>
                            <select class="custom-select  mr-sm-2 selectCustomer" id="selectChangeCustomer"> <option value="63">Cencosud Perú</option></select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Consignee</label>
                            <select class="custom-select  mr-sm-2 selectCustomer" id="selectChangeConsignee"> <option value="63">Cencosud Perú</option></select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSaveChangeCustomer" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="modalChangeLabel" class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			@*<div class="modal-header">
				<h5 class="modal-title">Change Label</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>*@
			<div class="modal-body">
				<form>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="txtWeek" >Week</label>
							<input type="text" class="form-control" value="Week"/>
						</div>
						<div class="form-group col-md-6">
							<label for="txtFormatDefault" >Format Default</label>
							<input id="txtFormatDefault" class="form-control" type="text" value="Format" />
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="selectChangeFormat">Other Format</label>
							<select id="selectChangeFormat" class="selectChangeFormat selectpicker" multiple></select>
						</div>
						<div class="form-group col-md-6">
							<label for="selectChangeLabel">Label</label>
							<select id="selectChangeLabel" class="selectChangeLabel selectpicker" multiple></select>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" id="btnSaveChangeLabel" class="btn btn-primary">Save changes</button>
				<button type="button" id="btnCloseChangeLabel" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<script src="~/Scripts/View/Sales/SalesAllocationCreate.js"></script>