﻿@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/Master.cshtml";
}
<style>
    .container1 {
        background-color: #d3e1fd;
        padding: 8px;
        opacity: 0.7;
        width: 380px;
        position: absolute !important;
        top: 35% !important;
        left: 35% !important;
    }

    div.text {
        color: #0B0B20;
        /* position: absolute;
            z-index: 1;*/
        font-size: 70px;
        text-align: center;
        font-family: Lucida Calligraphy;
        /* font-family: Tw Cen MT;*/
    }

    .background1 {
        width: 100px;
        height: 100px;
        background-color: #FFFFFF;
        padding: 10px;
        margin: 0px 0px 10px 0px;
    }

    .trans {
        opacity: 0.4;
    }

    .opacity {
        background-color: #FFFFFF;
        opacity: 0.6;
        width: 200px;
        height: 70px;
        position: absolute;
        top: 0px;
    }
</style>
<script src="~/Scripts/View/Home/Home.js"></script>

<div class="card" style="display:none;">
    <div class="card-header">
        <button class="btn btn-info btn-sm btn-sm btn-block" style=" background-color: #435E85;" data-toggle="collapse" data-target="#divKPI" aria-expanded="true"> KPI's <span class="collapse-in"><i class="fas fa-arrow-down "></i></span> </button>
    </div>
    <div id="divKPI" class="collapse show" style="">
        <div class="card-body p-3">
            <div class="form-group row">
                <div class="form-group-sm col-4">
                    <div id="divScheduleBoarding" style="width:800px; height:600px;background-color:white;"></div>
                </div>
                <div class="form-group-sm col-4">
                    <div id="divKoreanDestination" style="width:600px; height:400px;"></div>
                </div>
                <div class="form-group-sm col-4">
                    <div id="divShippingCompanies" style="width:600px; height:400px;"></div>
                </div>
            </div>            
        </div>
    </div>
</div>